{# Widgets #}

{% block form_widget %}
{% apply spaceless %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endapply %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% set type = type|default('text') %}
    {% set leftAddon = attr.leftAddon|default(null) %}
    {% set rightAddon = attr.rightAddon|default(null) %}

    {% if leftAddon or rightAddon %}
    <div class="input-group">
        {% if leftAddon %}<span class="input-group-addon">{{ leftAddon }}</span>{% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% if rightAddon %}<span class="input-group-addon">{{ rightAddon }}</span>{% endif %}
    </div>
    {% else %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{% endapply %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% apply spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endapply %}
{% endblock form_widget_compound %}

{% block collection_widget %}
{% apply spaceless %}
    {% if prototype is defined %}
        {# set attr = attr|merge({'data-prototype': form_row(prototype) }) #}
    {% endif %}
    {{ block('form_widget') }}
{% endapply %}
{% endblock collection_widget %}

{% block textarea_widget %}
{% apply spaceless %}
    {% set attr = {'rows': 3}|merge(attr) %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endapply %}
{% endblock textarea_widget %}

{% block choice_widget %}
{% apply spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endapply %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
{% apply spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="checkbox">
            <label for="{{ child.vars.id }}">
                {{ form_widget(child) }}
                {{ child.vars.label|trans }}
            </label>
    </div>
    {% endfor %}
    </div>
{% endapply %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endapply %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
{% apply spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endapply %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
{% apply spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endapply %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% apply spaceless %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endapply %}
{% endblock radio_widget %}

{% block datetime_widget %}
{% apply spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endapply %}
{% endblock datetime_widget %}

{% block date_widget %}
{% apply spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endapply %}
{% endblock date_widget %}

{% block time_widget %}
{% apply spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {% endif %}
{% endapply %}
{% endblock time_widget %}

{% block number_widget %}
{% apply spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock number_widget %}

{% block integer_widget %}
{% apply spaceless %}
    {% set type = type|default('number') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock integer_widget %}

{% block money_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({ 'leftAddon': money_pattern|replace({'{{ widget }}': ''}) }) %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock money_widget %}

{% block url_widget %}
{% apply spaceless %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock url_widget %}

{% block search_widget %}
{% apply spaceless %}
    {% set type = type|default('search') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock search_widget %}

{% block percent_widget %}
{% apply spaceless %}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }} %
{% endapply %}
{% endblock percent_widget %}

{% block password_widget %}
{% apply spaceless %}
    {% set type = type|default('password') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock password_widget %}

{% block hidden_widget %}
{% apply spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock hidden_widget %}

{% block email_widget %}
{% apply spaceless %}
    {% set type = type|default('email') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock email_widget %}

{% block button_widget %}
{% apply spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endapply %}
{% endblock button_widget %}

{% block submit_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' btn btn-primary'}) %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endapply %}
{% endblock submit_widget %}

{% block reset_widget %}
{% apply spaceless %}
    {% set type = type|default('reset') %}
    {{ block('button_widget') }}
{% endapply %}
{% endblock reset_widget %}

{# Labels #}

{% block form_label %}
{% set grid_size = grid|default('sm')  %}
{% apply spaceless %}
    {% if label is not same as(false) %}
        {% set colText = (col|default(null) ? (' col-' ~ grid_size ~ '-' ~ col) : '') %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ colText ~ ' control-label')|trim}) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endapply %}
{% endblock form_label %}

{% block button_label %}{% endblock %}

{# Rows #}

{% block repeated_row %}
{% apply spaceless %}
    {#
    No need to render the errors here, as all errors are mapped
    to the first child (see RepeatedTypeValidatorExtension).
    #}
    {{ block('form_rows') }}
{% endapply %}
{% endblock repeated_row %}

{% block form_row %}
{% set label_col = columns.label|default(3) %}
{% set field_col = columns.field|default(9) %}
{% set container_col = 12 - label_col %} {# we're using bootstrap and grid system - 12 is the max number of columns you can have #}
{% set grid_size = grid|default('sm')  %}
{% apply spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form, label|default(null), {'col': label_col, 'grid': grid_size}) }}
        <div class="col-{{ grid_size }}-{{ field_col }}">
            {{ form_widget(form) }}
            {% if form.vars.help|default(null) %}
                <p class="help-block">{{ form.vars.help|trans|raw }}</p>
            {% endif %}
        </div>
        {% if errors|length > 0 %}
        <div class="col-{{ grid_size }}-offset-{{ label_col }} col-{{ grid_size }}-{{ container_col }} horizontal">
            {{ form_errors(form) }}
        </div>
        {% endif %}
    </div>
{% endapply %}
{% endblock form_row %}

{% block button_row %}
{% apply spaceless %}
    <div>
        {{ form_widget(form) }}
    </div>
{% endapply %}
{% endblock button_row %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# Misc #}

{% block form %}
{% apply spaceless %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endapply %}
{% endblock form %}

{% block form_start %}
{% apply spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endapply %}
{% endblock form_start %}

{% block form_end %}
{% apply spaceless %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    </form>
{% endapply %}
{% endblock form_end %}

{% block form_enctype %}
{% apply spaceless %}
    {% if multipart %}enctype="multipart/form-data"{% endif %}
{% endapply %}
{% endblock form_enctype %}

{% block form_errors %}
{% apply spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li class="form-error">{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endapply %}
{% endblock form_errors %}

{% block form_rest %}
{% apply spaceless %}
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endapply %}
{% endblock form_rest %}

{# Support #}

{% block form_rows %}
{% apply spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endapply %}
{% endblock form_rows %}

{% block widget_attributes %}
{% apply spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endapply %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% apply spaceless %}
    {% if id is not empty %}id="{{ id }}" {% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endapply %}
{% endblock widget_container_attributes %}

{% block button_attributes %}
{% apply spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endapply %}
{% endblock button_attributes %}

{# Custom templates #}

{% block add_contact_form_widget %}
{% apply spaceless %}
    <div class="contact-item">
        {% set contact = form.vars.value %}

        <div class="contact-form-fields"{% if contact %} style="display:none;"{% endif %}>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>

        <div class="contact-item-static"{% if not contact %} style="display:none;"{% endif %}>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <p class="col-sm-9 form-control-static contact-name">{% if contact %}{{ contact.name }}{% endif %}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Telephone</label>
                <p class="col-sm-9 form-control-static contact-tel">{% if contact %}{{ contact.telephone }}{% endif %}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <p class="col-sm-9 form-control-static contact-email">{% if contact %}{{ contact.email }}{% endif %}</p>
            </div>
        </div>

        <div class="contact-actions" style="margin-bottom: 10px;">
            <a href="#" class="btn btn-primary btn-xs save-contact" style="margin-right: 10px;{% if contact %} display:none;{% endif %}">Lock</a>
            <a href="#" class="btn btn-danger btn-xs edit-contact" style="margin-right: 10px;{% if not contact %} display:none;{% endif %}">Unlock</a>
            <a href="#" class="btn btn-danger btn-xs remove-contact" style="margin-right: 10px;">Remove</a>
        </div>
    </div>
{% endapply %}
{% endblock add_contact_form_widget %}

{% block duration_widget %}
    {% set label_col = innerColumns.label|default(3) %}
    {% set field_col = innerColumns.field|default(9) %}
    {% for child in form %}
        {{ form_row(child, { grid: 'xs', columns: { label: label_col, field: field_col } }) }}
    {% endfor %}
{% endblock %}
