{% extends 'layout.html.twig' %}

{% block search_category %}account{% endblock %}
{% block page_type %}account{% endblock %}
{% block title %}My Account{% endblock %}
{% block page_shortcuts %}{% include 'Account/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">Account{% if is_granted('ROLE_ADMIN') %}<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a>{% endif %}</h1>

            <div class="ten-col waterfall" id="estimate-filter">

                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="estimate" >
                        <div class="panel-heading"><h3 class="panel-title" tabindex="1">Current Estimates</h3></div>
                        <div class="panel-body no-pad">

                            {% for estimate in currentEstimates %}
                                <div class="panel-item panel-link" data-column=1 data-row={{ loop.index }} data-type="estimate" data-id={{ estimate[0].id }}>{{ estimate['customerName']}}  - {{ estimate[0].id }}

                                </div>
                            {% else %}
                                <div class="panel-item panel-link" data-column=1 data-row=1>No current estimates found!</div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="estimate" >
                        <div class="panel-heading"><h3 class="panel-title">Previous Estimates</h3></div>
                        <div class="panel-body no-pad">

                            {% for estimate in previousEstimates %}
                                <div class="panel-item panel-link" data-column=2 data-row={{ loop.index }} data-type="estimate" data-id={{ estimate[0].id }}>{{ estimate['customerName']}}  - {{ estimate[0].id }}

                                </div>
                            {% else %}
                                <div class="panel-item panel-link" data-column=2 data-row=1>No previous estimates found!</div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div id="estimate-particulars"></div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include '_formModal.html.twig' with { modalType: 'estimate', modalTitle: 'Estimate', modalNewRoute: path('new_estimate'), modalEditRoute: path('edit_estimate') } %}
    {% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

function loadEstimate(id) {
    {% if is_granted('ROLE_ADMIN') %}
        $('#estimate-particulars').load('{{ path('get_estimate_particulars') }}/' + id);

        $(document).on('keypress', null, 'e', function() {
                $('#editEstimate').trigger('click');
        });
    {% else %}
        location.href = "{{ path('view_estimate') }}/" + id;
    {% endif %}
}

$('[data-type="estimate"] .panel-item.panel-link').on('click', function() {
    var $clickedElement = $(this);

    $('[data-type="estimate"] .panel-link').removeClass('active selected');
    $clickedElement.addClass('active selected');

    var estimateId = $clickedElement['0'].dataset.id;
    loadEstimate(estimateId);
});

$(function() {
    $('.panel-link[data-row="1"][data-column="1"]').focus();
    $('.panel-link[data-row="1"][data-column="1"]').addClass('selected');
});

</script>
{% endblock %}

