{% extends 'layout.html.twig' %}

{% block search_category %}account{% endblock %}
{% block page_type %}account{% endblock %}
{% block title %}{{ estimate.id }}{% endblock %}
{% block page_shortcuts %}{% include 'Estimate/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-estimate icomoon-inline"></span>{{ estimate.customer.name}} - {{ estimate.id }}</h1>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="pull-right item-actions">
                        <a class="btn btn-primary" data-edit-id="{{ estimate.id }}" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_estimate') }}/{{ estimate.id }}" href="#">Delete</a>
                    </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">

                            <dt>Customer:</dt>
                            <dd>{{ estimate.customer.name | default('--') }}</dd>

                            <dt>Detals:</dt>
                            <dd>{{ estimate.details | default('--') }}</dd>

                            <dt>Accepted:</dt>
                            <dd>{{ estimate.accepted ? 'Yes' : 'No' }}</dd>

                        </dl>
                    </div>
                </div>

                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="spacer"></div>

                <div id="particulars-section" class="information-section col-md-6 col-sm-12">
                    <div id="particulars-module_heading" class="section-header">
                        <h2>Estimate Particulars</h2>
                    </div>

                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr><th>Customer</th>
                                <td>{{ estimate.customer.name | default('--') }}</td></tr>

                                <tr><th>Queried by customer?</th>
                                <td>{{ estimate.queried ? 'Yes' : 'No' }}</td></tr>

                                {% if estimate.queried %}
                                    <tr><th>Query</th>
                                    <td>{{ estimate.queryText | default('--') }}</td></tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="status-section" class="information-section col-md-6 col-sm-12">
                    <div id="status-module_heading" class="section-header">
                        <h2>Status</h2>
                    </div>

                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr><th>Awaiting response</th>
                                <td>{{ estimate.awaitingResponse ? 'Yes' : 'No' }}</td></tr>

                                {% if estimate.accepted %}
                                    <tr><th>Accepted</th>
                                    <td>Yes</td></tr>
                                {% elseif estimate.rejected %}
                                    <tr><th>Rejected</th>
                                        <td>Yes</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include '_formModal.html.twig' with { modalType: 'estimate', modalTitle: 'Estimate', modalNewRoute: path('new_estimate'), modalEditRoute: path('edit_estimate') } %}
    {% endif %}

{% endblock %}
