{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactInfo">Invoice Details</a></h4>
            </div>
            <div id="contactInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.isSent) }}
                    {{ form_row(form.isQueried) }}
                    {{ form_row(form.isPaid) }}
                </div>
            </div>
        </div>

        <div style="display:none;">
            {{ form_rest(form) }}
        </div>

    {{ form_end(form) }}
</div>

