<div class="col-md-5th">
    <div class="panel panel-default panel-filter" data-type="invoice" >
        <div class="panel-heading"><h3 class="panel-title">{{ panelTitle }}</h3></div>
        <div class="invoice-col-container">
            <div class="panel-body no-pad" id="{{ panelTitle|lower|replace({" " : "_"}) }}">
                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="{ panelTitle|lower|replace({" " : "_"}) }}_filter"></input>
                {% if invoices[panelNumber]|default(null)|length > 0 %}
                    {% for invoice in invoices[panelNumber] %}
                        {% set priorityData = priorities[invoice.id]|default(null) %}
                            <div class="panel-item panel-link selectable-item priority-{{ priorityData.priorityName|default('normal') }}{% if invoice.chargeMethod == 2 %} priority-urgent {% endif %}" data-column={{ panelNumber }} data-row={{ loop.index }} data-priority={{ priorityData.priority|default(1) }}{% if priorityData.priorityReason|default(null) %} data-toggle="tooltip" title="{{ priorityData.priorityReason }}"{% endif %} data-id={{ invoice.id }} data-name="{{ invoice.customerName }}">
                                    {{ invoice.jobId }} - {{ invoice.customerName }}
                            </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
