<h3>Invoice Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search invoices:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new invoice:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit invoice:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
