<h2>Hello <strong>{{ invoice.job.customer.name }}</strong></h2>

<p>The invoice for the work carried out for job {{ invoice.job.jobCode }} on your truck  {{ invoice.job.truck.serial }} by Dawson Forklift Services is ready for you.</p>

<p>You can view your invoice via the browser <a href="{{ previewUrl|raw }}">here</a>.</p>
<p>To download your invoice diretly click <a href="{{ downloadUrl|raw }}">here</a>.</p>

<p>Many thanks,</p>
<p>The Dawson Forklift Services Team</p>

<p>This is an automated email, do not reply.</p>
