<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

        <style type="text/css">
            @page { margin: 2cm; }
            .section { margin-bottom: 15px; }
            tr.head th { border-top: 0; }
            .table-stripe-custom tr:nth-child(odd)>th, .table-stripe-custom tr:nth-child(odd)>td { background-color: #f9f9f9; }
            .table-bordered { border: none; }
        </style>
    </head>

    <body>
        <h2>Hello <strong>{{ invoice.job.customer.name }}</strong></h2>

        <p>Please find your invoice for the work carried out for job reference <strong>{{ invoice.job.jobCode }}</strong> on truck <strong>{{ invoice.job.truck ? invoice.job.truck.serial : '' }}</strong> by Dawson Forklift Services.</p>

        <table class="table table-stripe-custom table-bordered" style="width: 100%; margin-left: -14px;"> {# negative margin added to hack centering of table due to below mentioned issue #}
            {# Added to help compatibility between dompdf and bootstrap - see https://github.com/dompdf/dompdf/issues/758#issuecomment-86180160 #}
            <tr><td colspan=2 style="border:none;background:#fff;"></td></tr>

            <tr>
                <th>Customer</th>
                <td>{{ invoice.job.customer.name }}</td>
            </tr>

            <tr>
                <th>Job</th>
                <td>{{ invoice.job.jobCode }}</td>
            </tr>

            <tr>
                <th>Truck</th>
                <td>{{ invoice.job.truck ? invoice.job.truck.nameString : '' }}</td>
            </tr>

            <tr>
                <th>Fault</th>
                <td>{{ invoice.job.detail }}</td>
            </tr>
        </table>

        {% if invoice.job.worklogs | length > 0 %}
            <table class="table table-stripe-custom table-bordered" style="width: 100%; margin-left: -21px;"> {# negative margin added to hack centering of table due to below mentioned issue #}
                {# Added to help compatibility between dompdf and bootstrap - see https://github.com/dompdf/dompdf/issues/758#issuecomment-86180160 #}
                <tr><td colspan=2 style="border:none;background:#fff;"></td></tr>

                <tr>
                    <th colspan=2>Worklog</th>
                </tr>

                <tr>
                    <th>Engineer</th>
                    <th>Time</th>
                </tr>

                {% for worklog in invoice.job.worklogs %}
                    <tr>
                        <td>{{ worklog.user.name }}</td>
                        <td>{{ worklog.allTimeLabourString }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>Labour cost</th>
                    <td>{{ invoice.job.labourCost }}</td>
                </tr>
                <tr>
                    <th>Travel cost</th>
                    <td>{{ invoice.job.travelCost }}</td>
                </tr>
            </table>
        {% endif %}

        {% if invoice.job.attachedStockItems | length > 0 %}
            <table class="table table-stripe-custom table-bordered" style="width: 100%; margin-left: -27px;"> {# negative margin added to hack centering of table due to below mentioned issue #}
                {# Added to help compatibility between dompdf and bootstrap - see https://github.com/dompdf/dompdf/issues/758#issuecomment-86180160 #}
                <tr><td colspan=2 style="border:none;background:#fff;"></td></tr>

                <tr>
                    <th colspan=2>Parts</th>
                </tr>

                <tr>
                    <th>Item</th>
                    <th>Unit cost</th>
                </tr>

                {% for part in invoice.job.attachedStockItems %}
                    {% if part is defined %}
                    <tr>
                        <td>{{ part.supplierStock.description is defined ? part.supplierStock.description : '' }}</td>
                        <td>{{ part.supplierStock ? part.supplierStock.issuePrice|number_format(2) : '' }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}

                <tr>
                    <th>Parts cost</th>
                    <td>{{ invoice.job.attachedStockCost }}</td>
                </tr>
            </table>
        {% endif %}

        <table class="table table-stripe-custom table-bordered" style="width: 100%; margin-left: -30px;"> {# negative margin added to hack centering of table due to below mentioned issue #}
            {# Added to help compatibility between dompdf and bootstrap - see https://github.com/dompdf/dompdf/issues/758#issuecomment-86180160 #}
            <tr><td colspan=2 style="border:none;background:#fff;"></td></tr>

            {% if invoice.job.callOutCharge > 0 %}
            <tr>
                <th>Out of hours call out charge</th>
                <td>£{{ invoice.job.callOutCharge }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>Total cost</th>
                <td>{{ invoice.job.totalJobCost }}</td>
            </tr>
        </table>

        <p>Many thanks,</p>
        <p>The Dawson Forklift Services Team</p>
    </body>
</html>
