{% extends 'layout.html.twig' %}

{% block page_type %}invoice{% endblock %}
{% block title %}Invoices{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">
                <span class="pull-left">Invoices</span>
            <div class="clearfix"></div>
            </h1>
            <div class="waterfall row" id="invoice-filter">

                {% include 'Invoice/_invoiceFilterPanel.html.twig' with { 'panelNumber': 1, 'panelTitle': 'Not sent', 'invoices': invoices, 'priorities': priorities } %}
                {% include 'Invoice/_invoiceFilterPanel.html.twig' with { 'panelNumber': 0, 'panelTitle': 'Order Required', 'invoices': invoices, 'priorities': priorities } %}
                {% include 'Invoice/_invoiceFilterPanel.html.twig' with { 'panelNumber': 2, 'panelTitle': 'Warranty Outstanding', 'invoices': invoices, 'priorities': priorities } %}
                {% include 'Invoice/_invoiceFilterPanel.html.twig' with { 'panelNumber': 4, 'panelTitle': 'Warranty Claimed', 'invoices': invoices, 'priorities': priorities } %}
                {% include 'Invoice/_invoiceFilterPanel.html.twig' with { 'panelNumber': 3, 'panelTitle': 'Queried', 'invoices': invoices, 'priorities': priorities } %}

            </div>
        </div>
    </div>

    <div class="row">
        <div id="invoice-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'invoice', modalTitle: 'Invoice', modalEditRoute: path('edit_invoice') } %}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$('.panel-link:first').focus();

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');

    $ele.addClass('active');
    $ele.addClass('selected');
    var invoiceId = $ele.data('id');

    if(invoiceId) {
        loadInvoice(invoiceId);
    }
 });

function loadInvoice(id) {
    $('#invoice-particulars').load('{{ path('get_invoice_particulars') }}/' + id);

    $(document).on('keypress', null, 'e', function() {
        $('#editInvoice').trigger('click');
    });
}

</script>
{% endblock %}
