<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">Invoice Particulars</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">

                            {% if invoice.completionStage == 0 %}
                                {% if invoice.job.customer.emailInvoice ==1  %}
                                    <a class="btn btn-success" href="#" id="sendEmail" style="margin-right: 5px;">Email Invoice</a>
                                {% else %}
                                    <a class="btn btn-success" href="#" id="setAsSent" style="margin-right: 5px;">Set as sent</a>
                                    <a class="btn btn-success" href="#" id="setAsQueried" style="margin-right: 5px;">Set as queried</a>
                                {% endif %}
                            {% endif %}

                            {% if invoice.completionStage == 1 %}
                                {% if invoice.job.customer.emailInvoice ==1  %}
                                    <a class="btn btn-success" href="#" id="sendEmail" style="margin-right: 5px;">Email Invoice</a>
                                {% else %}
                                    <a class="btn btn-success" href="#" id="setAsSent" style="margin-right: 5px;">Invoiced</a>
                                    <a class="btn btn-success" href="#" id="setAsQueried" style="margin-right: 5px;">Queried</a>
                                    <a class="btn btn-success" href="#" id="setRequestedOrder" style="margin-right: 5px;">Requested Order</a>
                                {% endif %}
                            {% endif %}

                        {% if invoice.completionStage == 2 %}
                            <a class="btn btn-success" href="#" id="setAsPaid" style="margin-right: 5px;">Warranty Claimed</a>
                            <a class="btn btn-success" href="#" id="setAsQueried" style="margin-right: 5px;">Queried</a>
                        {% endif %}

                        {% if invoice.completionStage == 3 %}
                            <a class="btn btn-success" href="#" id="setAsPaid" style="margin-right: 5px;">Set as paid</a>
                        {% endif %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to un-sign off on the job?" data-href="{{ path('un_sign_off_job') }}/{{ invoice.job.id }}" href="#">Un-sign Off</a>
                        <a class="btn btn-primary pull-right" href="{{ path('view_invoice', {'id': invoice.id }) }}" style="margin-right: 5px;">View</a>
                        <a class="btn btn-danger pull-right" id="setAsArchived" href="#" style="margin-right: 5px;">Archive</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Customer</th><td>{{ invoice.job.customer.name }}</td>
                    </tr>

                    <tr>
                        <th>Job</th><td><a href="{{ path('view_job', {'id': invoice.job.id}) }}">{{ invoice.job.jobCode }}</a></td>
                    </tr>

                    <tr>
                        <th>Job type</th><td>{{ invoice.job.jobCategoryText }}</td>
                    </tr>

                    <tr>
                        <th>Job detail</th><td>{{ invoice.job.detail }}</td>
                    </tr>

                    <tr>
                        <th>Asset</th><td>{{ invoice.job.asset and invoice.job.asset.nameString ? invoice.job.asset.nameString : ''}}</td>
                    </tr>

                    <tr>
                        <th>Client Fleet</th><td>{{ invoice.job.assetLifecyclePeriod and invoice.job.assetLifecyclePeriod.clientFleet ? invoice.job.assetLifecyclePeriod.clientFleet : '' }}</td>
                    </tr>

                    <tr>
                        <th>Notes to Engineer</th><td>{{ invoice.job.notes }}</td>
                    </tr>

                    <tr>
                        <th>Total cost</th><td>£{{ invoice.job.totalJobCost }}</td>
                    </tr>

                    <tr>
                        <th>Status</th>
                        <td>
                            {% if invoice.completionStage == 4 %}
                                Paid
                            {% elseif invoice.completionStage == 3 %}
                                Querying
                            {% elseif invoice.completionStage == 2 %}
                                Sent
                            {% else %}
                                Not Sent
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if invoice.job.attachedStockItems %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Parts on job</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="stockTable">
                    <tbody>
                    <tr>
                        <th>Code</th>
                        <th>Item</th>
                        <th>Supplier</th>
                        <th>Cost Price (£)</th>
                        <th>Issue Price (£)</th>
                        <th>Quantity</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if invoice.job.workLogs|length %}
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Work log</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <th>Engineer</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Time labour</th>
                    <th>Time travel</th>
                </tr>
                {% for workLog in invoice.job.workLogs %}
                    <tr>
                        <td>{{ workLog.user.displayName }}</td>
                        <td>{{ workLog.description }}</td>
                        <td>{{ workLog.startDate | display_date_format }}</td>
                        <td>{{ workLog.timeLabour(true) }}</td>
                        <td>{{ workLog.timeTravel(true) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% include '_formModal.html.twig' with { modalType: 'invoice', modalTitle: 'Invoice', modalNewRoute: path('new_invoice'), modalEditRoute: path('edit_invoice') } %}

<script type="text/javascript">

$('#sendEmail').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('send_email_invoice') }}/" + id,
        type: 'POST',
        success: function(data) {
            growlSuccess('The email has been sent.');
            location.reload(true);
        },
        error: function(data) {
            growlError('The email was not sent.');
        }

    })
})

$('#setAsSent').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoice_as_sent') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})

$('#setAsQueried').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoice_as_queried') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})

$('#setRequestedOrder').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoiceset_requested_order') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})

$('#setAsPaid').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoice_as_paid') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})

$(function () {
    $id = {{ invoice.job.id }};

    $.ajax({
        url: "{{ path('get_stock_for_job') }}/" + $id,
        type: 'get',
        success: function (data) {
            var stockItems = data['stockItems'];
            var stockTable = $('#stockTable');
            $('#stockTable tr>td').remove();
            for (var i = 0; i < stockItems.length; i++) {
                if(stockItems[i]['usedOnJob']) {
                    stockTable.append('<tr><td>' + stockItems[i]['code'] + '</td><td>' + stockItems[i]['description'] + '</td><td>' + stockItems[i]['supplierName'] + '</td><td>' + parseFloat(stockItems[i]['costPrice']).formatMoney() + '</td><td>' + parseFloat(stockItems[i]['issuePrice']).formatMoney() + '</td><td id="itemQuantity_' + i + '">' + stockItems[i]['quantity'] + '</td></tr>');
                }
            }
        }
    });
})

    $('#setAsArchived').on('click', function(){
        id = "{{ invoice.id }}";

        $.ajax({
            url: "{{ path('set_invoice_as_archive') }}/" + id,
            type: 'POST',
            success: function(data) {
                location.reload(true);
            },
            error: function(data) {
                growlError('The status was not changed.');
            }

        })
    })

</script>
