{% extends 'layout.html.twig' %}
{% set showFooter = false %}

{% block content %}
<h2>Hello <strong>{{ invoice.job.customer.name }}</strong></h2>

<p>Please find your invoice for the work carried out for job {{ invoice.job.jobCode }} on truck  {{ invoice.job.truck.serial }} by Dawson Forklift Services.</p>

<table class="table table-striped table-bordered">
    <tr>
        <th>Customer</th><td>{{ invoice.job.customer.name }}</td>
    </tr>

    <tr>
        <th>Job</th><td>{{ invoice.job.jobCode }}</td>
    </tr>

    <tr>
        <th>Truck</th><td>{{ invoice.job.truck.nameString }}</td>
    </tr>

    <tr>
        <th>Fault</th><td>{{ invoice.job.detail }}</td>
    </tr>
</table>
    {% if invoice.job.worklogs | length > 0 %}
        <table class="table table-striped table-bordered">
            <tr>
                <th colspan="2">Worklog</th>
            </tr>

            <tr>
                <th>Engineer</th>
                <th>Time</th>
            </tr>

            {% for worklog in invoice.job.worklogs %}
                <tr>
                    <td>{{ worklog.user.name }}</td>
                    <td>{{ worklog.allTimeLabourString }}</td>
                </tr>
            {% endfor %}

            <tr>
                <th>Labour cost</th>
                <td>{{ invoice.job.labourCost }}</td>
            </tr>
            <tr>
                <th>Travel cost</th>
                <td>{{ invoice.job.travelCost }}</td>
            </tr>
        </table>
    {% endif %}

    {% if invoice.job.attachedStockItems | length > 0 %}
        <table class="table table-striped table-bordered">
            <tr>
                <th colspan="2">Parts</th>
            </tr>

            <tr>
                <th>Item</th>
                <th>Unit cost</th>
            </tr>

            {% for part in invoice.job.attachedStockItems %}
                <tr>
                    <td>{{ part.stock.description }}</td>
                    <td>{{ part.stock.listPrice }}</td>
                </tr>
            {% endfor %}

            <tr>
                <th>Parts cost</th>
                <td>{{ invoice.job.attachedStockCost }}</td>
            </tr>
        </table>
    {% endif %}
<table class="table table-striped table-bordered">
    <tr>
        <th>Total cost</th><td>{{ invoice.job.totalJobCost }}</td>
    </tr>
</table>


<p>Many thanks,</p>
<p>The Dawson Forklift Services Team</p>

{% endblock %}
