{% extends 'layout.html.twig' %}

{% block search_category %}invoice{% endblock %}
{% block page_type %}invoice{% endblock %}
{% block title %}{{ invoice.job.customer.name }}, {{ invoice.job.jobCode }}{% endblock %}
{% block page_shortcuts %}{% include 'Invoice/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="top">
                <h1><span class="icomoon-invoice icomoon-inline"></span>{{ invoice.job.customer.name }}, {{ invoice.job.jobCode }}</h1>

                <div class="pull-right item-actions">
                    {% if invoice.completionStage == 1 %}
                            {% if invoice.job.customer.emailInvoice ==1  %}
                                <a class="btn btn-success" href="#" id="sendEmail" style="margin-right: 5px;">Email Invoice</a>
                            {% else %}
                                <a class="btn btn-success" href="#" id="setAsSent" style="margin-right: 5px;">Invoiced</a>
                            {% endif %}
                    {% endif %}

                    {% if invoice.completionStage == 2 %}
                        <a class="btn btn-success" href="#" id="setAsQueried" style="margin-right: 5px;">Queried</a>
                        <a class="btn btn-success" href="#" id="setAsPaid" style="margin-right: 5px;">Set as paid</a>
                    {% endif %}

                    {% if invoice.completionStage == 3 %}
                        <a class="btn btn-success" href="#" id="setAsPaid" style="margin-right: 5px;">Set as paid</a>
                    {% endif %}
                    {% if invoice.attachedFile %}
                    <a class="btn btn-success" href="{{ path('download_invoice', {'id': invoice.attachedFile.id }) }}" style="margin-right: 5px;">Download Invoice</a>
                    <a class="btn btn-success" href="{{ path('preview_invoice', {'id': invoice.attachedFile.id }) }}" style="margin-right: 5px;">Preview Invoice</a>
                    {% endif %}
                    {% if is_granted('ROLE_SERVICE_ADMIN') %}
                        <a class="btn btn-primary" data-edit-id="{{ invoice.id }}" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_invoice') }}/{{ invoice.id }}" href="#">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div id="main-information" class="information-section col-md-6 col-sm-6">
            <div id="details-module_heading" class="section-header">
                <h2>Main Information</h2>
            </div>
            <div class="section-content">
                <dl class="dl-horizontal">
                    <dt>ID:</dt>
                    <dd>{{ invoice.id | default('--') }}</dd>

                    <dt>Customer:</dt>
                    <dd>{{ invoice.job.customer.name | default('--') }}</dd>

                    <dt>Job:</dt>
                    <dd>{{ invoice.job.jobCode | default('--') }}</dd>

                    <dt>Total cost:</dt>
                    <dd>{{ invoice.job.totalJobCost | default('--') }}</dd>

                    <dt>Status:</dt>
                    <dd>
                        {% if invoice.completionStage == 4 %}
                            Paid
                        {% elseif invoice.completionStage == 3 %}
                            Querying
                        {% elseif invoice.completionStage == 2 %}
                            Sent
                        {% else %}
                            Not Sent
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
        <div id="misc-section" class="information-section col-md-6 col-sm-6">
            {% include '_itemMisc.html.twig' %}
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'invoice', modalTitle: 'invoice', modalNewRoute: path('new_invoice'), modalEditRoute: path('edit_invoice') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

$('#sendEmail').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('send_email_invoice') }}/" + id,
        type: 'POST',
        success: function(data) {
            growlSuccess('The email has been sent.');
            location.reload(true);
        },
        error: function(data) {
            growlError('The email was not sent.');
        }

    })
})

$('#setAsSent').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoice_as_sent') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})

$('#setAsQueried').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoice_as_queried') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})

$('#setAsPaid').on('click', function(){
    id = "{{ invoice.id }}";

    $.ajax({
        url: "{{ path('set_invoice_as_paid') }}/" + id,
        type: 'POST',
        success: function(data) {
            location.reload(true);
        },
        error: function(data) {
            growlError('The status was not changed.');
        }

    })
})
</script>
{% endblock %}
