{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}
    {% if is_engineer() %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Engineer</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.name }}</p>
            </div>
        </div>
    {% else %}
            {{ form_row( form.engineer) }}
    {% endif %}
    {{ form_row( form.date) }}
    {{ form_row(form.time) }}
    {{ form_row(form.reason) }}
    <div class="hidden-form-field">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
