<div class="modal" id="log-absence-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custom-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="log-work-modal-label"><span id="log-work-modal-title" class="form-modal-title">Add absence to engineer</span></h2>
            </div>
            <div class="modal-body">
                <div class="log-absence-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $absenceModal   = $('#log-absence-modal');
    var $absenceWrapper = $absenceModal.find('.log-absence-form-holder');
    var $absenceFooter  = $absenceModal.find('.modal-footer');
    var reloadPage     = false;
    $absenceModal.on('hide.bs.modal', function (e) {
        $absenceWrapper.html('');
        if (reloadPage) {
            location.reload(true);
        }
        $absenceModal.find('.modal-form-submit').remove();
    });
    $absenceModal.on('show.bs.modal', function (e) {
        absenceLoadForm(e);
    });
    function absenceLoadForm(e) {
        $.get('{{ path('add_log_absence') }}', function(data) {
            if (data.displayForm) {
                $absenceWrapper.html(data.html);
                $absenceModal.find('[autofocus]:first').focus();
                $absenceFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                absenceBindForm();
            }
        });
    }
    function absenceBindForm() {
        var $form   = $absenceWrapper.find('form');
        var $button = $absenceFooter.find('.modal-form-submit');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });
        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $absenceWrapper.html(response.html);
                    $absenceModal.find('[autofocus]:first').focus();
                    $button.removeAttr('disabled').text('Save').removeClass('disabled');
                    absenceBindForm();
                } else {
                    if(response.refresh) {
                        location.reload(true);
                    }
                    $absenceModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the absence was not logged.');
                $button.button('reset');
            }
        });
        listenForFormChanges();
    }

</script>
