<div class="modal" id="engineer-recurring-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custom-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="engineer-recurring-modal-label"><span id="engineer-recurring-modal-title" class="form-modal-title">Assigned jobs</span></h2>
            </div>
            <div class="modal-body">
                <div class="engineer-recurring-holder">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% include 'Job/_workLogModal.html.twig' %}

<script type="text/javascript">
    var $recurringModal   = $('#engineer-recurring-modal');
    var $recurringWrapper = $recurringModal.find('.engineer-recurring-holder');
    var $recurringFooter  = $recurringModal.find('.modal-footer');
    var reloadPage     = false;
    var $workLogModal   = $('#log-work-modal');
    var $jobId = '';

    $recurringModal.on('hide.bs.modal', function (e) {
        $recurringWrapper.html('');
        if (reloadPage) {
            location.reload(true);
        }
        $recurringModal.find('.modal-form-submit').remove();
    });
    $recurringModal.on('show.bs.modal', function (e) {
        recurringLoadForm(e);
    });
    function recurringLoadForm(e) {
        $.get('{{ path('engineer_recurring_jobs') }}', function(data) {
            if (data.displayForm) {
                $recurringWrapper.html(data.html);
            }
        });
    }
    $(document).on('click','.recurring-log-work',function(){
        $jobId = $(this).data('id');
        $workLogModal.attr('data-job-id', $jobId);
        $workLogModal.modal('show');
        $recurringModal.modal('hide');
    })



</script>
