<div>
    <div class="row">
        {% for job in jobs %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">Job {{ job.jobCode }}</div>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-primary btn-xs recurring-log-work" href="#" data-toggle="modal" data-target="#log-work-modal" data-id="{{ job.id }}">Log time</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row mb-15">
                        <div class="col-md-6"><b>Customer:</b></div>
                        <div class="col-md-6 text-end">{{ job.customerName }}</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-md-6"><b>Asset:</b></div>
                        <div class="col-md-6 text-end">{{ job.asset.nameString }}</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-md-6"><b>Job Detail:</b></div>
                        <div class="col-md-6 text-end">{{ job.detail }}</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-md-6"><b>Cadence:</b></div>
                        <div class="col-md-6 text-end">
                            {% if job.recurringType == 0 %}
                                Weekly
                            {% else %}
                                Monthly
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-md-6"><b>Date:</b></div>
                        <div class="col-md-6 text-end">
                            {{ job.jobActiveFrom|date("d/m/y") }} - {{ job.jobRecurringTime|date("d/m/y") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% if jobs|length == 0 %}
            <div class="col-md-12">
                <p>You don't have jobs</p>
            </div>
        {% endif %}
    </div>
</div>
