{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactInfo">Order Details</a></h4>
            </div>
            <div id="contactInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Order No</label>
                        <p id="orderNumber" class="col-sm-9 form-control-static">{{ purchaseOrder.id | default('Set once the PO is saved')}}</p>
                    </div>

                    {% if form.job is defined %}
                        {{ form_row(form.job) }}
                    {% elseif purchaseOrder.job %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Job</label>
                            <p id="jobText" class="col-sm-9 form-control-static">
                                {{ purchaseOrder.job.displayTitle }}
                            </p>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Job</label>
                            <p id="jobText" class="col-sm-9 form-control-static">Dawson Internal Order</p>
                        </div>
                    {% endif %}

                    {{ form_row(form.supplier, { 'attr': { 'autofocus': 1 } }) }}

                    {{ form_row(form.engineerCollection) }}

                    <div class="hidden-form-field">
                        {{ form_row(form.orderInstructions) }}
                        {{ form_row(form.ordered) }}
                    </div>

                    <div class="hidden-form-field" id="orderDate">
                        {{ form_row(form.orderDate) }}
                    </div>

                    {% if form.unassign is defined %}{{ form_row(form.unassign) }}{% endif %}
                </div>
            </div>
        </div>

    <div class="panel panel-default" id="stockItems">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#purchaseOrderItemForm">Order Items</a></h4>
        </div>
        <div id="purchaseOrderItemForm" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="search-wrapper">
                    <div>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#new-stock-item-modal" href="#">Add New Part</a>
                        <a class="btn btn-primary" id="addNewEstimateItem" href="#">Add Special Part</a>
                    </div>
                    <br>
                    <span class="pull-left">
                        <span class="bg-primary" id="search-category">Search Known Part Nos</span> /
                    </span>
                    <span id="search-input-wrapper">
                        <input autofocus autocomplete="off" spellcheck="false" type="text" class="search" name="_search" id="_search">
                    </span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody id="search-results">

                        </tbody>
                    </table>
                </div>
                <div class="purchaseOrderItems" data-prototype="{{ form_widget(form.purchaseOrderItems.vars.prototype)|e }}">
                    {% for purchaseOrderItem in form.purchaseOrderItems %}
                        <div class="purchase-order-item">
                            {{ form_errors(purchaseOrderItem) }}
                            {{ form_widget(purchaseOrderItem) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default hidden-form-field" id="specialistItems">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#estimateItemsForm">Create specialist item for job</a></h4>
        </div>
        <div id="estimateItemsForm" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="estimateItems" data-prototype="{{ form_widget(form.estimateItems.vars.prototype)|e }}">
                    {% for estimateItem in form.estimateItems %}
                        <div class="estimate-item">
                            {{ form_errors(estimateItem) }}
                            {{ form_widget(estimateItem) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div style="display:none;">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    var searchList = '';
    var itemData   = {{ items ? items|raw : '{}'|raw }};
    var supplierCodes = {{ supplierCodes|raw }};
    var supplierItems = {{ supplierItems|raw }};
    var currentSearchRequest;

    $('_search').focus();

    $('#purchase_order_form_supplier').on('change', function(){
        $('#_search').val('');
        $('#search-results').empty();

        supplier     = $('#purchase_order_form_supplier').val();
        supplierText = $('#purchase_order_form_supplier option:selected').html();

        $('#_search').focus();

        $('.removeSelectedBtn').each( function(){
            $(this).trigger('click');
        })
    })
    var $inputSearch     = $('#_search');
    var $resultContainer = $('#search-results');

    var $collectionHolder       = $('div.purchaseOrderItems');
    var purchaseOrderItemsCount = {{ form.purchaseOrderItems|length }} ;
    var purchaseOrderItemsIndex = purchaseOrderItemsCount - 1;
    var editFormIndex           = 0;

    $collectionHolder.find('div.purchase-order-item').each(function() {
        var $poi   = $(this);
        var itemId = $poi.find('.supplier-stock-id').val();
        var codeItem = itemData && itemData[itemId]? itemData[itemId].code : null;
        var descriptionItem = itemData && itemData[itemId]? itemData[itemId].description : null;
        var unitCostItem = itemData && itemData[itemId]? itemData[itemId].unitCost : null;
        editStockItemFormFields($poi, 'StockItem', editFormIndex, codeItem, descriptionItem, unitCostItem);
        addDeleteLink($poi);
        $poi.find('.editStockItem').hide();
        bindStockItems($poi);
        $poi.find('.saveStockItem').trigger('click');
        editFormIndex++;
    });

    function bindAddButtons() {
        $('.addBtn').click(function(e) {
            e.preventDefault();

            var $tr  = $(this).closest('tr');
            var $row = $tr.find('td:first-child');
            var id   = $row.data('id');
            var code = $row.data('code');

            if ($('.purchase-order-item[data-id=' + id + ']').length) {
                clearSearchAfterSelection(code);
                return;
            }

            purchaseOrderItemsCount++;
            purchaseOrderItemsIndex++;

            var unitCost              = $row.data('costprice');
            var description           = $row.data('description');
            var preferredSupplierId   = $row.data('preferredsupplierid');
            var preferredSupplierName = $row.data('preferredsuppliername');

            var newItem = $collectionHolder.data('prototype');
            newItem     = newItem.replace(/__name__/g, purchaseOrderItemsIndex);
            textDivs    = '<div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div>';
            newItem     += textDivs;

            var $newDiv = $('<div class="purchase-order-item" data-id=' + id + '></div>').html(newItem);

            var selectingFromNonPreferredSupplier = (supplier != preferredSupplierId) && (preferredSupplierId != null);

            $newDiv.appendTo($collectionHolder);
            $newDiv.prepend('<div class="form-group unitCost"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static">£' + unitCost + '</p></div>');
            $newDiv.prepend('<div class="form-group" id="purchase_order_form_purchaseOrderItems_'+purchaseOrderItemsIndex+'_itemPrice"><label class="col-sm-3 control-label">Item Price</label><p class="col-sm-9 form-control-static">' + unitCost + '</p></div>');

            if (selectingFromNonPreferredSupplier) {
                $newDiv.prepend('<div class="form-group itemDescription"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static">' + code + ' - ' + description + ', Preferred Supplier is '+ preferredSupplierName +'.</p></div>');
            } else {
                $newDiv.prepend('<div class="form-group itemDescription"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static">' + code + ' - ' + description + '</p></div>');
            }

            $('#purchase_order_form_purchaseOrderItems_'+purchaseOrderItemsIndex+'_item').val(id);
            $('#purchase_order_form_purchaseOrderItems_'+purchaseOrderItemsIndex+'_quantity').val('1');
            $('#purchase_order_form_purchaseOrderItems_'+purchaseOrderItemsIndex+'_item').closest('div').parent().hide();
            $('#purchase_order_form_purchaseOrderItems_'+purchaseOrderItemsIndex+'_receivedDate').closest('div').parent().hide();
            $('#purchase_order_form_purchaseOrderItems_'+purchaseOrderItemsIndex+'_itemPrice').hide();

            $newDiv.append('<div class="form-group itemTotal"><label class="col-sm-3 control-label">Item total</label><p class="col-sm-9 form-control-static" id="item_'+purchaseOrderItemsIndex+'_total">£</p></div>');

            addSaveEditButtons($newDiv, 'StockItem', purchaseOrderItemsIndex);
            $newDiv.find('.editStockItem').hide();
            $newDiv.find('.itemTotal').hide();
            addDeleteLink($newDiv);
            bindStockItems($newDiv);

            clearSearchAfterSelection(code);
        });
    }

    function clearSearchAfterSelection(code) {
        removeItemFromSearchList(code);
        $('#search-results').empty();
        $('#_search').val('');
        $('#_search').focus();
    }

    function addDeleteLink($div) {
        var $removeLink = $('<a href="#" class="btn btn-danger btn-xs removeSelectedBtn" style="margin-bottom: 10px;">Remove</a>');
        $div.append($removeLink);

        $removeLink.on('click', function(e) {
            e.preventDefault();
            $div.remove();
            purchaseOrderItemsCount--;
        });
    }

    $(function() {
        supplier     = $('#purchase_order_form_supplier').val();
        supplierText = $('#purchase_order_form_supplier option:selected').html();

        {% if isEdit|default(false) %}
            {% if purchaseOrder.orderDate %}
                $('#orderDate').show();
                $('#purchase_order_form_ordered').prop('checked', true);
            {% endif %}

            {% if purchaseOrder.estimateItems %}
                $('#estimateItems').show();
            {% endif %}
        {% else %}

            orderButtonDoesNotExist = $('#order_po').length === 0;

            if (orderButtonDoesNotExist) {
                $('[data-item-type="Stock Purchase Order"] .modal-footer').prepend('<button type="button" data-loading-text="Saving..." class="btn btn-default" id="order_po">Save & Order</button>');
            }

            $('#order_po').button('reset');
        {% endif %}

        $('[data-item-type="Stock Purchase Order"] #order_po').unbind('click');
        $('[data-item-type="Stock Purchase Order"] #order_po').on('click', function(){
            $('#orderDate').show();

            var today = new Date();
            var dd = pad(today.getDate(), 2);
            var mm = pad(today.getMonth()+1, 2);
            var yyyy = today.getFullYear();

            $('#purchase_order_form_orderDate').val(yyyy + '-' + mm + '-' + dd);
            $('#order_po').button('loading');
            $('#order_po').siblings('.modal-form-submit').click();
        });

        {% if form.estimateItems|length > 0 %}
            $('#specialistItems').show();
        {% endif %}
    });

    function removeItemFromSearchList(itemCode) {
        for (var i = 0 ; i < searchList.length ; i++) {
            if (searchList[i] == null ) continue;
            if (searchList[i]['code'] == itemCode) {
                searchList[i] = null;
                break;
            }
        };
    }

    var $estimateItemCollectionHolder = $('div.estimateItems');
    var estimateItemsCount            = {{ form.estimateItems|length }};
    var estimateItemsIndex            = estimateItemsCount - 1;
    var formEstimateItemsIndex        = 0;
    var labourRate                    = null;

    $estimateItemCollectionHolder.find('div.estimate-item').each(function() {
        var $ele = $(this);
        editEstimateItemFormFields($ele, 'SpecialistItem', formEstimateItemsIndex);
        estimateItemAddDeleteLink($ele);
        $ele.find('.editSpecialistItem').hide();
        bindSpecialistItems($ele);
        description = $('#').val();
        $ele.find('.saveSpecialistItem').trigger('click');
        formEstimateItemsIndex++;
    });

    $('#addNewEstimateItem').click(function(e) {
        e.preventDefault();
        $('#specialistItems').show();
        estimateItemsCount++;
        estimateItemsIndex++;

        var estimateItemNewItem = $estimateItemCollectionHolder.data('prototype');
        estimateItemNewItem     = estimateItemNewItem.replace(/__name__/g, estimateItemsIndex);
        textDivs                = '<div class="form-group newItemText"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newQuantityText "><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPriceText"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTotalPriceText"><label class="col-sm-3 control-label">Item total</label><p class="col-sm-9 form-control-static"></p></div>';
        estimateItemNewItem     += textDivs;
        var $estimateItemNewDiv = $('<div class="estimate-item"></div>').html(estimateItemNewItem);

        $estimateItemNewDiv.appendTo($estimateItemCollectionHolder);

        $('#purchase_order_form_estimateItems_'+estimateItemsIndex+'_item').val('');
        $('#purchase_order_form_estimateItems_'+estimateItemsIndex+'_price').val('0.00');
        $('#purchase_order_form_estimateItems_'+estimateItemsIndex+'_receivedDate').closest('div').parent().hide();

        if (supplier && supplierCodes.hasOwnProperty(supplier)) {
            var supplierItemsCount = supplierItems[supplier] ? supplierItems[supplier] + 1 : 0
            var countItems = supplierItemsCount  + estimateItemsIndex;
            var result = countItems+1;
            $('#purchase_order_form_estimateItems_'+estimateItemsIndex+'_partNumber').val('SI' + supplierCodes[supplier] + '-' + result);

        }

        addSaveEditButtons($estimateItemNewDiv, 'SpecialistItem', estimateItemsIndex);
        $estimateItemNewDiv.find('.editSpecialistItem').hide();
        $estimateItemNewDiv.find('.newItemText').hide();
        $estimateItemNewDiv.find('.newQuantityText').hide();
        $estimateItemNewDiv.find('.newPriceText').hide();
        $estimateItemNewDiv.find('.newTotalPriceText').hide();
        estimateItemAddDeleteLink($estimateItemNewDiv);
        $('#purchase_order_form_estimateItems_'+estimateItemsIndex+'_item').focus();
        bindSpecialistItems($estimateItemNewDiv);
    });

    function estimateItemAddDeleteLink($div) {
        var $removeLink = $('<a href="#" class="btn btn-danger btn-xs removeSelectedBtn" style="margin-bottom: 10px;">Remove</a>');
        $div.append($removeLink);

        $removeLink.on('click', function(e) {
            e.preventDefault();
            $div.remove();
            estimateItemsCount--;

            if (estimateItemsCount < 1) {
                $('#specialistItems').hide();
            }
        });
    }
    function bindSpecialistItems($ele) {

        $ele.find('.saveSpecialistItem').on('click', function(){
            $ele          = $(this);
            var index     = $ele.data('index');
            var item      = $('#purchase_order_form_estimateItems_'+index+'_item').val()
            var price     = $('#purchase_order_form_estimateItems_'+index+'_price').val()
            var quantity  = $('#purchase_order_form_estimateItems_'+index+'_quantity').val()
            var partNum   = $('#purchase_order_form_estimateItems_'+index+'_partNumber').val()
            var itemTotal = roundPrice(quantity * price);

            $ele.parent().find('.newItemText p').html(item)
            $ele.parent().find('.newPriceText p').html('£'+price)

            $ele.parent().find('.newTotalPriceText p').html('£'+itemTotal)
            $ele.parent().find('.newQuantityText p').html(quantity)
            $ele.parent().find('.newPartNumText p').html(partNum)
            $ele.parent().find('.newItemText').show()
            $ele.parent().find('.newTotalPriceText').show()
            $ele.parent().find('.newPriceText').show()
            $ele.parent().find('.newQuantityText').show()
            $ele.parent().find('.newPartNumText').show()
            $('#purchase_order_form_estimateItems_'+index).hide();
            $ele.parent().find('.editSpecialistItem').show();
            $ele.hide();
        })

        $ele.find('.editSpecialistItem').on('click', function(){
            $ele      = $(this);
            var index = $ele.data('index');

            $ele.parent().find('.newItemText').hide()
            $ele.parent().find('.newPriceText').hide()
            $ele.parent().find('.newQuantityText').hide()
            $ele.parent().find('.newPartNumText').hide()
            $ele.parent().find('.newTotalPriceText ').hide()
            $('#purchase_order_form_estimateItems_'+index).show();
            $ele.parent().find('.saveSpecialistItem').show();
            $ele.hide();
        })
    }

    function bindStockItems($ele) {

        $ele.find('.saveStockItem').on('click', function(){
            var $ele      = $(this);
            var index     = $ele.data('index');
            var quantity  = $('#purchase_order_form_purchaseOrderItems_'+index+'_quantity').val();
            var item      = $ele.parent().find('.itemDescription p').val();
            var price     = $ele.parent().find('.unitCost p').text().replace(/£/, '');
            var itemTotal = roundPrice(quantity * price);

            $ele.parent().find('.newQuantityText p').html(quantity);
            $ele.parent().find('.itemTotal p').html('£' + itemTotal);
            $('#purchase_order_form_purchaseOrderItems_'+index).hide();
            $ele.parent().find('.newQuantityText').show()
            $ele.parent().find('.itemTotal').show()
            $ele.parent().find('.editStockItem').show();
            $ele.hide();
        })

        $ele.find('.editStockItem').on('click', function(){
            var $btn  = $(this);
            var index = $btn.data('index');
            $btn.parent().find('.newQuantityText').hide()
            $btn.parent().find('.itemTotal').hide()
            $('#purchase_order_form_purchaseOrderItems_'+index).show();
            $btn.parent().find('.saveStockItem').show();
            $btn.hide();
        })
    }

    function addSaveEditButtons($ele, type, index) {
        var $saveEdit = '<a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
        $ele.append($saveEdit);
    }

    function editStockItemFormFields($item, type, index, code, description, unitCost) {
        var $descriptionField = '<div class="form-group newItemText"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static">' + code + ' - ' + description + '</p></div><div class="form-group unitCost"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static">£'+unitCost+'</p></div>';
        $item.prepend($descriptionField);

        var $editFormFields = '<div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group itemTotal hidden-form-field"><label class="col-sm-3 control-label">Item total</label><p class="col-sm-9 form-control-static" id="item_'+index+'_total">£</p></div><a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
        $item.append($editFormFields);
        $('#purchase_order_form_purchaseOrderItems_'+index+'_receivedDate').closest('div').parent().hide();
        $('#purchase_order_form_purchaseOrderItems_'+index+'_item').parent().parent().hide();
    }

    function editEstimateItemFormFields($ele, type, index) {
        var $editFormFields = '<div class="form-group newItemText hidden-form-field"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPartNumText hidden-form-field"><label class="col-sm-3 control-label">Part Number</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPriceText hidden-form-field"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newQuantityText  hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTotalPriceText hidden-form-field"><label class="col-sm-3 control-label">Item total</label><p class="col-sm-9 form-control-static"></p></div><a href="#" class="btn btn-primary btn-xs saveSpecialistItem" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs editSpecialistItem" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
        $ele.append($editFormFields);
        $('#purchase_order_form_estimateItems_'+index+'_receivedDate').closest('div').parent().hide();
    }

    $inputSearch.on('keyup paste focus', (throttle(function (event) {
        var terms = [];
        var searchTerm = $inputSearch.val();
        terms.push(searchTerm);
        terms.push($('#purchase_order_form_supplier').val());

        if (event.which == "38" || event.which == "40") {
            return false;
        };

        if (currentSearchRequest) {
            currentSearchRequest.abort();
            currentSearchRequest = null;
        }

        $resultContainer.empty();
        searchList = null;

        if (terms[0].length > 2) {
            currentSearchRequest = $.ajax({
                url: "{{ path('supplier_stock_search') }}",
                type: 'post',
                data: JSON.stringify(terms),
                dataType: 'json',
                success: function(data) {
                    currentSearchRequest = null;

                    searchList = data.items;

                    fleetmanagerSearch(searchTerm, searchList, $resultContainer, 'stockForPurchaseOrder');
                    bindAddButtons();

                    if ($('#search-results a').length == 1) {
                        $('#search-results a').first().click();
                    }
                }
            })
        } else if (terms[0].length) {
            $resultContainer.prepend('<tr><td><strong>  Search terms need at least 3 characters to begin searching...</strong></td></tr>')
        }
    }, 250)));

</script>
