<div class="modal" id="item-delivery-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="item-delivery-form-modal-label"><span class="form-modal-title">Item arrival</span></h2>
            </div>
            <div class="modal-body">
                <div class="item-delivery-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $itemDeliveryModal   = $('#item-delivery-modal');
    var $itemDeliveryWrapper = $itemDeliveryModal.find('.item-delivery-form-holder');
    var $itemDeliveryFooter  = $itemDeliveryModal.find('.modal-footer');
    var $purchaseOrderItemId = '';
    var reloadPage           = false;

    $('.itemReceived').on('click',  function(e) {
        $ele                 = $(this);
        $purchaseOrderItemId = $ele.parent('td').data('id');
        $itemDeliveryModal.modal('show');
    });

    $itemDeliveryModal.on('hide.bs.modal', function (e) {
        $itemDeliveryWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $itemDeliveryModal.find('.modal-form-submit').remove();
    });

    $itemDeliveryModal.on('show.bs.modal', function (e) {
        itemDeliveryLoadform(e);
    });

    function itemDeliveryLoadform(e) {
        $.get('{{ path('check_in_item_arrival') }}/' + $purchaseOrderItemId, function(data) {
            if (data.displayForm) {
                $itemDeliveryWrapper.html(data.html);
                $itemDeliveryModal.find('[autofocus]:first').focus();
                $itemDeliveryFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                itemDeliveryBindForm();
            }
        });
    }

    function itemDeliveryBindForm() {
        var $form   = $itemDeliveryWrapper.find('form');
        var $button = $itemDeliveryFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.button('reset');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $itemDeliveryWrapper.html(response.html);
                    $itemDeliveryModal.find('[autofocus]:first').focus();
                    itemDeliveryBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $itemDeliveryModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - item was not checked in.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
