<div class="modal" id="item-order-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="item-order-form-modal-label"><span class="form-modal-title">Confirm Order</span></h2>
            </div>
            <div class="modal-body">
                <div class="item-order-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $itemOrderModal      = $('#item-order-modal');
    var $itemOrderWrapper    = $itemOrderModal.find('.item-order-form-holder');
    var $itemOrderFooter     = $itemOrderModal.find('.modal-footer');
    var $purchaseOrderItemId = '';
    var reloadPage           = false;

    $('#setPurchaseOrderDate').on('click',  function(e) {
        e.preventDefault();
        $itemOrderModal.modal('show');
    });

    $itemOrderModal.on('hide.bs.modal', function (e) {
        $itemOrderWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $itemOrderModal.find('.modal-form-submit').remove();
    });

    $itemOrderModal.on('show.bs.modal', function (e) {
        itemOrderLoadform(e);
    });

    function itemOrderLoadform(e) {
        $.get('{{ path('set_purchaseorder_order_date', { 'id': purchaseOrder.id }) }}', function(data) {
            if (data.displayForm) {
                $itemOrderWrapper.html(data.html);
                $itemOrderModal.find('[autofocus]:first').focus();
                $itemOrderFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                itemOrderBindForm();
            }
        });
    }

    function itemOrderBindForm() {
        var $form   = $itemOrderWrapper.find('form');
        var $button = $itemOrderFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $itemOrderWrapper.html(response.html);
                    $itemOrderModal.find('[autofocus]:first').focus();
                    itemOrderBindForm();
                } else {
                    if(response.refresh) reloadPage = true;
                    $itemOrderModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
