<div class="modal" id="new-stock-item-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="create-job-form-modal-label"><span class="form-modal-title">Create new Stock Item</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-stock-item-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeNewStockItem">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newStockItemModal   = $('#new-stock-item-modal');
    var $newStockItemWrapper = $newStockItemModal.find('.new-stock-item-form-holder');
    var $newStockItemFooter  = $newStockItemModal.find('.modal-footer');
    var newStockItemId       = null;
    var newStockItemDesc     = null;

    $('#closeNewStockItem').on('click',  function(e) {
        $newStockItemModal.modal('hide');
    });

    $newStockItemModal.on('show.bs.modal', function (e) {
        createStockItemLoadform(e);
    });

    $newStockItemModal.on('shown.bs.modal', function (e) {
        setStackedModals();
    });

    $newStockItemModal.on('hide.bs.modal', function (e) {
        $newStockItemWrapper.html('');
        $newStockItemModal.find('.modal-form-submit').remove();
    });

    $newStockItemModal.on('hidden.bs.modal', function (e) {
        setStackedModals();
        $('#_newSupplierStockSearch').empty();
        $('#new-supplier-stock-search-results').empty();

        $('#stockItemText').html(newStockItemDesc);

        $('#add_stock_form_stockItem').append('<option value="'+newStockItemId+'">'+newStockItemDesc+'</option>');
        $('#add_stock_form_stockItem option').filter(function() {
            return ($(this).val() == newStockItemId);
        }).prop('selected', true);

        $('#add_stock_form_supplier option').filter(function() {
            return ($(this).val() == supplier);
        }).prop('selected', true);
        $('#add_stock_form_costPrice').focus();
    });

    function createStockItemLoadform(e) {
        supplierId = $('#purchase_order_form_supplier option:selected').val();
        $.get('{{ path('new_stock_for_purchase_order') }}/'+supplierId, function(data) {
            if (data.displayForm) {
                $newStockItemWrapper.html(data.html);
                $newStockItemModal.find('[autofocus]:first').focus();
                $newStockItemModal.find('.modal-form-submit').remove();
                $newStockItemFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                createStockItemBindform();
            }
        });
    }

    function createStockItemBindform() {
        var $form   = $newStockItemWrapper.find('form');
        var $button = $newStockItemFooter.find('.modal-form-submit');

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $newStockItemWrapper.html(response.html);
                    $button.button('reset');

                    if ($newStockItemModal.find('.has-error')) {
                        $newStockItemModal.find('.has-error input:first').focus();
                    } else {
                        $newStockItemModal.find('[autofocus]:first').focus();
                    }

                    createStockItemBindform();
                } else {
                    $newStockItemModal.modal('hide');
                    $newStockItemWrapper.html(response.message);
                    $button.remove();
                }

                newStockItemId   = response.stockId;
                newStockItemDesc = response.stockDescription;


                //createStockItemLoadform();

                $('#_search').val(newStockItemDesc);
                $('#_search').focus();
            },
            error: function() {
                growlError('There was an error - the stock item was not created');
                $button.button('reset');
            }
        });
    }
</script>
