<h3>Purchase Order Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search Purchase orders:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new purchase order:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit purchase order:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
