<div class="modal" id="special-item-delivery-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="special-item-delivery-form-modal-label"><span class="form-modal-title">Specialist Item arrival</span></h2>
            </div>
            <div class="modal-body">
                <div class="special-item-delivery-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $specialItemDeliveryModal   = $('#special-item-delivery-modal');
    var $specialItemDeliveryWrapper = $specialItemDeliveryModal.find('.special-item-delivery-form-holder');
    var $specialItemDeliveryFooter  = $specialItemDeliveryModal.find('.modal-footer');
    var reloadPage                  = false;

    $('.specialItemReceived').on('click',  function(e) {
        $ele          = $(this);
        specialItemId = $ele.parent('td').data('id');
        $specialItemDeliveryModal.modal('show');
    });

    $specialItemDeliveryModal.on('hide.bs.modal', function (e) {
        $specialItemDeliveryWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $specialItemDeliveryModal.find('.modal-form-submit').remove();
    });

    $specialItemDeliveryModal.on('show.bs.modal', function (e) {
        specialItemDeliveryLoadform(e);
    });

    function specialItemDeliveryLoadform(e) {
        $.get('{{ path('check_in_special_item_arrival') }}/' + specialItemId, function(data) {
            if (data.displayForm) {
                $specialItemDeliveryWrapper.html(data.html);
                $specialItemDeliveryModal.find('[autofocus]:first').focus();
                $specialItemDeliveryFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                specialItemDeliveryBindForm();
            }
        });
    }

    function specialItemDeliveryBindForm() {
        var $form   = $specialItemDeliveryWrapper.find('form');
        var $button = $specialItemDeliveryFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $specialItemDeliveryWrapper.html(response.html);
                    $specialItemDeliveryModal.find('[autofocus]:first').focus();
                    specialItemDeliveryBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $specialItemDeliveryModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the special item was not checked in.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
