{% extends 'layout.html.twig' %}

{% block page_type %}purchaseOrder{% endblock %}
{% block title %}Purchase Order{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 in">
            <h1 class="page-title">Archived Purchase Orders</h1>

            <div class="col-md-5">
                <div class="panel panel-default panel-filter" data-type="purchaseOrder" >
                    <div class="panel-heading"><h3 class="panel-title" tabindex="1">Search Archive</h3></div>
                    <div class="panel-body no-pad" id="purchaseOrder_items">
                        <input class="panel-item waterfall-filter" type="text" placeholder="Enter customer name..." id="filter"></input>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody id="filter-results">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="purchaseOrder-particulars"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

$(function(){
    $('#filter').focus();
    var prevSearchTerm = sessionStorage.getItem('searchTerm');
    if (prevSearchTerm != '') {
        $('#filter').val(prevSearchTerm);
        var e   = jQuery.Event("keyup");
        e.which = 13;
        $('#filter').trigger(e);
    }
})

var searchList            = null;
var $purchaseOrderResultContainer = $('#filter-results');

function bindAddButtons($ele) {
    $('.addBtn').click(function(e) {
        e.preventDefault();

        var $tr     = $(this).closest('tr');
        var id      = $tr.find('td:first-child').data('id').toString().replace(/<([^>]+)>/ig,'');

        if (id) {
            window.location.href ='{{ path('view_purchaseorder') }}/' + id;
        }

    });
}

$('#filter').keyup(throttle(function (event) {
    var $ele       = $(this);
    var searchTerm = $ele.val();

    if (event.which == 13) {
        numResults = $('#filter-results tr').length;
        if (numResults == 1) {
            $('#filter-results tr').children('td').children('a').last().trigger('click');
            searchList = null;
            $purchaseOrderResultContainer.empty();
            return;
        }
    }

    if (event.which == "38" || event.which == "40") {
        return;
    };

    searchList = null;
    $purchaseOrderResultContainer.empty();

    if (searchTerm.length > 2) {
        $purchaseOrderResultContainer.prepend('<tr><td><img src="/images/ajax-loader.gif"><strong>  Searching...</strong></td></tr>')
        $.ajax({
            url: "{{ path('purchaseorder_archive_search') }}",
            type: 'post',
            data: JSON.stringify(searchTerm),
            dataType: 'json',
            success: function(data) {
                if (data.searchTerm == searchTerm) {
                    searchList = data.purchaseOrders;
                    sessionStorage.setItem('searchTerm', searchTerm);

                    fleetmanagerSearch(searchTerm, searchList, $purchaseOrderResultContainer, 'purchaseOrder');
                    bindAddButtons();
                }
            }
        })
    } else {
        $purchaseOrderResultContainer.prepend('<tr><td><strong>  Search terms need at least 3 characters to begin searching...</strong></td></tr>')
    }
}, 250));
</script>
{% endblock %}

