{% extends 'layout.html.twig' %}

{% block search_category %}purchaseOrder{% endblock %}
{% block page_type %}purchaseOrder{% endblock %}
{% block title %}PurchaseOrders{% endblock %}
{% block page_shortcuts %}{% include 'PurchaseOrder/_shortcuts.html.twig' %}{% endblock %}

{% macro outputPurchaseOrderItem(purchaseOrder, column, row) %}
    <div class="panel-item panel-link selectable-item" data-column={{ column }} data-row={{ row }} data-type="purchaseOrder" data-id="{{ purchaseOrder.id }}" data-name="{{ purchaseOrder.job.customer.name|default('Stock Order') }}">
        {{ purchaseOrder.code }} -
        {% if purchaseOrder.customer %}
            {% if purchaseOrder.job %}
                Job Order - {{ purchaseOrder.supplier.name }} - {{ purchaseOrder.customer.name }} - {{ purchaseOrder.job.jobCode }}
            {% else %}
                Customer Order - {{ purchaseOrder.supplier.name }} - {{ purchaseOrder.customer.name }}
            {% endif %}
        {% else %}
            Stock Order - {{ purchaseOrder.supplier.name }}
        {% endif  %}
    </div>
{% endmacro %}

{% block content %}
    {% import _self as output %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">DFS Purchase orders
                <a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New DFS Stock Order</a>
                <a href="{{ path('list_archived_purchase_orders') }}" class="btn btn-primary pull-right btn-new-item">Search Archived POs</a>
            </h1>

            <div class="waterfall" id="purchaseOrder-filter">

                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="purchaseOrder" >
                        <div class="panel-heading"><h3 class="panel-title">Incomplete</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="incomplete">
                                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                                {% for purchaseOrder in purchaseOrders %}
                                    {% if not purchaseOrder.completed and not purchaseOrder.orderDate %}
                                        {{ output.outputPurchaseOrderItem(purchaseOrder, 1, loop.index) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="purchaseOrder" >
                        <div class="panel-heading"><h3 class="panel-title">Ordered</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="ordered">
                                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                                {% set i = 1 %}
                                {% for purchaseOrder in purchaseOrders %}
                                    {% if not purchaseOrder.completed and purchaseOrder.orderDate is not null %}
                                        {{ output.outputPurchaseOrderItem(purchaseOrder, 2, loop.index) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="purchaseOrder" >
                        <div class="panel-heading"><h3 class="panel-title">Received</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="received">
                                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                                {% set i = 1 %}
                                {% for purchaseOrder in purchaseOrders %}
                                    {% if purchaseOrder.completed %}
                                        {{ output.outputPurchaseOrderItem(purchaseOrder, 3, loop.index) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="purchaseOrder-particulars" class="particulars-holder"></div>

    {% include '_formModal.html.twig' with { modalType: 'DFS Stock Purchase Order', modalTitle: 'DFS Purchase Order', modalNewRoute: path('new_purchaseorder'), modalEditRoute: path('edit_purchaseorder') } %}
    {% include 'PurchaseOrder/_newItemOfStockModal.html.twig' %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function() {
    $('[data-type="purchaseOrder"] .panel-link:first').addClass('selected');
    $('[data-type="purchaseOrder"] .panel-link:first').focus();

    $('[data-type="purchaseOrder"] .panel-item.panel-link').on('click', function(e) {
        var $clickedElement = $(this);
        $('[data-type="purchaseOrder"] .panel-link').removeClass('active selected');
        $clickedElement.addClass('active selected');

        var purchaseOrderId = $clickedElement['0'].dataset.id;
        loadPurchaseOrder(purchaseOrderId);
    });
});

function loadPurchaseOrder(id) {
    $('#purchaseOrder-particulars').empty();
    $('#purchaseOrder-particulars').LoadingOverlay('show', { fade: 0 });

    $('#purchaseOrder-particulars').load('{{ path('get_purchaseorder_particulars') }}/' + id, function() {
        $('#purchaseOrder-particulars').LoadingOverlay('hide');

        $(document).on('keypress', null, 'e', function() {
            $('#editPurchaseOrder').trigger('click');
        });
    });


}

</script>
{% endblock %}


