<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Purchase Order
        </h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Details
                            <a class="btn btn-primary pull-right item-actions" data-edit-id="{{ purchaseOrder.id }}" id="editPurchaseOrder" href="javascript:void(0);">Edit</a>
                            <a class="btn btn-primary pull-right" href="{{ path('view_purchaseorder', {'id': purchaseOrder.id }) }}" style="margin-right: 5px;">View</a>
                            <a class="btn btn-primary pull-right" target="_blank" href="{{ path('print_purchase_order', { 'id': purchaseOrder.id }) }}" style="margin-right: 5px;">Print</a>
                            {% if not purchaseOrder.completed and not purchaseOrder.orderDate %}
                                <a class="btn btn-success" href="#" style="margin-left:10%; margin-right: 5px;" id="setPurchaseOrderDate">Order</a>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Order No</th><td colspan="2">{{ purchaseOrder.id }}</td>
                    </tr>
                    <tr>
                        <th>Supplier</th><td colspan="2">{{ purchaseOrder.supplier ? purchaseOrder.supplier.name : 'No supplier' }}</td>
                    </tr>
                    <tr>
                        <th>Order date</th><td>{{ purchaseOrder.orderDate ? purchaseOrder.orderDate| display_date_format: 'To Be Ordered.' }}</td>
                    </tr>
                    <tr>
                        {% if purchaseOrder.job %}
                            <th>Ordered for Job</th><td><a href="{{ path('view_job', { 'id': purchaseOrder.job.id }) }}">{{ purchaseOrder.job.jobCode  }}</a></td>
                        {% else %}
                            <th>Ordered for Stock</th><td>Yes</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Completed</th><td>{{ purchaseOrder.completed ? 'Yes, on ' ~ purchaseOrder.completedAt|display_date_format|default('(Date not set)') : 'No' }} </td>
                    </tr>
                    <tr>
                        <th>Total</th><td>£{{ purchaseOrder.getItemCost | default('--') }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if purchaseOrder.purchaseOrderItems is not empty %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">Stock Items</h3>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>Supplier</td>
                        <td>Item</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                        <td>Status</td>
                    </tr>

                    {% for purchaseOrderItem in purchaseOrder.purchaseOrderItems %}
                        <tr>
                            <td>{{ purchaseOrderItem.item ? purchaseOrderItem.item.supplier.name : '' }}</td>
                            {% if purchaseOrderItem.item %}
                                <td>{{ purchaseOrderItem.item.stock.stockString }} {{ purchaseOrderItem.item.stock.replacedBy ? '(Replaced by "' ~ purchaseOrderItem.item.stock.getNewestReplacementPart ~ '")' : '' }}</td>
                            {% endif %}
                            <td class="poiPrice">£{{ purchaseOrderItem.unitCost }}</td>
                            <td class="poiQuantity">{{ purchaseOrderItem.quantity }}</td>
                            <td class="poiItemTotal"></td>
                            {% if purchaseOrderItem.receivedDate %}
                                <td>Received on {{ purchaseOrderItem.receivedDate | display_date_format }}</td>
                            {% elseif not purchaseOrder.orderDate %}
                                <td data-id="{{ purchaseOrderItem.id }}">
                                    Item not ordered yet
                                </td>
                            {% else %}
                                <td data-id="{{ purchaseOrderItem.id }}">
                                    <button class="btn btn-primary itemReceived">Check in item</button>
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_purchaseorderitem') }}/{{ purchaseOrderItem.id }}" href="#">Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% if purchaseOrder.estimateItems is not empty %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">Specialist Items</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Item</td>
                            <td>Cost Price</td>
                            <td>Quantity</td>
                            <td>Total Cost Price</td>
                            <td></td>
                        </tr>
                        {% for estimateItem in purchaseOrder.estimateItems %}
                            <tr>
                                <td>{{ estimateItem.item | default('--') }}{{ estimateItem.partNumber ? ', ' ~ estimateItem.partNumber : '' }}</td>
                                <td class="specialistPrice">£{{ estimateItem.price }}</td>
                                <td class="specialistQuantity">{{ estimateItem.quantity }}</td>
                                <td class="specialistItemTotal"></td>
                                {% if estimateItem.receivedDate %}
                                    <td>Received on {{ estimateItem.receivedDate | display_date_format }}</td>
                                {% elseif not purchaseOrder.orderDate %}
                                    <td data-id="{{ estimateItem.id }}">
                                        Item not ordered yet.
                                    </td>
                                {% else %}
                                    <td data-id="{{ estimateItem.id }}">
                                        <button class="btn btn-primary specialItemReceived">Check in item</button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% include '_formModal.html.twig' with { modalType: 'Stock Purchase Order', modalTitle: 'PurchaseOrder', modalNewRoute: path('new_purchaseorder'), modalEditRoute: path('edit_purchaseorder') } %}
{% include 'PurchaseOrder/_itemDeliveryModal.html.twig' %}
{% include 'PurchaseOrder/_specialItemDeliveryModal.html.twig' %}
{% include 'PurchaseOrder/_itemOrderModal.html.twig' %}


<script type="text/javascript">

    function roundPrice(price) {
        return (Math.round((price + 0.00001) * 100) / 100).toFixed(2); // workaround for floating point weirdness in JS
    }

    $(function(){
        $('.poiItemTotal').each(function() {
            $ele     = $(this);
            var price    = $ele.parent().find('.poiPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.poiQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })

        $('.specialistItemTotal').each(function() {
            $ele     = $(this);
            var price    = $ele.parent().find('.specialistPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.specialistQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })
    })
</script>
