<!DOCTYPE html>
<html lang="en">
    <head>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/style.css" />
        {% endblock %}
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/js/jquery.hotkeys.js"></script>
        <script src="/js/jquery.pjax.js"></script>
    </head>

    <body>
        <div class="row text-center">
            <div class="col-md-12">
                <img class="img img-responsive center-block" src="/images/PO_header_new.jpg">
                <br />
                <h2>PURCHASE ORDER - <strong>{{ purchaseOrder.id }}</strong></h2>
                <h4>
                    <u>
                        The above order number must appear on all related correspondence, shipping papers, and invoices.
                    </u>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <dl class="dl-horizontal">
                    <dd>
                        <strong>
                            SUPPLIER:
                        </strong>
                    </dd>
                    <dd>{{ purchaseOrder.supplier.name }}</dd>
                    <dd>{{ purchaseOrder.supplier.supplierAddress.address1}}</dd>
                    <dd>{{ purchaseOrder.supplier.supplierAddress.city}}</dd>
                    <dd>{{ purchaseOrder.supplier.supplierAddress.postcode}}</dd>
                    <dd>{{ purchaseOrder.supplier.telephone }}</dd>
                </dl>
            </div>

            <div class="col-xs-6">
                <dl class="dl-horizontal">
                    <dd>
                        <strong>
                            SHIP TO:
                        </strong>
                    </dd>
                    <dd>Dawson Forklift Services</dd>
                    <dd>54-72 Tamar Street</dd>
                    <dd>Belfast</dd>
                    <dd>BT4 1HS</dd>
                    <dd>+44 2890 459739</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th class="text-center">ORDER DATE</th>
                            <th class="text-center">PURCHASER</th>
                            <th class="text-center">DESPATCH REQUIRED</th>
                            <th class="text-center">DELIVERY METHOD</th>
                        </tr>
                        <tr>
                            <td>{{ purchaseOrder.orderDate | date('d/m/Y') }}</td>
                            <td>Dawson Forklift Services</td>
                            <td>Urgent (Immediate)</td>
                            <td>Urgent (Next Day)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th class="text-center">PART NO.</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">DESCRIPTION</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">TOTAL</th>
                        </tr>
                        {% for purchaseOrderItem in purchaseOrder.purchaseOrderItems %}
                            <tr>
                                <td>{{ purchaseOrderItem.item.code }}</td>
                                <td class="poiQuantity">{{ purchaseOrderItem.quantity }}</td>
                                <td>{{ purchaseOrderItem.item.description }} {{ purchaseOrderItem.item.stock.replacedBy ? '(Replaced by "' ~ purchaseOrderItem.item.stock.getNewestReplacementPart ~ '")' : '' }}</td>
                                <td class="poiPrice">£{{ purchaseOrderItem.unitCost }}</td>
                                <td class="poiItemTotal"></td>
                            </tr>
                        {% endfor %}
                        {% for estimateItem in purchaseOrder.estimateItems %}
                            <tr>
                                <td>{{ estimateItem.partNumber }}</td>
                                <td class="poiQuantity">{{ estimateItem.quantity }}</td>
                                <td>{{ estimateItem.item }}</td>
                                <td class="poiPrice">£{{ estimateItem.retailPrice }}</td>
                                <td class="poiItemTotal"></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3"></td>
                            <td>Total (Excluding Carriage)</td>
                            <td>£{{ purchaseOrder.getItemCost }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ol>
                    <li>Please send despatch note with each order.</li>
                    <li>Please process this order in accordance with the prices, despatch requirement and delivery method detailed above.</li>
                    <li>Please notify us immediately if you are unable to ship as specified.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dd>
                        <strong>
                            PURCHASER CONTACT INFO
                        </strong>
                    </dd>
                    <dd>{{ purchaseOrder.owner.name | default ('Dawson Forklift Services')}}</dd>
                    <dd>{{ purchaseOrder.owner.telephone | default ('+44 2890 459739') }}</dd>
                    <dd>{{ purchaseOrder.owner.email | default ('info@dawsonmhe.com') }}</dd>
                </dl>
            </div>
        </div>
    </body>
</html>
<style type="text/css">
    @media print {
        body {
            padding-top: 0px;
        }
    }
</style>
<script type="text/javascript">

    function roundPrice(price) {
        return (Math.round((price + 0.00001) * 100) / 100).toFixed(2); // workaround for floating point weirdness in JS
    }

    $(function(){
        $('.poiItemTotal').each(function() {
            $ele         = $(this);
            var price    = $ele.parent().find('.poiPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.poiQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })

        $('.specialistItemTotal').each(function() {
            $ele         = $(this);
            var price    = $ele.parent().find('.specialistPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.specialistQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })

        window.print();
        setTimeout(function () { window.close(); }, 100);
    })

</script>

