{% extends 'layout.html.twig' %}

{% block search_category %}purchaseOrder{% endblock %}
{% block page_type %}purchaseOrder{% endblock %}
{% block title %}Order - {{ purchaseOrder.id }}{% endblock %}
{% block page_shortcuts %}{% include 'PurchaseOrder/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row" id="top">
        <div class="col-md-9">
            <div id="top">
                <h1><span class="icomoon-purchase-order icomoon-inline"></span>
                    PO: {{ purchaseOrder.id }} -
                    {% if purchaseOrder.job %}
                        {% if purchaseOrder.job.customer %}
                            {{ 'Job ' ~ purchaseOrder.job.jobCode ~' - '~ purchaseOrder.job.customer.name }}
                        {% else %}
                            {{ 'Job ' ~ purchaseOrder.job.jobCode ~' - Dawson Internal Order'  }}
                        {% endif %}
                    {% endif %}
                    {{ purchaseOrder.archived ? '<p class="text-danger">ARCHIVED</p>' : '' }}
                    {{ purchaseOrder.reinstated ? '<p class="text-danger">RE-INSTATED</p>' : '' }}
                </h1>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pull-right item-actions">
                {% if not purchaseOrder.completed and not purchaseOrder.orderDate %}
                    <a class="btn btn-success" href="#" id="setPurchaseOrderDate">Order</a>
                {% endif %}
                {% if purchaseOrder.completed and not purchaseOrder.archived %}
                    <a class="btn btn-success" href="#" id="setAsArchived" data-id="{{ purchaseOrder.id }}">Archive</a>
                {% elseif purchaseOrder.completed and purchaseOrder.archived%}
                    <a class="btn btn-success" href="#" id="setAsReInstated" data-id="{{ purchaseOrder.id }}">Re-Instate</a>
                {% endif %}
                <a class="btn btn-primary" target="_blank" href="{{ path('print_purchase_order', { 'id': purchaseOrder.id }) }}" id="printPO">Print</a>
                <a class="btn btn-primary" data-edit-id="{{ purchaseOrder.id }}" href="javascript:void(0);">Edit</a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_purchaseorder') }}/{{ purchaseOrder.id }}" href="#">Delete</a>
            </div>
        </div>
            <div class="col-md-12 page-title option-title"></div>
        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="row" id="purchase_order_items">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Order No:</dt>
                            <dd>{{ purchaseOrder.id | default('--') }}</dd>

                            <dt>Customer:</dt>
                            <dd>{{ purchaseOrder.customer.name | default('None set') }}</dd>

                            <dt>Order Date:</dt>
                            <dd>{{ purchaseOrder.orderDate | date('d/m/Y') | default('To Be Ordered') }}</dd>

                            {% if purchaseOrder.completed == 1 %}
                                <dt>Completed:</dt>
                                <dd>Yes</dd>
                                <dt>Completed On:</dt>
                                <dd>{{ purchaseOrder.completedAt | display_date_format | default('(Date not set)')}}</dd>
                            {% endif %}

                            <dt>Order Type:</dt>
                            {% if purchaseOrder.job %}
                                <dd>Job, <a href="{{ path('view_job', {id : purchaseOrder.job.id }) }}">{{ purchaseOrder.job.jobCode }}</a></dd>
                            {% else %}
                                <dd>Stock Purchase</dd>
                            {% endif %}

                            <dt>Total:</dt>
                            <dd>£{{ purchaseOrder.getItemCost | default('--') }}</dd>
                        </dl>
                    </div>
                </div>

                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% if purchaseOrder.purchaseOrderItems is not empty %}
        <div class="row" id="items">
            <div class="col-md-12">
                <h3 class="page-title">Purchase Order Items</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>Supplier</td>
                                <td>Item</td>
                                <td>Price</td>
                                <td>Quantity</td>
                                <td>Total</td>
                                <td>Status</td>
                            </tr>
                            {% for purchaseOrderItem in purchaseOrder.purchaseOrderItems %}
                                <tr>
                                    <td>{{ purchaseOrderItem.item.supplier.name }}</td>
                                    <td>{{ purchaseOrderItem.item.stock.stockString }} {{ purchaseOrderItem.item.stock.replacedBy ? '(Replaced by "' ~ purchaseOrderItem.item.stock.getNewestReplacementPart ~ '")' : '' }}</td>
                                    <td class="poiPrice">£{{ purchaseOrderItem.unitCost }}</td>
                                    <td class="poiQuantity">{{ purchaseOrderItem.quantity }}</td>
                                    <td class="poiItemTotal"></td>
                                    {% if purchaseOrderItem.receivedDate %}
                                        <td>Received on {{ purchaseOrderItem.receivedDate | display_date_format | default('Date not set.') }}</td>
                                    {% elseif not purchaseOrder.orderDate %}
                                        <td data-id="{{ purchaseOrderItem.id }}">
                                            Item not ordered yet
                                            <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_purchaseorderitem') }}/{{ purchaseOrderItem.id }}" href="#">Delete</a>
                                        </td>
                                    {% else %}
                                        <td data-id="{{ purchaseOrderItem.id }}">
                                            <button class="btn btn-primary itemReceived">Check in item</button>
                                            <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_purchaseorderitem') }}/{{ purchaseOrderItem.id }}" href="#">Delete</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% if purchaseOrder.estimateItems is not empty %}
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">Specialist Items</h3>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Item</td>
                            {% if purchaseOrder.type == "DMHE" %}
                                <td>
                                    Lead Time
                                </td>
                            {% endif %}
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total</td>
                            <td></td>
                        </tr>
                        {% for estimateItem in purchaseOrder.estimateItems %}
                            <tr>
                                <td>{{ estimateItem.item | default('--') }}{{ estimateItem.partNumber ? ', ' ~ estimateItem.partNumber : '' }}</td>
                                {% if purchaseOrder.type == "DMHE" %}
                                    <td>
                                        {% if estimateItem.leadTime %}
                                            {{ estimateItem.leadTime }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="specialistPrice">£{{ estimateItem.price }}</td>
                                <td class="specialistQuantity">{{ estimateItem.quantity }}</td>
                                <td class="specialistItemTotal"></td>
                                {% if estimateItem.receivedDate %}
                                    <td>Received on {{ estimateItem.receivedDate | date('M d, Y') }}</td>
                                {% elseif not purchaseOrder.orderDate %}
                                    <td data-id="{{ estimateItem.id }}">
                                        Item not ordered yet.
                                        <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_purchaseorder_special_item') }}/{{ estimateItem.id }}" href="#">Delete</a>
                                    </td>
                                {% else %}
                                    <td data-id="{{ estimateItem.id }}">
                                        <button class="btn btn-primary specialItemReceived">Check in item</button>
                                        <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_purchaseorder_special_item') }}/{{ estimateItem.id }}" href="#">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% if purchaseOrder.type == 'DFS' %}
    {% include '_formModal.html.twig' with { modalType: 'purchaseOrder', modalNewRoute: path('new_purchaseorder'), modalEditRoute: path('edit_purchaseorder') } %}
{% else %}
    {% include '_formModal.html.twig' with { modalType: 'purchaseOrder', modalNewRoute: path('new_dmhe_purchaseorder'), modalEditRoute: path('edit_dmhe_purchaseorder') } %}
{% endif %}
{% include 'PurchaseOrder/_itemDeliveryModal.html.twig' %}
{% include 'PurchaseOrder/_specialItemDeliveryModal.html.twig' %}
{% include 'PurchaseOrder/_itemOrderModal.html.twig' %}
{% include 'PurchaseOrder/_newItemOfStockModal.html.twig' %}

<script type="text/javascript">

    function roundPrice(price) {
        return (Math.round((price + 0.00001) * 100) / 100).toFixed(2); // workaround for floating point weirdness in JS
    }

    $(function(){
        $('.poiItemTotal').each(function() {
            $ele     = $(this);
            var price    = $ele.parent().find('.poiPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.poiQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })

        $('.specialistItemTotal').each(function() {
            $ele     = $(this);
            var price    = $ele.parent().find('.specialistPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.specialistQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })
    })

    $('#setAsArchived').on('click', function(e){
        e.preventDefault();
        var id = $(this).data('id');

        $.ajax({
            url: "{{ path('archive_purchaseorder')}}/" + id,
            type: 'post',
            success: function(data) {
                if (data.success) {
                    window.location.reload();
                }
            },
            error: function(data) {},
        })

    })

    $('#setAsReInstated').on('click', function(e){
        e.preventDefault();
        var id = $(this).data('id');

        $.ajax({
            url: "{{ path('reinstate_purchaseorder')}}/" + id,
            type: 'post',
            success: function(data) {
                if (data.success) {
                    window.location.reload();
                }
            },
            error: function(data) {},
        })

    })
</script>
{% endblock %}
