{% extends 'layout.html.twig' %}

{% block search_category %}lead{% endblock %}
{% block page_type %}lead{% endblock %}
{% block title %}Archived Leads{% endblock %}
{% block page_shortcuts %}{% include 'Lead/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">Archived Leads</h1>
            <div class="waterfall" id="lead-filter">
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-default panel-filter" data-type="lead" >

                        <div class="panel-heading"><h3 class="panel-title">Leads</h3></div>
                        <div class="panel-body no-pad" id="leads">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="lead_filter"></input>

                            {% for lead in leads %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="lead" data-id="{{ lead['leadId'] }}"  data-name="{{ lead['customerName'] }}">
                                    {{ lead['leadId'] }} - {{ lead['customerName'] | default('No customer assigned') }}. Archived on {{ lead['archivedAt'] |display_date_format | default('No date set.') }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="lead-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'lead', modalTitle: 'Lead', modalNewRoute: path('new_lead'), modalEditRoute: path('edit_lead') } %}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$('.panel-link:first').addClass('selected');
$('.panel-link:first').focus();

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');
    $('.panel-item.panel-link').css('background-color', '#ffffff');
    $ele.css('background-color', '#e7e7e7');
    $ele.addClass('active');
    $ele.addClass('selected');
    var leadId = $ele.data('id');

    if(leadId) {
        var url = "{{ path('view_lead') }}/" + leadId;
        window.location.href = url;
    }
 });

</script>
{% endblock %}
