{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#jobInfo">Data Particulars</a></h4>
        </div>
        <div id="jobInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group" id="existingMake">
                    {{ form_label(form.make, null, { 'col': 3 }) }}

                    <div class="col-md-6">
                        {{ form_widget(form.make, { 'field': 6 }) }}
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary" id="add-new-make" href="#">Add New</a>
                    </div>
                </div>
                <div id="newMakeName" class="form-group hidden-form-field">
                    {{ form_label(form.make, null, { 'col': 3 }) }}

                    <div class="col-md-5" id="form-textbox-edit-new-make">
                        {{ form_widget(form.newMake, { 'field': 6 }) }}
                    </div>

                    <div class="col-md-4 hidden-form-field form-control-static" id="newMakeText"></div>

                    <div class="col-md-4" id="newMakeCancel">
                        <a class="btn btn-primary" id="saveMake"  href="#">Lock</a>
                        <a class="btn btn-primary hidden-form-field" id="editNewMake" href="#">Unlock</a>
                        <a class="btn btn-danger" id="cancel-new-make">Cancel</a>
                    </div>
                </div>
                <div class="form-group" id="existingModel">
                    {{ form_label(form.model, null, { 'col': 3 }) }}

                    <div class="col-md-6">
                        {{ form_widget(form.model, { 'field': 6 }) }}
                    </div>

                    <div class="col-md-3">
                        <a class="btn btn-primary" id="add-new-model" href="#">Add New</a>
                    </div>
                </div>
                <div id="newModelName" class="form-group hidden-form-field">
                    {{ form_label(form.model, null, { 'col': 3 }) }}

                    <div class="col-md-5" id="form-textbox-edit-new-model">
                        {{ form_widget(form.newModel, { 'field': 6 }) }}
                    </div>

                    <div class="col-md-4 hidden-form-field form-control-static" id="newModelText"></div>

                    <div class="col-md-4" id="newModelCancel">
                        <a class="btn btn-primary" id="saveModel"  href="#">Lock</a>
                        <a class="btn btn-primary hidden-form-field" id="editNewModel">Unlock</a>
                        <a class="btn btn-danger" id="cancel-new-model">Cancel</a>
                    </div>
                </div>
                {{ form_row(form.customer) }}
                {{ form_row(form.clientFleet) }}

                {{ form_row(form.serial) }}
                {{ form_row(form.yearOfManufacture) }}
                {{ form_row(form.hourReading) }}
                {{ form_row(form.purchasePrice) }}
                {{ form_row(form.purchasedDate) }}
                {{ form_row(form.manufacturersWarranty) }}
                <div id="warranty-duration"{% if not form.manufacturersWarranty.vars.value %} style="display:none;"{% endif %}>{{ form_row(form.manufacturersWarrantyDuration) }}</div>

                {{ form_row(form.secondLevelManufacturersWarranty) }}
                <div id="second-warranty-duration"{% if not form.secondLevelManufacturersWarranty.vars.value %} style="display:none;"{% endif %}>{{ form_row(form.secondLevelManufacturersWarrantyDuration) }}</div>

                {{ form_row(form.stockValue) }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#truckSpecifics" id="truck_specifics_header">Truck specifics</a></h4>
        </div>
        <div id="truckSpecifics" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="panel" style="margin-left: 40px">
                        <div class="panel-heading">
                            <h4 class="panel-title">Contacts</h4>
                        </div>
                        <div id="contactForm" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% if form.contacts is defined %}
                                    <div>
                                        {{ form_row(form.contacts) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_row(form.truckType) }}
                {{ form_row(form.mast) }}

                <div id="mast-detail" style="display:none;">
                    {{ form_row(form.mastHeight) }}
                    {{ form_row(form.mastCode) }}
                </div>

                {{ form_row(form.hydraulics) }}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="attachment-checkbox">Attachment fitted</label>
                    <div class="col-sm-9">
                        <input type="checkbox" id="attachment-checkbox">
                    </div>
                </div>
                <div id="attachment-fitted" style="display:none;">
                    {{ form_row(form.attachmentType) }}
                </div>
                {{ form_row(form.cabin) }}
                {{ form_row(form.tyreType) }}
                {{ form_row(form.forkDimensions) }}
                {{ form_row(form.sideshift) }}
            </div>
        </div>
    </div>
    {% if form.detail is defined %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#truckNote" id="truck_notes_header">Add note</a></h4>
            </div>
            <div id="truckNote" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if form.detail is defined %}{{ form_row(form.detail) }}{% endif %}
                    {% if form.date is defined %}{{ form_row(form.date) }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="hidden-form-field">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>

<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
<script type="text/javascript">
    var currentModel;
    $(function() {
        $('#sales_job_form_model').empty();
        $('#fuel-type').hide();

        getModels();

        {% if form.customer is not defined %}
        var $transferButton = $('#save-transfer');

        if (!$transferButton.length) {
            $transferButton = $('<button type="button" data-loading-text="Saving..." class="btn btn-default extra-modal-btn" id="save-transfer">Save & Transfer</button>');
            $('.modal-footer', $modal).prepend($transferButton);

            $transferButton.click(function(e) {
                e.preventDefault();
                var $form = $('#form-modal form');
                var oldAction = $form.attr('action');
                var newAction = addQueryParams(oldAction, { assign: 1 });

                $form.attr('action', newAction);

                $form.submit();
            });
        }

        $transferButton.button('reset');
        {% if period and customerTruck%}
        var period = {{ period.id }};

        if (!period) {
            return false;
        }

        $.ajax({
            url: "{{ path('get_asset_contacts') }}/" + period,
            type: 'get',
            success: function (data) {
                contactIds = data.contacts;

                for (var i = 0; i < contactIds.length; i++) {
                    var id = contactIds[i];
                    $("#contactForm :checkbox[value="+id+"]").prop("checked","true");
                };
            }
        });

        {% endif %}

        {% endif %}
    });

    updateAttachmentChoices();
    bindReveals();
    updateFormType();

    $('#add-new-model').on('click', function() {
        $('#newModelName').toggle();
        $('#existingModel').toggle();
        $('#sales_job_form_model').val('');
        $('#sales_job_form_newModel').focus();
    });

    $('#cancel-new-model').on('click', function() {
        $('#newModelName').toggle();
        $('#existingModel').toggle();
        $('#sales_job_form_newModel').val('');
        getModels();
        $('#fuel-type').hide();
    });

    $('#add-new-make').on('click', function() {
        $('#newMakeName').toggle();
        $('#existingMake').toggle();
        $('#sales_job_form_make').val('');
        $('#sales_job_form_model').empty();
        $('#sales_job_form_newMake').focus();
    });

    $('#cancel-new-make').on('click', function() {
        $('#newMakeName').toggle();
        $('#existingMake').toggle();
        $('#sales_job_form_newMake').val('');
    });

    $('#saveMake').on('click', function(){
        $('#saveMake').toggle();
        $('#editNewMake').toggle();
        $('#form-textbox-edit-new-make').toggle();
        newMakeText = $('#sales_job_form_newMake').val();
        $('#newMakeText').html(newMakeText);
        $('#newMakeText').toggle();
    });

    $('#editNewMake').on('click', function(){
        $('#saveMake').toggle();
        $('#editNewMake').toggle();
        $('#form-textbox-edit-new-make').toggle();
        $('#newMakeText').toggle();
    });

    $('#saveModel').on('click', function(){
        $('#saveModel').toggle();
        $('#editNewModel').toggle();
        $('#form-textbox-edit-new-model').toggle();
        newModelText = $('#sales_job_form_newModel').val();
        $('#newModelText').html(newModelText);
        $('#newModelText').toggle();
        $('#fuel-type').show();
    });

    $('#editNewModel').on('click', function(){
        $('#saveModel').toggle();
        $('#editNewModel').toggle();
        $('#form-textbox-edit-new-model').toggle();
        $('#newModelText').toggle();
    });

    $('#sales_job_form_make').on('change', function(){
        getModels();
    });

    function getModels() {
        var make = $("#sales_job_form_make :selected").text();
        if (make == '--') {
            $('#sales_job_form_model').children().remove();
            return false;
        }
        $('#sales_job_form_model').empty();
        $.ajax({
            url: "{{ path('get_truck_models') }}/" + make,
            type: 'get',
            success: function (data) {
                models              = data['models'];
                var selectContainer =  $('#sales_job_form_model');

                for (var i = 0; i < models.length; i++) {
                    selectContainer.append('<option value="' + models[i]['id'] + '" data-fuel="' + models[i].fuel + '">' + models[i]['name'] + '</option>');
                };

                if (currentModel && $('#sales_job_form_model option[value="'+currentModel+'"]').length > 0) {
                    $('#sales_job_model').val(currentModel);
                    $('[name="truck_form[model]"] option').filter(function() {
                        return ($(this).val() == currentModel);
                    }).prop('selected', true);
                } else if ($('.active[data-column="4"]').length > 0) {
                    $model = $('.active[data-column="4"]').text();
                    $('[name="sales_job_form[model]"] option').filter(function() {
                        return ($(this).text() == $model);
                    }).prop('selected', true);
                }

                updateFormType();
            }
        });
    }

    $('#sales_job_form_attachmentType').change(function() {
        updateAttachmentChoices();
    });

    $('#sales_job_form_type').change(function() {
        updateFormType();
    });

    $('#sales_job_form_model').change(function() {
        updateFormType();
    });

    function updateFormType() {
        // var isElectric = false;
        //
        // if ($('#newModelText').is(':visible')) {
        //     isElectric = $("#sales_job_form_type :selected").text() === 'Electric';
        // } else {
        //     isElectric = $('#sales_job_form_model option:selected').data('fuel') == 'Electric';
        // }
        //
        // if (isElectric) {
        //     document.getElementById('electric').style.display = 'block';
        // } else {
        //     document.getElementById('electric').style.display = 'none';
        // }
    }

    function updateAttachmentChoices() {
        var $attType = $('#sales_job_form_attachment'),
            type = $('#sales_job_form_attachmentType option:selected').text();

        $('span > optgroup', $attType).unwrap();

        if ($('optgroup[label="' + type + '"]', $attType).length > 0) {
            $('optgroup:not([label="' + type + '"])', $attType).wrap('<span/>');
        } else {
            $('optgroup', $attType).wrap('<span/>');
        }

        {% if form.data.attachment | default(null) %}
        if ($('option[value="{{ form.data.attachment }}"]', $attType).length > 0) {
            $attType.val('{{ form.data.attachment }}');
        }
        {% endif %}
    }

    let truckElement = document.getElementById('sales_job_form_attachment');
    let str;


    if (truckElement && truckElement.value !== "") {
        document.getElementById('attachment-checkbox').checked = 'checked';
        document.getElementById('attachment-fitted').style.display = 'block';

    }
    document.getElementById('attachment-checkbox').onchange = toggle;

    function toggle() {
        if(this.checked) {
            document.getElementById('attachment-fitted').style.display = 'block';
            document.getElementById('attachment-detail').style.display = 'none';
        } else {
            document.getElementById('attachment-fitted').style.display = 'none';
            document.getElementById('sales_job_form_attachmentType').value = '';
            if (truckElement != null) {
                str = truckElement.value;
                str = '';
            }
            else {
                str = null;
            }
        }

    }
    var selectContainer = $('#sales_job_form_contacts');
    var formCustomer = $('#sales_job_form_customer');


    selectContainer.html('Select customer first...')


    {% if form.customer is defined %}
    if (formCustomer && formCustomer.val() !== '') {
        getContact(formCustomer)
    }
    {% endif %}

    $('#sales_job_form_customer').change(function () {
        var customerSelector = $(this);
        if (!customerSelector.val()) {
            return false;
        }
        getContact(customerSelector)
    });

    function getContact(customerSelector) {
        $.ajax({
            url: "{{ path('get_contact_customer') }}/" + customerSelector.val(),
            type: "GET",
            dataType: "JSON",
            success: function (contacts) {

                selectContainer.empty();

                if (contacts.length == 0) {
                    selectContainer.append('<div id="no-contacts" class="form-control-static">No contacts.</div>');
                    return false;
                }

                for (var i = 0; i < contacts.length; i++) {
                    selectContainer.append('<div class="checkbox"><input type="checkbox" id="sales_job_form_contacts_'+i+'" name="sales_job_form[contacts][]" value="' + contacts[i]['id'] + '"><label for="sales_job_form_contacts_'+i+'">' + contacts[i]['name'] + '</label></div>');
                }
            },
            error: function (err) {
                alert("An error ocurred while loading data ...");
            }
        });
    }
</script>

