{% extends 'layout.html.twig' %}
{% set containerClass = 'container-fluid'%}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{% block search_category %}job{% endblock %}
{% block page_type %}salesJob{% endblock %}
{% block title %}Sales Jobs{% endblock %}
{% block page_shortcuts %}{% include 'Job/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row" id="top">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">Sales Jobs
                {% if canEdit %}
                    <a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">Add sales job</a>
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="waterfall" id="sales-job-filter">
                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="salesJob" >
                        <div class="panel-heading"><h3 class="panel-title">Incomplete</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="incomplete">
                                {% if jobs['Incomplete'] is defined %}
                                    {% for job in jobs['Incomplete'] %}
                                        <div class="panel-item panel-link selectable-item priority-normal"
                                              data-id={{ job.id }}
                                              data-name="{{ job.truck.currentLifecyclePeriod.customer.name|default('') }}"
                                        >
                                            <div class="job-col-container">
                                                <div class="panel-body no-pad" id="{{ job.id }}">
                                                    {{ job.id }} - {{ job.truck.currentLifecyclePeriod.customer.name | default('no customer') }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="salesJob" >
                        <div class="panel-heading"><h3 class="panel-title">In Prep</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="inPrep">
                                {% if jobs['In Prep'] is defined %}
                                    {% for job in jobs['In Prep'] %}
                                        <div class="panel-item panel-link selectable-item priority-normal"
                                             data-id={{ job.id }}
                                             data-name="{{ job.truck.currentLifecyclePeriod.customer.name|default('') }}"
                                        >
                                            <div class="job-col-container">
                                                <div class="panel-body no-pad" id="{{ job.id }}">
                                                    {{ job.id }} - {{ job.truck.currentLifecyclePeriod.customer.name | default('no customer') }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-filter" data-type="salesJob" >
                        <div class="panel-heading"><h3 class="panel-title">Complete</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="complete">
                                {% if jobs['Complete'] is defined %}
                                    {% for job in jobs['Complete'] %}
                                        <div class="panel-item panel-link selectable-item priority-normal"
                                             data-id={{ job.id }}
                                             data-name="{{ job.truck.currentLifecyclePeriod.customer.name|default('') }}"
                                        >
                                            <div class="job-col-container">
                                                <div class="panel-body no-pad" id="{{ job.id }}">
                                                    {{ job.id }} - {{ job.truck.currentLifecyclePeriod.customer.name | default('no customer') }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="job-particulars" class="particulars-holder"></div>
        </div>
    </div>

    {% if canEdit %}
        {% include '_formModal.html.twig' with { modalType: 'Sales job', modalTitle: 'Sales Job', modalNewRoute: path('new_sales_job')} %}
{#        {% include 'Job/_newCustomerModal.html.twig' %}#}
{#        {% include 'PurchaseOrder/_newItemOfStockModal.html.twig' %}#}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/waterfall-navigation.js"></script>
    <script type="text/javascript">

        var trucks    = [];
        var selection = {};
        var makes     = {};

        var actives = {
            make: null,
            model: null,
            serial: null,
            clientFleet: null,
            jobCode: null
        };

        $('[data-type="salesJob"] .panel-link:first').addClass('selected');
        $('[data-type="salesJob"] .panel-link:first').focus();

        $(function() {

            $('[data-type="salesJob"] .panel-item.panel-link').on('click', function(e) {
                console.log(e.target.tagName.toLowerCase())
                if (e.target.tagName.toLowerCase() === 'a') {
                    jobId = $(e.target).data('id');
                    loadJob(jobId);
                    return;
                };

                var $clickedElement = $(this);
                $('[data-type="customer"] .panel-link').removeClass('active selected');
                $('[data-type="salesJob"] .panel-link').removeClass('active selected');
                $clickedElement.addClass('active selected');

                var jobId = $clickedElement['0'].dataset.id;
                loadJob(jobId);
            });

            var counter = 1;
            $('[data-column="1"]').each(function(){
                $(this).attr('data-row', String(counter));
                counter++;
            });

            $('[data-type="salesJob"] .panel-link').removeClass('selected');
            $('[data-type="salesJob"] .panel-link:first').addClass('selected');
            $('[data-type="salesJob"] .panel-link:first').focus();

        });

        function loadJob(id) {
            $('#job-particulars').empty();
            $('#job-particulars').LoadingOverlay('show', { fade: 0 });

            $('#job-particulars').load('{{ path('get_sales_job_particulars') }}/' + id, function() {
                $('#job-particulars').LoadingOverlay('hide');

                $(document).on('keypress', null, 'e', function() {
                    $('#editJob').trigger('click');
                });
            });
        }

        function bindClicks() {
            $('[data-type]').not('[data-type="customer"]').find('.panel-link').off('click');

            $('[data-type="paidJob"] .panel-item.panel-link').on('click', function() {
                var $clickedElement = $(this);

                $('[data-type="salesJob"] .panel-link').removeClass('active selected');
                $('[data-type="paidJob"] .panel-link').removeClass('active selected');
                $clickedElement.addClass('active selected');
                var jobId = $clickedElement['0'].dataset.id;
                loadJob(jobId);
            });


            $('[data-type="salesJob"] .panel-item.panel-link').on('click', function(e) {
                if (e.target.tagName.toLowerCase() === 'a') {
                    jobId = $(e.target).data('id');
                    loadJob(jobId);
                    return;
                };

                var $clickedElement = $(this);
                $('[data-type="salesJob"] .panel-link').removeClass('active selected');
                $('[data-type="paidJob"] .panel-link').removeClass('active selected');
                $clickedElement.addClass('active selected');

                var jobId = $clickedElement['0'].dataset.id;
                loadJob(jobId);
            });
        }
        bindClicks()
        function reload() {
            window.location.reload();
        }

    </script>
{% endblock %}
