{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{%  set isEngineer = is_engineer() %}

<div class="row">
    <div class="col-md-12">
        <div>
            <h2 class="page-title">Job Particulars -{{ job.id }}</h2>
            <dl class="row">
                <div class="col-md-4">
                    <dt>Job Logged</dt>
                    <dd>{{ job.createdAt | date('d/m/Y H:i') }}</dd>
                </div>
            </dl>
            <hr>
            {% if canEdit %}
                <div class="particulars-actions">
                    {% if job.status == 0 %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to move to “In Prep” on this job?" data-href="{{ path('change_status_sales_job') }}/{{ job.id }}/1" href="#">Move to “In Prep”</a>
                        {% if job.purchaseOrders|length > 0 %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal"
                               data-message="Are you sure you want to unlink this DMHE order?"
                               data-href="{{ path('unlink_order_from_sales_job') }}/{{ job.id }}" href="#">Unlink DMHE
                                order</a>
                        {% endif %}
                        <a class="btn btn-success" href="#" data-toggle="modal"
                           data-target="#dmhe-purchase-order-modal">Create DMHE order</a>
                        {% if job.truck %}
                            <a class="btn btn-success" id="newJob" href="#">Service job</a>
                        {% endif %}
                    {% elseif job.status == 1 %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to move to incomplete on this job?" data-href="{{ path('change_status_sales_job') }}/{{ job.id }}/0" href="#">Move to incomplete</a>
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to move to complete on this job?" data-href="{{ path('change_status_sales_job') }}/{{ job.id }}/2" href="#">Move to complete</a>
                        {% if job.purchaseOrders|length > 0 %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal"
                               data-message="Are you sure you want to unlink this DMHE order?"
                               data-href="{{ path('unlink_order_from_sales_job') }}/{{ job.id }}" href="#">Unlink DMHE
                                order</a>
                        {% endif %}
                        <a class="btn btn-success" href="#" data-toggle="modal"
                           data-target="#dmhe-purchase-order-modal">Create DMHE order</a>
                        {% if job.truck %}
                            <a class="btn btn-success" id="newJob" href="#">Service job</a>
                        {% endif %}
                    {% elseif job.status == 2 %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to move to “In Prep” on this job?" data-href="{{ path('change_status_sales_job') }}/{{ job.id }}/1" href="#">Move to “In Prep”</a>
                        {% if job.purchaseOrders|length > 0 %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal"
                               data-message="Are you sure you want to unlink this DMHE order?"
                               data-href="{{ path('unlink_order_from_sales_job') }}/{{ job.id }}" href="#">Unlink DMHE
                                order</a>
                        {% endif %}
                        <a class="btn btn-success" href="#" data-toggle="modal"
                           data-target="#dmhe-purchase-order-modal">Create DMHE order</a>
                    {% endif %}
                    <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_sales_job') }}/{{ job.id }}" href="#" style="margin-left: 3px" data-message="Are you sure you want to delete this job?">Delete</a>
                </div>
                <hr>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive col-md-6 col-sm-12">
        <div id="particulars-module_heading" class="section-header">
            <h2>Job Details</h2>
        </div>

        <table class="table table-striped table-bordered">
            <tbody>

            <tr>
                <th>Job ID</th>
                <td>{{ job.id }}</td>
            </tr>

            <tr>
                <th>Customer</th>
                <td>
                    {{ job.truck.customer.name | default('-') }}
                </td>
            </tr>
            {% if job.make %}
                <tr>
                    <th>Make</th>
                    <td>
                        {{ job.make }}
                    </td>
                </tr>
            {% endif %}
            {% if job.model %}
                <tr>
                    <th>Model</th>
                    <td>
                        {{ job.model }}
                    </td>
                </tr>
            {% endif %}
            {% if job.serial %}
                <tr>
                    <th>Serial</th>
                    <td>
                        {{ job.serial }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

</div>

{% if job.purchaseOrders|length > 0 %}
    {% set dmheStockOrders = [] %}
    {% set dmheOrders = [] %}

    {% for purchaseOrder in job.purchaseOrders | filter(x => (x.purchaseOrderItems|length) or (x.estimateItems|length)) %}
        {% if purchaseOrder.isDMHEType %}
            {% set dmheOrders = dmheOrders|merge([purchaseOrder]) %}
        {% elseif purchaseOrder.isOtherType %}
            {% set dmheStockOrders = dmheStockOrders|merge([purchaseOrder]) %}
        {% endif %}
    {% endfor %}

    {% if dmheOrders|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">DMHE Purchase Orders</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Order No</th>
                        <th>Supplier</th>
                        <th>Part Description</th>
                        <th>Quantity</th>
                        {% if not isEngineer %}<th>Cost</th>{% endif %}
                        {% if not isEngineer %}<th>Total Cost</th>{% endif %}
                        <th>Order Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for purchaseOrder in dmheOrders | filter(x => (x.purchaseOrderItems|length) or (x.estimateItems|length)) %}
                        {% set orderItems = purchaseOrder.purchaseOrderItems %}
                        {% set estimateItems = purchaseOrder.estimateItems %}
                        {% set rowSpan = orderItems|length + estimateItems|length %}

                        {% if orderItems|length %}
                            {% set firstItem = orderItems[0] %}
                            {% set firstItemDisplay = firstItem.item ? firstItem.item.stock.stockString : '' %}
                            {% set firstItemCost = firstItem.unitCost %}
                            {% set orderItems = orderItems|slice(1) %}
                        {% else %}
                            {% set firstItem = estimateItems[0] %}
                            {% set firstItemDisplay = firstItem.item %}
                            {% set firstItemCost = firstItem.price %}
                            {% set estimateItems = estimateItems|slice(1) %}

                        {% endif %}

                        <tr>
                            <td rowspan={{ rowSpan }}>
                                {% if canEdit %}
                                    <a href="{{ path('view_purchaseorder', { 'id' : purchaseOrder.id}) }}">{{ purchaseOrder.id }}</a>
                                {% else %}
                                    {{ purchaseOrder.id }}
                                {% endif %}
                            </td>
                            <td rowspan={{ rowSpan }}>{{ purchaseOrder.supplier ? purchaseOrder.supplier.name : 'No supplier' }}</td>

                            <td>{{ firstItemDisplay }}</td>
                            <td>{{ firstItem.quantity }}</td>
                            {% if not isEngineer %}<td>£{{ firstItemCost }}</td>{% endif %}
                            {% if not isEngineer %}<td rowspan={{ rowSpan }}>£{{ purchaseOrder.getItemCost | default('--') }}</td>{% endif %}
                            <td rowspan={{ rowSpan }}>
                                {% if purchaseOrder.completed == 1 %}
                                    Received on {{ purchaseOrder.completedAt | display_date_format | default('(Date not set)')}}
                                {% elseif purchaseOrder.orderDate is not null %}
                                    Awaiting Delivery
                                {% else %}
                                    To Be Ordered
                                {% endif %}
                            </td>
                        </tr>

                        {% for purchaseOrderItem in orderItems %}
                            <tr>
                                <td>{{ purchaseOrderItem.item.stock.stockString }}</td>
                                <td>{{ purchaseOrderItem.quantity }}</td>
                                {% if not isEngineer %}<td>£{{ purchaseOrderItem.unitCost }}</td>{% endif %}
                            </tr>
                        {% endfor %}
                        {% for estimateItem in estimateItems %}
                            <tr>
                                <td>{{ estimateItem.item }}</td>
                                <td>{{ estimateItem.quantity }}</td>
                                {% if not isEngineer %}<td>£{{ estimateItem.price }}</td>{% endif %}
                                {% if not isEngineer %}<td>£{{ estimateItem.retailPrice }}</td>{% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if dmheStockOrders|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">DMHE Stock Orders</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Supplier</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchaseOrder in dmheStockOrders | filter(x => (x.purchaseOrderItems|length) or (x.estimateItems|length)) %}
                            {% set orderItems = purchaseOrder.purchaseOrderItems %}
                            {% set estimateItems = purchaseOrder.estimateItems %}
                            {% set rowSpan = orderItems|length + estimateItems|length %}

                            {% if orderItems|length %}
                                {% set firstItem = orderItems[0] %}
                                {% set firstItemDisplay = firstItem.item ? firstItem.item.stock.stockString : '' %}
                                {% set firstItemCost = firstItem.unitCost %}
                                {% set orderItems = orderItems|slice(1) %}
                            {% else %}
                                {% set firstItem = estimateItems[0] %}
                                {% set firstItemDisplay = firstItem.item %}
                                {% set firstItemCost = firstItem.price %}
                                {% set estimateItems = estimateItems|slice(1) %}

                            {% endif %}

                            <tr>
                                <td rowspan={{ rowSpan }}>
                                    {% if canEdit %}
                                        <a href="{{ path('view_purchaseorder', { 'id' : purchaseOrder.id}) }}">{{ purchaseOrder.id }}</a>
                                    {% else %}
                                        {{ purchaseOrder.id }}
                                    {% endif %}
                                </td>
                                <td rowspan={{ rowSpan }}>{{ purchaseOrder.supplier ? purchaseOrder.supplier.name : 'No supplier' }}</td>
                                <td>{{ firstItem.quantity }}</td>
                                <td>{{ firstItemDisplay }}</td>
                                <td>£{{ firstItemCost }}</td>
                            </tr>

                            {% for purchaseOrderItem in orderItems %}
                                <tr>
                                    <td>{{ purchaseOrderItem.quantity }}</td>
                                    <td>{{ purchaseOrderItem.item.stock.stockString }}</td>
                                    {% if not isEngineer %}<td>£{{ purchaseOrderItem.unitCost }}</td>{% endif %}
                                </tr>
                            {% endfor %}
                            {% for estimateItem in estimateItems %}
                                <tr>
                                    <td>{{ estimateItem.quantity }}</td>
                                    <td>{{ estimateItem.item }}</td>
                                    {% if not isEngineer %}<td>£{{ estimateItem.price }}</td>{% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if job.jobs|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Service jobs</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Job number</th>
                        <th>Job Detail</th>
                        <th>Total Costs</th>
                        <th>Status</th>
{#                        <th>Actions</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in job.jobs %}
                        <tr>
                            <td><a href="{{ path('view_job', { 'id' : job.id}) }}">{{ job.id }}</a></td>
                            <td>{{ job.detail | default('--') }}</td>
                            <td>£{{ job.totalJobCost }}</td>
                            {% if job.getCompletionStage == 6 %}
                                <td>Complete</td>
                            {% elseif job.getCompletionStage == 8 %}
                                <td>Signed Off</td>
                            {% else %}
                                <td>Pending</td>
                            {% endif %}
{#                            <td><a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal"#}
{#                                   data-message="Are you sure you want to unlink this DMHE order?"#}
{#                                   data-href="{{ path('unlink_service_job_from_sales_job') }}/{{ job.id }}" href="#">Unlink DMHE#}
{#                                    order</a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% if canEdit %}
    {% include '_formModal.html.twig' with { modalType: 'job', modalTitle: 'Job', modalNewRoute: path('new_sales_job')} %}
    {% include 'SalesJob/_newJobModal.html.twig' %}
    {% include 'SalesJob/_dmhePurchaseOrderModal.html.twig' %}
{% endif %}

<script type="text/javascript">
</script>
