{% extends 'layout.html.twig' %}

{% block search_category %}lead{% endblock %}
{% block page_type %}servicePartsTarget{% endblock %}
{% block title %}Service/Parts Targets{% endblock %}
{% block page_shortcuts %}{% include 'Lead/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">
                <span class="pull-left">Service/Parts Targets</span>
                <div class="col-md-3">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <select class="form-control custom-selector" id="user_selector">
                            <option value="null">Show all leads</option>
                            {% for user in leadOwners %}
                                <option value="{{ user.id }}">{{ user.displayName }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a>
            <div class="clearfix"></div>
            </h1>
            <div class="col-md-5">
                <p>Current Month: Leads In {{ leadsIn }}, Leads contacted {{ leadsPercentage }}% ({{ leadsInWithNoContact }}) </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="waterfall" id="lead-filter">

                {% include 'Lead/_leadFilterPanel.html.twig' with { 'panelNumber': 1, 'panelTitle': 'No contact', 'leads': leads, 'priorities': priorities } %}
                {% include 'Lead/_leadFilterPanel.html.twig' with { 'panelNumber': 2, 'panelTitle': 'Contact made', 'leads': leads, 'priorities': priorities } %}
                {% include 'Lead/_leadFilterPanel.html.twig' with { 'panelNumber': 3, 'panelTitle': 'Action required', 'leads': leads, 'priorities': priorities } %}
                {% include 'Lead/_leadFilterPanel.html.twig' with { 'panelNumber': 5, 'panelTitle': 'Quoting', 'leads': leads, 'priorities': priorities } %}

            </div>
        </div>
    </div>

    <div class="row">
        <div id="lead-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'lead', modalTitle: 'Service Parts Target Lead', modalNewRoute: path('new_primary_target'), modalEditRoute: path('edit_lead') } %}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function(){
    userId = '{{ userId }}'
    if (userId) {
        $('#user_selector option').filter(function() {
            return ($(this).val() == userId);
        }).prop('selected', true);
    };
})

$('.panel-link:first').addClass('selected');
$('.panel-link:first').focus();

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');

    $ele.addClass('active');
    $ele.addClass('selected');
    var leadId = $ele.data('id');

    if(leadId) {
        var url = "{{ path('view_lead') }}/" + leadId;
        window.location.href = url;
    }
 });


$('#user_selector').on('change', function(){
    var userId = $('#user_selector').find(':selected').val();

    if (userId == 'null') {
        var url    = "{{ path('list_service_parts_leads') }}";
    } else {
        var url    = "{{ path('list_service_parts_leads') }}/" + userId;
    }

    window.location.href = url;
    return false;
})

</script>
{% endblock %}
