
{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#stockInfo">Add Stock</a></h4>
            </div>
            <div id="stockInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.description, { 'attr': { 'autofocus': 1 } }) }}
                    {{ form_row(form.supplier) }}
                    {{ form_row(form.quantity) }}
                    {{ form_row(form.dateReceived) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>



