<h3>Supplier stock Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search supplier stock:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new supplier stock:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit supplier stock:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
