{% extends 'layout.html.twig' %}

{% block search_category %}supplierStock{% endblock %}
{% block page_type %}supplierStock{% endblock %}
{% block title %}{{ supplierStock.id }}{% endblock %}
{% block page_shortcuts %}{% include 'SupplierStock/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1>{{ supplierStock.id }} - {{ supplierStock.stock.description }}</h1>
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" id="edit-btn" data-edit-id="{{ supplierStock.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_supplier_stock') }}/{{ supplierStock.id }}" href="#">Delete</a>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>ID:</dt>
                            <dd>{{ supplierStock.id | default('--') }}</dd>

                            <dt>Stock item:</dt>
                            <dd>{{supplierStock.stock.code | default('(No code assigned)')}} - {{ supplierStock.stock.description | default('--') }}</dd>

                            <dt>Supplier:</dt>
                            <dd>{{supplierStock.supplier.name | default('--')}}</dd>

                            <dt>Cost price:</dt>
                            <dd>£{{ supplierStock.costPrice | default('--')}}</dd>

                            <dt>Carriage price:</dt>
                            <dd>£{{ supplierStock.carriagePrice | default('--') }}</dd>

                            {% for contact in supplierStock.supplier.contacts %}
                                <dt>Contact {{ loop.index }}:</dt>
                                <dd>
                                    <i>{{ (contact.contactString | default('--'))|nl2br }}</i>
                                </dd>
                            {% endfor %}

                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'supplier stock', modalEditRoute: path('edit_supplier_stock') } %}

    {% if showEdit %}
    <script type="text/javascript">
        $(function() {
            $('#edit-btn').click();
        });
    </script>
    {% endif %}
{% endblock %}


