<p>The customer "{{ customer }}" has been successfully added. </p>
<ul>
    <li><a href="#" id="newTruck">Create a new truck</a></li>
    <li><a href="#" id="newJob">Create a new job</a></li>
    <li><a href="#" id="newCustomer">Create another new customer</a></li>
</ul>

<script type="text/javascript">

reloadPage = true;
$customerSuccessModal = getTopModalOnStack();
$customerSuccessModal.find('.modal-form-submit').remove();

$('#newTruck').on('click', function (e){
    $wrapper.data('action', 'new');
    $wrapper.data('new-route', '{{ path('new_truck') }}');
    $title.html('Add Truck');
    loadForm();
});

$('#newJob').on('click', function (e){
    $wrapper.data('action', 'new');
    $wrapper.data('new-route', '{{ path('new_job') }}');
    $title.html('Add Job');
    loadForm();
});

$('#newCustomer').on('click', function (e){
    $wrapper.data('action', 'new');
    $wrapper.data('new-route', '{{ path('new_customer') }}');
    $title.html('Add another Customer');
    loadForm();
});


</script>
