{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactInfo">Contact Details</a></h4>
            </div>
            <div id="contactInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.name, { 'attr': { 'autofocus': 'autofocus' } }) }}
                    {{ form_row(form.billingAddress) }}
                    {{ form_row(form.telephone) }}
                    {{ form_row(form.fax) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.trucksReassignable) }}
                    <div class="form-group">
                        <label class="col-sm-3 control-label required" for="customer-number">Customer Number</label>
                        <div class="col-sm-9">
                            <select id="customer-number" name="customer-number" class=" form-control">
                                {% if customer.customerNumber %}
                                <optgroup id="current-number" label="Current Number">
                                    <option val="{{ customer.customerNumber.letter }}">{{ customer.customerNumber.customerNumber }}</option>
                                </optgroup>
                                {% endif %}
                                <optgroup id="new-numbers" label="Choose a New Number"></optgroup>
                            </select>
                        </div>
                    </div>
                    {{ form_row( form.accountManager) }}
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="contacts">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactForm">Contacts</a></h4>
            </div>
            <div id="contactForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="contacts" data-prototype="{{ form_widget(form.contacts.vars.prototype)|e }}">
                        {% for contact in form.contacts %}
                            <div class="contact-item">
                                {{ form_errors(contact) }}
                                {{ form_widget(contact) }}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#" id="addContact" class="btn btn-primary" style="margin-bottom: 10px;">Add a contact</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="siteAddresses">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#siteAddressForm">Site Addresses</a></h4>
            </div>
            <div id="siteAddressForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="siteAddresses" data-prototype="{{ form_widget(form.siteAddresses.vars.prototype)|e }}">
                        {% for siteAddress in form.siteAddresses %}
                            <div class="site-address-item">
                                {{ form_errors(siteAddress) }}
                                {{ form_widget(siteAddress) }}
                            </div>
                        {% endfor %}
                    </div>

                    <a href="#" id="add_site_address_tag_link" class="btn btn-primary" style="margin-bottom: 10px;">Add a site address</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#billingInfo">Billing Information</a></h4>
            </div>
            <div id="billingInfo"  class="panel-collapse collapse">
                <div class="panel-body">
                    {{ form_row(form.emailInvoice) }}
                    {{ form_row(form.requiresOrderNumberOnInvoices) }}
                    {{ form_row(form.paymentTerm) }}
                    {{ form_row(form.accountLimit) }}
                    {{ form_row(form.labourRate) }}
                    {{ form_row(form.partsDiscount) }}
                </div>
            </div>
        </div>
        <div style="display:none;">
            {{ form_rest(form) }}
        </div>

    {{ form_end(form) }}
</div>

<script type="text/javascript">

$(function() {
    $('#customer_form_name').on('focus keydown keyup', function() {
        var $nameElement = $(this);
        var input        = $nameElement.val();
        var letters      = {};
        var currentLetter = {% if customer.customerNumber %}'{{ customer.customerNumber.letter }}'{% else %}null{% endif %};

        $(this).removeClass('disallowedInput').removeClass('allowedInput');

        if (input) {
            letters[input[0].toUpperCase()] = input[0].toUpperCase();

            for (i=0; i<input.length; i++) {
                if (input[i] == ' ') continue;
                if (input[i-1] != ' ') continue;
                var letter = input[i].toUpperCase();
                if (letter == currentLetter) continue;
                letters[letter] = letter;
            }

            $optgroup = $('#new-numbers');
            $optgroup.empty();

            for (var key in letters) {
                $optgroup.append('<option value="' + letters[key] + '">' + letters[key] + '-XX</option>');
            };
        }
    });
});

var $siteAddressesCollectionHolder = $('div.siteAddresses');
var siteAddressCount     = {{ form.siteAddresses|length }} ;
var siteAddressIndex     = siteAddressCount - 1;
var formSiteAddressIndex = 0;

$siteAddressesCollectionHolder.find('div.site-address-item').each(function() {
    $ele = $(this);
    editAddressFormFields($ele, 'Address', formSiteAddressIndex);
    addDeleteLink($ele);
    $ele.find('.editAddress').hide();
    bindAddresses($ele);
    formSiteAddressIndex++;

    $('.saveAddress').click();
});

$('#add_site_address_tag_link').click(function(e) {
    e.preventDefault();
    siteAddressCount++;
    siteAddressIndex++;
    var newItem = $siteAddressesCollectionHolder.data('prototype');
    newItem     = newItem.replace(/__name__/g, siteAddressIndex);
    textDivs    = '<div class="form-group newSiteNameText hidden-form-field"><label class="col-sm-3 control-label">Site name</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newAddress1Text hidden-form-field"><label class="col-sm-3 control-label">Address 1</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newAddress2Text hidden-form-field"><label class="col-sm-3 control-label">Address 2</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newCityText hidden-form-field"><label class="col-sm-3 control-label">City</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPostcodeText hidden-form-field"><label class="col-sm-3 control-label">Postcode</label><p class="col-sm-9 form-control-static"></p></div>';
    newItem     += textDivs;
    var $newDiv = $('<div class="site-address-item"></div>').html(newItem);
    $newDiv.appendTo($siteAddressesCollectionHolder);
    addSaveEditButtons($newDiv, 'Address', siteAddressIndex);
    $newDiv.find('.editAddress').hide();
    addDeleteLink($newDiv);
    $('#customer_form_siteAddresses_'+siteAddressIndex+'_name').focus();
    bindAddresses($newDiv);
});

function addDeleteLink($div) {
    var $removeLink = $('<a href="#" class="btn btn-danger btn-xs removeSelectedBtn" style="margin-bottom: 10px;margin-right: 10px;">Remove</a>');
    $div.append($removeLink);

    $removeLink.on('click', function(e) {
        e.preventDefault();
        $div.remove();
        siteAddressCount--;
    });
}

var $contactsCollectionHolder = $('div.contacts');
var contactCount              = {{ form.contacts|length }} ;
var contactIndex              = contactCount - 1;
var formContactIndex          = 0;

$contactsCollectionHolder.find('div.contact-item').each(function() {
    $ele = $(this);
    $ele.attr('data-index', formContactIndex);
    $('#customer_form_contacts_'+formContactIndex+'_customer').parent().parent().hide();
    $('#customer_form_contacts_'+formContactIndex+'_supplier').parent().parent().hide();
    $('#customer_form_contacts_'+formContactIndex+'_newCustomer').parent().parent().hide();
    bindContacts($ele);
    formContactIndex++;
});

$('#addContact').click(function(e) {
    e.preventDefault();
    contactCount++;
    contactIndex++;
    var newContactItem = $contactsCollectionHolder.data('prototype');
    newContactItem     = newContactItem.replace(/__name__/g, contactIndex);
    textDivs           = '<div class="form-group newNameText hidden-form-field"><label class="col-sm-3 control-label">Name</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTelephoneText hidden-form-field"><label class="col-sm-3 control-label">Telephone</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newEmailText hidden-form-field"><label class="col-sm-3 control-label">Email</label><p class="col-sm-9 form-control-static"></p></div>';
    newContactItem     += textDivs;
    var $newContactDiv = $('<div class="contact-item" data-index="'+contactIndex+'"></div>').html(newContactItem);

    $newContactDiv.appendTo($contactsCollectionHolder);

    $('#customer_form_contacts_'+contactIndex+'_customer').parent().parent().hide();
    $('#customer_form_contacts_'+contactIndex+'_supplier').parent().parent().hide();
    $('#customer_form_contacts_'+contactIndex+'_newCustomer').parent().parent().hide();
    $('#customer_form_contacts_'+contactIndex+'_name').focus();

    bindContacts($newContactDiv);
});

function bindContacts($ele) {
    var $formFields = $('.contact-form-fields', $ele);
    var $staticFields = $('.contact-item-static', $ele);

    var $saveBtn = $('.save-contact', $ele);
    var $editBtn = $('.edit-contact', $ele);
    var $removeBtn = $('.remove-contact', $ele);

    $saveBtn.on('click', function(){
        var $name      = $('.contact-name', $ele);
        var $telephone = $('.contact-telephone', $ele);
        var $email     = $('.contact-email', $ele);

        $name.closest('.form-group').removeClass('has-error');

        if ($name.val() == '') {
            $name.closest('.form-group').addClass('has-error');
            $name.attr('placeholder', 'Enter a name...')
            return false;
        };

        $staticFields.find('.contact-name').html($name.val());
        $staticFields.find('.contact-tel').html($telephone.val());
        $staticFields.find('.contact-email').html($email.val());

        $staticFields.show();
        $formFields.hide();

        $editBtn.show();
        $saveBtn.hide();
    })

    $editBtn.on('click', function(){
        $staticFields.hide();
        $formFields.show();

        $editBtn.hide();
        $saveBtn.show();
    });

    $removeBtn.on('click', function(e) {
        e.preventDefault();
        $ele.remove();
        contactCount--;
    });
}

function bindAddresses($ele) {

    $ele.find('.saveAddress').on('click', function(){
        $ele         = $(this);
        var index    = $ele.data('index');
        var siteName = $('#customer_form_siteAddresses_'+index+'_name').val()
        var address1 = $('#customer_form_siteAddresses_'+index+'_address1').val()
        var address2 = $('#customer_form_siteAddresses_'+index+'_address2').val()
        var city     = $('#customer_form_siteAddresses_'+index+'_city').val()
        var postcode = $('#customer_form_siteAddresses_'+index+'_postcode').val()
        $ele.parent().find('.newSiteNameText p').html(siteName)
        $ele.parent().find('.newAddress1Text p').html(address1)
        $ele.parent().find('.newAddress2Text p').html(address2)
        $ele.parent().find('.newCityText p').html(city)
        $ele.parent().find('.newPostcodeText p').html(postcode)
        $ele.parent().find('.newSiteNameText').show()
        $ele.parent().find('.newAddress1Text').show()
        $ele.parent().find('.newAddress2Text').show()
        $ele.parent().find('.newCityText').show()
        $ele.parent().find('.newPostcodeText').show()
        $('#customer_form_siteAddresses_'+index).hide();
        $ele.parent().find('.editAddress').show();
        $ele.hide();
    })

    $ele.find('.editAddress').on('click', function(){
        $ele          = $(this);
        var index     = $ele.data('index');
        $ele.parent().find('.newSiteNameText').hide()
        $ele.parent().find('.newAddress1Text').hide()
        $ele.parent().find('.newAddress2Text').hide()
        $ele.parent().find('.newCityText').hide()
        $ele.parent().find('.newPostcodeText').hide()
        $('#customer_form_siteAddresses_'+index).show();
        $ele.parent().find('.saveAddress').show();
        $ele.hide();
    })
}

function addSaveEditButtons($ele, type, index) {
    var $saveEdit = '<a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
    $ele.append($saveEdit);
}

function editAddressFormFields($ele, type, index) {
    var $editFormFields = '<div class="form-group newSiteNameText hidden-form-field"><label class="col-sm-3 control-label">Site name</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newAddress1Text hidden-form-field"><label class="col-sm-3 control-label">Address 1</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newAddress2Text hidden-form-field"><label class="col-sm-3 control-label">Address 2</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newCityText hidden-form-field"><label class="col-sm-3 control-label">City</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPostcodeText hidden-form-field"><label class="col-sm-3 control-label">Postcode</label><p class="col-sm-9 form-control-static"></p></div><a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
    $ele.append($editFormFields);
}

$('form').on('submit', function(e){
    var postCode  = $('#customer_form_billingAddress_postcode').val();
    if (postCode.length >= 9) {
        e.preventDefault();
        $('#customer_form_billingAddress_postcode').closest('.form-group').addClass('has-error');
        $('#customer_form_billingAddress_postcode').parent().addClass('invalid-field')
        return false;
    };

    $('.contact-item').each(function(){
        var $ele  = $(this);
        var index = $ele.data('index');
        var name  = $('#customer_form_contacts_'+index+'_name').val();

        if (name == '') {
            e.preventDefault();
            $('#customer_form_contacts_'+index+'_name').closest('.form-group').addClass('has-error');
            $('#customer_form_contacts_'+index+'_name').attr('placeholder', 'Enter a name...')
            return false;
        };

    })
})
</script>
