<h3>Customer Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search customers:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new customer:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit customer:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
