{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
 <div class="row">
        <div class="col-md-12">
        <h2>Job history for customer site {{ address | default('"No address saved"') }}</h2>
        <hr>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Job Code</th>
                    <th>Customer</th>
                    <th>Truck</th>
                    <th>Detail</th>
                    <th>Engineer</th>
                    <th>Completed on</th>
                </tr>

                {% if jobs|length > 0 %}
                    {%- for job in jobs %}
                        <tr>
                            <td><a href="{{ path('view_job', { 'id': job.id }) }}">{{ job.JobCode }}</a></td>
                            <td>{{ job.customer.name }}</td>
                            <td>{{ job.truck.nameString|default('No truck assigned') }}</td>
                            <td>{{ job.detail|default('--') }}</td>
                            <td>{{ job.engineer.displayName|default('Unassigned') }}</td>
                            <td>{{ job.completed|default('Incomplete') }}</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="8">No job history for customer {{ customer.name }} at this site.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
