##{{ customer.name }}

###Job history
{% if customer.jobs|length > 0 %}
    {%- for job in customer.jobs %}
    Job code: {{ job.JobCode }}
    Site: {{ job.siteAddress ? job.siteAddress.getAddressString : customer.billingAddress.getAddressString }}
    Truck: {{ job.truck.getNameString|default('No truck assigned') }}
    Detail: {{ job.detail|default('-') }}
    Engineer: {{ job.engineer.displayName|default('Unassigned') }}
    Completed on: {{ job.completed|default('Incomplete') }}
{% if not loop.last %}
---
{% endif -%}
    {% endfor %}
{% else %}
    No jobs found for "{{ customer.name }}".
{% endif %}


