##{{ customer.name }}

###Job history
{% if jobs|length > 0 %}
    {%- for job in jobs %}
    Job code: {{ job.JobCode }}
    Site: {{ address }}
    Truck: {{ job.truck.getNameString|default('No truck assigned') }}
    Detail: {{ job.detail|default('-') }}
    Engineer: {{ job.engineer.displayName|default('Unassigned') }}
    Completed on: {{ job.completed|default('Incomplete') }}
{% if not loop.last %}
---
{% endif -%}
    {% endfor %}
{% else %}
    No jobs found for "{{ customer.name }}" at address "{{ address }}".
{% endif %}


