{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
 <div class="row">
        <div class="col-md-12">
        <h2>Job history for customer {{ customer.name }}</h2>
        <hr>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Job Code</th>
                    <th>Customer</th>
                    <th>Site</th>
                    <th>Truck</th>
                    <th>Detail</th>
                    <th>Engineer</th>
                    <th>Completed on</th>
                </tr>

                {% if customer.jobs|length > 0 %}
                    {%- for job in customer.jobs %}
                        <tr>
                            <td>{{ job.JobCode }}</td>
                            <td>{{ job.customer.name }}</td>
                            <td>{{ job.siteAddress ? job.siteAddress.getAddressString : customer.billingAddress.getAddressString }}</td>
                            <td>{{ job.truck.nameString|default('No truck assigned') }}</td>
                            <td>{{ job.detail|default('--') }}</td>
                            <td>{{ job.engineer.displayName|default('Unassigned') }}</td>
                            <td>{{ job.completed|default('Incomplete') }}</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="7">No job history.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
