{% extends 'layout.html.twig' %}

{% block search_category %}customer{% endblock %}
{% block page_type %}customer{% endblock %}
{% block title %}Customers{% endblock %}
{% block page_shortcuts %}{% include 'Customer/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row" id="customers">
        <div class="col-md-12">
            <h1 class="page-title">Customers<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a></h1>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="listing-id">ID</th>
                            <th class="customer-number">Customer #</th>
                            <th>Name</th>
                            <th class="listing-actions">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td class="listing-id"><a href="{{ path('view_customer', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
                                <td class="customer-number">{{ customer.customerNumberString }}</td>
                                <td><a href="{{ path('view_customer', { 'id': customer.id }) }}">{{ customer.name }}</a></td>
                                <td class="listing-actions"><a data-edit-id={{ customer.id }} href="javascript:void(0);" class="btn btn-primary btn-xs">Edit</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No customers found!</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if pager.haveToPaginate %}
            <div class="pull-right">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {
                    'routeName': 'list_customers',
                }) }}
            </div>
            {% endif %}
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'customer', modalTitle: 'Customer', modalNewRoute: path('new_customer'), modalEditRoute: path('edit_customer') } %}

{% endblock %}
