{% extends 'layout.html.twig' %}

{% block page_type %}customer{% endblock %}
{% block title %}Customer reports{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        Customer
    </div>
</div>

{% endblock %}
