{% extends 'layout.html.twig' %}

{% block search_category %}customer{% endblock %}
{% block page_type %}customer{% endblock %}
{% block title %}{{ customer.name }}{% endblock %}
{% block page_shortcuts %}{% include 'Customer/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-customer icomoon-inline"></span>{{ customer.name }}</h1>
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" href="{{ path('get_customerjob_history_report', { 'id': customer.id }) }}">Job history</a>
                    <a class="btn btn-primary" data-edit-id="{{ customer.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_customer') }}/{{ customer.id }}" href="#">Delete</a>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row" id="mainInformation">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Main Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Customer:</dt>
                            <dd>{{ customer.name | default('--') }}</dd>

                            <dt>Account Manager:</dt>
                            <dd>{{ customer.accountManager.username | default('--') }}</dd>

                            {% for contact in customer.contacts %}
                                <dt>Contact {{ loop.index }}:</dt>
                                <dd>{{ (contact.contactString | default('--'))|nl2br }}</dd>
                            {% endfor %}

                            {% for lead in customer.leads %}
                                <dt>Lead {{ loop.index }}:</dt>
                                <dd>
                                    <a href="{{ path('view_lead', {'id': lead.id}) }}">
                                        {{ lead.type | default('--')|nl2br }}, {{ lead.value | default('--')|nl2br }}
                                    </a>
                                </dd>
                            {% endfor %}

                            {% for estimate in customer.estimates %}
                                {% if estimate.job is not null and estimate.code is null %}
                                    <dt>Possible Future Work {{ loop.index }}:</dt>
                                    <dd>
                                        <a href="{{ path('view_estimate', {'id': estimate.id}) }}">
                                            {{ estimate.details | default('--')|nl2br }}
                                        </a>
                                    </dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
            <div class="row" id="details">
                <div class="spacer"></div>
                <div id="details" class="information-section col-md-6 col-sm-12">
                    <div class="section-header">
                        <h2>Contact Details</h2>
                    </div>
                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Billing Address:</th>
                                    <td>
                                        {{ ( customer.billingAddress.addressString | default('--'))|nl2br }}
                                        {% if customer.billingAddress %}
                                            <br>
                                            <a href="#" class="site-address" data-toggle="popover" data-content="" data-postcode="{{ customer.billingAddress.addressString }}">View Map</a>
                                            <td>
                                                <a class="btn btn-primary pull-right" href="{{ path('get_customer_address_job_history_report', { 'id': customer.id, 'siteAddress': null }) }}">Job history</a>
                                            </td>
                                        {% endif %}
                                    </td>
                                </tr>


                                {% for siteAddress in customer.siteAddresses %}
                                    <tr id="site_address_{{ loop.index }}">
                                        <th>Site {{ loop.index }} Address:</th>
                                        <td>
                                            {{ (siteAddress.addressString | default('--'))|nl2br }}.
                                            {% if siteAddress %}
                                                <br>
                                                <a href="#" class="site-address" data-toggle="popover" data-content="" data-postcode="{{ siteAddress.postcode }}">View Map</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr><th>Accepts email invoice/statement:</th>
                                <td>{{ customer.emailInvoice ? 'Yes' : 'No' }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="orders" class="information-section col-md-6 col-sm-12">
                    <div class="section-header">
                        <h2>Orders</h2>
                    </div>
                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr><th>Agreed payment term:</th>
                                <td>{{ customer.paymentTerm | default('--') }}</td></tr>

                                <tr><th>Account limit:</th>
                                <td>{{ customer.accountLimit | default('--') }}</td></tr>

                                <tr><th>Labour Rate:</th>
                                <td>{{ customer.labourRateOrDefault | default('--') }}</td></tr>

                                <tr><th>PartsDiscount:</th>
                                <td>{{ customer.partsDiscount | default('--') }}</td></tr>

                                <tr><th>Trucks Reassignable:</th>
                                <td>{{ customer.trucksReassignable ? 'Yes' : 'No' }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include '_formModal.html.twig' with { modalType: 'customer', modalTitle: 'customer', modalNewRoute: path('new_customer'), modalEditRoute: path('edit_customer') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

var getMap = function(opts) {
    var src = "http://maps.googleapis.com/maps/api/staticmap?",
    params = $.extend({
        center: 'Tamar Street, Belfast, United Kingdom',
        zoom: 14,
        size: '256x256',
        maptype: 'roadmap',
        sensor: false
        }, opts),
        query = [];

    params.markers=params.center;

    $.each(params, function(k, v) {
        query.push(k + '=' + encodeURIComponent(v));
    });

    src += query.join('&');
    return '<a href="https://www.google.co.uk/maps/place/' + opts['center'] + '" target="_blank"><img src="' + src + '" /></a>';
}

$('.site-address').each(function(e){
    $ele = $(this);
    mapCenter   = $ele.data('postcode');
    if (mapCenter == "") mapCenter = 'BT4 1HS';
    var content = getMap({center: mapCenter});
    $ele.popover({
        html:true,
        trigger: 'focus',
        content: content,
        placement:'right',
        template: '<div id="map-popover" class="popover site-map"><div class="popover-content"></div></div>'
    });
})

$('.site-address').on('click', function(e){
    e.preventDefault();
})

</script>
{% endblock %}
