<h3>Hello,</h3>

<h4>A new asset has been created on Fleetmanager:</h4>

<p><strong>Details: </strong>{{ asset.nameString }}</p>
<p><strong>Type: </strong>{{ asset.assetType }}</p>

<p><a href="{{ url('view_asset', { id: asset.id }) }}">Link to Asset on Fleetmanager</a></p>
