{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#note_info">New note</a>
            </h4>
        </div>
        <div id="note_info" class="panel-collapse collapse in">
            <div class="panel-body">
                {% if form.reason is defined %}
                    {{ form_row( form.reason, { 'attr': { 'autofocus': 1 } }) }}
                    {{ form_row( form.detail) }}
                {% else %}
                    {{ form_row( form.detail, { 'attr': { 'autofocus': 1 } }) }}
                {% endif %}
                {{ form_row( form.date ) }}
            </div>
        </div>
    </div>

    <div class="hidden-form-field">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>

