<div class="modal" id="new-job-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-job-form-modal-label"><span class="form-modal-title">Create job</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-job-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $newJobModal   = $('#new-job-modal');
    var $newJobWrapper = $newJobModal.find('.new-job-form-holder');
    var $newJobFooter  = $newJobModal.find('.modal-footer');
    var reloadPage     = false;

    $('#newJob').on('click',  function(e) {
        e.preventDefault();
        $newJobModal.modal('show');
    });

    $newJobModal.on('hide.bs.modal', function (e) {
        $newJobWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newJobModal.find('.modal-form-submit').remove();
    });

    $newJobModal.on('show.bs.modal', function (e) {
        newJobLoadform(e);
    });

    function newJobLoadform(e) {
        $.get('{{ path('new_job', { asset: asset.id }) }}', function(data) {
            if (data.displayForm) {
                $newJobWrapper.html(data.html);
                $newJobModal.find('[autofocus]:first').focus();
                $assignButton = $('<button type="button" data-loading-text="Saving..." class="btn btn-default extra-modal-btn" id="save-assign">Save & Assign</button>');
                $newJobFooter.prepend($assignButton);
                $newJobFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newJobBindForm();
                $assignButton.on('click', function(e) {
                    e.preventDefault();
                    $input = $('<input type="hidden" name="assign" value="1">');
                    var $form = $('#new-job-modal form');

                    $form.append($input);
                    $form.submit();
                    var $engineerModal   = $('#assign-engineer-modal');
                    $engineerModal.on('show.bs.modal', function (e) {
                        engineerLoadform(e);
                    });

                });
            }
        });
    }

    function newJobBindForm() {
        var $form   = $newJobWrapper.find('form');
        var $button = $newJobFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $wrapper.html(response.html);
                    $button.button('reset');
                    if ($newJobModal.find('.has-error')) {
                        $newJobModal.find('.has-error input:first').focus();
                    } else {
                        $newJobModal.find('[autofocus]:first').focus();
                    }
                    bindForm();
                } else {
                    if (response.url) {
                        location.href = response.url;
                        return;
                    } else if (response.refresh) {
                        reloadPage = true;
                    }
                    $newJobModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not saved');
                $newJobModal.modal('hide');
            }
        });

        listenForFormChanges();
    }
</script>
