<div class="modal" id="new-maintenance-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-note-form-modal-label"><span class="form-modal-title">New Maintenance Task</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-note-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newMaintenanceModal   = $('#new-maintenance-modal');
    var $newMaintenanceWrapper = $newMaintenanceModal.find('.new-note-form-holder');
    var $newMaintenanceFooter  = $newMaintenanceModal.find('.modal-footer');
    var reloadPage             = false;

    $('#newMaintenanceTask').on('click',  function(e) {
        e.preventDefault();
        $newMaintenanceModal.modal('show');
    });

    $newMaintenanceModal.on('hide.bs.modal', function (e) {
        $newMaintenanceWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newMaintenanceModal.find('.modal-form-submit').remove();
    });

    $newMaintenanceModal.on('show.bs.modal', function (e) {
        newMaintenanceLoadform(e);
    });

    function newMaintenanceLoadform(e) {
        $.get('{{ path('new_asset_maintenance', { 'id': asset.id }) }}', function(data) {
            if (data.displayForm) {
                $newMaintenanceWrapper.html(data.html);
                $newMaintenanceModal.find('[autofocus]:first').focus();
                $newMaintenanceFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newMaintenanceBindform();
            }
        });
    }

    function newMaintenanceBindform() {
        var $newMaintenanceform   = $newMaintenanceWrapper.find('form');
        var $newMaintenanceButton = $newMaintenanceFooter.find('.modal-form-submit');
        $newMaintenanceform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $newMaintenanceform.find('.datetimepicker').datetimepicker();

        $newMaintenanceButton.unbind('click');
        $newMaintenanceButton.click(function() {
            $newMaintenanceform.submit();
        });

        $newMaintenanceform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $newMaintenanceform) {
                $newMaintenanceButton.button('loading');
            },
            success: function(response, statusText, xhr, $newMaintenanceform) {
                if (response.displayForm) {
                    $newMaintenanceWrapper.html(response.html);
                    if ($newMaintenanceModal.find('.has-error')) {
                        $newMaintenanceModal.find('.has-error input:first').focus();
                    } else {
                        $newMaintenanceModal.find('[autofocus]:first').focus();
                    }
                    newMaintenanceBindform();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $newMaintenanceModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the maintenance was not assigned to the asset.');
                $newMaintenanceButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
