<div id="notes-section" class="information-section col-md-6 col-sm-12">
    <div id="notes-module_heading" class="section-header">
        <h2>Notes</h2>
        {% if canEdit %}<a class="btn btn-success btn-xs pull-right" href="#" id="newNote">New</a>{% endif %}
    </div>
    <div class="section-content table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Detail</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for note in asset.allNotes %}
                    <tr>
                        <td><a href="{{ path('view_note', { 'id': note.id }) }}">{{ note.detail }}</a></td>
                        <td>{{ note.date ? note.date|date('d/m/Y H:i:s') : 'No date saved.' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No stored notes.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
