<div class="row">
    <div class="col-md-12">
        <div class="spacer"></div>
        <div id="maintenance-section" class="information-section col-md-6 col-sm-12">
            <div class="section-header">
                <h2>Maintenance Tasks</h2>
                {% if canEdit %}<a class="btn btn-success btn-xs pull-right" href="#" id="newMaintenanceTask">New</a>{% endif %}
            </div>
            <div class="section-content table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Detail</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maintenance in lifecyclePeriod.maintenances %}
                            <tr>
                                <td><a href="{{ path('view_maintenance', { 'id': maintenance.id }) }}">{{ maintenance.detail }}</a></td>
                                <td>£{{ maintenance.amount | default ('--') }}</td>
                                <td>{{ maintenance.date ? maintenance.date|date('d/m/Y') : 'No date saved.' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No stored maintenance tasks.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
