<div id="description-section" class="information-section col-md-8 col-sm-12">
    <div id="details-module_heading" class="section-header">
        <h2>Customer Details</h2>
    </div>

    <div class="section-content">
        <dl class="dl-horizontal">
            {% if lifecyclePeriod %}
                <dt>Customer Name</dt>
                <dd>{{ lifecyclePeriod.customerName }}</dd>

                <dt>Hired From</dt>
                <dd>{{ lifecyclePeriod.parentPeriod ? lifecyclePeriod.parentPeriod.customerName : 'None (Asset Register)' }}</dd>

                <dt>Client Fleet</dt>
                <dd>{{ lifecyclePeriod.clientFleet | default('--') }}</dd>

                <dt>Current location</dt>
                <dd>{{ lifecyclePeriod.siteAddress ? lifecyclePeriod.siteAddress.addressString : (lifecyclePeriod.customer ? lifecyclePeriod.customer.billingAddress.addressString : '--') }}</dd>

                {% for contact in lifecyclePeriod.contacts %}
                    <dt>Contact {{ loop.index }}</dt>
                    <dd>
                        <i>{{ (contact.contactString | default('--'))|nl2br }}</i>
                    </dd>
                {% endfor %}
            {% else %}
                <dt>Currently unassigned</dt>
            {% endif %}
        </dl>
    </div>
</div>
