<div id="particulars-section" class="information-section col-md-6 col-sm-12">
    <div id="particulars-module_heading" class="section-header">
        <h2>Status</h2>
        {% if canEdit %}<a class="btn btn-success btn-xs pull-right" href="#" id="editStatus">Edit</a>{% endif %}
    </div>

    <div class="section-content table-responsive">
        <table class="table table-striped table-bordered">
            <tbody>
            {% if lifecyclePeriod %}
                <tr>
                    <th>Status</th>
                    <td>{{ lifecyclePeriod.typeString }}</td>
                </tr>
                {% if asset.assetType == 'Truck' %}
                    <tr>
                        <th>Service Interval</th>
                        <td>{{ lifecyclePeriod.serviceInterval ? (lifecyclePeriod.serviceInterval ~  ' months') : 'None' }}</td>
                    </tr>

                    <tr>
                        <th>LOLER Interval</th>
                        <td>{{ lifecyclePeriod.lolerInterval ? (lifecyclePeriod.lolerInterval ~ ' months') : 'None' }}</td>
                    </tr>

                    <tr>
                        <th>Last Hours Recorded</th>
                        <td>{{  lifecyclePeriod.lastJobHoursRecorded | default ('--') }}</td>
                    </tr>
                    <tr>
                        <th>Last Service Date</th>
                        <td>{{ lifecyclePeriod.lastDateServiceJob ? lifecyclePeriod.lastDateServiceJob|date('d/m/Y H:i:s') : '--'  }}</td>
                    </tr>
                    <tr>
                        <th>Last LOLER Date</th>
                        <td>{{ lifecyclePeriod.lastDateLolerJob ? lifecyclePeriod.lastDateLolerJob|date('d/m/Y H:i:s') : '--'  }}</td>
                    </tr>
                {% endif %}

                {% if lifecyclePeriod.isPurchase %}
                    <tr>
                        <th>Purchased for</th>
                        <td>{{ lifecyclePeriod.salePrice ? ('£' ~ lifecyclePeriod.salePrice|number_format(2)) : '' }}</td>
                    </tr>
                    <tr>
                        <th>Purchased on</th>
                        <td>{{ lifecyclePeriod.start ? lifecyclePeriod.start|date("d/m/Y") : '--' }}</td>
                    </tr>
                {% endif %}

                {% if lifecyclePeriod.isContractHire %}
                    <tr>
                        <th>Residual Value</th>
                        <td>£{{ lifecyclePeriod.residualValue|number_format(2) }}</td>
                    </tr>

                    <tr>
                        <th>Hire start</th>
                        <td>{{ lifecyclePeriod.start ? lifecyclePeriod.start|date("d/m/Y") : '--' }}</td>
                    </tr>

                    <tr>
                        <th>Hire end</th>
                        <td>{{ lifecyclePeriod.end ? lifecyclePeriod.end|date("d/m/Y") : '--' }}</td>
                    </tr>

                    <tr>
                        <th>Monthly hire rate</th>
                        <td>£{{ lifecyclePeriod.hireRateMonthly|number_format(2) }}</td>
                    </tr>

                    <tr>
                        <th>Weekly hire rate</th>
                        <td>£{{ lifecyclePeriod.hireRateWeekly|number_format(2) }}</td>
                    </tr>

                    <tr>
                        <th>Underwriter</th>
                        <td>{{ lifecyclePeriod.underwriter | default('--') }}</td>
                    </tr>

                    <tr>
                        <th>Sale price</th>
                        <td>{{ lifecyclePeriod.salePrice ? ('£' ~ lifecyclePeriod.salePrice|number_format(2)) : '' }}</td>
                    </tr>
                {% endif %}

                {% if lifecyclePeriod.isCasualHire %}

                    {% if lifecyclePeriod.parentPeriod %}
                        <tr>
                            <th>Parent Status</th>
                            <td><a href="javascript:void();" onclick="selectPeriod({{ lifecyclePeriod.parentPeriod.id }});">{{ lifecyclePeriod.parentPeriod.description }}</a></td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Hire start</th>
                        <td>{{ lifecyclePeriod.start ? lifecyclePeriod.start|date("d/m/Y") : '--' }}</td>
                    </tr>

                    {% if lifecyclePeriod.end %}
                        <tr>
                            <th>Hire end</th>
                            <td>{{ lifecyclePeriod.end ? lifecyclePeriod.end|date("d/m/Y") : '--' }}</td>
                        </tr>
                    {% endif %}

                    {% if lifecyclePeriod.estimatedHireDuration %}
                        <tr>
                            <th>Estimated hire duration</th>
                            <td>{{ lifecyclePeriod.estimatedHireDuration|default('--') }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Monthly hire rate</th>
                        <td>£{{ lifecyclePeriod.hireRateMonthly|number_format(2) }}</td>
                    </tr>

                    <tr>
                        <th>Weekly hire rate</th>
                        <td>£{{ lifecyclePeriod.hireRateWeekly|number_format(2) }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
