{% if asset.images|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <div id="servicing-module_heading" class="section-header">
                    <h2>Images</h2>
                </div>
            <div class="image-section" style="padding-top: 10px;">
                {% for image in lifecyclePeriod.images %}
                    <div class="col-md-3 col-sm-4">
                        <a href="{{ image | get_image_url }}" class="fancybox thumbnail" data-fancybox-title="{{image.filename}}" data-fancybox-group="truck-image-group" rel="group">
                            <img id="img_{{loop.index}}" src="{{ image | get_image_url }}" class="img-responsive">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
