<div class="modal" id="return-asset-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="return-asset-form-modal-label"><span class="form-modal-title">{{ endPeriodLabel }}</span></h2>
            </div>
            <div class="modal-body">
                <div class="return-asset-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $returnAssetModal   = $('#return-asset-modal');
    var $returnAssetWrapper = $returnAssetModal.find('.return-asset-form-holder');
    var $returnAssetFooter  = $returnAssetModal.find('.modal-footer');

    $('#endLifecyclePeriod').on('click',  function(e) {
        $returnAssetModal.modal('show');
    });

    $returnAssetModal.on('hide.bs.modal', function (e) {
        $returnAssetWrapper.html('');
        $returnAssetModal.find('.modal-form-submit').remove();
    });

    $returnAssetModal.on('show.bs.modal', function (e) {
        returnAssetLoadForm(e);
    });

    function returnAssetLoadForm(e) {
        $('#return-asset-modal .modal-body').LoadingOverlay('show', { fade: 0 });

        $.get('{{ path('return_asset', { 'id': asset.id }) }}', function(data) {
            if (data.displayForm) {
                $('#return-asset-modal .modal-body').LoadingOverlay('hide');
                $returnAssetWrapper.html(data.html);
                $returnAssetModal.find('[autofocus]:first').focus();
                $returnAssetFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                returnAssetBindform();
            }
        });
    }

    function returnAssetBindform() {
        var $returnAssetform   = $returnAssetWrapper.find('form');
        var $returnAssetButton = $returnAssetFooter.find('.modal-form-submit');
        $returnAssetform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $returnAssetform.find('.datetimepicker').datetimepicker();

        $returnAssetButton.unbind('click');
        $returnAssetButton.click(function() {
            $returnAssetform.submit();
        });

        $returnAssetform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $returnAssetform) {
                $returnAssetButton.button('loading');
            },
            success: function(response, statusText, xhr, $returnAssetform) {
                if (response.displayForm) {
                    $returnAssetWrapper.html(response.html);
                    if ($returnAssetModal.find('.has-error')) {
                        $returnAssetModal.find('.has-error input:first').focus();
                    } else {
                        $returnAssetModal.find('[autofocus]:first').focus();
                    }
                    $returnAssetButton.button('reset');
                    returnAssetBindform();
                } else {
                    if(response.refresh) {
                        location.reload(true);
                        return;
                    }

                    if (response.url) {
                        location.href = response.url;
                        return;
                    }

                    $returnAssetModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the asset was not returned.');
                $returnAssetButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
