{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#return-main">Details</a></h4>
            </div>
            <div id="return-main" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.end) }}

                    {% if form.residualValue is defined %}{{ form_row(form.residualValue) }}{% endif %}
                    {% if form.tradeInValue is defined %}{{ form_row(form.tradeInValue) }}{% endif %}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
