<div class="modal" id="transfer-asset-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="transfer-asset-form-modal-label"><span class="form-modal-title">Transfer Asset</span></h2>
            </div>
            <div class="modal-body">
                <div class="transfer-asset-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $transferAssetModal   = $('#transfer-asset-modal');
    var $transferAssetWrapper = $transferAssetModal.find('.transfer-asset-form-holder');
    var $transferAssetFooter  = $transferAssetModal.find('.modal-footer');

    var isEdit;

    $('#transferAsset').on('click',  function(e) {
        isEdit = false;
        $transferAssetModal.modal('show');
    });

    $('#editStatus').on('click',  function(e) {
        isEdit = true;
        $transferAssetModal.modal('show');
    });

    $transferAssetModal.on('hide.bs.modal', function (e) {
        $transferAssetWrapper.html('');
        $transferAssetModal.find('.modal-form-submit').remove();
    });

    $transferAssetModal.on('show.bs.modal', function (e) {
        transferAssetLoadform(e);
    });

    function transferAssetLoadform(e) {
        var url;

        if (isEdit) {
            url = '{{ path('edit_asset_lifecycle_period', { 'id': lifecyclePeriod.id }) }}';
        } else {
            url = '{{ path('transfer_asset', { 'id': asset.id }) }}';
        }

        $.get(url, function(data) {
            if (data.displayForm) {
                $transferAssetWrapper.html(data.html);
                $transferAssetModal.find('[autofocus]:first').focus();
                $transferAssetFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                transferAssetBindform();
            }
        });
    }

    function transferAssetBindform() {
        var $transferAssetform   = $transferAssetWrapper.find('form');
        var $transferAssetButton = $transferAssetFooter.find('.modal-form-submit');
        $transferAssetform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $transferAssetform.find('.datetimepicker').datetimepicker();

        $transferAssetButton.unbind('click');
        $transferAssetButton.click(function() {
            $transferAssetform.submit();
        });

        $transferAssetform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $transferAssetform) {
                $transferAssetButton.button('loading');
            },
            success: function(response, statusText, xhr, $transferAssetform) {
                if (response.displayForm) {
                    $transferAssetWrapper.html(response.html);
                    if ($transferAssetModal.find('.has-error')) {
                        $transferAssetModal.find('.has-error input:first').focus();
                    } else {
                        $transferAssetModal.find('[autofocus]:first').focus();
                    }
                    $transferAssetButton.button('reset');
                    transferAssetBindform();
                } else {
                    if(response.refresh) {
                        location.reload(true);
                        return;
                    }

                    if (response.url) {
                        location.href = response.url;
                        return;
                    }

                    $transferAssetModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the asset was not transferred.');
                $transferAssetButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
