{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'id': 'transfer-asset-form', 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#transfer-main">Asset Transfer</a></h4>
            </div>
            <div id="transfer-main" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.customer) }}

                    {% if form.siteAddress is defined %}{{ form_row(form.siteAddress) }}{% endif %}
                    {% if form.clientFleet is defined %}{{ form_row(form.clientFleet) }}{% endif %}

                    {{ form_row(form.type) }}
                    {{ form_row(form.start) }}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#transfer-details">Transfer Details</a></h4>
            </div>
            <div id="transfer-details" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if form.estimatedHireDuration is defined %}
                        {{ form_row(form.estimatedHireDuration) }}
                        <div class="hidden-form-field">
                            {% if form.end is defined %}{{ form_row(form.end) }}{% endif %}
                        </div>
                    {% else %}
                        {% if form.contractHireDuration is defined %}{{ form_row(form.contractHireDuration) }}{% endif %}
                        {% if form.end is defined %}{{ form_row(form.end) }}{% endif %}
                    {% endif %}

                    {% if form.hireRateMonthly is defined %}{{ form_row(form.hireRateMonthly) }}{% endif %}
                    {% if form.hireRateWeekly is defined %}{{ form_row(form.hireRateWeekly) }}{% endif %}

                    {% if form.underwriter is defined %}{{ form_row(form.underwriter) }}{% endif %}

                    {% if form.salePrice is defined %}{{ form_row(form.salePrice) }}{% endif %}
                    {% if form.saleWarranty is defined %}{{ form_row(form.saleWarranty) }}{% endif %}

                    <div id="sale-warranty-details">
                        {% if form.saleWarrantyDuration is defined %}{{ form_row(form.saleWarrantyDuration) }}{% endif %}
                    </div>

                    {% if form.maintenanceContract is defined %}{{ form_row(form.maintenanceContract) }}{% endif %}

                    <div id="maintenance-details">
                        {% if form.maintenanceDuration is defined %}
                            {{ form_row(form.maintenanceDuration) }}{% endif %}
                        {% if form.maintenanceStartDate is defined %}{{ form_row(form.maintenanceStartDate) }}{% endif %}
                        {% if form.maintenanceRateMonthly is defined %}
                            {{ form_row(form.maintenanceRateWeekly) }}
                            {{ form_row(form.maintenanceRateMonthly) }}
                        {% endif %}
                        {% if form.maintenanceContract is defined and form.maintenanceRateMonthly is defined %}
                            {{ form_row(form.maintenanceRateWeekly) }}
                            {{ form_row(form.maintenanceRateMonthly) }}
                        {% endif %}
                        {% if form.maintenanceContract is defined and form.hoursPerAnnum is defined %}{{ form_row(form.hoursPerAnnum) }}{% endif %}
                    </div>

                    {% if form.maintenanceContract is not defined and form.maintenanceRateMonthly is defined %}
                        {{ form_row(form.maintenanceRateWeekly) }}
                        {{ form_row(form.maintenanceRateMonthly) }}
                    {% endif %}
                    {% if form.maintenanceContract is not defined and form.hoursPerAnnum is defined %}{{ form_row(form.hoursPerAnnum) }}{% endif %}

                    {% if form.residualValue is defined %}{{ form_row(form.residualValue) }}{% endif %}
                    {% if form.lolerInterval is defined %}{{ form_row(form.lolerInterval) }}{% endif %}
                    {% if form.serviceInterval is defined %}{{ form_row(form.serviceInterval) }}{% endif %}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    $(function() {
        var $form = $('#transfer-asset-form');

        function reloadForm(section) {
            var $section = $(section);

            $form.ajaxSubmit({
                url: '{{ reloadFormRoute }}',
                dataType: 'json',
                beforeSubmit: function(arr, $form) {
                    $section.LoadingOverlay('show', { fade: 0 });
                },
                success: function(response, statusText, xhr, $form) {
                    $section.LoadingOverlay('hide');

                    if (response.success) {
                        if (response.html) {
                            $section.replaceWith($(response.html).find(section));
                            $('.datepicker', $(section)).datetimepicker({pickTime: false });
                            bindReloads();
                            bindReveals();
                        }
                    } else {
                        growlError(response.error);
                    }
                },
                error: function() {
                    growlError('An error occurred. Please try again.');
                    $section.LoadingOverlay('hide');
                }
            });
        }

        function bindReloads() {
            $('#transfer_asset_customer').off('change');
            $('#transfer_asset_type').off('change');

            $('#transfer_asset_maintenanceRateWeek').off('keypress');
            $('#transfer_asset_maintenanceRate').off('keypress');

            $('#transfer_asset_customer').change(function() {
                reloadForm('#transfer-main');
            });

            $('#transfer_asset_type').change(function() {
                reloadForm('#transfer-details');

                if ($('#transfer_asset_type').val() == "3") { // Purchased
                    $('label[for="transfer_asset_start"]').html('Date sold');
                } else {
                    $('label[for="transfer_asset_start"]').html('Start date');
                }
            });

            $('#transfer_asset_maintenanceRateWeekly').keyup(function() {
                var monthlyValue = '';
                if ($.isNumeric(this.value)) {
                    monthlyValue = this.value * 52 / 12;
                    monthlyValue = monthlyValue.toFixed(2);
                }
                $('#transfer_asset_maintenanceRateMonthly').val(monthlyValue);
            });

            $('#transfer_asset_maintenanceRateMonthly').keyup(function() {
                var weeklyValue = '';
                if ($.isNumeric(this.value)) {
                    weeklyValue = this.value * 12 / 52;
                    weeklyValue = weeklyValue.toFixed(2);
                }
                $('#transfer_asset_maintenanceRateWeekly').val(weeklyValue);
            });

            $('#transfer_asset_hireRateWeekly').keyup(function() {
                var monthlyValue = '';
                if ($.isNumeric(this.value)) {
                    monthlyValue = this.value * 52 / 12;
                    monthlyValue = monthlyValue.toFixed(2);
                }
                $('#transfer_asset_hireRateMonthly').val(monthlyValue);
            });

            $('#transfer_asset_hireRateMonthly').keyup(function() {
                var weeklyValue = '';
                if ($.isNumeric(this.value)) {
                    weeklyValue = this.value * 12 / 52;
                    weeklyValue = weeklyValue.toFixed(2);
                }
                $('#transfer_asset_hireRateWeekly').val(weeklyValue);
            });

            var calculateEndDate = function(duration) {
                var startDate = $('#transfer_asset_start').data("DateTimePicker").getDate();
                if (!startDate) {
                    return;
                }
                startDate = startDate.format('YYYY-MM-DD');
                var match = startDate.match(/^(\d{4})-(\d{2})-(\d{2})$/);
                if(match === null) {
                    return;
                }
                if (!$.isNumeric(duration)) {
                    return;
                }

                var endDate = new Date(startDate);
                endDate.addMonths(duration);

                $('#transfer_asset_end').data('auto-set', true);
                $('#transfer_asset_end').data("DateTimePicker").setDate(endDate.getFullYear() + '-' + pad(endDate.getMonth() + 1, 2) + '-' + endDate.getDate());
            };

            $('#transfer_asset_estimatedHireDuration').keyup(function() {
                var duration = parseInt($('#transfer_asset_estimatedHireDuration').val());
                calculateEndDate(duration);
            });

            $('#transfer_asset_contractHireDuration').keyup(function() {
                var duration = parseInt($('#transfer_asset_contractHireDuration').val());
                calculateEndDate(duration);
            });

            $('#transfer_asset_start').change(function() {
                calculateEndDate();
            });

            $('#transfer_asset_end').change(function() {
                if ($('#transfer_asset_end').data('auto-set')) {
                    $('#transfer_asset_end').data('auto-set', false);
                    return;
                }

                if ($('#transfer_asset_estimatedHireDuration').length) {
                    $('#transfer_asset_estimatedHireDuration').val('');
                }

                if ($('#transfer_asset_contractHireDuration').length) {
                    $('#transfer_asset_contractHireDuration').val('');
                }
            });
        }

        bindReloads();
    });
</script>
