{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Asset Job History </h2>
            <h4>{{ asset.nameString }}</h4>

            {% if asset.lifecyclePeriods|length > 0 %}
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group well ">
                            <label for="period" class="control-label">Period</label>
                            <select name="period" id="period" class="form-control">
                                {% for lifecyclePeriod in asset.lifecyclePeriods %}
                                    <option value="{{ lifecyclePeriod.id }}"{% if lifecyclePeriod.id == period.id %} selected{% endif %}>{{ lifecyclePeriod.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="start_date_jobs">Start date</label>
                                <input type="text" class="form-control datepicker start_date"
                                       data-date-format="YYYY-MM-DD" id="start_date_jobs">
                            </div>
                            <div class="form-group">
                                <label for="end_date_jobs">End date</label>
                                <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD"
                                       id="end_date_jobs">
                            </div>

                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody id="truck-job-history-search-results"></tbody>
                                    </table>
                                </div>
                                <a href="#" class="btn btn-primary" id="truckJobHistory">Filter</a>
                            </div>
                        </form>
                    </div>
                </div>

            {% endif %}
            {% if message %}
                <div class="nothingWasFound"></div>
                <div style="color: darkred">{{  message }}</div>
            {% endif %}
            <hr>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Job Code</th>
                        <th>Customer</th>
                        <th>Site</th>
                        <th>Detail</th>
                        <th>Engineer</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Completed on</th>
                    </tr>

                    {%- for job in period.jobs %}
                        <tr>
                            <td><a href="{{ path('view_job', { 'id': job.id }) }}">{{ job.JobCode }}</a></td>
                            <td>{{ job.customerName }}</td>
                            <td>{{ job.siteAddress ? job.siteAddress.getAddressString : (period.customer ? period.customer.billingAddress.getAddressString : '--') }}</td>
                            <td>{{ job.detail|default('-') }}</td>
                            <td>{{ job.engineer.displayName|default('Unassigned') }}</td>
                            <td>{{ period.start ? period.start|date('d/m/Y') : '--' }}</td>
                            <td>{{ period.end ? period.end|date('d/m/Y') : '--' }}</td>
                            <td>{{ job.completedAt ? job.completedAt|date('d/m/Y') : '--' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center"><em>No job history.</em></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#period').change(function () {
                var id = $('#period').val();

                if (id != {{ period.id }}) {
                    window.location.href = '{{ path('get_asset_job_history_report', { id: asset.id }) }}/' + id;
                }
            });
        });


        $('#truckJobHistory').on('click', function () {
            var id = $('#period').val();
            var start = null;
            var end = $('#end_date_jobs').val();
            var lifecycle = null;

            if($('#start_date_jobs').val())
            {
                start = $('#start_date_jobs').val();
            }

            if ($('#job_history_search').val() == '') {
                $('#job_history_search').addClass('disallowedInput');
                $('#job_history_search').attr('placeholder', 'Enter truck details');
                return;
            }
            ;
            if (id === 0) {
                $('#job_history_search').parent().addClass('nothingWasFound');
                return;
            }
            ;

            var url = "{{ path('get_asset_job_history_report') }}/" + id + "/" + lifecycle + "/" + start + "/" + end;
            window.location.href = url;
        })
    </script>
{% endblock %}
