{% extends 'layout.html.twig' %}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{% set title = type|capitalize ~ 's' %}

{% block search_category %}truck{% endblock %}
{% block page_type %}asset{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block page_shortcuts %}{% include 'Truck/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">
                Assets

                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ title }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('active_assets', { type: 'truck' }) }}" >Trucks</a></li>
                            <li><a href="{{ path('active_assets', { type: 'attachment' }) }}" >Attachments</a></li>
                            <li><a href="{{ path('active_assets', { type: 'charger' }) }}" >Chargers</a></li>
                        </ul>
                    </div>

                    <a href="#" class="btn btn-primary" id="reset-filter">Reset Filter</a>

                    {% if canEdit %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                New <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a id="new-truck" href="#" class="new-item" data-type="Truck" data-route="{{ path('new_truck') }}?showCustomer=1">Truck</a></li>
                                <li><a id="new-attachment" href="#" class="new-item" data-type="Attachment" data-route="{{ path('new_truck_attachment') }}?showCustomer=1">Attachment</a></li>
                                <li><a id="new-charger" href="#" class="new-item" data-type="Charger" data-route="{{ path('new_truck_charger') }}?showCustomer=1">Charger</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </h1>

            <div class="ten-col waterfall" id="truck-filter">
                <div class="col-md-2">
                    <div class="panel panel-default panel-filter" data-type="customer" >
                        <div class="panel-heading"><h3 class="panel-title">Customer Name</h3></div>
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                        <div class="truck-col-container" data-column="1">
                            <div class="panel-body no-pad column" id="customer_name" data-column="1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default panel-filter" data-type="clientFleet" >
                        <div class="panel-heading"><h3 class="panel-title">Client Fleet</h3></div>
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                        <div class="truck-col-container" data-column="2">
                            <div class="panel-body no-pad column" id="client_fleet" data-column="2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default panel-filter" data-type="make" >
                        <div class="panel-heading"><h3 class="panel-title">Make</h3></div>
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                        <div class="truck-col-container" data-column="3">
                            <div class="panel-body no-pad column" id="make" data-column="3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default panel-filter" data-type="model" >
                        <div class="panel-heading"><h3 class="panel-title">Model</h3></div>
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                        <div class="truck-col-container" data-column="4">
                            <div class="panel-body no-pad column" id="model" data-column="4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default panel-filter" data-type="serial" >
                        <div class="panel-heading"><h3 class="panel-title">Serial Number</h3></div>
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                        <div class="truck-col-container" data-column="5">
                            <div class="panel-body no-pad column" id="serial_number" data-column="5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="particulars-holder"></div>

    {% if canEdit %}
        {% include '_formModal.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function() {
    $('.new-item').click(function(e) {
        e.preventDefault();

        var $ele = $(this);

        var type = $ele.data('type');
        var route = $ele.data('route');

        $modal.data('item-type', type);
        $('.modal-form-wrapper', $modal).data('new-route', route);

        newAction();
    });
});

var truckDataSet = {{ assets|json_encode|raw }};

var columns = {
    1: 'customer',
    2: 'flt',
    3: 'make',
    4: 'model',
    5: 'serial',
}

var actives = {
    customer: null,
    flt: null,
    make: null,
    model: null,
    serial: null,
};

$(function() {
    filterTrucks();
});

bindClicks = function() {
    $('.panel-item[data-column]').click(function() {
        if($(this).data('column') === 1){
            clearActives();
        }
        var $ele = $(this);
        $ele.addClass('active');
        var col = $ele.data('column');
        actives[columns[col]] = $ele.html();
        filterTrucks();
    });
};

outputTrucks = function(trucks) {
    var customers = [];
    var flts      = [];
    var makes     = [];
    var models    = [];
    var serials   = [];

    for (var i = 0; i < trucks.length; i++) {
        var truck = trucks[i];

        var cls = truck.periodType == 2 ? 'panel-casual-hire' : ''; // 2 = casual hire

        if (truck.parentCustomer && truck.parentCustomer !== "None") {
            customers.push(truck.customer, truck.parentCustomer);
        }else {
            customers.push(truck.customer);
        }

        flts.push(truck.flt);
        makes.push(truck.make);
        models.push(truck.model);
        serials.push({ id: truck.id, value: truck.serial, cls: cls });
    }

    customers = uniqueSorted(customers);
    flts      = uniqueSorted(flts);
    makes     = uniqueSorted(makes);
    models    = uniqueSorted(models);
    serials   = uniqueSorted(serials);

    outputColumn(1, customers);
    outputColumn(2, flts);
    outputColumn(3, makes);
    outputColumn(4, models);
    outputColumn(5, serials);

    bindClicks();

    if (trucks.length == 1) {
        loadParticulars(trucks[0]['id']);
    };
};

outputColumn = function(col, arr) {
    var $col = $('.column[data-column='+col+']');
    if ($col.length < 1) return;

    $col.empty();

    for (var i = 0; i < arr.length; i++) {
        var $ele = $('<div class="panel-item panel-link visible" data-column='+col+' data-row='+(i+1)+'></div>');
        if ($.isPlainObject(arr[i])) {
            $ele.html(arr[i].value);
            $ele.attr('data-id', arr[i].id);
            $ele.attr('data-name', arr[i].value);
            $ele.addClass('selectable-item');

            if (arr[i].cls) {
                $ele.addClass(arr[i].cls);
            }
        } else {
            $ele.html(arr[i]);
            $ele.attr('data-name', arr[i]);
        }

        $col.append($ele);
        setSelected('current');
    }
};

filterTrucks = function() {
    var activeDataset = truckDataSet;

    if (actives.customer) {
        activeDataset = activeDataset.filter(function(item) {
            return item.customer == actives.customer || item.parentCustomer == actives.customer;
        });
    }

    if (actives.flt) {
        activeDataset = activeDataset.filter(function(item) {
            return item.flt == actives.flt;
        });
    }

    if (actives.make) {
        activeDataset = activeDataset.filter(function(item) {
            return item.make == actives.make;
        });
    }

    if (actives.model) {
        activeDataset = activeDataset.filter(function(item) {
            return item.model == actives.model;
        });
    }

    if (actives.serial) {
        activeDataset = activeDataset.filter(function(item) {
            return item.serial == actives.serial;
        });
    }

    outputTrucks(activeDataset);
    buildColumnSearchArrays();
};

uniqueSorted = function(arr) {
    var sortedArr = arr.sort(function(a, b) {
        if (typeof a === 'string') {
            return a.localeCompare(b);
        } else if (typeof a === 'object' && a !== null) {
            var tmpA = a.value.toString();
            var tmpB = b.value.toString();

            return tmpA.localeCompare(tmpB);
        } else {
            return a-b;
        }
    });

    return $.grep(sortedArr,function(v,k){
        return $.inArray(v,sortedArr) === k;
    });
};

loadParticulars = function(id) {
    updateSelectedItem(id);

    $('#particulars-holder').empty();
    $('#particulars-holder').LoadingOverlay('show', { fade: 0 });

    $('#particulars-holder').load('{{ path('asset_particulars') }}/' + id, function(){
        $('#particulars-holder').LoadingOverlay('hide');
        {% if canEdit %}bindEdits();{% endif %}
    });

    $(document).on('keypress', null, 'e', function() {
        $('#editTruck').trigger('click');
    });
    $('.waterfall .truck-col-container .panel-body').css('height', 'auto');
}

$('#reset-filter').on('click', function(){
    clearActives();
    filterTrucks();
    updateSelectedItem(null);
    $('#particulars-holder').empty();
    $('.waterfall .truck-col-container .panel-body').css('height', '');
})

clearActives = function() {
    actives = {
        customer: null,
        flt: null,
        make: null,
        model: null,
        serial: null,
    };
}

</script>
{% endblock %}
