{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{% block title %}Asset Register{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">
                Asset Register
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="new-truck" href="#" class="new-item" data-type="Truck" data-route="{{ path('new_truck') }}">Truck</a></li>
                        <li><a id="new-attachment" href="#" class="new-item" data-type="Attachment" data-route="{{ path('new_truck_attachment') }}">Attachment</a></li>
                        <li><a id="new-charger" href="#" class="new-item" data-type="Charger" data-route="{{ path('new_truck_charger') }}">Charger</a></li>
                    </ul>
                </div>
            </h1>

            <div class="waterfall" id="truck-filter">
                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-default panel-filter" data-type="truck" data-edit-route="{{ path('edit_truck') }}" data-route="{{ path('asset_particulars', {id: '__ID__'}) }}">
                        <div class="panel-heading"><h3 class="panel-title">Trucks</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="truck">
                                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>

                                {% for truck in trucks %}
                                <div class="panel-item panel-link{% if truck.isCasualHire %} panel-casual-hire{% endif %}" data-column=1 data-row={{ loop.index }} data-type="truck" data-id="{{ truck.id }}" data-name="{{ truck.nameString }}">
                                    {{ truck.nameString }} {{ truck.yearOfManufacture ? ', ' ~ truck.yearOfManufacture : '' }}
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-default panel-filter" data-type="attachment" data-edit-route="{{ path('edit_truck_attachment') }}" data-route="{{ path('asset_particulars', {id: '__ID__'}) }}">
                        <div class="panel-heading"><h3 class="panel-title">Attachments</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="attachment">
                                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>

                                {% for attachment in attachments %}
                                <div class="panel-item panel-link{% if attachment.isCasualHire %} panel-casual-hire{% endif %}" data-column=1 data-row={{ loop.index }} data-type="attachment" data-id="{{ attachment.id }}" data-name="{{ attachment.nameString }}">
                                    {{ attachment.nameString }} {{ attachment.yearOfManufacture ? ', ' ~ attachment.yearOfManufacture : '' }}
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-default panel-filter" data-type="charger" data-edit-route="{{ path('edit_truck_charger') }}" data-route="{{ path('asset_particulars', {id: '__ID__'}) }}">
                        <div class="panel-heading"><h3 class="panel-title">Chargers</h3></div>
                        <div class="truck-col-container">
                            <div class="panel-body no-pad" id="charger">
                                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>

                                {% for charger in chargers %}
                                <div class="panel-item panel-link{% if charger.isCasualHire %} panel-casual-hire{% endif %}" data-column=1 data-row={{ loop.index }} data-type="charger" data-id="{{ charger.id }}" data-name="{{ charger.nameString }}">
                                    {{ charger.nameString }}
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="particulars-holder"></div>

    {% include '_formModal.html.twig' %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>

<script type="text/javascript">
    $(function() {
        $('.new-item').click(function(e) {
            e.preventDefault();

            var $ele = $(this);

            var type = $ele.data('type');
            var route = $ele.data('route');

            $modal.data('item-type', type);
            $('.modal-form-wrapper', $modal).data('new-route', route);

            newAction();
        });
    });

    $('.panel-link').on('click', function(e){
        e.preventDefault();
        $ele = $(this);

        $('.panel-link').removeClass('selected');
        $ele.addClass('selected');

        var editRoute = $ele.closest('.panel[data-edit-route]').data('editRoute');
        var route = $ele.closest('.panel[data-route]').data('route');
        var id = $ele.data('id');

        route = route.replace('__ID__', id);

        $('#particulars-holder').empty();
        $('#particulars-holder').LoadingOverlay('show', { fade: 0 });

        $('#particulars-holder').load(route, function() {
            $('#particulars-holder').LoadingOverlay('hide');
            {% if canEdit %}bindEdits();{% endif %}
        });
    });
</script>

{% endblock %}
