{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Truck Maintenance Report</h2>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Customer <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for customer in customers %}
                        <li>
                            <a href="{{ path('asset_maintenance_report', { customer: customer['customer'] }) }}">{{ customer['customer'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{ path('asset_maintenance_report') }}" class="btn btn-primary" id="reset-filter">Reset Filter</a>
            <hr>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Truck</th>
                        <th>Customer</th>
                        <th>Maintenance Contract Balance</th>
                    </tr>
                    {% set mcbTotal = 0 %}
                    {% for asset in assets %}
                        {% set mcbTotal =  mcbTotal + asset['mcb'] %}
                        <tr>
                            <td>
                                <a href="{{ path('view_asset', { 'id': asset['truckId'] }) }}">{{ asset['truckId'] }}</a>
                            </td>
                            <td>{{ asset['customer'] }}</td>
                            <td>{{ asset['mcb'] }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><b>Total</b></td>
                        <td>{{ mcbTotal }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
