{% set canEdit = canEdit ?? false %}
{% set currentPeriod = asset.currentLifecyclePeriod %}
{% set lifecyclePeriod = period|default(currentPeriod) %}

{% set canTransfer =    (not currentPeriod or lifecyclePeriod == currentPeriod)
                        and ((not currentPeriod.customer or not currentPeriod.parentPeriod) or (currentPeriod.customer and currentPeriod.customer.isDefault))
                        and asset.currentLifecyclePeriod.type != '2' %}

{% set canReturn = currentPeriod and currentPeriod.customer and not currentPeriod.customer.isDefault and lifecyclePeriod == currentPeriod %}

<div id="asset-particulars">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">{{ asset.assetType }} Particulars - {{ asset.nameString }}</h2>

            {% if canEdit %}
                <div class="particulars-actions">
                    <a class="btn btn-primary" href="{{ path('view_asset', { id: asset.id }) }}" style="margin-right: 5px;">View</a>
                    <a id="edit-asset" class="btn btn-primary" data-type="{{ asset.assetType }}" data-edit-url="{{ path(asset.editRoute, asset.editParams) }}" data-edit-id="{{ asset.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" id="newJob" href="#">Create Job</a>
                    <a class="btn btn-primary" href="{{ path('get_asset_job_history_report', { 'id': asset.id, 'lifecyclePeriodId': lifecyclePeriod.id }) }}">Job History</a>

                    {% if canTransfer and not attachedToTruck %}
                        <a href="javascript:void(0);" class="btn btn-primary" id="transferAsset">
                            {% if not lifecyclePeriod.customer or lifecyclePeriod.customer.isDefault %}Transfer Asset{% else %}Casual Hire{% endif %}
                        </a>
                    {% endif %}

                    {% if canReturn %}
                        {% set endPeriodLabel = 'Return' %}
                        {% if lifecyclePeriod.isContractHire %}{% set endPeriodLabel = 'Buyback' %}{% endif %}
                        {% if lifecyclePeriod.isCasualHire %}{% set endPeriodLabel = 'De-Hire' %}{% endif %}
                        {% if lifecyclePeriod.isPurchase %}{% set endPeriodLabel = 'Trade In' %}{% endif %}

                        <a class="btn btn-primary" id="endLifecyclePeriod">{{ endPeriodLabel }}</a>
                    {% endif %}

                    {% block assetActions %}{% endblock %}

                    {% if asset.lifecyclePeriods|length > 1 %}
                        <div class="pull-right">
                            <select name="period" id="period" class="form-control">
                                {% for p in asset.lifecyclePeriods %}
                                    <option data-route="{{ path('asset_particulars', { id: asset.id, lifecyclePeriodId: p.id }) }}" value="{{ p.id }}"{% if lifecyclePeriod.id == p.id %} selected{% endif %}>{{ p.description }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="clearfix"></div>
                    {% endif %}

                    {% if attachedToTruck %}
                        This attachment (or charger) is pinned to a truck (truck details <a href="{{ path('view_asset', { id: attachedToTruck.id }) }}">here</a>)
                    {% endif %}
                </div>

                <hr>
            {% endif %}

            {% include 'Asset/_particularsCustomer.html.twig' %}

            <div id="misc-section" class="information-section col-md-4 col-sm-12">
                {% include '_itemMisc.html.twig' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="spacer"></div>
            <div class="table-responsive col-md-6 col-sm-12">
                <div id="particulars-module_heading" class="section-header">
                    <h2>{{ asset.assetType }} Specification</h2>
                </div>
                <table class="table table-striped table-bordered">
                    <tbody>
                        {% block assetSpec %}{% endblock %}
                    </tbody>
                </table>
            </div>

            {% include 'Asset/_particularsStatus.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="spacer"></div>
            <div id="servicing-section" class="information-section col-md-6 col-sm-12">
                <div id="servicing-module_heading" class="section-header">
                    <h2>Maintenance Information</h2>
                </div>

                <div class="section-content table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            {% if lifecyclePeriod %}
                                {% if lifecyclePeriod.maintenanceStartDate %}
                                    <tr>
                                        <th>Maintenance Start Date</th>
                                        <td>{{ lifecyclePeriod.maintenanceStartDate |date("d/m/Y")  | default('--') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Maintenance End Date</th>
                                        <td>{{ lifecyclePeriod.maintenanceEndDate |date("d/m/Y")  | default('--') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Maintenance Rate Weekly</th>
                                        <td>£{{ lifecyclePeriod.maintenanceRateWeekly|default(0) }}</td>
                                    </tr>
                                    <tr>
                                        <th>Maintenance Rate Monthly</th>
                                        <td>£{{ lifecyclePeriod.maintenanceRateMonthly|default(0) }}</td>
                                    </tr>
                                    <tr>
                                        <th>Maintenance Contract Revenue</th>
                                        <td>£{{ lifecyclePeriod.getMaintenanceContractRevenue|default(0) }}</td>
                                    </tr>
                                {% endif %}
                                    <tr>
                                        <th>Chargeable Jobs Revenue</th>
                                        <td>{{ lifecyclePeriod.chargeableJobsRevenue ? ('£' ~ lifecyclePeriod.chargeableJobsRevenue|number_format(2)) : '--' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Chargeable Jobs Profit</th>
                                        <td>{{ lifecyclePeriod.chargeableJobsProfit ? ('£' ~ lifecyclePeriod.chargeableJobsProfit|number_format(2)) : '--' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Non-Chargeable Jobs</th>
                                        <td>{{ lifecyclePeriod.notChargeableJobsRevenue ? ('£' ~ lifecyclePeriod.notChargeableJobsRevenue|number_format(2)) : '--' }}</td>
                                    </tr>
                                {% if lifecyclePeriod.maintenanceStartDate %}
                                    <tr>
                                        <th>Maintenance Contract Balance</th>
                                        <td>{{ lifecyclePeriod.maintenanceContractBalance ? ('£' ~ lifecyclePeriod.maintenanceContractBalance|number_format(2)) : '--' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Overall Maintenance Profit</th>
                                        <td>{{ lifecyclePeriod.overallMaintenanceProfit ? ('£' ~ lifecyclePeriod.overallMaintenanceProfit|number_format(2)) : '--' }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}

                            {% block assetMaintenance %}{% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% include 'Asset/_particularsNotes.html.twig' %}
        </div>
    </div>

    {% include 'Asset/_particularsMaintenances.html.twig' %}
    {% include 'Asset/_particularsImages.html.twig' %}

    {% if canEdit %}
        {% include 'Asset/_newJobModal.html.twig' %}
        {% include 'Asset/_newNoteModal.html.twig' %}
        {% include 'Asset/_newMaintenanceModal.html.twig' %}
        {% include 'Asset/_transferModal.html.twig' %}
        {% if canReturn %}{% include 'Asset/_returnModal.html.twig' %}{% endif %}

        {% block modals %}{% endblock %}
    {% endif %}

    <script type="text/javascript">
        function selectPeriod(id) {
            var $opt = $('#period option[value="' + id + '"]');

            if ($opt.length) {
                $('#period').val(id);
                $('#period').trigger('change');
            }
        }

        $('#period').change(function() {
            var $opt = $(this).find('option:selected');

            $('#particulars-holder').empty();
            $('#particulars-holder').LoadingOverlay('show', { fade: 0 });

            var route = $opt.data('route');

            $('#particulars-holder').load(route, function() {
                $('#particulars-holder').LoadingOverlay('hide');
                {% if canEdit %}bindEdits();{% endif %}
            });
        });
    </script>
</div>
