{% extends 'layout.html.twig' %}

{% block search_category %}maintenance{% endblock %}
{% block page_type %}maintenance{% endblock %}
{% block title %}Maintenance{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-contact icomoon-inline"></span>Maintenance Task </h1>
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ maintenance.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_maintenance') }}/{{ maintenance.id }}" href="#">Delete</a>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Detail:</dt>
                            <dd>{{ maintenance.detail | default('--') }}</dd>

                            <dt>Amount:</dt>
                            <dd>{{ '£' ~ maintenance.amount | default('--') }}</dd>

                            <dt>Date:</dt>
                            <dd>{{ maintenance.date | date("d/m/Y H:i:s") | default('--') }}</dd>

                            {% if maintenance.assetLifecyclePeriod and maintenance.assetLifecyclePeriod.asset %}
                                <dt>Asset:</dt>
                                <dd><a href="{{ path('view_asset', {'id': maintenance.assetLifecyclePeriod.asset.id }) }}">{{ maintenance.assetLifecyclePeriod.asset.nameString | default('--') }}</a></dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'maintenance', modalTitle: 'Truck Maintenance', modalEditRoute: path('edit_maintenance') } %}
{% endblock %}


