{% extends 'layout.html.twig' %}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{% block search_category asset.searchCategory %}
{% block page_type asset.searchCategory %}
{% block title %}{{ asset.id }}{% endblock %}
{% block page_shortcuts %}{% if asset.assetType == 'Truck' %}{% include 'Truck/_shortcuts.html.twig' %}{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-truck icomoon-inline"></span>{{ asset.nameString }}</h1>
                <div class="pull-right item-actions">
                    {% if canEdit %}
                        <a class="btn btn-primary" href="{{ path('asset_maintenance_report', { 'id': asset.id }) }}">Maintenance Report</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_asset') }}/{{ asset.id }}" href="#">Delete</a>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>

            <div id="particulars-holder">
                {{ render(controller('App\\Controller\\AssetController::particularsAction', { id: asset.id })) }}
            </div>

        </div>
    </div>

    {% if canEdit %}
        {% include '_formModal.html.twig' with { modalType: asset.assetType, modalNewRoute: path(asset.newRoute), modalEditRoute: path(asset.editRoute, asset.editParams) } %}
    {% endif %}
{% endblock %}
