<div class="col-md-3">
    <div class="panel panel-default panel-filter" data-type="lead" >
        <div class="panel-heading"><h3 class="panel-title">{{ panelTitle }}</h3></div>
        <div class="lead-col-container">
            <div class="panel-body no-pad" id="{{ panelTitle|lower|replace({" " : "_"}) }}">
                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="{ panelTitle|lower|replace({" " : "_"}) }}_filter"></input>
                {% if leads[panelNumber]|default(null)|length > 0 %}
                    {% for lead in leads[panelNumber] %}
                        {% set priorityData = priorities[lead[0].id]|default(null) %}
                        <div class="panel-item panel-link priority-{{ priorityData.priorityName|default('normal') }}" data-column={{ panelNumber }} data-row={{ loop.index }} data-priority={{ priorityData.priority|default(1) }}{% if priorityData.priorityReason|default(null) %} data-toggle="tooltip" title="{{ priorityData.priorityReason }}"{% endif %} data-id={{ lead[0].id }} data-name="{{ lead[0].customer.name }}">
                            {{ lead[0].customerName }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
