<h3>Lead Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search leads:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new lead:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit lead:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
