{% extends 'layout.html.twig' %}

{% block search_category %}lead{% endblock %}
{% block page_type %}lead{% endblock %}
{% block title %}{{ lead.description }}{% endblock %}
{% block page_shortcuts %}{% include 'Lead/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="top">
                <h1><span class="icomoon-lead icomoon-inline"></span>{{ lead.description }}</h1>
                <div class="pull-right item-actions">
                    {% if not lead.customer.isActive %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal"
                           data-message="Confirm lead was successful."
                           data-href="{{ path('convert_successful_lead') }}/{{ lead.id }}" href="#">Successful lead</a>
                    {% endif %}
                    <a class="btn btn-primary" data-edit-id="{{ lead.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal"
                       data-href="{{ path('delete_lead') }}/{{ lead.id }}" href="#">Delete</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Main Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Lead:</dt>
                            <dd>{{ lead.id | default('--') }}</dd>

                            <dt>Customer:</dt>
                            <dd>{{ lead.customer.name | default('--') }}</dd>

                            <dt>User:</dt>
                            <dd>{{ lead.user.displayName | default('--') }}</dd>

                            <dt>Type:</dt>
                            <dd>{{ lead.type | default('--') }}</dd>

                            <dt>Value:</dt>
                            <dd>{{ lead.value | default('--') }}</dd>

                            {% if lead.customer.billingAddress %}
                                <dt>Address:</dt>
                                <dd>{{ lead.customer.billingAddress.addressString | default('--') }}</dd>
                                <dd><a href="#" class="site-address" data-toggle="popover" title="Google Maps"
                                       data-content=""
                                       data-postcode="{{ lead.customer.billingAddress.addressString | default('') }}">View
                                        Map</a></dd>
                            {% endif %}

                            <dt>Type:</dt>
                            <dd>{{ lead.type | default('--') }}</dd>

                            <dt>Summary:</dt>
                            <dd>{{ lead.summary | default('--') }}</dd>

                            <dt>Value:</dt>
                            <dd>{{ lead.value | default('--') }}</dd>

                            <dt>Received Date:</dt>
                            <dd>{{ lead.receivedDate ? lead.receivedDate | date("d/m/Y") : 'No date saved.' }}</dd>

                            <dt>Source:</dt>
                            <dd>{{ lead.source ? lead.source.name | default('--') : '--' }}</dd>

                            <dt>Priority:</dt>
                            <dd>{{ lead.priority | default('--') }}</dd>

                            <dt>Status:</dt>
                            <dd>{{ lead.status | default('--') }}</dd>

                            {% if lead.futureTarget %}
                                <dt>Future target:</dt>
                                <dd>Yes</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="row particulars-section">
        <div class="col-md-12">
            <h3 class="page-title">
                Notes
                <a class="btn btn-success btn-xs pull-right" href="#" id="newNote">New</a>
            </h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Reason</th>
                        <th>Detail</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for note in lead.notes %}
                    <tr>
                        {% if note.reason is defined %}
                            <td><a href="{{ path('view_note', { 'id': note.id }) }}">{{ note.reason }}</a></td>
                            <td>{{ note.detail }}</td>
                        {% else %}
                            <td></td>
                            <td><a href="{{ path('view_note', { 'id': note.id }) }}">{{ note.detail }}</a></td>
                        {% endif %}
                        <td>{{ note.date ? note.date|date('M j, Y') : 'No date saved.' }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">None</td>
                        </tr>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row particulars-section">
        <div class="col-md-12">
            <h3 class="page-title">
                Reminders
                <a class="btn btn-success btn-xs pull-right" href="#" id="newReminder">New</a>
            </h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th>Type</th>
                        <th>Detail</th>
                        <th>Reminder date</th>
                    </tr>
                    {% for reminder in lead.reminders %}
                        <tr>
                            <td><a href="{{ path('view_reminder', { 'id' : reminder.id}) }}">{{ reminder.type }}</a>
                            </td>
                            <td>{{ reminder.detail }}</td>
                            <td>{{ reminder.date | display_date_format }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">None</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row particulars-section">
        <div class="col-md-12">
            <h3 class="page-title">
                Contacts
                <a class="btn btn-success btn-xs pull-right" href="#" id="newContact">New</a>
            </h3>
            <ul>
                {% for contact in lead.contacts %}
                    <li>{{ contact.contactString }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'lead', modalTitle: 'lead', modalNewRoute: path('new_lead'), modalEditRoute: path('edit_lead') } %}
    {% include 'Lead/_newNoteModal.html.twig' %}
    {% include 'Lead/_newContactModal.html.twig' %}
    {% include 'Lead/_newReminderModal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var getMap = function (opts) {
            var src = "http://maps.googleapis.com/maps/api/staticmap?",
                params = $.extend({
                    center: 'Tamar Street, Belfast, United Kingdom',
                    zoom: 14,
                    size: '256x256',
                    maptype: 'roadmap',
                    sensor: false
                }, opts),
                query = [];

            params.markers = params.center;

            $.each(params, function (k, v) {
                query.push(k + '=' + encodeURIComponent(v));
            });

            src += query.join('&');
            return '<a href="https://www.google.co.uk/maps/place/' + opts['center'] + '" target="_blank"><img src="' + src + '" /></a>';
        }

        $('.site-address').on('click', function (e) {
            $ele = $(this);
            mapCenter = $ele.data('postcode');
            if (mapCenter == "") mapCenter = 'BT4 1HS';
            var content = getMap({center: mapCenter});
            $ele.popover({
                html: true,
                content: content,
                placement: 'right',
                template: '<div class="popover site-map" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
            });
        })

    </script>
{% endblock %}
