<h3>Future Targer Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search future targets:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit future target:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
