{% extends 'layout.html.twig' %}

{% block search_category %}lead{% endblock %}
{% block page_type %}futureTarget{% endblock %}
{% block title %}Future Targets{% endblock %}
{% block page_shortcuts %}{% include 'FutureTarget/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">
                <span class="pull-left">Future Targets</span>
                <div class="col-md-3">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <select class="form-control custom-selector" id="user_selector">
                            <option value="null">Show all leads</option>
                            {% for user in leadOwners %}
                                <option value="{{ user.id }}">{{ user.displayName }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            <div class="clearfix"></div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="waterfall col-md-12" id="future-target-filter">
            <div class="col-md-2" >
                <div class="panel panel-default panel-filter" data-type="thisMonth" id="this_month">
                    <div class="panel-heading"><h3 class="panel-title">This month</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="this_month">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in futureTargets['thisMonth'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="futureTarget" data-id="{{ reminder.lead.id | default('null')}}" data-name="{{ reminder.lead.customer.name }}">
                                    {{ reminder.lead.id | default('Unassigned') }} - {{ reminder.lead.customer.name | default('Unassigned') }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="panel panel-default panel-filter" data-type="nextSixMonths" id="next_6_months">
                    <div class="panel-heading"><h3 class="panel-title">Next 6 months</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="next_6_months">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in futureTargets['nextSixMonths'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="futureTarget" data-id="{{ reminder.lead.id | default('null')}}" data-name="{{ reminder.lead.customer.name }}">
                                    {{ reminder.lead.id | default('Unassigned') }} - {{ reminder.lead.customer.name | default('Unassigned') }}
                                </div>
                            {% endfor %}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="panel panel-default panel-filter" data-type="thisYear" id="this_year">
                    <div class="panel-heading"><h3 class="panel-title">This Year</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="this_year">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in futureTargets['thisYear'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="futureTarget" data-id="{{ reminder.lead.id | default('null')}}" data-name="{{ reminder.lead.customer.name }}">
                                    {{ reminder.lead.id | default('Unassigned') }} - {{ reminder.lead.customer.name | default('Unassigned') }}
                                </div>
                            {% endfor %}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="panel panel-default panel-filter" data-type="longRange" id="longer_range" >
                    <div class="panel-heading"><h3 class="panel-title">Longer Range</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="longer_range">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in futureTargets['longRange'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="futureTarget" data-id="{{ reminder.lead.id | default('null')}}" data-name="{{ reminder.lead.customer.name }}">
                                    {{ reminder.lead.id | default('Unassigned') }} - {{ reminder.lead.customer.name | default('Unassigned') }}
                                </div>
                            {% endfor %}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="panel panel-default panel-filter" data-type="noReminder" id="no_reminder">
                    <div class="panel-heading"><h3 class="panel-title">No Reminder</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="no_reminder">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for target in futureTargets['noReminder'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="futureTarget" data-id="{{ target.id | default('null')}}" data-name="{{ target.customer.name }}">
                                    {{ target.id | default('Unassigned') }} - {{ target.customer.name | default('Unassigned') }}
                                </div>
                            {% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12" id="future-target-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'lead', modalTitle: 'Lead', modalNewRoute: path('new_lead'), modalEditRoute: path('edit_lead') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function(){
    userId = '{{ userId }}'
    if (userId) {
        $('#user_selector option').filter(function() {
            return ($(this).val() == userId);
        }).prop('selected', true);
    };
})

$('#user_selector').on('change', function(){
    var userId = $('#user_selector').find(':selected').val();

    if (userId == 'null') {
        var url    = "{{ path('list_futuretargets') }}";
    } else {
        var url    = "{{ path('list_futuretargets') }}/" + userId;
    }

    window.location.href = url;
    return false;
})


$('.panel-item.panel-link').off('click');

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');
    $('.panel-item.panel-link').css('background-color', '#ffffff');
    $ele.css('background-color', '#e7e7e7');
    $ele.addClass('active');
    $ele.addClass('selected');
    var leadId = $ele.data('id');

    if(leadId) {
        var url = "{{ path('view_lead') }}/" + leadId;
        window.location.href = url;
    }
 });

</script>
{% endblock %}

