{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
            <div id="imagesForm" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            </a>
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#images" id="job_form_images_header">Images</a></h4>
                        </div>
                        <div id="images" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-inline form-group" id="new-images"></div>
                                <a href="#" class="btn btn-primary" id="addNewImage">Add new</a>

                                {% macro displayImage(imageForm) %}
                                    {% if imageForm.vars.value.filename|default(null) %} {# this is an existing image #}

                                    {% else %} {# this is a "new" image #}
                                        {{ form_widget(imageForm.image) }}
                                        <div class="img-remove" style="display:inline-block;"></div>
                                    {% endif %}
                                {% endmacro %}
                                {% import _self as imageCollection %}

                                <div class="images" id="job-images" data-prototype="{{ imageCollection.displayImage(form.images.vars.prototype)|e }}">
                                    {% if form.images|length > 0 %}<hr>{% endif %}
                                    <div class="row">
                                        {% for image in form.images %}
                                            {{ imageCollection.displayImage(image) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden-form-field">
                {{ form_rest(form) }}
            </div>
    {{ form_end(form) }}
</div>
<script type="text/javascript">
var $imageCollectionHolder = $('div.images');
var imagesCount            = {{ form.images|length }} ;
var imagesIndex            = imagesCount - 1;
var formImagesIndex        = 0;

$imageCollectionHolder.find('div.image-item').each(function() {
    $ele = $(this);
    imageAddDeleteLink($('.img-remove', $ele));
    formImagesIndex++;
});

$('#addNewImage').click(function(e) {
    e.preventDefault();
    if ($('.new-image > input:file').filter(function() { return this.value == "" }).length > 0) {
        return;
    }

    imagesCount++;
    imagesIndex++;

    var imageNewItem = $imageCollectionHolder.data('prototype');
    imageNewItem     = imageNewItem.replace(/__name__/g, imagesIndex);
    var $imageDiv    = $('<div class="new-image image-item"></div>').html(imageNewItem);

    $('#new-images').append($imageDiv);

    imageAddDeleteLink($imageDiv);

    $('#job_images_form_images_'+imagesIndex+'_image').trigger('click');
});

function imageAddDeleteLink($div) {
    var $removeLink = $('<a href="#" class="btn btn-danger btn-xs pull-right">Remove</a>');
    $removeLink.appendTo($div);
    $removeLink.on('click', function(e) {
        e.preventDefault();
        $div.closest('.image-item').remove();
        imagesCount--;
    });
}

$('form').on('submit', function(){
    if ($('.new-image > input:file').filter(function() { return this.value == "" }).length > 0) {
        $('.new-image > input:file').parent().remove();
    }
})

</script>
