<div class="modal" id="add-image-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="add-image-form-modal-label"><span class="form-modal-title">Add images to job {{ job.id }}</span></h2>
            </div>
            <div class="modal-body">
                <div class="add-image-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $addImageModal   = $('#add-image-modal');
    var $addImageWrapper = $addImageModal.find('.add-image-form-holder');
    var $addImageFooter  = $addImageModal.find('.modal-footer');
    var reloadPage       = false;

    $addImageModal.on('hide.bs.modal', function (e) {
        $addImageWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $addImageModal.find('.modal-form-submit').remove();
    });

    $addImageModal.on('show.bs.modal', function (e) {
        addImageLoadform(e);
    });

    function addImageLoadform(e) {
        $.get('{{ path('job_add_image', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $addImageWrapper.html(data.html);
                $addImageModal.find('[autofocus]:first').focus();
                $addImageFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                addImageBindForm();
            }
        });
    }

    function addImageBindForm() {
        var $form   = $addImageWrapper.find('form');
        var $button = $addImageFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $addImageWrapper.html(response.html);
                    $addImageModal.find('[autofocus]:first').focus();
                    addImageBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $addImageModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the image was not assigned to the job.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
