<div class="modal" id="assign-engineer-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="assign-engineer-form-modal-label"><span class="form-modal-title">Assign Engineer</span></h2>
            </div>
            <div class="modal-body">
                <div class="assign-engineer-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $engineerModal   = $('#assign-engineer-modal');
    var $engineerWrapper = $engineerModal.find('.assign-engineer-form-holder');
    var $engineerFooter  = $engineerModal.find('.modal-footer');
    var reloadPage       = false;
    let url = new URL(window.location.href);

    if (url.searchParams.get('assign')) {
        engineerLoadform();
        $engineerModal.modal('show');
    }

    $engineerModal.on('hide.bs.modal', function (e) {
        if (url.searchParams.get('assign')) {
            url.searchParams.delete('assign')
            window.location = url.href
        }
        $engineerWrapper.html('');

        if (reloadPage) {
            location = url.href;
        }

        $engineerModal.find('.modal-form-submit').remove();
    });

    $engineerModal.on('show.bs.modal', function (e) {
        engineerLoadform(e);
    });


    function engineerLoadform() {
        $.get('{{ path('assign_engineer_to_job', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $engineerWrapper.html(data.html);
                $engineerModal.find('[autofocus]:first').focus();
                $engineerFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                engineerBindForm();
            }
        });
    }

    function engineerBindForm() {
        var $form   = $engineerWrapper.find('form');
        var $button = $engineerFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $engineerWrapper.html(response.html);
                    $engineerModal.find('[autofocus]:first').focus();
                    engineerBindForm();
                } else {
                    if(response.refresh) {
                        url.searchParams.delete('assign')
                        reloadPage = true;
                    }
                    $engineerModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
