<div class="modal" id="assign-stock-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="assign-stock-form-modal-label"><span class="form-modal-title">Assign stock to job</span></h2>
            </div>
            <div class="modal-body">
                <div class="assign-stock-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $assignStockModal   = $('#assign-stock-modal');
    var $assignStockWrapper = $assignStockModal.find('.assign-stock-form-holder');
    var $assignStockFooter  = $assignStockModal.find('.modal-footer');
    var reloadPage = false;

    $assignStockModal.on('hide.bs.modal', function (e) {
        $assignStockWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $assignStockModal.find('.modal-form-submit').remove();
    });

    $assignStockModal.on('show.bs.modal', function (e) {
        assignStockLoadform(e);
    });

    function assignStockLoadform(e) {
        $.get('{{ path('job_assign_stock', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $assignStockWrapper.html(data.html);
                $assignStockModal.find('[autofocus]:first').focus();
                $assignStockFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                assignStockBindForm();
            }
        });
    }

    function assignStockBindForm() {
        var $form   = $assignStockWrapper.find('form');
        var $button = $assignStockFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.button('reset');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $assignStockWrapper.html(response.html);
                    $assignStockModal.find('[autofocus]:first').focus();
                    assignStockBindForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }
                    $assignStockModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
