{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default" id="stockItems">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#stockItemForm">Job {{job.id }}</a></h4>
            </div>
            <div id="stockItemForm" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="stockItems" data-prototype="{{ form_widget(form.attachedStock.vars.prototype)|e }}">
                        {% for attachedStock in form.attachedStock %}
                            <div class="stock-item">
                                {{ form_errors(attachedStock) }}
                                {{ form_widget(attachedStock) }}
                            </div>
                        {% endfor %}
                    </div>

                    <div id="search-wrapper" class="h2">
                        <span class="pull-left">
                            <span class="bg-primary" id="search-category">Search items</span> /
                        </span>
                        <span id="search-input-wrapper">
                            <input autofocus autocomplete="off" spellcheck="false" type="text" class="search" name="_search" id="_search">
                        </span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody id="search-results">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    var searchList = '';
    $('_search').focus();
    var $assignStockResultContainer = $('#search-results');

    var $assignStockCollectionHolder = $('div.stockItems');
    var stockItemsCount              = {{ form.attachedStock|length }} ;
    var stockItemsIndex              = stockItemsCount - 1;

    $('.custom-close').remove();
    document.getElementById('log-work-modal-title').innerHTML = 'Add Engineer Van Stock to Job';

    $assignStockCollectionHolder.find('div.stock-item').each(function() {
        addDeleteLink($(this));
    });

    function bindAddButtons() {
        $('.assignStockBtn').click(function(e) {
            e.preventDefault();

            stockItemsCount++;
            stockItemsIndex++;

            $assignStockTr         = $(this).closest('tr');
            assignStockId          = $assignStockTr.find('td:first-child').data('id');
            assignStockDescription = $assignStockTr.find('td:first-child').data('description');
            assignStockCode        = $assignStockTr.find('td:first-child').data('code');
            assignStockQty         = $assignStockTr.find('td:first-child').data('quantity');

            var assignStockNewItem = $assignStockCollectionHolder.data('prototype');
            assignStockNewItem     = assignStockNewItem.replace(/__name__/g, stockItemsIndex);

            textDivs = '<div class="form-group"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static">' + assignStockCode + ' - ' + assignStockDescription + '</p></div><div class="form-group locationText hidden-form-field"><label class="col-sm-3 control-label">Location</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><a href="#" class="btn btn-primary btn-xs saveStockItem" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+stockItemsIndex+'">Lock</a><a href="#" class="btn btn-danger btn-xs editStockItem" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+stockItemsIndex+'">Unlock</a>';

            assignStockNewItem     += textDivs;

            var $assignStockNewDiv = $('<div class="attached-stock-item"></div>').html(assignStockNewItem);
            $assignStockNewDiv.appendTo($assignStockCollectionHolder);

            $('#assign_stock_to_job_form_attachedStock_'+stockItemsIndex+'_supplierStock').val(assignStockId);

            $assignStockNewDiv.find('.editStockItem').hide();
            addDeleteLink($assignStockNewDiv);
            removeItemFromSearchList(assignStockCode);

            var $locationSelect = $('#assign_stock_to_job_form_attachedStock_'+stockItemsIndex+'_location');
            var $quantitySelect = $('#assign_stock_to_job_form_attachedStock_'+stockItemsIndex+'_quantity');

            loadLocations(assignStockId, $locationSelect, $quantitySelect);

            $('#assign_stock_to_job_form_attachedStock_'+stockItemsIndex+'_quantity').find('option').remove().end();

            for (var i = 1; i <= assignStockQty ; i++) {
                $('#assign_stock_to_job_form_attachedStock_'+stockItemsIndex+'_quantity').append('<option value="'+ i +'">'+ i +'</option>')
            };

            $assignStockResultContainer.empty();
            $('#_search').val('');
            $('#_search').focus();
            bindStockItems($assignStockNewDiv);
        });
    }

    function loadLocations(supplierStockId, $locationSelect, $quantitySelect, initialQuantity, initialLocation) {
        initialQuantity = initialQuantity || 1;
        initialLocation = initialLocation || 1;

        var url = "{{ path('supplier_stock_get_locations', {jobId: job.id, workLog: workLog|default('false')}) }}" + '/' + supplierStockId;

        $locationSelect.empty();
        $locationSelect.append($('<option>Loading</option>'));

        $quantitySelect.empty();
        $quantitySelect.append($('<option>Loading</option>'));

        $.ajax({
            url: url,
            type: 'get',
            success: function(data) {
                $locationSelect.empty();

                var locations = data.locations;

                if (locations.length < 1) {
                    return;
                }

                for (var i = 0; i < locations.length; i++) {
                    var locationInfo = locations[i];

                    if (locationInfo.locationId) {
                        var $opt = $('<option value="' + locationInfo.locationId + '" data-count=' + locationInfo.stockCount + '>' + locationInfo.locationName + '</option>');
                    } else {
                        var $opt = $('<option value data-count=' + locationInfo.stockCount + '>Unknown</option>');
                    }


                    $locationSelect.append($opt);
                }

                $locationSelect.change(function() {
                    populateLocation($locationSelect, $quantitySelect);
                });

                populateLocation($locationSelect, $quantitySelect);
            }
        })
    }

    function populateLocation($locationSelect, $quantitySelect) {
        $quantitySelect.empty();

        var $selected = $locationSelect.find(':selected');

        if (!$selected.length || !$selected.data('count')) {
            return;
        }

        var count = $selected.data('count');

        if (count < 1) {
            return;
        }

        for (var i = 1; i <= count ; i++) {
            $quantitySelect.append('<option value="'+ i +'">'+ i +'</option>')
        };
    }

    function addDeleteLink($div) {
        var $removeLink = $('<a href="#" class="btn btn-danger btn-xs removeSelectedBtn" style="margin-bottom: 10px;">Remove</a>');
        $div.append($removeLink);

        $removeLink.on('click', function(e) {
            e.preventDefault();
            $div.remove();
            stockItemsCount--;
        });
    }

    function removeItemFromSearchList(itemCode) {
        for (var i = 0 ; i < searchList.length ; i++) {
            if (searchList[i] == null) {
                continue;
            }

            if (searchList[i]['code'] == itemCode) {
                searchList[i] = null;
                break;
            }
        }
    }

    function bindStockItems($ele) {
        $ele.find('.saveStockItem').on('click', function(e){
            e.preventDefault();
            $ele         = $(this);
            var index    = $ele.data('index');
            var quantity = $('#assign_stock_to_job_form_attachedStock_'+index+'_quantity').val();
            var location = $('#assign_stock_to_job_form_attachedStock_'+index+'_location option:selected').text();
            var item     = $ele.parent().find('.itemDescription').val();

            $ele.parent().find('.newQuantityText p').html(quantity);
            $ele.parent().find('.locationText p').html(location);
            $('#assign_stock_to_job_form_attachedStock_'+index).hide();
            $ele.parent().find('.newQuantityText').show();
            $ele.parent().find('.locationText').show();
            $ele.parent().find('.editStockItem').show();
            $ele.hide();
        });

        $ele.find('.editStockItem').on('click', function(e){
            e.preventDefault();
            $ele      = $(this);
            var index = $ele.data('index');
            $ele.parent().find('.locationText').hide();
            $ele.parent().find('.newQuantityText').hide();
            $('#assign_stock_to_job_form_attachedStock_'+index).show();
            $ele.parent().find('.saveStockItem').show();
            $ele.hide();
        });
    }

    $('#_search').keyup(throttle(function (event) {
        var $ele       = $(this);
        var searchTerm = $ele.val();

        if (event.which == "38" || event.which == "40") {
            return false;
        }

        $assignStockResultContainer.empty();
        searchList = null;

        if (searchTerm.length > 2) {
            $assignStockResultContainer.prepend('<tr><td><img src="/images/ajax-loader.gif"><strong>  Searching...</strong></td></tr>');
            $.ajax({
                url: "{{ path('stock_item_search', {jobId: job.id, workLog: workLog}) }}",
                type: 'post',
                data: JSON.stringify(searchTerm),
                dataType: 'json',
                success: function(data) {
                    if (data.searchTerm == searchTerm) {
                        searchList = data.items;
                    }

                    fleetmanagerSearch(searchTerm, searchList, $assignStockResultContainer, 'stockForJob');
                    bindAddButtons();
                }
            })
        } else {
            $assignStockResultContainer.prepend('<tr><td><strong>  Search terms need at least 3 characters to begin searching...</strong></td></tr>')
        }
    }, 250));

</script>

