{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

{{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}
    {{ form_row( form.chargeMethod) }}

    <div id="charge-reason-wrapper" {% if form.vars.value.chargeMethod != 0 %}style="display:none;"{% endif %}>
        {{ form_row( form.clientChargedReason) }}
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}

<script type="text/javascript">
    var $chargeReasonWrapper = $('#charge-reason-wrapper');
    document.getElementById('log-work-modal-title').innerHTML = '';

    $('#chargeable_job_form_chargeMethod').change(function() {
        var chargeMethod = parseInt($(this).find(':selected').val());

        if (chargeMethod !== 0) {
            $chargeReasonWrapper.find('input').val('');
            $chargeReasonWrapper.hide();
        } else {
            $chargeReasonWrapper.show();
        }
    });
</script>
