<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            </a>
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#stockUsedOnJobForm">Stock assigned to job "{{job.jobCode }} - {{ job.customer.name }}"</a></h4>
        </div>
        <div id="confirm_special_items" class="panel-collapse collapse in">
            <div class="panel-body form-horizontal">
                {% for item in job.partsRequisitions %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Item {{ loop.index }}</label>
                        <p class="col-sm-6 form-control-static" data="">
                            {{ item.item }}
                        </p>

                        <div class="col-sm-4">
                            <select class="form-control" data-id="{{item.id}}" {{ item.quantity == item.usedOnJob ? 'disabled' : '' }}>
                                <option value="0">None</option>
                                {% for i in 1..(item.quantity - item.usedOnJob) %}
                                    <option value="{{ i }}">
                                        {{ i }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>


                        {# <div class="col-sm-3">
                             <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="checkbox" data-id="{{item.id}}" {{item.usedOnJob == true ? 'disabled checked' : ''}}>
                                </div>
                            </div>
                        </div> #}
                    </div>
                {% endfor %}
            </div>
        </div>

        <form action="{{action}}" method="POST">
            <input type="text" id="confirmed_ids" name="confirmed_ids" style="display:none;">
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        const items = {};

        document.getElementById('log-work-modal-title').innerHTML = 'Please confirm which special parts were used in this job';

        $("#confirm_special_items select").on('change', function(e) {
            const $this = $(this);
            if ($this.val() == 0 || $this.val() == '0') return;

            items[$this.data('id')] = $this.val()

            $("#confirmed_ids").val(JSON.stringify(items))
        })
    })
</script>

