<div class="modal" id="reason-delete-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"><span class="form-modal-title">Describe the reason why you want to delete job {{ job.id }}</span></h2>
            </div>
            <div class="modal-body">
                <div class="reason-form-holder"></div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $deleteModal   = $('#reason-delete-modal');
    var $deleteWrapper = $deleteModal.find('.reason-form-holder');
    var $deleteFooter  = $deleteModal.find('.modal-footer');
    var reloadPage     = false;

    $deleteModal.on('hide.bs.modal', function (e) {
        $deleteWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $deleteModal.find('.modal-form-submit').remove();
    });

    $deleteModal.on('show.bs.modal', function (e) {
        deleteLoadForm(e);
    });

    function deleteLoadForm(e) {
        $.get('{{ path('delete_job', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $deleteWrapper.html(data.html);
                $deleteModal.find('[autofocus]:first').focus();
                $deleteFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');

                deleteBindForm();
            }
        });
    }

    function deleteBindForm() {
        var $form   = $deleteWrapper.find('form');
        var $button = $deleteFooter.find('.modal-form-submit');
        let $reason = $('#job_delete_form_reasonDeleted');
        $button.unbind('click');
            $button.click(function() {
                if($reason.val() !== '') {
                    $form.submit();
                } else {
                    $('.reason-form-holder').addClass('required-field')
                }
            });



        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $deleteWrapper.html(response.html);
                    $deleteModal.find('[autofocus]:first').focus();
                    $button.removeAttr('disabled').text('Save').removeClass('disabled');
                    deleteBindForm();
                } else {

                    if(response.refresh) {
                        $('#job_delete_form_reasonDeleted').text('');
                        location.reload(true);
                    }
                    $deleteModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not deleted.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
