{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}
    {{ form_row( form.reasonDeleted) }}

    <div class="hidden-form-field">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
