{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#recurringForm" class="recurring-header">
                    <img src="{{ asset('/images/cog.svg') }}" class="mr-15 img-responsive"><span>Advanced settings</span></a></h4>
        </div>
        <div id="recurringForm" class="panel-collapse collapse">
            <div class="panel-body">
                {{ form_row(form.callOutCharge) }}
                {{ form_row(form.isRecurring) }}
               <div class="d-none" id="recurringType">
                   {{ form_row(form.recurringType) }}
               </div>

            </div>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#jobInfo">Job Details</a></h4>
            </div>
            <div id="jobInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if form.customer is defined %}
                        <div class="form-group" id="customerName">
                            {{ form_label(form.customer, null, { 'col': 3 }) }}
                            <div class="col-md-6">
                                {{ form_widget(form.customer, { 'field': 6 }) }}
                            </div>
                            <div class="col-md-3">
                                 <button type="button" class="btn btn-primary" data-toggle="modal" id="createNewCustomer" data-target="#new-customer-modal">Add new</button>
                            </div>
                        </div>
                    {% elseif job.customer %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Customer</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ job.customer.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_row(form.assetLifecyclePeriod) }}

                    {% if form.asset is defined %}
                        <div id="asset-type-wrapper"{% if job.assetLifecyclePeriod %} style="display:none;"{% endif %}>
                            {% if form.assetType is defined %}
                                {{ form_row( form.assetType) }}
                            {% endif %}
                        </div>

                        <div class="form-group" id="asset-type-selection"{% if not job.assetLifecyclePeriod %} style="display:none;"{% endif %}>
                            <label class="col-sm-3 control-label">Asset type</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ job.assetLifecyclePeriod ? job.assetLifecyclePeriod.asset.assetType : '' }}</p>
                            </div>
                        </div>

                        <div id="asset-autocomplete-wrapper"{% if job.assetLifecyclePeriod %} style="display:none;"{% endif %}>{{ form_row( form.asset) }}</div>

                        <div class="form-group" id="asset-selection"{% if not job.assetLifecyclePeriod %} style="display:none;"{% endif %}>
                            <label class="col-sm-3 control-label">Asset</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{ job.assetLifecyclePeriod ? job.assetLifecyclePeriod.asset.nameString : '' }}</p>
                            </div>
                            <div class="col-sm-3"><a href="javascript:void();" class="btn btn-primary">Change</a></div>
                        </div>

                    {% elseif job.assetLifecyclePeriod %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Asset</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ job.assetLifecyclePeriod.asset.nameString }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div id="location"{% if not job.customer %} style="display:none;"{% endif %}>
                        {{ form_row( form.siteAddress) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.urgent, null, { 'col': 2 }) }}
                        <div class="col-sm-2">
                            {{ form_widget(form.urgent, { 'field': 1 }) }}
                        </div>
                        {{ form_label(form.isGeneralRepairs, null, { 'col': 2 }) }}
                        <div class="col-sm-2">
                            {{ form_widget(form.isGeneralRepairs, { 'field': 1 }) }}
                        </div>
                        {{ form_label(form.isLolerJob, null, { 'col': 2 }) }}
                        <div class="col-sm-2">
                            {{ form_widget(form.isLolerJob, { 'field': 1 }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.isServiceJob, null, { 'col': 2 }) }}
                        <div class="col-sm-2">
                            {{ form_widget(form.isServiceJob, { 'field': 1 }) }}
                        </div>
                        {% if job.id == null %}
                        {{ form_label(form.isSalesJob, null, { 'col': 2 }) }}
                        <div class="col-sm-2">
                            {{ form_widget(form.isSalesJob, { 'field': 1 }) }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="d-none" id="salesJob">
                        {{ form_row( form.salesJob) }}
                    </div>

                    {{ form_row( form.detail) }}
                    <div class="form-group hidden-form-field" id="job_detail">
                        <label class="col-sm-3 control-label" id="job_detail_text_label">Job Detail</label>
                        <p id="job_detail_text" class="col-sm-9 form-control-static"></p>
                    </div>
                    {{ form_row( form.notes) }}
                    {{ form_row( form.jobActiveFrom) }}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactForm">Contacts</a></h4>
            </div>
            <div id="contactForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if form.contacts is defined %}
                        <div>
                            {{ form_row(form.contacts) }}
                        </div>
                    {% endif %}

                    <div class="newContacts" data-prototype="{{ form_widget(form.newContacts.vars.prototype)|e }}">
                        {% for contact in form.newContacts %}
                            <div class="contact-item">
                                {{ form_errors(contact) }}
                                {{ form_widget(contact) }}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#" id="addContact" class="btn btn-primary" style="margin-bottom: 10px;">Add a new contact</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#images" id="job_images_header">Images</a></h4>
            </div>
            <div id="images" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-inline form-group" id="new-images"></div>
                    <a class="btn btn-primary" id="addNewImage">Add new</a>

                    {% macro displayImage(imageForm) %}
                        {% if imageForm.vars.value.filename|default(null) %} {# this is an existing image #}
                            <div class="image-item col-md-4 col-xs-6">
                                <div style="display:none;">{{ form_widget(imageForm.image) }}</div>
                                <div class="thumbnail">
                                    <a href="{{ imageForm.vars.value|get_image_url }}" class="fancybox img-thumbnail"  data-fancybox-title="{{ imageForm.vars.value.filename }}" data-fancybox-group="job-form-image-group" rel="group">
                                        <img data-id="{{ imageForm.vars.value.filename }}" id="{{ imageForm.vars.value.filename }}" src="{{ imageForm.vars.value|get_image_url }}" class="img-responsive">
                                    </a>
                                    <div class="img-remove" style="margin-left: 38%; margin-top: 5px"></div>
                                </div>
                             </div>
                        {% else %} {# this is a "new" image #}
                            {{ form_widget(imageForm.image) }}
                            <div class="img-remove" style="display:inline-block;"></div>
                        {% endif %}
                    {% endmacro %}
                    {% import _self as imageCollection %}

                    <div class="images" id="truck-images" data-prototype="{{ imageCollection.displayImage(form.images.vars.prototype)|e }}">
                        {% if form.images|length > 0 %}<hr>{% endif %}
                        <div class="row">
                            {% for image in form.images %}
                                {{ imageCollection.displayImage(image) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">
var addressChangedByCode = false;
var currentSiteAddress = '{{ job.siteAddress ? job.siteAddress.id : "" }}';
var customerId = {{ job.customer ? job.customer.id : 'null' }};
var includeSalesJob = '{{ includeSalesJob ? includeSalesJob : "" }}';
 if(includeSalesJob) {
     $("#job_form_isSalesJob").prop('checked', true);
     $("#job_form_customer").prop('disabled', true);
     $('#salesJob').addClass('d-block');
     const url = new URLSearchParams(window.location.search);
     const urlParam =  url.get('selectedItem');
     $("#job_form_salesJob").val(urlParam);
 }
$(function() {
    {% set isEdit = job.id != null %}
    {% if not isEdit %}
        getContacts();
        getContactsForAsset();
    {% endif %}

    $.when(getSiteAddresses()).done( function(){
        if (currentSiteAddress !== '') {
            $('[name="job_form[siteAddress]"] option').filter(function() {
                return ($(this).val() == currentSiteAddress);
            }).prop('selected', true);
        }
    });
});

$('#job_form_isRecurring').on('change', function() {
    if ($('#job_form_isRecurring_0').is(':checked')){
        $('#recurringType').addClass('d-block');
    } else {
        $('#recurringType').removeClass('d-block');
    }
});
const customerName = "Dawson MHE Ltd";
$('#job_form_isSalesJob').on('change', function() {
    if ($('#job_form_isSalesJob').is(':checked')){
        $('#salesJob').addClass('d-block');
        $("#job_form_customer option").filter(function() {
            return $(this).text() === customerName;
        }).prop("selected", true);
        $("#job_form_customer").prop('disabled', true);
        $("#job_form_assetType").prop('disabled', true);

        $('#job_form_salesJob').on('change', function () {
            const salesJobId = this.value;
            $.ajax({
                url: "{{ path('get_sales_job') }}/" + salesJobId,
                type: 'get',
                success: function (data) {
                    selectAssetLifecyclePeriod(data.salesJob.id);

                    $('#asset-autocomplete-wrapper').hide();
                    $('.form-control-static', $('#asset-selection')).html(`${data.salesJob.model} ${data.salesJob.make} (${data.salesJob.serial})`);
                    $('#asset-selection').show();

                    $('#asset-type-wrapper').hide();
                    $('.form-control-static', $('#asset-type-selection')).html($('#asset-type-wrapper option:selected').html());
                    $('#asset-type-selection').show();

                    return true;
                }
            });
        })
    } else {
        $('#salesJob').removeClass('d-block');
        $("#job_form_customer option").filter(function() {
            return $(this).text() === 'None';
        }).prop("selected", true);
        $("#job_form_customer").prop('disabled', false);
        $("#job_form_assetType").prop('disabled', false);
    }
});



if ($('#job_form_isRecurring_0').is(':checked')){
    $('#recurringForm').addClass('in');
    $('#recurringType').addClass('d-block');
}
$('#job_form_asset').typeahead({
    delay: 250,
    minLength: 3,
    source: function (query, process) {
        {% if form.customer is defined %}
            var customer = $("#job_form_customer :selected").val();
        {% elseif job.customer %}
            var customer = {{ job.customer.id }};
        {% endif %}
        var type = $('#job_form_assetType').val();
        if($("#job_form_isSalesJob").prop('checked') == false){
            return $.get('{{ path('asset_autocomplete_search') }}?search=' + query + '&type=' + type + '&customer=' + customer, function (data) {
                return process(data);
            }, 'json');
        }

    },
    afterSelect: function (data) {
        selectAssetLifecyclePeriod(data.id);

        $('#asset-autocomplete-wrapper').hide();
        $('.form-control-static', $('#asset-selection')).html(data.name);
        $('#asset-selection').show();

        $('#asset-type-wrapper').hide();
        $('.form-control-static', $('#asset-type-selection')).html($('#asset-type-wrapper option:selected').html());
        $('#asset-type-selection').show();
    }
});

$('#job_form_asset').blur(function () {
    if (!$('#job_form_assetLifecyclePeriod').val()) {
        $(this).val('');
    }

    if ($(this).val() === '') {
        selectAssetLifecyclePeriod('');
    }
});

$('#asset-selection .btn').click(function(e) {
    e.preventDefault();
    resetAsset();
});

function resetAsset() {
    selectAssetLifecyclePeriod('');

    $('#job_form_asset').val('');
    $('.form-control-static', $('#asset-selection')).empty();
    $('#asset-selection').hide();
    $('#asset-autocomplete-wrapper').val('');
    $('#asset-autocomplete-wrapper').show();

    $('.form-control-static', $('#asset-type-selection')).empty();
    $('#asset-type-selection').hide();
    $('#asset-type-wrapper').show();

    $('#job_asset').focus();
}

function selectAssetLifecyclePeriod(period) {
    $('#job_form_assetLifecyclePeriod').val(period);
    $('#job_form_assetLifecyclePeriod').trigger('change');
}

$('#job_form_cancelled').on('click', function() {
    $('#cancel-option').slideToggle();
});

$('#job_form_customer').on('change', function() {
    customerId = $("#job_form_customer :selected").val();

    if (!customerId) {
        $('#location').slideUp();
    }

    resetAsset();
    getSiteAddresses();
    getContacts();
})

$('#job_form_siteAddress').on('change', function() {
    if (addressChangedByCode) {
        addressChangedByCode = false;
        return false;
    };

    getContacts();
});

$('#job_form_assetLifecyclePeriod').on('change', function() {
    getAddressForAsset();
    getContactsForAsset();
});

function getSiteAddresses() {
    var dfd = $.Deferred();

    $('#job_form_siteAddress').empty();

    if (!customerId) {
        return dfd.resolve();
    }

    $.ajax({
        url: "{{ path('get_customer_sites') }}/" + customerId,
        type: 'get',
        success: function (data) {
            sites           = data['sites'];
            var selectContainer = $('#job_form_siteAddress');
            selectContainer.empty();
            selectContainer.append('<option value="">-- Use billing address --</option>');

            for (var i = 0; i < sites.length; i++) {
                 selectContainer.append('<option value="' + sites[i]['id'] + '">' + sites[i]['addressString'] + '</option>');
            };

            if (typeof currentSiteAddress != 'undefined') {
                $('[name="job[siteAddress]"] option').filter(function() {
                    return ($(this).val() == currentSiteAddress);
                }).prop('selected', true);
            } else if (typeof currentSiteAddress == 'undefined') {
                currentSiteAddress = null;
            }

            dfd.resolve();
        }
    });

    return dfd.promise();
}

var $collectionHolder = $('div.newContacts');
var contactCount      = {{ form.contacts|default([])|length }};
var contactIndex      = contactCount - 1;
var formContactsIndex = contactIndex;

$collectionHolder.find('div.contact-item').each(function() {
    $ele = $(this);
    $ele.attr('data-index', formContactsIndex);
    bindContacts($ele);
    formContactsIndex++;
});

$('#addContact').click(function(e) {
    e.preventDefault();

    contactCount++;
    contactIndex++;

    var newItem = $collectionHolder.data('prototype');
    newItem     = newItem.replace(/__name__/g, contactIndex);
    textDivs    = '<div class="form-group newNameText hidden-form-field"><label class="col-sm-3 control-label">Name</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTelephoneText hidden-form-field"><label class="col-sm-3 control-label">Telephone</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newEmailText hidden-form-field"><label class="col-sm-3 control-label">Email</label><p class="col-sm-9 form-control-static"></p></div>';

    newItem     += textDivs;
    var $newDiv = $('<div class="contact-item" data-index="'+contactIndex+'"></div>').html(newItem);

    $newDiv.appendTo($collectionHolder);

    $('#job_newContacts_'+contactIndex+'_customer').parent().parent().hide();
    $('#job_newContacts_'+contactIndex+'_supplier').parent().parent().hide();
    $('#job_newContacts_'+contactIndex+'_newCustomer').parent().parent().hide();
    $('#job_newContacts_'+contactIndex+'_name').focus();
    $('#no-contacts').parent().parent().parent().hide();

    bindContacts($newDiv);
});

function bindContacts($ele) {
    var $formFields = $('.contact-form-fields', $ele);
    var $staticFields = $('.contact-item-static', $ele);

    var $saveBtn = $('.save-contact', $ele);
    var $editBtn = $('.edit-contact', $ele);
    var $removeBtn = $('.remove-contact', $ele);

    $saveBtn.on('click', function(){
        var $name      = $('.contact-name', $ele);
        var $telephone = $('.contact-telephone', $ele);
        var $email     = $('.contact-email', $ele);

        $name.closest('.form-group').removeClass('has-error');

        if ($name.val() == '') {
            $name.closest('.form-group').addClass('has-error');
            $name.attr('placeholder', 'Enter a name...')
            return false;
        };

        $staticFields.find('.contact-name').html($name.val());
        $staticFields.find('.contact-tel').html($telephone.val());
        $staticFields.find('.contact-email').html($email.val());

        $staticFields.show();
        $formFields.hide();

        $editBtn.show();
        $saveBtn.hide();
    })

    $editBtn.on('click', function(){
        $staticFields.hide();
        $formFields.show();

        $editBtn.hide();
        $saveBtn.show();
    });

    $removeBtn.on('click', function(e) {
        e.preventDefault();
        $ele.remove();
        contactCount--;
    });
}

function getContacts() {
    var selectContainer = $('#job_form_contacts');

    selectContainer.empty();

    if (!customerId) {
        return false;
    }

    $.ajax({
        url: "{{ path('get_contacts_for_customer') }}/" + customerId,
        type: 'get',
        success: function (data) {
            contacts = data.contacts;

            if (contacts.length == 0) {
                selectContainer.append('<div id="no-contacts" class="form-control-static">No contacts.</div>');
                return false;
            }

            for (var i = 0; i < contacts.length; i++) {
                 selectContainer.append('<div class="checkbox"><input type="checkbox" id="job_form_contacts_'+i+'" name="job_form[contacts][]" value="' + contacts[i]['id'] + '"><label for="job_form_contacts_'+i+'">' + contacts[i]['name'] + '</label></div>');
            }

            return true;
        }
    });
}

function getAddressForAsset() {
    var alp = $("#job_form_assetLifecyclePeriod").val();

    if (!alp) {
        return false;
    }

    $.ajax({
        url: "{{ path('get_asset_address') }}/" + alp,
        type: 'get',
        success: function (data) {
            addressId            = data['addressId'];
            currentSiteAddress   = addressId;
            addressChangedByCode = true;

            $('[name="job[siteAddress]"] option').filter(function() {
                return ($(this).val() == addressId);
            }).prop('selected', true);

        }
    });
}

function getContactsForAsset() {
    var alp = $("#job_form_assetLifecyclePeriod").val();

    if (!alp) {
        return false;
    }

    $.ajax({
        url: "{{ path('get_asset_contacts') }}/" + alp,
        type: 'get',
        success: function (data) {
            contactIds = data.contacts;

            for (var i = 0; i < contactIds.length; i++) {
                var id = contactIds[i];
                $("#contactForm :checkbox[value="+id+"]").prop("checked","true");
            };
        }
    });
}

var $imageCollectionHolder = $('div.images');
var imagesCount            = {{ form.images|length }} ;
var imagesIndex            = imagesCount - 1;
var formImagesIndex        = 0;

$imageCollectionHolder.find('div.image-item').each(function() {
    $ele = $(this);
    imageAddDeleteLink($('.img-remove', $ele));
    formImagesIndex++;
});

$('#addNewImage').click(function(e) {
    e.preventDefault();
    if ($('.new-image > input:file').filter(function() { return this.value == "" }).length > 0) {
        return;
    }

    imagesCount++;
    imagesIndex++;

    var imageNewItem = $imageCollectionHolder.data('prototype');
    imageNewItem     = imageNewItem.replace(/__name__/g, imagesIndex);
    var $imageDiv    = $('<div class="new-image image-item"></div>').html(imageNewItem);

    $('#new-images').append($imageDiv);

    $removeDiv = $('<div class="img-remove" style="display:inline-block;"></div>');
    $removeDiv.appendTo($imageDiv);
    imageAddDeleteLink($removeDiv);

    $('#job_form_images_'+imagesIndex+'_image').trigger('click');
});

function imageAddDeleteLink($div) {
    var $removeLink = $('<a href="#" class="btn btn-danger btn-xs">Remove</a>');
    $removeLink.appendTo($div);
    $removeLink.on('click', function(e) {
        e.preventDefault();
        $div.closest('.image-item').remove();
        imagesCount--;
    });
}

$('form').on('submit', function(e){
    if ($('.new-image > input:file').filter(function() { return this.value == "" }).length > 0) {
        $('.new-image > input:file').parent().remove();
    }

    $('.contact-item').each(function(){
        var $ele  = $(this);
        var index = $ele.data('index');
        var name  = $('#job_form_newContacts_'+index+'_name').val();

        if (name == '') {
            e.preventDefault();
            $('#job_form_newContacts_'+index+'_name').closest('.form-group').addClass('has-error');
            $('#job_form_newContacts_'+index+'_name').attr('placeholder', 'Enter a name...')
            return false;
        };
    })
});

$('#job_form_urgent').on('change', function(e){
    $ele = $(this);
    if ($ele.is(':checked') == true) {
        $('#job_form_isGeneralRepairs').removeAttr('checked');
        $('#job_form_isLolerJob').removeAttr('checked');
        $('#job_isServiceJob').removeAttr('checked');
        $('#job_form_detail').parent().parent().find('label').html('Fault reported');
        $('#job_form_detail').html('');
        $('#job_form_detail').parent().parent().show();
    } else {
        $('#job_form_detail').parent().parent().find('label').html('Job detail');
    }
});

$('#job_form_isGeneralRepairs').on('change', function(e){
    $ele = $(this);
    if ($ele.is(':checked') == true) {
        $('#job_form_urgent').removeAttr('checked');
        $('#job_form_isLolerJob').removeAttr('checked');
        $('#job_form_isServiceJob').removeAttr('checked');
        $('#job_form_detail').parent().parent().find('label').html('Job detail');
        $('#job_form_detail').html('');
        $('#job_form_detail').parent().parent().show();
    }
});

$('#job_form_isLolerJob').on('change', function(e){
    $ele = $(this);
    if ($ele.is(':checked') == true) {
        $('#job_form_isGeneralRepairs').removeAttr('checked');
        $('#job_form_urgent').removeAttr('checked');
        $('#job_form_isServiceJob').removeAttr('checked');
        $('#job_form_detail').html('LOLER Inspection');
        $('#job_form_detail').parent().parent().find('label').html('Job detail');
        $('#job_form_detail').parent().parent().hide();

        $('#job_form_detail_text').html('LOLER Inspection');
        $('#job_form_detail').show();
    } else {
        $('#job_form_detail').html('');
    }
});

$('#job_form_isServiceJob').on('change', function(e){
    $ele = $(this);
    if ($ele.is(':checked') == true) {
        $('#job_form_isGeneralRepairs').removeAttr('checked');
        $('#job_form_isLolerJob').removeAttr('checked');
        $('#job_form_urgent').removeAttr('checked');
        $('#job_form_detail').html('Routine Service');
        $('#job_form_detail').parent().parent().find('label').html('Job detail');
        $('#job_form_detail').parent().parent().hide();

        $('#job_form_detail_text').html('Routine Service');
        $('#job_form_detail').show();

    } else {
        $('#job_form_detail').html('');
    }
});
var $assignButton = $('#save-assign');

if (!$assignButton.length) {
    $assignButton = $('<button type="button" data-loading-text="Saving..." class="btn btn-default extra-modal-btn" id="save-assign">Save & Assign</button>');
    $('.modal-footer', $modal).prepend($assignButton);

}

$('#save-assign').on('click', function(e) {
   e.preventDefault();
    $input = $('<input type="hidden" name="assign" value="1">');
    var $form = $('#form-modal form');

    $form.append($input);
    $form.submit();
    var $engineerModal   = $('#assign-engineer-modal');
    $engineerModal.on('show.bs.modal', function (e) {
        engineerLoadform(e);
    });

});
$assignButton.button('reset');
</script>

