{% form_theme form 'Form/form_layout_horizontal.html.twig' %}
<div id="printThis">
    <div class="panel-group" id="accordion">
        {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if job.customer %}
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="col-sm-12"> <b>Customer: </b> {{ job.customer.name }} </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if job.siteAddress %}
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="col-sm-12"> <b>Location: </b> {{ job.siteAddress.addressString }} </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if job.asset %}
                            {% if job.asset.model %}
                                {% if job.asset.model.make is defined %}
                                    <div class="col-sm-6">
                                        <p class="col-sm-12"> <b>Make: </b> {{ job.asset.model.make.name }} </p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if job.asset %}
                            {% if job.asset.model %}
                                <div class="col-sm-6">
                                    <p class="col-sm-12"> <b>Model: </b> {{ job.asset.model.name is defined ? job.asset.model.name : job.asset.model }} </p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if job.asset %}
                            <div class="col-sm-6">
                                <p class="col-sm-12"> <b>Serial: </b>{{ job.asset.serial }}</p>
                            </div>
                        {% endif %}
                        {% if job.asset %}
                            <div class="col-sm-6">
                                <p class="col-sm-12"> <b>Fleet number: </b>
                                    {% if job.assetLifecyclePeriod is not null or job.assetLifecyclePeriod.clientFleet is defined %}
                                        {{ job.assetLifecyclePeriod.clientFleet ?? 'N/A' }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        {% if job.asset is null %}
                            <div class="col-sm-6">
                                <p class="col-sm-12"> <b>Fleet number: </b>
                                    {% if job.assetLifecyclePeriod is not null or job.assetLifecyclePeriod.clientFleet is defined %}
                                        {{ job.assetLifecyclePeriod.clientFleet ?? 'N/A' }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#jobOverview">Job Overview</a>
                </h4>
            </div>
            <div  id="jobOverview" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-6">
                            {% if job.jobActiveFrom %}
                                <p class="col-sm-12"> <b>Date: </b> {{ job.jobActiveFrom|date("d/m/y") }}</p>
                            {% endif %}
                            {% if job.jobCode %}
                                <p class="col-sm-12"> <b>Job No: </b> {{ job.jobCode }}</p>
                            {% endif %}
                            {% if job.urgent %}
                                <p class="col-sm-12"><b>Fault reported: </b> {{ job.detail | default('--') }}</p>
                            {% else %}
                                <p class="col-sm-12"><b>Job Description: </b> {{ job.detail | default('--') }}</p>
                            {% endif %}
                            {% if job.hourReading %}
                                <p class="col-sm-12"> <b>Hours Recorded: </b> {{ job.hourReading | default ('--')}}</p>
                            {% endif %}
                            {% if job.callOutCharge > 0 %}
                                <p class="col-sm-12"> <b>Out of hours call out charge: </b> £{{ job.callOutCharge }} </p>
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {% if job.completed %}
                                <p class="col-sm-12">
                                    <b>Charge Method: </b>
                                    {% if job.chargeMethod == 2 %}
                                        Warranty
                                    {% elseif job.chargeMethod == 1 %}
                                        Charge against Maintenance
                                    {% else %}
                                        Invoice Client
                                    {% endif %}
                                </p>
                                {% if job.chargeMethod == 0 %}
                                    <p class="col-sm-12">
                                        <b>Chargeable Reason:</b>
                                        {{ job.clientChargedReason }}
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#jobWorkLog">Work Log</a></h4>
            </div>
            <div id="jobWorkLog" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for workLog in job.workLogs %}
                        <div class="panel panel-body">
                            <p><b>Date: </b>{{ workLog.startDate|date("d/m/y") }}</p>
                            <p><b>Engineer: </b>{{ workLog.user.username }}</p>
                            <p><b>Description: </b>{{ workLog.description }}</p>
                            <p><b>Labour: </b>{{ workLog.allTimeLabourString }}</p>
                            <p><b>Travel: </b>{{ workLog.allTimeTravelString }}</p>
                        </div>
                    {% endfor %}
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th class="col-md-6">Total Labour</th>
                            <th class="col-md-6">Total Travel</th>
                        </tr>
                        <tr>
                            <td>{{ totalLabourTime }}</td>
                            <td>{{ totalTravelTime }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#jobPartsListing">Parts Listing</a>
                </h4>
            </div>
            <div id="jobPartsListing" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th class="col-md-1">Part No.</th>
                            <th class="col-md-3">Item</th>
                            <th class="col-md-1">Quantity</th>
                        </tr>

                        {% for part in stockItems %}
                            {% if part.quantity > 0 %}
                                <tr>
                                    <td>{{ part.code }}</td>
                                    <td>{{ part.description }}</td>
                                    <td>{{ part.quantity }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for part in job.partsRequisitions %}
                            <tr>
                                <td>{{ part.partNumber | default('--') }}</td>
                                <td>{{ part.item | default('--') }}</td>
                                <td>{{ part.quantity | default('--') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            {% if job.signature %}
                <div class="panel-heading">
                    <h4 class="panel-title">Signed</h4>
                    <img data-id="{{ job.signature.image.filename }}" id="{{ job.signature.image.filename }}"
                         src="{{ job.signature.image | get_image_url }}" class="img-responsive">
                    {% if job.signature.name %}
                        <div class="form-group">
                            <div class="col-sm-9">
                                <br>
                                <p><i>Already signed by {{ job.signature.name }} on {{ job.signature.createdAt|date('d/m/Y H:i:s') }}</i></p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p id="signature-error-name"></p>
                <p id="signature-error-signature"></p>
                <div class="panel-heading">
                    <h4 class="panel-title"><a>Signature</a>
                    </h4>
                </div>
                <div class="wrapper">
                    {% if modal %}
                    <canvas id="signature-pad" class="signature-pad" width=560 height=250></canvas>
                    {% else %}
                    <canvas id="signature-pad" class="signature-pad" width=700 height=300></canvas>
                    {% endif %}
                </div>
                <div class="print-btns">
                    <button id="clear" class="btn btn-primary" style="margin: 10px">Clear</button>
                    <button id="printName" class="btn btn-primary" style="margin: 10px; float: right">Print name</button>
                </div>
            {% endif %}
            <div style="margin: 10px; display: none" id="nameInput">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_row(form.name) }}
            {{ form_row(form.image) }}
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}

        {% if modal %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if job.signature is empty %}
                        {% if job.customer %}
                            {% if job.signatureEmailSent %}
                                <p>Pending email signature</p>
                                <a role="button" class="btn btn-primary print-btns" id="request-signature">Re-send signature request</a>
                            {% else %}
                                <a role="button" class="btn btn-primary print-btns" id="request-signature">Request email signature</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-primary print-btns" id="btnPrint">Print to PDF</button>
                </div>
            </div>
        {% endif %}

        {% if job.images|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#images">Images</a>
                </h4>
            </div>
            <div id="images" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for key, image in job.images %}
                        <div class="col-md-3 col-sm-6">
                            <a href="{{ image | get_image_url }}">
                               image {{ key + 1 }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="/js/signature_pad.min.js"></script>
<script type="text/javascript">
    let canvas = document.getElementById('signature-pad');
    let signaturePad = null;

    if(canvas) {
    $('body').addClass('modalJobSheetOpen')
        signaturePad = new SignaturePad(canvas);
    document.getElementById('clear').addEventListener('click', function () {
        signaturePad.clear();
    });

    document.getElementById('printName').addEventListener('click', function (e) {
        e.preventDefault();
        $('#nameInput').css('display', 'block');
        $('#nameInput input').focus();
    });
    }

    function dataURLtoFile(dataurl, filename) {
        let arr = dataurl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]),
            n = bstr.length,
            u8arr = new Uint8Array(n);

        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }

        return new File([u8arr], filename, {type: mime});
    }

    $("form").submit(function (event) {
            let data = signaturePad.toDataURL();
            let timestamp = new Date().getTime().toString();
            let file = dataURLtoFile(data, `signature${timestamp}.png`);
            let name = $('#nameInput input').val();
            let formData, xhr;
            formData = new FormData();
            formData.append('image', file);

            xhr = new XMLHttpRequest();
            formData.set('job_signature_form[image][image]', file);
            formData.set('job_signature_form[name]', name);
            formData.set('job_signature_form[createdAtTimeZone]', Intl.DateTimeFormat().resolvedOptions().timeZone);
            xhr.open('POST', "{{ path('job_signature', { 'id': job.id }) }}", true);
            if(name === '') {
                $('#signature-error-name').addClass('required-name-field')

            }

            if (signaturePad.isEmpty()) {
                $('#signature-error-signature').addClass('required-signature-field')

            }
            if(name !== '' && !signaturePad.isEmpty()) {
                xhr.send(formData);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        window.location.reload();
                    }
                };
            }
            event.preventDefault();
    });

    $("#request-signature").on('click', function () {
        $.ajax({
            url: "{{ path('job_signature_email_request', { 'id': job.id }) }}",
            type: 'post',
            success: function (data) {
               window.location.reload();
            }
        });
    });

    $('#btnPrint').on('click', function (){
        var elem = document.getElementById("printThis");
        var domClone = elem.cloneNode(true);

        var $printSection = document.getElementById("printSection");

        if (!$printSection) {
            var $printSection = document.createElement("div");
            $printSection.id = "printSection";
            document.body.appendChild($printSection);
        }

        $printSection.innerHTML = "";
        $printSection.appendChild(domClone);
        window.print();

    })

</script>

