<div class="{% if is_engineer() %}col-sm-5 col-md-3 {% else %} col-sm-4 col-md-2{% endif %}" >
    <div class="panel panel-default panel-filter" data-type="jobCode" >
        <div class="panel-heading"><h3 class="panel-title">{{ panelTitle }}</h3></div>
        <div class="job-col-container">
            <div class="panel-body no-pad" id="{{ panelTitle|lower|replace({" " : "_"}) }}">
                {% if jobs[panelNumber]|default(null)|length > 0 %}
                    {% for job in jobs[panelNumber] %}
                        {% if not job.doWithJob %}
                            {% set priorityData = priorities[job.id]|default(null) %}
                            <div class="panel-item panel-link selectable-item priority-{{ priorityData.priorityName|default('normal') }}
                             {% if job.isSalesJob and panelTitle != 'Completed' %} background-sales-job {% endif %}
                             {% if panelTitle == 'Completed' %} signature-{{ signatureStatuses[job.id]}} {% endif %}"
                                 data-column={{ panelNumber }}
                                 data-row={{ loop.index }}
                                 data-priority={{ priorityData.priority|default(1) }}
                                 {% if priorityData.priorityReason|default(null) %} data-toggle="tooltip"
                            title="{{ priorityData.priorityReason }}"{% endif %} data-id={{ job.id }}
                                 data-name="{{ job.customerName }}">
                                <span class="tooltip-span" hidden="hidden" data-tooltip-id="{{ job.id }}">{{ job.detail }} / {{ job.jobCategoryText }}</span>
                                {% if job.attachedJobs %}
                                    {{ job.id }} - {{ job.customer.name }}
                                    {{ job.assetLifecyclePeriod.clientFleet }} - {{ job.asset.nameString(false) }}
                                        {% for attachedJob in job.attachedJobs %}
                                            <a data-id="{{ attachedJob.id }}">+{{ loop.index }}</a>
                                        {% endfor %}
                                {% else %}
                                    {{ job.id }} - {{ job.customerName }}<br/>
                                {{ job.assetLifecyclePeriod.clientFleet|default('')}} - {{ job.asset.nameString(false)|default('')}}
                                {% endif %}
                                {% if job.deletedAt %}
                                    (deleted)
                                {% endif %}
                                {% if job.doWithNextJob %}
                                    (Next site visit)
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
