<div class="modal" id="edit-job-charge-method" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"><span class="form-modal-title">Edit Charge Method {{ job.id }}</span></h2>
            </div>
            <div class="modal-body">
                <div class="charge-method-form-holder"></div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $editJobChargeMethodModal   = $('#edit-job-charge-method');
    var $editJobChargeMethodWrapper = $editJobChargeMethodModal.find('.charge-method-form-holder');
    var $editJobChargeMethodFooter  = $editJobChargeMethodModal.find('.modal-footer');
    var reloadPage     = false;

    $editJobChargeMethodModal.on('hide.bs.modal', function (e) {
        $editJobChargeMethodWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $editJobChargeMethodModal.find('.modal-form-submit').remove();
    });

    $editJobChargeMethodModal.on('show.bs.modal', function (e) {
        editLoadForm(e);
    });

    function editLoadForm(e) {
        $.get('{{ path('is_chargeable_job', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $editJobChargeMethodWrapper.html(data.html);
                $editJobChargeMethodModal.find('[autofocus]:first').focus();
                $editJobChargeMethodFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');

                editBindForm();
            }
        });
    }

    function editBindForm() {
        var $form   = $editJobChargeMethodWrapper.find('form');
        var $button = $editJobChargeMethodFooter.find('.modal-form-submit');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });



        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $editJobChargeMethodWrapper.html(response.html);
                    $editJobChargeMethodModal.find('[autofocus]:first').focus();
                    $button.removeAttr('disabled').text('Save').removeClass('disabled');
                    editBindForm();
                } else {

                    if(response.refresh) {
                        location.reload(true);
                    }
                    $editJobChargeMethodModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not change charge method.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
