<h3>Hello,</h3>

<h4>A new job has been created on Fleetmanager:</h4>

<p><strong>Job No: </strong>{{ job.id }}</p>
<p><strong>Client: </strong>{{ job.customer ? job.customer.name : 'None' }}</p>
<p><strong>Asset: </strong>{{ job.assetLifecyclePeriod ? job.assetLifecyclePeriod.asset.nameString : 'None' }}</p>
<p><strong>Fault: </strong>{{ job.detail }}</p>

<p><a href="{{ url('view_job', { id: job.id }) }}">Link to Job on Fleetmanager</a></p>
