<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            </a>
            <h4 class="panel-title">Unable to complete job</h4>
        </div>
        <div class="panel-body">
            <p class="alert alert-info">It is not possible to complete this job yet, as the following engineers have not yet added a worklog but are assigned to it:</p>
            <ul>
                {% for engineer in engineers %}
                    <li>{{ engineer.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
