<div class="modal" id="job-sheet-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="d-flex-between">
                    <h2 class="modal-title" id="job-sheet-form-modal-label"><span class="form-modal-title">Job Sheet</span>
                    </h2>
                    <img src="{{ asset('/images/dawson-logo.png') }}" class="mr-15 img-responsive w-25">
                </div>

            </div>
            <div class="modal-body">
                <div class="job-sheet-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $jobSheetModal   = $('#job-sheet-modal');
    var $jobSheetWrapper = $jobSheetModal.find('.job-sheet-form-holder');
    var $jobSheetFooter  = $jobSheetModal.find('.modal-footer');
    var reloadPage = false;

    $jobSheetModal.on('hide.bs.modal', function (e) {
        $jobSheetWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $jobSheetModal.find('.modal-form-submit').remove();
    });

    $jobSheetModal.on('show.bs.modal', function (e) {
        jobSheetLoadForm(e);
    });

    function jobSheetLoadForm(e) {
        $.get('{{ path('job_info', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $jobSheetWrapper.html(data.html);
                $jobSheetModal.find('[autofocus]:first').focus();
                if(!data.signature) {
                    $jobSheetFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Save..." id="signature">Save</button>');
                }
                jobSheetBindForm();
            }
        });
    }

    function jobSheetBindForm() {
        var $form   = $jobSheetWrapper.find('form');
        var $button = $jobSheetFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.button('reset');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $jobSheetWrapper.html(response.html);
                    $jobSheetModal.find('[autofocus]:first').focus();
                    jobSheetBindForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }
                    $jobSheetModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
<script type="text/javascript" src="/js/signature_pad.min.js"></script>
