<div class="modal" id="new-customer-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="create-customer-form-modal-label"><span class="form-modal-title">Create new Customer</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-customer-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeNewCustomer">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newCustomerModal   = $('#new-customer-modal');
    var $newCustomerWrapper = $newCustomerModal.find('.new-customer-form-holder');
    var $newCustomerFooter  = $newCustomerModal.find('.modal-footer');
    var newCustomerId       = null;
    var newCustomerName     = null;

    $('#closeNewCustomer').on('click',  function(e) {
        $newCustomerModal.modal('hide');
    });

    $newCustomerModal.on('show.bs.modal', function (e) {
        createCustomerLoadForm(e);
    });

    $newCustomerModal.on('shown.bs.modal', function (e) {
        setStackedModals();
    });

    $newCustomerModal.on('hide.bs.modal', function (e) {
        $newCustomerWrapper.html('');
        $newCustomerModal.find('.modal-form-submit').remove();
    });

    $newCustomerModal.on('hidden.bs.modal', function (e) {
        setStackedModals();

        $('#job_form_customer').append('<option value="'+newCustomerId+'">'+newCustomerName+'</option>');
        $('#job_form_customer option').filter(function() {
            return ($(this).val() == newCustomerId);
        }).prop('selected', true);
        resetAsset();
        getSiteAddresses();
        getContacts();
    });

    function createCustomerLoadForm(e) {
        $.get('{{ path('new_customer') }}', function(data) {
            if (data.displayForm) {
                $newCustomerWrapper.html(data.html);
                $newCustomerModal.find('[autofocus]:first').focus();
                $newCustomerFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                createCustomerBindForm();
            }
        });
    }

    function createCustomerBindForm() {
        var $form   = $newCustomerWrapper.find('form');
        var $button = $newCustomerFooter.find('.modal-form-submit');

        $button.unbind('click');
        $button.click(function() {
            var doNotShowExtraOptionsForNewCustomer = $form.attr('action') + '/true';
            $form.attr('action', doNotShowExtraOptionsForNewCustomer);
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $newCustomerWrapper.html(response.html);
                    $newCustomerModal.find('[autofocus]:first').focus();
                    createCustomerBindForm();
                    $button.button('reset');
                } else {
                    newCustomerId   = response.customer['id'];
                    newCustomerName = response.customer['name'];

                    $button.button('reset');
                    $newCustomerModal.modal('hide');
                }

            },
            error: function() {
                growlError('There was an error - the customer was not created');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
