<div class="modal" id="new-estimate-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-estimate-form-modal-label"><span class="form-modal-title">New Estimate</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-estimate-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $newEstimateModal   = $('#new-estimate-modal');
    var $newEstimateWrapper = $newEstimateModal.find('.new-estimate-form-holder');
    var $newEstimateFooter  = $newEstimateModal.find('.modal-footer');
    var reloadPage          = false;

    $newEstimateModal.on('hide.bs.modal', function (e) {
        $newEstimateWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newEstimateModal.find('.modal-form-submit').remove();
    });

    $newEstimateModal.on('show.bs.modal', function (e) {
        newEstimateLoadform(e);
    });

    function newEstimateLoadform(e) {
        $.get('{{ path('new_estimate', { 'jobId': job.id }) }}', function(data) {
            if (data.displayForm) {
                $newEstimateWrapper.html(data.html);
                $newEstimateModal.find('[autofocus]:first').focus();
                $newEstimateFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newEstimateBindForm();
            }
        });
    }

    function newEstimateBindForm() {
        var $newEstimateform   = $newEstimateWrapper.find('form');
        var $newEstimateButton = $newEstimateFooter.find('.modal-form-submit');
        $newEstimateform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $newEstimateform.find('.datetimepicker').datetimepicker();

        $newEstimateButton.unbind('click');
        $newEstimateButton.click(function() {
            $newEstimateform.submit();
        });

        $newEstimateform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $newEstimateform) {
                $newEstimateButton.button('loading');
            },
            success: function(response, statusText, xhr, $newEstimateform) {
                $newEstimateButton.button('reset');
                if (response.displayForm) {
                    $newEstimateWrapper.html(response.html);
                    $newEstimateModal.find('[autofocus]:first').focus();
                    newEstimateBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $newEstimateModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $newEstimateButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
