{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#completeJobForm">Possible additional work for Job {{job.jobIdentifier }}</a></h4>
            </div>
            <div id="possibleFutureWorkForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="newFutureWorkRecommendations" data-prototype="{{ form_widget(form.futureWorkRecommendations.vars.prototype)|e }}">
                    </div>
                    <a href="#" class="btn btn-primary" id="addNewRecommendation">Add Detail</a>
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>


<script type="text/javascript">
var $recommendationCollectionHolder = $('div.newFutureWorkRecommendations');
var recommendationsCount            = {{ form.futureWorkRecommendations|length }} ;
var recommendationsIndex            = recommendationsCount - 1;
var formrecommendationsIndex        = 0;

document.getElementById('log-work-modal-title').innerHTML = 'Additional Work';

$recommendationCollectionHolder.find('div.recommendation-item').each(function() {
    $ele = $(this);
    recommendationAddDeleteLink($('.recommendation-remove', $ele));
    formrecommendationsIndex++;
});

$('#addNewRecommendation').click(function(e) {
    e.preventDefault();

    recommendationsCount++;
    recommendationsIndex++;

    var recommendationNewItem = $recommendationCollectionHolder.data('prototype');
    recommendationNewItem     = recommendationNewItem.replace(/__name__/g, recommendationsIndex);
    var $recommendationDiv    = $('<div class="new-recommendation recommendation-item"></div>').html(recommendationNewItem);

    $recommendationCollectionHolder.append($recommendationDiv);

    $removeDiv = $('<div class="recommendation-remove"></div>');
    $removeDiv.appendTo($recommendationDiv);
    recommendationAddDeleteLink($removeDiv);
});

function recommendationAddDeleteLink($div) {
    var $removeLink = $('<a href="#" class="btn btn-danger btn-xs" style="margin-bottom: 10px">Remove</a>');
    $removeLink.appendTo($div);
    $removeLink.on('click', function(e) {
        e.preventDefault();
        $div.closest('.recommendation-item').remove();
        recommendationsCount--;
    });
}

</script>
