<div class="modal" id="raise-purchase-order-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true" data-item-type="Stock Purchase Order">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="raise-purchase-order-form-modal-label"><span class="form-modal-title">Job Purchase Order</span></h2>
            </div>
            <div class="modal-body">
                <div class="raise-purchase-order-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $raisePurchaseOrderModal   = $('#raise-purchase-order-modal');
    var $raisePurchaseOrderWrapper = $raisePurchaseOrderModal.find('.raise-purchase-order-form-holder');
    var $raisePurchaseOrderFooter  = $raisePurchaseOrderModal.find('.modal-footer');
    var reloadPage                 = false;

    $raisePurchaseOrderModal.on('hide.bs.modal', function (e) {
        $raisePurchaseOrderWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $raisePurchaseOrderModal.find('.modal-form-submit').remove();
    });

    $raisePurchaseOrderModal.on('show.bs.modal', function (e) {
        raisePurchaseOrderLoadform(e);
    });

    function raisePurchaseOrderLoadform(e) {
        $.get('{{ path('new_purchaseorder', { 'jobId': job.id }) }}', function(data) {
            if (data.displayForm) {
                $raisePurchaseOrderWrapper.html(data.html);
                $raisePurchaseOrderModal.find('[autofocus]:first').focus();
                $raisePurchaseOrderFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                raisePurchaseOrderBindForm(e);
            }
        });
    }

    function raisePurchaseOrderBindForm(e) {
        var $form   = $raisePurchaseOrderWrapper.find('form');
        var $button = $raisePurchaseOrderFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $button.button('reset');
                    $('#order_po').button('reset');
                    $raisePurchaseOrderWrapper.html(response.html);
                    // $button.button('reset');

                    if ($raisePurchaseOrderModal.find('.has-error')) {
                        $raisePurchaseOrderModal.find('.has-error input:first').focus();
                    } else {
                        $raisePurchaseOrderModal.find('[autofocus]:first').focus();
                    }

                    raisePurchaseOrderBindForm(e);
                } else {
                    if (response.confirm) {
                        showConfirmModal(response.confirm.message, response.confirm.url, response.confirm.functionCall, response.confirm.functionArgs);
                    }

                    if (response.refresh) {
                        reloadPage = true;
                    }

                    $raisePurchaseOrderModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
                $('#order_po').button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
