<h3>Job Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search jobs:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new job:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit job:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
