<div class="modal" id="sign-off-job-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="sign-off-job-form-modal-label"><span class="form-modal-title">Sign off Job</span></h2>
            </div>
            <div class="modal-body">
                <div class="sign-off-job-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $signOffJobModal   = $('#sign-off-job-modal');
    var $signOffJobWrapper = $signOffJobModal.find('.sign-off-job-form-holder');
    var $signOffJobFooter  = $signOffJobModal.find('.modal-footer');
    var reloadPage         = false;

    $signOffJobModal.on('hide.bs.modal', function (e) {
        $signOffJobWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $signOffJobModal.find('.modal-form-submit').remove();
    });

    $signOffJobModal.on('show.bs.modal', function (e) {
        signOffJobLoadform(e);
    });

    function signOffJobLoadform(e) {
        $.get('{{ path('sign_off_job', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $signOffJobWrapper.html(data.html);
                $signOffJobModal.find('[autofocus]:first').focus();
                $signOffJobFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                signOffJobBindForm();
            }
        });
    }

    function signOffJobBindForm() {
        var $form   = $signOffJobWrapper.find('form');
        var $button = $signOffJobFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $signOffJobWrapper.html(response.html);
                    $signOffJobModal.find('[autofocus]:first').focus();
                    signOffJobBindForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }
                    $signOffJobModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
