<h2>Hi <strong>{{ name }}</strong></h2>

<p>Your job {{ job.jobCode}} logged against truck {{ asset.nameString}}  has been completed and signed off.</p>

<p>To view a copy of your completed job sheet, please <a href="{{ url|raw }}">click this link.</a></p>

<p>Thank you for your continued business.</p>
{% if job.chargeMethod == 2 %}
    <p>This job is covered under warranty. No invoice will follow.</p>
{% elseif job.chargeMethod == 1 %}
    <p>This job is covered under your maintenance contract. No invoice will follow.</p>
{% else %}
    <p>This job has been deemed chargeable. {% if job.clientChargedReason %}Reason: {{ job.clientChargedReason}}.{% endif %} </p>
    <p>An invoice will follow shortly.</p>
{% endif %}
