<h2>Hi <strong>{{ name }}</strong></h2>

{% if job.completedAt %}
<p>Your job logged against truck {{ asset.nameString}} has been completed on {{ job.completedAt|date('d/m/Y') }}</p>
{% endif %}

<p>None of your company representatives were available to approve our engineer’s job sheet at that time.</p>

<p>Please <a href="{{ url|raw }}">click this link</a> to view the job sheet and complete your digital approval.</p>


<p>Thank you for you continued business.</p>
