<div class="modal" id="stock-used-on-job-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="stock-used-on-job-form-modal-label"><span class="form-modal-title">Stock used on Job</span></h2>
            </div>
            <div class="modal-body">
                <div class="stock-used-on-job-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $stockUsedOnJobModal   = $('#stock-used-on-job-modal');
    var $stockUsedOnJobWrapper = $stockUsedOnJobModal.find('.stock-used-on-job-form-holder');
    var $stockUsedOnJobFooter  = $stockUsedOnJobModal.find('.modal-footer');
    var reloadPage             = false;

    $stockUsedOnJobModal.on('hide.bs.modal', function (e) {
        $stockUsedOnJobWrapper.html('');

        if(reloadPage) {
            location.reload(true);
        }

        $stockUsedOnJobModal.find('.modal-form-submit').remove();
    });

    $stockUsedOnJobModal.on('show.bs.modal', function (e) {
        stockUsedOnJobLoadForm(e);
    });

    function stockUsedOnJobLoadForm(e) {
        $.get('{{ path('set_stock_used_on_job', { 'id': job.id }) }}', function(data) {
            if (data.displayForm) {
                $stockUsedOnJobWrapper.html(data.html);
                $stockUsedOnJobModal.find('[autofocus]:first').focus();
                $stockUsedOnJobFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                stockUsedOnJobBindForm();
            }
        });
    }

    function stockUsedOnJobBindForm() {
        var $form   = $stockUsedOnJobWrapper.find('form');
        var $button = $stockUsedOnJobFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $stockUsedOnJobWrapper.html(response.html);
                    $button.button('reset');
                    $stockUsedOnJobModal.find('[autofocus]:first').focus();
                    stockUsedOnJobBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $stockUsedOnJobModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the stock used on the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }


</script>
