{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#stockUsedOnJobForm">Stock assigned to job "{{job.jobCode }} - {{ job.customer.name }}"</a></h4>
            </div>
            <div id="stockUsedOnJobForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="attachedStockItems" data-prototype="{{ form_widget(form.attachedStockItems.vars.prototype)|e }}">
                        {% for attachedStockItem in form.attachedStockItems %}
                            <div class="estimate-stock">
                                {% if not attachedStockItem.vars.value.usedOnJob %}
                                    {{ form_errors(attachedStockItem) }}
                                    <div class="form-group" id="stock_item_{{ loop.index }}">
                                        <label class="col-sm-3 control-label" id="stock_item_{{ loop.index }}_label">Item {{ loop.index }}</label>
                                        <p id="stock_item_{{ loop.index }}_text" class="col-sm-6 form-control-static" data>
                                            {{ attachedStockItem.vars.value.stock.    stockString }}<br/>
                                            {% if attachedStockItem.vars.value.location.engineer %}
                                                {{ attachedStockItem.vars.value.location.engineer.name }}
                                            {% elseif attachedStockItem.vars.value.location.siteAddress %}
                                                {{ attachedStockItem.vars.value.location.siteAddress.name }}
                                            {% endif %}
                                        </p>
                                        <div class="col-sm-3">
                                            {{ form_row(attachedStockItem.usedOnJob) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
{% if not logWork %}
    <script type="text/javascript">
        document.getElementById('log-work-modal-title').innerHTML = 'Confirm stock used on job';
        $(function(){
            $('input:checkbox').click();
        })
    </script>
{% endif %}
