{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#logWorkForm">Log work</a></h4>
            </div>
            <div id="logWorkForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label required" for="add_worklog_form_startDate">Job</label>
                        <p class="col-sm-9 form-control-static">{{ job.jobIdentifier }}</p>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label required">{{ jobDetailLabel }}</label>
                        <p class="col-sm-9 form-control-static">{{ jobDetail }}</p>
                    </div>

                    {% if not isEdit|default(false) %}
                        {% for log in job.worklogs %}
                            <div class="form-group worklog-item" data-user={{ log.user.id }}>
                                <label class="col-sm-3 control-label">
                                    {% if loop.index == 1 %}Work Log
                                    {% else %}Work Log {{ loop.index - 1 }}
                                    {% endif %}
                                </label>
                                <p class="col-sm-9 form-control-static">{{ log.description }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div id="description-wrapper" {% if job.completed %}style="display:none;"{% endif %}>
                        {{ form_row(form.description) }}
                    </div>

                    <div class="form-group hidden-form-field" id="work_log_description">
                        <label class="col-sm-3 control-label" id="work_log_description_text_label">Work description</label>
                        <p id="work_log_description_text" class="col-sm-9 form-control-static"></p>
                    </div>

                    {% if isAdmin %}
                        {{ form_row(form.user) }}
                    {% else %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label required" for="engineer_static">Engineer</label>
                            <p class="col-sm-9 form-control-static" id="engineer_static">{{ workLog.user.username }}</p>
                        </div>
                    {% endif %}

                    {{ form_row(form.startDate) }}

                    <div id="time-headings" class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="col-xs-3 col-xs-offset-3 text-center"><strong>Std</strong></div>
                            <div class="col-xs-3 text-center"><strong>x1.5</strong></div>
                            <div class="col-xs-3 text-center"><strong>x2</strong></div>
                        </div>
                    </div>

                    <div id="labour" class="form-group">
                        <label class="col-sm-3 control-label">Labour Time</label>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="col-xs-6">{{ form_row(form.timeLabour, { grid: 'xs', columns: { label: 0, field: 12 }, innerColumns: { label: 6, field: 6 } }) }}</div>
                                <div class="col-xs-3">{{ form_row(form.timeLabourOvertime, { grid: 'xs', columns: { label: 0, field: 12 }, innerColumns: { label: 0, field: 12 } }) }}</div>
                                <div class="col-xs-3">{{ form_row(form.timeLabourExtremeOvertime, { grid: 'xs', columns: { label: 0, field: 12 }, innerColumns: { label: 0, field: 12 } }) }}</div>
                            </div>
                        </div>
                    </div>

                    <div id="travel">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Travel Time</label>

                            <div class="col-sm-9">
                                <div class="form-group">
                                    <div class="col-xs-6">{{ form_row(form.timeTravel, { grid: 'xs', columns: { label: 0, field: 12 }, innerColumns: { label: 6, field: 6 } }) }}</div>
                                    <div class="col-xs-3">{{ form_row(form.timeTravelOvertime, { grid: 'xs', columns: { label: 0, field: 12 }, innerColumns: { label: 0, field: 12 } }) }}</div>
                                    <div class="col-xs-3">{{ form_row(form.timeTravelExtremeOvertime, { grid: 'xs', columns: { label: 0, field: 12 }, innerColumns: { label: 0, field: 12 } }) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if form.hourReading is defined %}{{ form_row(form.hourReading) }}{% endif %}

                    <div id="parts-req-wrapper">
                        {{ form_row(form.requiresParts) }}

                        <div id="parts-req-fields" {% if not form.vars.value.requiresParts %}style="display:none;"{% endif %}>
                            {{ form_row(form.requestedParts) }}
                            {% if form.unassignJob is defined %}{{ form_row(form.unassignJob) }}{% endif %}
                        </div>
                    </div>

                    {% if form.postponeJob is defined %}
                        <div id="postpone-job-wrapper">
                            {{ form_row(form.postponeJob) }}
                        </div>
                    {% endif %}

                    {% if form.completeJob is defined %}
                        <div id="complete-job-wrapper">
                            {{ form_row(form.completeJob) }}
                        </div>
                    {% endif %}

                    <div id="completion-fields" {% if not form.vars.value.completeJob %}style="display:none;"{% endif %}>
                        {% if form.assetLifecyclePeriod is defined %}{{ form_row(form.assetLifecyclePeriod) }}{% endif %}
                        {% if form.asset is defined %}
                            <div id="asset-type-wrapper">
                                {{ form_row( form.assetType) }}
                            </div>
                            <div class="form-group" id="asset-type-selection" style="display:none;">
                                <label class="col-sm-3 control-label">Asset type</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static"></p>
                                </div>
                            </div>
                            <div id="asset-autocomplete-wrapper">{{ form_row( form.asset) }}</div>
                            <div class="form-group" id="asset-selection" style="display:none;">
                                <label class="col-sm-3 control-label">Asset</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"></p>
                                </div>
                                <div class="col-sm-3"><a href="javascript:void();" class="btn btn-primary">Change</a></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>

    {{ form_end(form) }}
</div>

<script type="text/javascript">
    {%  if job.customer %}
        $('#add_worklog_form_asset').typeahead({
            delay: 250,
            minLength: 3,
            source: function (query, process) {
                var customer = {{ job.customer.id }};

                var type = $('#add_worklog_form_assetType').val();

                return $.get('{{ path('asset_autocomplete_search') }}?search=' + query + '&type=' + type + '&customer=' + customer, function (data) {
                    return process(data);
                }, 'json');
            },
            afterSelect: function (data) {
                $('#add_worklog_form_assetLifecyclePeriod').val(data.id);

                $('#asset-autocomplete-wrapper').hide();
                $('.form-control-static', $('#asset-selection')).html(data.name);
                $('#asset-selection').show();

                $('#asset-type-wrapper').hide();
                $('.form-control-static', $('#asset-type-selection')).html($('#asset-type-wrapper option:selected').html());
                $('#asset-type-selection').show();
            }
        });
    {% endif %}


    $('#add_worklog_form_asset').focusout(function () {
        if ($(this).val() === '') {
            $('#add_worklog_form_assetLifecyclePeriod').val(0);
        }
    });

    $('#asset-selection .btn').click(function(e) {
        e.preventDefault();

        $('#add_worklog_form_assetLifecyclePeriod').val('');

        $('#add_worklog_form_asset').val('');
        $('.form-control-static', $('#asset-selection')).empty();
        $('#asset-selection').hide();
        $('#asset-autocomplete-wrapper').val('');
        $('#asset-autocomplete-wrapper').show();

        $('.form-control-static', $('#asset-type-selection')).empty();
        $('#asset-type-selection').hide();
        $('#asset-type-wrapper').show();

        $('#add_worklog_form_asset').focus();
    });

{% if job.isLolerJob %}
    $('#add_worklog_form_description').val('Completed LOLER inspection as required');
{% endif %}

{% if job.isServiceJob %}
    $('#add_worklog_form_description').val('Completed Routine Service as required');
{% endif %}

$completeJob = $('#add_worklog_form_completeJob');
$postponeJob = $('#add_worklog_form_postponeJob');
$requiresParts = $('#add_worklog_form_requiresParts');
$unassignJob = $('#add_worklog_form_unassignJob');
$labourHour = $('#add_worklog_form_timeLabour_hour');
$labourMinute = $('#add_worklog_form_timeLabour_minute');
$travelHour = $('#add_worklog_form_timeTravel_hour');
$travelMinute = $('#add_worklog_form_timeTravel_minute');

function displayOrHideDescription() {
    var userId = {% if isAdmin %}$('#add_worklog_form_user').val(){% else %}{{ workLog.user.id }}{% endif %};
    var userHasLoggedWork = $('.worklog-item[data-user=' + userId + ']').length > 0;

    var hoursLabour = parseInt($labourHour.val()) > 0;
    var minutesLabour = parseInt($labourMinute.val()) > 0;
    var isTimeLabour = hoursLabour || minutesLabour;
    var hoursTravel = parseInt($travelHour.val()) > 0;
    var minutesTravel = parseInt($travelMinute.val()) > 0;
    var isTimeTravel = hoursTravel || minutesTravel;


    if (isTimeLabour || isTimeTravel || !userHasLoggedWork) {
        $('#description-wrapper').slideDown();
    } else {
        $('#description-wrapper').slideUp();
    }
}

$labourHour.on('change', displayOrHideDescription);
$labourMinute.on('change', displayOrHideDescription);
$travelHour.on('change', displayOrHideDescription);
$travelMinute.on('change', displayOrHideDescription);

$completeJob.on('click', function(){
    if ($completeJob.prop('checked')) {
        $requiresParts.prop('checked', false);
        $postponeJob.prop('checked', false);
        $('#parts-req-wrapper').slideUp();
        $('#postpone-job-wrapper').slideUp();
        $('#completion-fields').slideDown();
    } else {
        $('#parts-req-wrapper').slideDown();
        $('#postpone-job-wrapper').slideDown();
        $('#completion-fields').slideUp();
    }

    displayOrHideDescription();
});

$postponeJob.on('click', function(){
    if ($postponeJob.prop('checked')) {
        $completeJob.prop('checked', false);
        $requiresParts.prop('checked', false);
        $('#complete-job-wrapper').slideUp();
        $('#completion-fields').slideUp();
        $('#parts-req-wrapper').slideUp();
    } else {
        $('#complete-job-wrapper').slideDown();
        $('#parts-req-wrapper').slideDown();
    }
});

$requiresParts.on('click', function(){
    if ($requiresParts.prop('checked')) {
        $postponeJob.prop('checked', false);
        $completeJob.prop('checked', false);
        $('#parts-req-fields').slideDown();
        $('#postpone-job-wrapper').slideUp();
        $('#complete-job-wrapper').slideUp();
    } else {
        $unassignJob.prop('checked', false);
        $('#parts-req-fields').slideUp();
        $('#postpone-job-wrapper').slideDown();
        $('#complete-job-wrapper').slideDown();
    }
});

</script>
