<div class="modal" id="log-work-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custom-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="log-work-modal-label"><span id="log-work-modal-title" class="form-modal-title">Log work</span></h2>
            </div>
            <div class="modal-body">
                <div class="log-work-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $logWorkModal   = $('#log-work-modal');
    var $logWorkWrapper = $logWorkModal.find('.log-work-form-holder');
    var $logWorkFooter  = $logWorkModal.find('.modal-footer');
    var reloadPage      = false;
    var complete        = false;

    $('.custom-close').click(function () {
        location.reload(true);
    });

    $('body').on('click',  '.editWorkLog', function(e) {
        e.preventDefault();
        $logWorkModal.data('id', $(this).data('id'));
        $logWorkModal.modal('show');
    });

    $logWorkModal.on('hide.bs.modal', function (e) {
        $logWorkWrapper.html('');
        $logWorkModal.removeData('id');

        if (reloadPage) {
            location.reload(true);
        }

        $logWorkModal.find('.modal-form-submit').remove();
    });

    $logWorkModal.on('show.bs.modal', function (e) {
        document.getElementById('log-work-modal-title').innerHTML = 'Log work';

        let id = $(this).data('id');
        let jobId = $(this).data('job-id');
        let jobForm = '{{ job is defined ? job.id : '' }}';

        if(id) {
            workLogLoadform("{{ path('edit_work_log', { 'id': -32 }) }}".replace(/-32/g, id));
        } else if(jobId) {
            workLogLoadform('{{ path('log_work') }}/' + jobId);
        } else if(jobForm !== '') {
            console.log(jobForm)
            workLogLoadform('{{ path('log_work', { 'id': job is defined ? job.id : '' }) }}');
        }
    });

    function workLogLoadform(path) {
        $.get(path, function(data) {
            if (data.displayForm) {
                $logWorkWrapper.html(data.html);

                $logWorkModal.find('[autofocus]:first').focus();
                $logWorkFooter.prepend('<button id="log-work-button" type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                checkIfJobCompletionFormIsValid();
                workLogBindForm();
            }
        });
    }

    function workLogBindForm() {
        var $form   = $logWorkWrapper.find('form');
        var $button = $logWorkFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        var $complete = $form.find('#work_log_completeJob');

        if (complete && $complete.length) {
            if ($complete.prop('checked')) {
                $complete.prop('checked', false);
            }

            $complete.click();
            document.getElementById('work_log_completeJob').type = 'hidden';
            $('<input type="checkbox" checked disabled>').insertAfter($('#work_log_completeJob'));
        }

        $form.find('.datetimepicker').datetimepicker();

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if(response.refresh) {
                    reloadPage = true;
                }

                if (response.displayForm) {
                    $button.button('reset');
                    $logWorkWrapper.html(response.html);
                    $logWorkModal.find('[autofocus]:first').focus();
                    workLogBindForm();
                } else if (response.html) {
                    $button.button('reset');
                    $button.remove();
                    $logWorkWrapper.html(response.html);
                } else {
                    $button.remove();
                    $logWorkModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the work was not logged');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }

    function checkIfJobCompletionFormIsValid() {
        $('#log-work-button').on('click', function(e){
            e.preventDefault();
            $('#complete_job_make').removeClass('disallowedInput');
            $('#complete_job_model').removeClass('disallowedInput');
            $('#complete_job_cause').removeClass('disallowedInput');

            var make       = $('#complete_job_make').val();
            var model      = $('#complete_job_model').val();

            var submitForm = true;

            if ($('#complete_job_make').is(':visible')) {
                if (make == '') {
                    $('#complete_job_make').addClass('disallowedInput');
                    submitForm = false;
                }

                if (model == '') {
                    $('#complete_job_model').addClass('disallowedInput');
                    submitForm = false;
                }
            }

            if (submitForm) {
                $logWorkWrapper.find('form').submit();
            }
        })
    }
</script>
