{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Engineers Time Logged from {{ start | date('d/m/Y') }} to {{ end | date('d/m/Y') }}</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    {% if engineersTimesLogged|length > 0 %}
                        {% for date, engineersTimeLogged in engineersTimesLogged %}
                            <tr>
                                <td colspan="9">Date: {{ date }}</td>
                            </tr>
                            <tr>
                                <th>Engineer</th>
                                <th>Job No</th>
                                <th>Customer</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Serial No</th>
                                <th>Job Detail</th>
                                <th>Labours Hours Logged</th>
                                <th>Travel Hours Logged</th>
                                <th>Charge Type</th>
                                <th></th>
                            </tr>
                            {% for timeLogged in engineersTimeLogged.timesLogged %}
                                <tr>
                                    <td>{{ timeLogged.engineer }}</td>
                                    <td style="text-align: right">{% if timeLogged.job is defined %}<a href="{{ path('view_job', { 'id': timeLogged.job }) }}">{{ timeLogged.job }}</a>{% endif %}</td>
                                    <td>{% if timeLogged.customer is defined %}{{ timeLogged.customer }}{% endif %}</td>
                                    <td>{% if timeLogged.make is defined %}{{ timeLogged.make }}{% endif %}</td>
                                    <td>{% if timeLogged.model is defined %}{{ timeLogged.model }}{% endif %}</td>
                                    <td>{% if timeLogged.serial is defined %}{{ timeLogged.serial }}{% endif %}</td>
                                    <td>{{ timeLogged.detail|default('-') }}</td>
                                    <td style="text-align: right">
                                        {% if timeLogged.timeLabour is defined %}
                                            {{ worklog_time_string(timeLogged.timeLabour, timeLogged.timeLabourOvertime, timeLogged.timeLabourExtremeOvertime) }}
                                        {% else %}
                                            {{ worklog_time_string(timeLogged.time) }}
                                        {% endif %}
                                    </td>
                                    <td style="text-align: right">
                                        {% if timeLogged.timeTravel is defined %}
                                            {{ worklog_time_string(timeLogged.timeTravel, timeLogged.timeTravelOvertime, timeLogged.timeTravelExtremeOvertime) }}</td>
                                        {% endif %}
                                    <td>
                                        {% if timeLogged.chargeMethod is defined %}
                                            {% if timeLogged.completed and timeLogged.chargeMethod == 0 %}
                                                Invoice Client
                                            {% elseif timeLogged.completed and timeLogged.chargeMethod == 1 %}
                                                Charge against Maintenance
                                            {% elseif timeLogged.completed and timeLogged.chargeMethod == 2 %}
                                                Warranty
                                            {% elseif not timeLogged.completed %}
                                                Not completed
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    {% if timeLogged.absence is defined %}
                                    <td>
                                        <a class="btn btn-primary btn-xs pull-right" data-edit-id={{ timeLogged.id }} href="javascript:void(0);" id="editAbsence">Edit Absence</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td colspan="6">Total Daily</td>
                                <td style="text-align: right">{{ worklog_time_string(engineersTimeLogged.totalLabourLogged.normal, engineersTimeLogged.totalLabourLogged.overtime, engineersTimeLogged.totalLabourLogged.extremeOvertime, engineersTimeLogged.totalAbsenceTime.normal) }}</td>
                                <td style="text-align: right">{{ worklog_time_string(engineersTimeLogged.totalTravelLogged.normal, engineersTimeLogged.totalTravelLogged.overtime, engineersTimeLogged.totalTravelLogged.extremeOvertime) }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        {% for engineer, timeLogged in engineersTimeLogged %}
                            <tr>
                                <td colspan="7">{{ engineer }}</td>
                                <td style="text-align: right">{{ worklog_time_string(timeLogged.timeLabour.normal, timeLogged.timeLabour.overtime, timeLogged.timeLabour.extremeOvertime, timeLogged.absenceTime.normal) }}</td>
                                    <td style="text-align: right">{{ worklog_time_string(timeLogged.timeTravel.normal, timeLogged.timeTravel.overtime, timeLogged.timeTravel.extremeOvertime) }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="7">Total for Date Range</td>
                            <td style="text-align: right">{{ worklog_time_string(totalLabourLogged.normal, totalLabourLogged.overtime, totalLabourLogged.extremeOvertime, totalAbsenceTime) }}</td>
                            <td style="text-align: right">{{ worklog_time_string(totalTravelLogged.normal, totalTravelLogged.overtime, totalTravelLogged.extremeOvertime) }}</td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Engineers Time Logged not found from {{ start | date('d/m/Y') }} to {{ end | date('d/m/Y') }}.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'absence', modalTitle: 'Absence', modalEditRoute: path('edit_absence') } %}

{% endblock %}

