{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Parts returned from a Job to an Engineers Van Stock</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Engineer</th>
                        <th>Part Number</th>
                        <th>Part Description</th>
                        <th>Quantity</th>
                        <th>Job No</th>
                    </tr>

                    {% if returnedParts|length > 0 %}
                        {% for returnedPart in returnedParts %}
                            <tr>
                                <td>{{ returnedPart.engineerName }}</td>
                                <td>{{ returnedPart.code }}</td>
                                <td>{{ returnedPart.description }}</td>
                                <td>{{ returnedPart.quantity }}</td>
                                <td>{{ returnedPart.jobNo }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">Parts returned from a Job to an Engineers Van Stock not found.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
