{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

<div class="row">
        <div class="col-md-12">
        <h2>Job history for {{ month }}</h2>

        <h3>Jobs In: {{ month }}, Jobs Out: {{ month }} </h3>
        <hr>

        <h4>Jobs created</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered ">
                <tr>
                    <th>Code</th>
                    <th>Customer</th>
                    <th>Site</th>
                    <th>Truck</th>
                    <th>Detail</th>
                    <th>Engineer</th>
                    <th>Creation date</th>
                </tr>
                {% if jobsIn|length > 0 %}
                    {% for job in jobsIn %}
                        <tr>
                            <td><a href="{{ path('view_job', { 'id': job.id }) }}">{{ job.JobCode }}</a></td>
                            <td>{{ job.customer ? job.customer.name : '' }}</td>
                            {% if job.siteAddress is not null %}
                                <td>
                                    {{ job.siteAddress.address1 ? job.siteAddress.address1 : '' }}
                                    {{ job.siteAddress.address2 ? ', ' ~ job.siteAddress.address2 : '' }}
                                    {{ job.siteAddress.city     ? ', ' ~ job.siteAddress.city : '' }}
                                    {{ job.siteAddress.postcode ? ', ' ~ job.siteAddress.postcode : '' }}
                                </td>
                            {% else %}
                                <td>
                                {% if job.customer and job.customer.billingAddress %}
                                    {{ job.customer.billingAddress.address1 ? job.customer.billingaddress.address1 : '' }}
                                    {{ job.customer.billingAddress.address2 ? ', ' ~ job.customer.billingaddress.address2 : '' }}
                                    {{ job.customer.billingAddress.city     ? ', ' ~ job.customer.billingaddress.city : '' }}
                                    {{ job.customer.billingAddress.postcode ? ', ' ~ job.customer.billingaddress.postcode : '' }}
                                {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ job.truck.getNameString|default('No truck assigned') }}</td>
                            <td>{{ job.detail|default('-') }}</td>
                            <td>{{ job.engineer.displayName|default('Unassigned') }}</td>
                            <td>{{ job.createdAt|date('d/m/Y')|default('--') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No new jobs created.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <hr>

        <h4>Jobs completed</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Code</th>
                    <th>Customer</th>
                    <th>Site</th>
                    <th>Truck</th>
                    <th>Detail</th>
                    <th>Engineer</th>
                    <th>Completion date</th>
                </tr>
                {% if jobsOut|length > 0 %}
                    {% for job in jobsOut %}
                        <tr>
                            <td><a href="{{ path('view_job', { 'id': job.id }) }}">{{ job.JobCode }}</a></td>
                            <td>{{ job.customer ? job.customer.name : '' }}</td>
                            {% if job.siteAddress is not null %}
                                <td>
                                    {{ job.siteAddress.address1 ? job.siteAddress.address1 : '' }}
                                    {{ job.siteAddress.address2 ? ', ' ~ job.siteAddress.address2 : '' }}
                                    {{ job.siteAddress.city     ? ', ' ~ job.siteAddress.city : '' }}
                                    {{ job.siteAddress.postcode ? ', ' ~ job.siteAddress.postcode : '' }}
                                </td>
                            {% else %}
                                <td>
                                    {% if job.customer and job.customer.billingAddress  %}
                                    {{ job.customer.billingAddress.address1 ? job.customer.billingAddress.address1 : '' }}
                                    {{ job.customer.billingAddress.address2 ? ', ' ~ job.customer.billingAddress.address2 : '' }}
                                    {{ job.customer.billingAddress.city     ? ', ' ~ job.customer.billingAddress.city : '' }}
                                    {{ job.customer.billingAddress.postcode ? ', ' ~ job.customer.billingAddress.postcode : '' }}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ job.truck.getNameString|default('No truck assigned') }}</td>
                            <td>{{ job.detail|default('-') }}</td>
                            <td>{{ job.engineer.displayName|default('Unassigned') }}</td>
                            <td>{{ job.completedAt|date('d/m/Y')|default('No date set.') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">No jobs completed.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
