{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Job history from {{ start | date('d/n/Y') }} to {{ end | date('d/n/Y') }}</h2>
            <h3>{% if jobsIn|length > 0 %} Jobs In: {{ jobsIn|length }} {% endif %} {% if jobsOut|length > 0 %} Jobs Out: {{ jobsOut|length }} {% endif %}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if jobsIn|length > 0 %}
                <h4>Jobs created</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="jobs-created">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Customer</th>
                            <th>Site</th>
                            <th>Truck</th>
                            <th>Detail</th>
                            <th>Total Labour on Job</th>
                            <th>Parts and Labour Total</th>
                            <th>Engineer</th>
                            <th>Creation date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if jobsIn|length > 0 %}
                            {% for job in jobsIn %}
                                <tr>
                                    <td><a href="{{ path('view_job', { 'id': job.id }) }}">{{ job.JobCode }}</a></td>
                                    <td>{{ job.customer ? job.customerName : '' }}</td>
                                    {% if job.siteAddress is not null %}
                                        <td>
                                            {{ job.address1 ? job.address1 : '' }}
                                            {{ job.address2 ? ', ' ~ job.address2 : '' }}
                                            {{ job.city     ? ', ' ~ job.city : '' }}
                                            {{ job.postcode ? ', ' ~ job.postcode : '' }}
                                        </td>
                                    {% else %}
                                        <td>
                                            {% if job.bAddress1 is defined %}
                                                {{ job.bAddress1 ? job.bAddress1 : '' }}
                                                {{ job.bAddress2 ? ', ' ~ job.bAddress2 : '' }}
                                                {{ job.bCity     ? ', ' ~ job.bCity : '' }}
                                                {{ job.bPostcode ? ', ' ~ job.bPostcode : '' }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>{{ job.truck.getNameString|default('No truck assigned') }}</td>
                                    <td>{{ job.detail|default('-') }}</td>
                                    <td>{{ job.getLabourCost ?? '-' }}</td>
                                    <td>{{ job.getTotalJobCost ?? '-' }}</td>
                                    <td>{{ job.engineer|default('Unassigned') }}</td>
                                    <td>{{ job.createdAt|date('d/m/Y')|default('--') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if jobsOut|length > 0 %}
            <h4>Jobs completed</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="jobs-completed">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Customer</th>
                        <th>Site</th>
                        <th>Truck</th>
                        <th>Detail</th>
                        <th>Total Labour on Job</th>
                        <th>Parts and Labour Total</th>
                        <th>Engineer</th>
                        <th>Completion date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if jobsOut|length > 0 %}
                    {% for job in jobsOut %}
                        <tr>
                            <td>{{ job.JobCode }}</td>
                            <td>{{ job.customer ? job.customerName : '' }}</td>
                            {% if job.siteAddress is not null %}
                                <td>
                                    {{ job.address1 ? job.address1 : '' }}
                                    {{ job.address2 ? ', ' ~ job.address2 : '' }}
                                    {{ job.city     ? ', ' ~ job.city : '' }}
                                    {{ job.postcode ? ', ' ~ job.postcode : '' }}
                                </td>
                            {% else %}
                                <td>
                                    {% if job.bAddress1 is defined %}
                                        {{ job.bAddress1 ? job.bAddress1 : '' }}
                                        {{ job.bAddress2 ? ', ' ~ job.bAddress2 : '' }}
                                        {{ job.bCity     ? ', ' ~ job.bCity : '' }}
                                        {{ job.bPostcode ? ', ' ~ job.bPostcode : '' }}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ job.truck.getNameString|default('No truck assigned') }}</td>
                            <td>{{ job.detail|default('-') }}</td>
                            <td>{{ job.getLabourCost ?? '-' }}</td>
                            <td>{{ job.getTotalJobCost ?? '-' }}</td>
                            <td>{{ job.engineer|default('Unassigned') }}</td>
                            <td>{{ job.completedAt|date('d/m/Y')|default('No date set.') }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
