{% extends 'layout.html.twig' %}
{% set containerClass = 'container-fluid'%}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{% block search_category %}job{% endblock %}
{% block page_type %}job{% endblock %}
{% block title %}Jobs{% endblock %}
{% block page_shortcuts %}{% include 'Job/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row" id="top">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">Jobs
                {% if canEdit %}
                    <a href="{{ path('search_by_truck') }}" class="btn btn-primary pull-right">Search by Truck</a>
                    <a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a>
                    <a class="btn btn-primary pull-right" style="margin-right: 10px" href="{{ path('job_current_month') }}" id="current_month_report">Current Month Job History</a>
                    <div class="clearfix"></div>
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="waterfall" id="job-filter">
                {% if not is_engineer() %}
                {% include 'Job/_jobFilterPanel.html.twig' with { 'panelNumber': 1, 'panelTitle': 'Jobs to assign', 'jobs': jobs, 'priorities': priorities } %}
                {% endif %}
                {% include 'Job/_jobFilterPanel.html.twig' with { 'panelNumber': 2, 'panelTitle': 'Live Jobs', 'jobs': jobs, 'priorities': priorities } %}
                {% include 'Job/_jobFilterPanel.html.twig' with { 'panelNumber': 3, 'panelTitle': 'Parts Required', 'jobs': jobs, 'priorities': priorities } %}
                <div class="clearfix visible-xs visible-sm"></div>
                {% include 'Job/_jobFilterPanel.html.twig' with { 'panelNumber': 4, 'panelTitle': 'Part on Order', 'jobs': jobs, 'priorities': priorities } %}
                {% if not is_engineer() %}
                {% include 'Job/_jobFilterPanel.html.twig' with { 'panelNumber': 5, 'panelTitle': 'Estimate Pending', 'jobs': jobs, 'priorities': priorities } %}
                {% endif %}
                {% include 'Job/_jobFilterPanel.html.twig' with { 'panelNumber': 6, 'panelTitle': 'Completed', 'jobs': jobs, 'priorities': priorities } %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="job-particulars" class="particulars-holder"></div>
        </div>
    </div>

    {% if canEdit %}
        {% include '_formModal.html.twig' with { modalType: 'job', modalTitle: 'Job', modalNewRoute: path('new_job'), modalEditRoute: path('edit_job') } %}
        {% include 'Job/_newCustomerModal.html.twig' %}
        {% include 'PurchaseOrder/_newItemOfStockModal.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

var trucks    = [];
var selection = {};
var makes     = {};

var actives = {
    make: null,
    model: null,
    serial: null,
    clientFleet: null,
    jobCode: null
};

$('[data-type="jobCode"] .panel-link:first').addClass('selected');
$('[data-type="jobCode"] .panel-link:first').focus();

$(function() {
    sortPanels();

    $('.panel-link[data-toggle="tooltip"]').tooltip({ 'placement': 'auto top' });

    $('[data-type="jobCode"] .panel-item.panel-link').on('click', function(e) {
        if (e.target.tagName.toLowerCase() === 'a') {
            jobId = $(e.target).data('id');
            loadJob(jobId);
            return;
        };

        var $clickedElement = $(this);
        $('[data-type="customer"] .panel-link').removeClass('active selected');
        $('[data-type="jobCode"] .panel-link').removeClass('active selected');
        $clickedElement.addClass('active selected');

        var jobId = $clickedElement['0'].dataset.id;
        loadJob(jobId);
    });

    var counter = 1;
    $('[data-column="1"]').each(function(){
        $(this).attr('data-row', String(counter));
        counter++;
    });

    $('[data-type="jobCode"] .panel-link').removeClass('selected');
    $('[data-type="jobCode"] .panel-link:first').addClass('selected');
    $('[data-type="jobCode"] .panel-link:first').focus();

});

function sortPanels() {
    var $panels = $(".panel-filter .panel-body");
    $panels.each(function() {
        var $panel = $(this);
        var divList = $panel.find('.panel-link');
        divList.sort(function(a, b){
            return $(b).data("priority")-$(a).data("priority")
        });
        $panel.html(divList);
    })
}

function loadJob(id) {
    $('#job-particulars').empty();
    $('#job-particulars').LoadingOverlay('show', { fade: 0 });

    $('#job-particulars').load('{{ path('get_job_particulars') }}/' + id, function() {
        $('#job-particulars').LoadingOverlay('hide');

        $(document).on('keypress', null, 'e', function() {
            $('#editJob').trigger('click');
        });
    });
}

function bindClicks() {
    $('[data-type]').not('[data-type="customer"]').find('.panel-link').off('click');

    $('[data-type="paidJob"] .panel-item.panel-link').on('click', function() {
        var $clickedElement = $(this);

        $('[data-type="jobCode"] .panel-link').removeClass('active selected');
        $('[data-type="paidJob"] .panel-link').removeClass('active selected');
        $clickedElement.addClass('active selected');
        var jobId = $clickedElement['0'].dataset.id;
        loadJob(jobId);
    });


    $('[data-type="jobCode"] .panel-item.panel-link').on('click', function(e) {
        if (e.target.tagName.toLowerCase() === 'a') {
            jobId = $(e.target).data('id');
            loadJob(jobId);
            return;
        };

        var $clickedElement = $(this);
        $('[data-type="jobCode"] .panel-link').removeClass('active selected');
        $('[data-type="paidJob"] .panel-link').removeClass('active selected');
        $clickedElement.addClass('active selected');

        var jobId = $clickedElement['0'].dataset.id;
        loadJob(jobId);
    });
}

function reload() {
    window.location.reload();
}

function tooltip(target_items, name){
    $(target_items).each(function(i){
        $("body").append("<div class='"+name+"' id='"+name+i+"'><p>"+$(this).children('.tooltip-span').text()+"</p></div>");
        var tooltip = $("#"+name+i);

        $(this).removeAttr("title").mouseover(function(){
            tooltip.css({opacity:0.8, display:"none"}).fadeIn(200);
        }).mousemove(function(kmouse){
            tooltip.css({left:kmouse.pageX+15, top:kmouse.pageY+15});
        }).mouseout(function(){
            tooltip.fadeOut(200);
        });
    });
}

let jobUpdates = [];
setInterval(function(){
    const now = new Date();
    $.ajax({
        url: "{{ path('jobs_updated')}}/" +  now.toUTCString(),
        type: 'get',
        success: function(data) {
            jobUpdates.push(...data.jobsUpdates);
            if (data.success) {
                $.growl("The data on this page has changed, refresh? <a href='#' onclick='window.location.reload()'>Click</a>", {
                    type: 'success',
                    delay: 0,
                    template: {
                        container: '<div class="col-md-3 growl-animated alert">'
                    }
                });
            }
        }
    })
}, 30000);

$(window).on('load', function(){
    jobUpdates = [];
});


$(document).ready(function(){
    tooltip($('.panel-link'),"tooltip");
});

</script>
{% endblock %}
