{% form_theme stageForm 'Form/form_layout_horizontal.html.twig' %}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{%  set isEngineer = is_engineer() %}

<div class="row">
    <div class="col-md-12">
        <div>
            <h2 class="page-title">Job Particulars -{{ job.displayTitle }}</h2>

            <dl class="row">
                <div class="col-md-4">
                    <dt>Job Logged</dt>
                    <dd>{{ job.createdAt | date('d/m/Y H:i') }}</dd>
                </div>

                <div class="col-md-4">
                    <dt>Labour/travel logged to date</dt>
                    <dd><i id="totalTime">{{ job.timeLogged }}</i></dd>
                </div>

                {% if job.completedAt %}
                    <div class="col-md-4">
                        <dt>Job Completed:</dt>
                        <dd>{{ job.completedAt | date('d/m/Y H:i') }}</dd>
                    </div>
                {% endif %}
            </dl>

            <hr>

            {% if canEdit or assignedToJob %}
                <div class="particulars-actions">
                    {% if job.deletedAt %}
                        <div>
                            {% if job.deletedBy %}
                                Username: {{ job.deletedBy.username }} <br/>
                            {% endif %}
                            {% if job.reasonDeleted %}
                                Reason for deletion: {{ job.reasonDeleted }} <br/>
                            {% endif %}
                        </div>
                        {% if canEdit %}<a class="btn btn-primary" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to undelete on the job?" data-href="{{ path('undelete_job') }}/{{ job.id }}" href="#">Undelete</a>{% endif %}
                    {% else %}
                    <a class="btn btn-primary item-actions" href="{{ path('view_job', { id: job.id }) }}">View</a>
                    {% if canEdit %}<a class="btn btn-primary item-actions" data-edit-id="{{ job.id }}" id="editJob" href="javascript:void(0);">Edit</a>{% endif %}
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#add-image-modal">Add Image</a>
                    {% if canEdit %}<a class="btn btn-success" href="#" data-toggle="modal" data-target="#assign-engineer-modal">Engineer</a>{% endif %}
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#log-work-modal">Log work</a>
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#raise-purchase-order-modal">Create PO</a>
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#new-estimate-modal">Estimate Req</a>
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#assign-stock-modal">Assign Stock</a>
                    {% if canEdit %}<a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm job is to be postponed." data-href="{{ path('postpone_job') }}/{{ job.id }}" href="#">Postpone</a>{% endif %}
                    {% if job.asset is defined %}
                        <a class="btn btn-success item-actions" href="{{ path('get_asset_job_history_report', { id: job.asset.id, lifecyclePeriodId: job.assetLifecyclePeriod.id }) }}">Asset history</a>
                    {% endif %}
                    {% if job.signature %}
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#job-sheet-modal">Job sheet</a>
                    {% else %}
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#job-sheet-modal">Job sheet</a>
                    {% endif %}
                    {% if canEdit %}
                        {% if job.signedOff %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to un-sign off on the job?" data-href="{{ path('un_sign_off_job') }}/{{ job.id }}" href="#">Un-sign Off</a>
                        {% else %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to sign off on the job?" data-href="{{ path('sign_off_job') }}/{{ job.id }}" href="#">Sign off</a>
                        {% endif %}
                    {% endif %}
                    {% if job.invoice %}
                        <a class="btn btn-success item-actions" href="{{ path('view_invoice', { id: job.invoice.id }) }}">View Invoice</a>
                    {% endif %}

                        <br/>

                    {% if not job.signedOff and canEdit %}
                        <span class="form-inline">{{ form_widget(stageForm.stage) }}</span>
                    {% endif %}
                    {% endif %}
                </div>

                <hr>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive col-md-6 col-sm-12">
        <div id="particulars-module_heading" class="section-header">
            <h2>Job Details</h2>
        </div>

        <table class="table table-striped table-bordered">
            <tbody>

                <tr>
                    <th>Job Assigned To</th>
                    <td>
                        {% for engineer in job.engineers %}
                            <li>{{ engineer.displayName }}</li>
                        {% else %}
                            No engineer assigned
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <th>Job ID</th>
                    <td>{{ job.getJobIdentifier }}</td>
                </tr>

                <tr>
                    <th>Site</th>
                    <td>
                        {% if job.assetLifecyclePeriod %}
                            {{ job.assetLifecyclePeriod.siteAddress ? job.assetLifecyclePeriod.siteAddress.addressString : (job.assetLifecyclePeriod.customer ? job.assetLifecyclePeriod.customer.billingAddress.addressString : '--') }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>{% if job.urgent %}Fault reported{% else %}Job Detail{% endif %}</th>
                    <td>{{ job.detail | default('--') }}</td>
                </tr>

                {% if job.clientChargedReason %}
                    <tr>
                        <th>Reason</th>
                        <td>{{ job.clientChargedReason }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th>Job category</th>
                    <td>                        {{ job.jobCategoryText }}

                        {% if job.attachedJobs %}
                            <br>Attached jobs:
                            {% for attachedJob in job.attachedJobs %}
                            <br>
                                <a href="{{ path('view_job', { 'id': attachedJob.id }) }}" target="_blank">{{ attachedJob.jobcode }} - {{ attachedJob.customer.name }}</a>
                            {% endfor %}
                        {% endif %}

                        {% if job.doWithNextJob %}
                            <br>
                            (Next site visit)
                            {% if job.doWithJob %}
                                Do with Job:
                                <a href="{{ path('view_job', { 'id': job.doWithJob.id }) }}" target="_blank">{{ job.doWithJob.jobcode }} - {{ job.doWithJob.customer.name }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Hour reading</th>
                    <td>{{ job.hourReading | default ('--')}}</td>
                </tr>
                {% if job.notes %}
                <tr>
                    <th>Notes</th>
                    <td>{{ job.notes }}</td>
                </tr>
                {% endif %}

                {% if job.completed and job.futureWorkRecommendations | length > 0 %}
                    <tr>
                        <th>Possible future work</th>
                        <td>
                            <ul>
                                {% for futureWorkRecommendation in job.futureWorkRecommendations %}
                                    <li>
                                        {% if canEdit %}
                                            <a href="{{ path('view_estimate', {'id': futureWorkRecommendation.estimate.id }) }}">
                                                {{ futureWorkRecommendation.task | default ('--') }}
                                            </a>
                                        {% else %}
                                            {{ futureWorkRecommendation.task | default ('--') }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Warranty</th>
                    <td>
                        {% set warranties = job.warranties %}
                        {% for warranty in warranties %}
                            <div>{{ warranty.type }} ({{ warranty.provider }}) until {{ warranty.endDate }}</div>
                        {% else %}
                            No
                        {% endfor %}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="servicing-section" class="table-responsive information-section col-md-6 col-sm-12">
        <div id="servicing-module_heading" class="section-header">
            <h2>Parts and Labour</h2>
        </div>

        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Charge Method</th>

                    <td>
                        {% if job.completed %}
                            {% if job.chargeMethod == 2 %}
                                Warranty
                            {% elseif job.chargeMethod == 1 %}
                                Charge against Maintenance
                            {% else %}
                                Invoice Client
                            {% endif %}
                        {% endif %}
                        {% if canEdit %}
                            {% if job.completionStage == 6 %}
                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-edit-charge-method-id="{{ job.id }}" data-target="#edit-job-charge-method" href="#">Edit</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if job.callOutCharge > 0 %}
                    <tr>
                        <th>Out of hours call out charge</th>
                        <td>£{{ job.callOutCharge }}</td>
                    </tr>
                {% endif %}
                {% if not isEngineer %}
                    <tr>
                        <th>Labour</th>
                        <td>£{{ job.labourCost }}</td>
                    </tr>

                    <tr>
                        <th>Travel</th>
                        <td>£{{ job.travelCost }}</td>
                    </tr>

                    <tr>
                        <th>Parts</th>
                        <td>£{{ job.attachedStockCost }}</td>
                    </tr>

                    <tr>
                        <th>Total</th>
                        <td>£{{ job.totalJobCost }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% if job.contacts|length %}
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Contacts</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tel</th>
                        <th>Mob</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in job.contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.telephone }}</td>
                            <td>{{ contact.mobile }}</td>
                            <td>{{ contact.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% if job.estimates %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Estimates</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>Code</th>
                            <th>Details</th>
                            <th>Price</th>
                        </tr>
                            {% for estimate in job.estimates %}
                                <tr>
                                    {% if canEdit %}
                                        <td><a href="{{ path('view_estimate', { 'id' : estimate.id}) }}">{{ estimate.code ?: estimate.id }}</a></td>
                                    {% else %}
                                        <td>{{ estimate.code ?: estimate.id }}</td>
                                    {% endif %}
                                    <td>{{ estimate.details }}</td>
                                    {% if not isEngineer %}<td>£{{ estimate.totalPrice }}</td>{% endif %}
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if job.requestedParts|length %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Requested Parts</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Requested By</th>
                            <th>Details</th>
                            <th>Requested At</th>
                            <th style="width: 100px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in job.requestedParts %}
                            <tr>
                                <td>{{ request.user.name }}</td>
                                <td>{{ request.requestedParts|nl2br }}</td>
                                <td>{{ request.created | date('d/m/Y H:i') }}</td>
                                <td>
                                    {% if request.requestedPartsComplete %}
                                        Satisfied
                                    {% elseif canEdit %}
                                        <a class="btn btn-success" href="#" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to mark this parts req as satisfied?" data-href="{{ path('work_log_parts_req_complete') }}/{{ request.id }}">Satisfied</a>
                                    {% else %}
                                        Pending
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if job.attachedStockItems %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Parts on Job</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="stockTable">
                    <tbody>
                        <tr>
                            <th class="col-md-1">Part No.</th>
                            <th class="col-md-3">Item</th>
                            <th class="col-md-3">Supplier</th>
                            {% if not isEngineer %}<th class="col-md-1">Cost Price</th>{% endif %}
                            {% if not isEngineer %}<th class="col-md-1">Issue Price</th>{% endif %}
                            <th class="col-md-1">Quantity</th>
                            {% if job.completionStage < 6 %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if job.partsRequisitions | length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Custom parts</h2>
            <div class="table-responsive" id="custom-parts-table">
                <table class="table table-striped table-bordered" id="parts_requisitions">
                    <tbody>
                        <tr>
                            <th class="col-md-1">Part No.</th>
                            <th class="col-md-{{ isEngineer ? '4' : '3' }}">Item</th>
                            <th class="col-md-{{ isEngineer ? '4' : '3' }}">Supplier</th>
                            {% if not isEngineer %}<th class="col-md-1">Cost Price</th>{% endif %}
                            {% if not isEngineer %}<th class="col-md-1">Issue Price</th>{% endif %}
                            <th class="col-md-1">Quantity</th>
                        </tr>

                        {% for part in job.partsRequisitions %}
                        <tr>
                            <td>{{ part.partNumber | default('--') }}</td>
                            <td>{{ part.item | default('--') }}</td>
                            <td>{{ part.purchaseOrder.supplier.name | default('--') }}</td>
                            {% if not isEngineer %}<td>£{{ part.price | default('--') }}</td>{% endif %}
                            {% if not isEngineer %}<td>£{{ part.retailPrice | default('--') }}</td>{% endif %}
                            <td>{{ part.quantity | default('--') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if returnedStock|length %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Parts returned from job</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">Part No.</th>
                            <th class="col-md-3">Item</th>
                            <th class="col-md-3">Supplier</th>
                            <td class="col-md-1">Location</td>
                            <th class="col-md-1">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in returnedStock %}
                            <tr>
                                <td>{{ item.code | default('--') }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.supplierName }}</td>
                                <td>{{ item.stockLocation }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if job.purchaseOrders %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">DFS Purchase Orders</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Supplier</th>
                            <th>Part Description</th>
                            <th>Quantity</th>
                            {% if not isEngineer %}<th>Cost</th>{% endif %}
                            {% if not isEngineer %}<th>Issue</th>{% endif %}
                            {% if not isEngineer %}<th>Total Cost</th>{% endif %}
                            {% if not isEngineer %}<th>Total Issue</th>{% endif %}
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchaseOrder in job.purchaseOrders | filter(x => (x.purchaseOrderItems|length) or (x.estimateItems|length)) %}
                            {% set orderItems = purchaseOrder.purchaseOrderItems %}
                            {% set estimateItems = purchaseOrder.estimateItems %}
                            {% set rowSpan = orderItems|length + estimateItems|length %}

                            {% if orderItems|length %}
                                {% set firstItem = orderItems[0] %}
                                {% set firstItemDisplay = firstItem.item ? firstItem.item.stock.stockString : '' %}
                                {% set firstItemCost = firstItem.unitCost %}
                                {% set firstItemIssue = firstItem.unitIssue %}
                                {% set orderItems = orderItems|slice(1) %}
                            {% else %}
                                {% set firstItem = estimateItems[0] %}
                                {% set firstItemDisplay = firstItem.item %}
                                {% set firstItemCost = firstItem.price %}
                                {% set firstItemIssue = firstItem.retailPrice %}
                                {% set estimateItems = estimateItems|slice(1) %}

                            {% endif %}

                            <tr>
                                <td rowspan={{ rowSpan }}>
                                    {% if canEdit %}
                                        <a href="{{ path('view_purchaseorder', { 'id' : purchaseOrder.id}) }}">{{ purchaseOrder.id }}</a>
                                    {% else %}
                                        {{ purchaseOrder.id }}
                                    {% endif %}
                                </td>
                                <td rowspan={{ rowSpan }}>{{ purchaseOrder.supplier ? purchaseOrder.supplier.name : 'No supplier' }}</td>

                                <td>{{ firstItemDisplay }}</td>
                                <td>{{ firstItem.quantity }}</td>
                                {% if not isEngineer %}<td>£{{ firstItemCost }}</td>{% endif %}
                                {% if not isEngineer %}<td>£{{ firstItemIssue }}</td>{% endif %}

                                {% if not isEngineer %}<td rowspan={{ rowSpan }}>£{{ purchaseOrder.getItemCost | default('--') }}</td>{% endif %}
                                {% if not isEngineer %}<td rowspan={{ rowSpan }}>£{{ purchaseOrder.getItemIssueCost | default('--') }}</td>{% endif %}
                                <td rowspan={{ rowSpan }}>
                                    {% if purchaseOrder.completed == 1 %}
                                        Received on {{ purchaseOrder.completedAt | display_date_format | default('(Date not set)')}}
                                    {% elseif purchaseOrder.orderDate is not null %}
                                        Awaiting Delivery
                                    {% else %}
                                        To Be Ordered
                                    {% endif %}
                                </td>
                                <td rowspan={{ rowSpan }} style="width: 100px;" data-id="{{ purchaseOrder.id }}">
                                    {% if purchaseOrder.completed == 1 %}
                                        {% if canEdit %}
                                            <a class="btn btn-primary" href="{{ path('view_purchaseorder', {'id': purchaseOrder.id }) }}">View</a>
                                        {% else %}
                                            <p>Completed</p>
                                        {% endif %}
                                    {% elseif purchaseOrder.orderDate is not null %}
                                        <a class="btn btn-success" href="{{ path('check_in_all_po_items', {'id': purchaseOrder.id }) }}">Check In All Items</a>
                                    {% else %}
                                        <button class="btn btn-success setPurchaseOrderDate">Order</button>
                                    {% endif %}
                                </td>
                            </tr>

                            {% for purchaseOrderItem in orderItems %}
                                <tr>
                                    <td>{{ purchaseOrderItem.item.stock.stockString }}</td>
                                    <td>{{ purchaseOrderItem.quantity }}</td>
                                    {% if not isEngineer %}<td>£{{ purchaseOrderItem.unitCost }}</td>{% endif %}
                                    {% if not isEngineer %}<td>£{{ purchaseOrderItem.unitIssue }}</td>{% endif %}
                                </tr>
                            {% endfor %}
                            {% for estimateItem in estimateItems %}
                                <tr>
                                    <td>{{ estimateItem.item }}</td>
                                    <td>{{ estimateItem.quantity }}</td>
                                    {% if not isEngineer %}<td>£{{ estimateItem.price }}</td>{% endif %}
                                    {% if not isEngineer %}<td>£{{ estimateItem.retailPrice }}</td>{% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% if job.workLogs|length %}
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Work log</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Engineer</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Time labour</th>
                        <th>Time travel</th>
                        {% if canEdit %}<th style="width: 145px;"></th>{% endif %}
                    </tr>
                    {% for workLog in job.workLogs %}
                    <tr>
                        <td>{{ workLog.user.displayName }}</td>
                        <td>{{ workLog.description }}</td>
                        <td>{{ workLog.startDate | display_date_format }}</td>
                        <td>
                            {% if workLog.userCostMultiplier != 1 %}<strong>DL</strong>{% endif %}
                            {{ workLog.allTimeLabourString }}
                        </td>
                        <td>
                            {% if workLog.userCostMultiplier != 1 %}<strong>DL</strong>{% endif %}
                            {{ workLog.allTimeTravelString }}
                        </td>
                        {% if canEdit %}
                            <td class="text-center">
                                <a class="btn btn-success editWorkLog" data-id="{{ workLog.id }}" style="margin-left: 3px">Edit</a>
                                <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_work_log') }}/{{ workLog.id }}" href="#" style="margin-left: 3px">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% if job.notes is not null %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Notes To Engineer</h2>
            <div class="notes-section" style="padding-top: 10px;">
                <p>{{ job.notes|nl2br }}</p>
            </div>
        </div>
    </div>
{% endif %}

{% if job.images|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Images</h2>
            <div class="image-section" style="padding-top: 10px;">
                {% for image in job.images %}
                    <div class="col-md-3 col-sm-6">
                        <a href="{{ image | get_image_url }}" class="fancybox thumbnail" data-fancybox-title="{{ image.filename }}" data-fancybox-group="job-image-group" rel="group">
                            <img data-id="{{ image.filename }}" id="{{ image.filename }}" src="{{ image | get_image_url }}" class="img-responsive">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if canEdit or assignedToJob %}
    {% include '_formModal.html.twig' with { modalType: 'job', modalTitle: 'Job', modalNewRoute: path('new_job'), modalEditRoute: path('edit_job') } %}
    {% include 'Job/_stockUsedOnJobModal.html.twig' %}
    {% include 'Job/_workLogModal.html.twig' %}
    {% include 'Job/_signOffJobModal.html.twig' %}
    {% include 'Job/_newEstimateModal.html.twig' %}
    {% include 'Job/_raisePurchaseOrderModal.html.twig' %}
    {% include 'Job/_assignStockModal.html.twig' %}
    {% include 'Job/_addImageModal.html.twig' %}
    {% include 'Job/_assignEngineerModal.html.twig' %}
    {% include 'Job/_itemOrderModal.html.twig' %}
    {% include 'Job/_jobSheetModal.html.twig' %}
    {% include 'Job/_jobEditChargeMethodModal.html.twig' %}
{% endif %}

<script type="text/javascript">

$(function(){
    {% if not canEdit %}
        $('[data-admin="true"]').remove();
    {% endif %}

    bindTable();

    $('#job_status_stage').change(function() {
        var $sel = $(this);
        $sel.prop('disabled', true);

        var stage = $sel.val() ? $sel.val() : 0;

        $.ajax({
            url: "{{ path('override_job_stage', { id: job.id }) }}/" + stage,
            type: 'post',
            success: function (data) {
                if(data.complete && data.success) {
                    var modal = $('#edit-job-charge-method')
                    modal.modal('show');
                } else if (data.success) {
                    location.reload(true);
                }
                if (!data.success) {
                    growlError(data.error ? data.error : 'Unable to update job status.');
                    $sel.prop('disabled', false);
                    $sel.val({{ job.completionStage }});
                    return;

                }


            }
        });
    });
});

function bindTable() {
    $id = {{ job.id }};
    var jobCompletionStage = {{ job.completionStage }};

    $.ajax({
        url: "{{ path('get_stock_for_job') }}/" + $id,
        type: 'get',
        success: function (data) {
            var stockItems = data['stockItems'];
            var stockTable = $('#stockTable');
            $('#stockTable tr>td').remove();
            for (var i = 0; i < stockItems.length; i++) {
                var returnStock = '';
                if (jobCompletionStage !== 6) {
                    returnStock = '<td class="form-inline"><select class="form-control" id="returnAmount_' + i + '"></select><a href="javascript:void();" class="btn btn-primary returnStockButton" style="margin-left: 3px; margin-right: 5px;" data-stockId="' + stockItems[i]['supplierStockId'] + '" data-row="' + i + '" data-locationId="' + stockItems[i]['locationId'] + '" data-row="' + i + '">Return stock</a></td>';
                }
                if (stockItems[i]['usedOnJob'] === true && jobCompletionStage !== 6) {
                    returnStock = '<td class="form-inline"><select class="form-control" id="returnAmount_' + i + '"></select><a href="javascript:void();" class="btn btn-success returnJobButton" style="margin-left: 3px; margin-right: 5px;" data-stockId="' + stockItems[i]['supplierStockId'] + '" data-row="' + i + '" data-locationId="' + stockItems[i]['locationId'] + '" data-row="' + i + '">Return job</a></td>';
                }

                {% if isEngineer %}
                    stockTable.append('<tr><td>' + stockItems[i]['code'] + '</td><td>' + stockItems[i]['description'] + '</td><td>' + stockItems[i]['supplierName'] + '</td><td id="itemQuantity_' + i + '">' + stockItems[i]['quantity'] + '</td>' + returnStock + '</tr>');
                {% else %}
                    stockTable.append('<tr><td>' + stockItems[i]['code'] + '</td><td>' + stockItems[i]['description'] + '</td><td>' + stockItems[i]['supplierName'] + '</td><td>£' + parseFloat(stockItems[i]['costPrice']).formatMoney() + '</td><td>£' + parseFloat(stockItems[i]['issuePrice']).formatMoney() + '</td><td id="itemQuantity_' + i + '">' + stockItems[i]['quantity'] + '</td>' + returnStock + '</tr>');
                {% endif %}

                for (var j = 1; j <= stockItems[i]['quantity']; j++) {
                    $('#returnAmount_' + i).append('<option value="' + j + '">' + j + '</option>')
                }
            }
            bindReturnStockButtons();
            bindReturnJobButtons();
        }
    });
}

function bindReturnStockButtons() {
    $('.returnStockButton').on('click', function(){
        $ele      = $(this);
        tableRow  = $ele.closest('tr');
        jobId     = {{ job.id }};
        stockId   = $ele.data('stockid');
        locationId   = $ele.data('locationid');
        rowNum    = $ele.data('row');
        returnQty = $ele.prev('select').val();
        route     = "{{ path('return_stock_from_job_particulars')}}/" + jobId + '/' + stockId + '/' + locationId + '/' + returnQty;
        itemQty   = $('#itemQuantity_'+ rowNum);
        selector  = $('#returnAmount_'+ rowNum);

        $.ajax({
            url: route,
            type: 'get',
            success: function(data) {
                if (!data.success) {
                    growlError(data.message);
                    return;
                }

                //bindTable();
                window.location.reload();

                $.growl(data.message, {
                    type: 'success',
                    delay: 0,
                    template: {
                        container: '<div class="col-md-3 growl-animated alert">'
                    }
                });
            },
            error: function(data){
                $.growl(data.message, {
                    type: 'error',
                    delay: 0,
                    template: {
                        container: '<div class="col-md-3 growl-animated alert">'
                    }
                });
            }
        });
    });
}

function bindReturnJobButtons() {
    $('.returnJobButton').on('click', function(){
        $ele      = $(this);
        tableRow  = $ele.closest('tr');
        jobId     = {{ job.id }};
        stockId   = $ele.data('stockid');
        locationId   = $ele.data('locationid');
        rowNum    = $ele.data('row');
        returnQty = $ele.prev('select').val();
        route     = "{{ path('return_job_from_job_particulars')}}/" + jobId + '/' + stockId + '/' + locationId + '/' + returnQty;
        itemQty   = $('#itemQuantity_'+ rowNum);
        selector  = $('#returnAmount_'+ rowNum);

        $.ajax({
            url: route,
            type: 'get',
            success: function(data) {
                if (!data.success) {
                    growlError(data.message);
                    return;
                }

                bindTable();

                $.growl(data.message, {
                    type: 'success',
                    delay: 0,
                    template: {
                        container: '<div class="col-md-3 growl-animated alert">'
                    }
                });
            },
            error: function(data){
                $.growl(data.message, {
                    type: 'error',
                    delay: 0,
                    template: {
                        container: '<div class="col-md-3 growl-animated alert">'
                    }
                });
            }
        });
    });
}
</script>
