<div class="modal" id="possible-additional-work-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="possible-additional-work-form-modal-label"><span class="form-modal-title">Possible Future Work Required</span></h2>
            </div>
            <div class="modal-body">
                <div class="possible-additional-work-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $possibleAdditionalWorkModal   = $('#possible-additional-work-modal');
    var $possibleAdditionalWorkWrapper = $possibleAdditionalWorkModal.find('.possible-additional-work-form-holder');
    var $possibleAdditionalWorkFooter  = $possibleAdditionalWorkModal.find('.modal-footer');
    var reloadPage                     = false;

    $('#possibleAdditionalWork').on('click',  function(e) {
        $possibleAdditionalWorkModal.modal('show');
    });

    $possibleAdditionalWorkModal.on('hide.bs.modal', function (e) {
        $possibleAdditionalWorkWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $possibleAdditionalWorkModal.find('.modal-form-submit').remove();
    });

    $possibleAdditionalWorkModal.on('show.bs.modal', function (e) {
        possibleAdditionalWorkLoadform(e);
    });

    function possibleAdditionalWorkLoadform(e) {
        $.get('{{ path('possible_additional_work', { 'jobId': job.id }) }}', function(data) {
            if (data.displayForm) {
                $possibleAdditionalWorkWrapper.html(data.html);
                $possibleAdditionalWorkModal.find('[autofocus]:first').focus();
                $possibleAdditionalWorkFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                possibleAdditionalWorkBindForm();
            }
        });
    }

    function possibleAdditionalWorkBindForm() {
        var $form   = $possibleAdditionalWorkWrapper.find('form');
        var $button = $possibleAdditionalWorkFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $possibleAdditionalWorkWrapper.html(response.html);
                    $possibleAdditionalWorkModal.find('[autofocus]:first').focus();
                    possibleAdditionalWorkBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $possibleAdditionalWorkModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
