{% extends 'layout.html.twig' %}

{% block page_type %}job{% endblock %}
{% block title %}Job reports{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="title-section">
                <h1><span class="icomoon-report icomoon-inline"></span>Job Reports</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Jobs in Vs Jobs out</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="start_date_jobs_in_vs_out">Start date</label>
                                <input type="text" class="form-control datepicker start_date"
                                       data-date-format="YYYY-MM-DD" id="start_date_jobs_in_vs_out">
                            </div>
                            <div class="form-group">
                                <label for="end_date_jobs_in_vs_out">Job Status</label>
                                <select class="form-control job-selector" id="job_status">
                                    <option value="not_selected">Not selected</option>
                                    <option value="completed">Completed</option>
                                    <option value="pending">Pending</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="charge_method”">Charge method</label>
                                <select class="form-control job-selector" id="charge_method">
                                    <option value="not_selected">Not selected</option>
                                    <option value="0">Invoice Customer</option>
                                    <option value="1">Charge against Maintenance</option>
                                    <option value="2">Warranty</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="end_date_jobs_in_vs_out">End date</label>
                                <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD"
                                       id="end_date_jobs_in_vs_out">
                            </div>
                            <div class="form-group">
                                <label for="customer_jobs_in_vs_out">Customer</label>
                                <div class="panel-body no-pad" id="customer_jobs_in_vs_out_id">
                                    <input class="panel-item waterfall-filter" type="text"
                                           placeholder="Start typing the customer's name..."
                                           id="customer_jobs_in_vs_out_filter"/>
                                </div>
                                <p></p>
                                <select class="form-control" id="customer_jobs_in_vs_out_select_result">
                                    <option value="not_selected">Not selected</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Engineer</label>
                                <select class="form-control user-selector" id="engineer_jobs_in_vs_out_select_result">
                                    <option value="not_selected">Not selected</option>
                                    {% for engineer in engineers %}
                                        <option value="{{ engineer.id }}">{{ engineer.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <p class="help-block">Select a start and end date for the report duration.</p>
                            <a href="#" class="btn btn-primary" id="jobsInVsOut">Create report</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Engineer Logged Time</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="start_date_engineer_logged_time">Start date</label>
                                <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD"
                                       id="start_date_engineer_logged_time">
                            </div>
                            <div class="form-group">
                                <label for="end_date_engineer_logged_time">End date</label>
                                <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD"
                                       id="end_date_engineer_logged_time">
                            </div>
                            <div class="form-group">
                                <label>Engineer</label>
                                <select class="form-control user-selector" id="user_engineer_logged_time">
                                    <option value="all">All</option>
                                    {% for engineer in engineers %}
                                        <option value="{{ engineer.id }}">{{ engineer.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <p class="help-block">Select a start and end date for the report duration.</p>
                            <a href="#" class="btn btn-primary" id="engineerLoggedTime">Create report</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Parts returned to Van Stock</div>
                    <div class="panel-body">
                        <a href="{{ path('job_parts_returned_to_van_stock') }}" class="btn btn-primary">Create
                            report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $('#jobsInVsOut').on('click', function () {
            var start = $('#start_date_jobs_in_vs_out').val();
            var status = $('#job_status').val();
            var end = $('#end_date_jobs_in_vs_out').val();
            var chargeMethod = $('#charge_method').val();
            var customer = $('#customer_jobs_in_vs_out_select_result').val();
            var engineer = $('#engineer_jobs_in_vs_out_select_result').val();

            if (!start || !end) {
                return;
            }

            var url = "{{ path('jobs_in_vs_out') }}/" + start + "/" + end;

            if (status !== 'not_selected') {
                url += '/' + status;
            } else {
                url += '/' + null;
            }

            if (chargeMethod !== 'not_selected') {
                url += '/' + chargeMethod;
            } else {
                url += '/' + null;
            }

            if (customer !== 'not_selected') {
                url += '/' + customer;
            } else {
                url += '/' + null;
            }

            if (engineer !== 'not_selected') {
                url += '/' + engineer;
            } else {
                url += '/' + null;
            }

            window.location.href = url;
        });

        $('#engineerLoggedTime').on('click', function () {
            var start = $('#start_date_engineer_logged_time').val();
            var end = $('#end_date_engineer_logged_time').val();

            if (!start || !end) {
                return;
            }

            var engineer = $('#user_engineer_logged_time').val();

            var url = "{{ path('get_engineer_time_logged') }}/" + start + "/" + end;

            if (engineer !== 'all') {
                url += '/' + engineer;
            }

            window.location.href = url;
        });


        // ######## CUSTOMER FILTER

        let dataArray = null;

        $("#customer_jobs_in_vs_out_filter").empty();
        $("#customer_jobs_in_vs_out_select_result").empty();
        $("#customer_jobs_in_vs_out_select_result").append('<option value="not_selected">Not selected</option>');

        const test = () => {
            let dataArray = null;
            const searchName = $("#customer_jobs_in_vs_out_filter").val();
            if (searchName.length > 0) {
                $.ajax({
                    url: "{{ path('customer_search') }}",
                    type: 'post',
                    data: JSON.stringify(searchName),
                    dataType: 'json',
                    success: function (response) {
                        console.log('selected')
                        dataArray = Object.values(response);

                        const resultSelect = $("#customer_jobs_in_vs_out_select_result");
                        resultSelect.empty();

                        if (Array.isArray(dataArray)) {
                            dataArray.forEach(function (item) {
                                item.forEach(function (element) {
                                    resultSelect.append('<option value="' + element.id + '">' + element.name + '</option>');
                                });
                            });
                        } else {
                            console.error("Error: response is not an array.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("An error occurred:", error);
                    }
                })
            } else {
                $("#customer_jobs_in_vs_out_select_result").empty();
                $("#customer_jobs_in_vs_out_select_result").append('<option value="not_selected">Not selected</option>');
            }
        }

        $("#customer_jobs_in_vs_out_filter").on("input", test);
    </script>
{% endblock %}
