{% extends 'layout.html.twig' %}

{% block search_category %}truck{% endblock %}
{% block page_type %}truck{% endblock %}
{% block title %}Trucks{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">Trucks
                <a href="#" class="btn btn-primary pull-right" id="reset-filter">Reset Filter</a>
            </h1>
        </div>

        <div class="waterfall" id="truck-filter">
            <div class="col-md-2">
                <div class="panel panel-default panel-filter" data-type="customer" >
                    <div class="panel-heading"><h3 class="panel-title">Customer Name</h3></div>
                    <div class="truck-col-container">
                        <div class="panel-body no-pad column" id="customer_name" data-column="1">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default panel-filter" data-type="clientFleet" >
                    <div class="panel-heading"><h3 class="panel-title">Client Fleet</h3></div>
                    <div class="truck-col-container">
                        <div class="panel-body no-pad column" id="client_fleet" data-column="2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default panel-filter" data-type="make" >
                    <div class="panel-heading"><h3 class="panel-title">Make</h3></div>
                    <div class="truck-col-container">
                        <div class="panel-body no-pad column" id="make" data-column="3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default panel-filter" data-type="model" >
                    <div class="panel-heading"><h3 class="panel-title">Model</h3></div>
                    <div class="truck-col-container">
                        <div class="panel-body no-pad column" id="model" data-column="4"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default panel-filter" data-type="serial" >
                    <div class="panel-heading"><h3 class="panel-title">Serial Number</h3></div>
                    <div class="truck-col-container">
                        <div class="panel-body no-pad column" id="serial_number" data-column="5"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default panel-filter" data-type="job" >
                    <div class="panel-heading"><h3 class="panel-title">Jobs</h3></div>
                    <div class="truck-col-container">
                        <div class="panel-body no-pad column" id="jobs" data-column="6"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12"><div id="job-particulars"></div></div>
    </div>


    {% include '_formModal.html.twig' with { modalType: 'truck', modalTitle: 'Truck', modalNewRoute: path('new_truck'), modalEditRoute: path('edit_truck') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

var truckData = {{ trucks|json_encode|raw }};
var columns = {
    1: 'customer',
    2: 'flt',
    3: 'make',
    4: 'model',
    5: 'serial',
}

var actives = {
    customer: null,
    flt: null,
    make: null,
    model: null,
    serial: null,
};

$(function() {
    filterTrucks();
});


bindClicks = function() {
    $('.panel-item[data-column]').click(function() {
        var $ele = $(this);
        $ele.addClass('active');
        var col = $ele.data('column');
        actives[columns[col]] = $ele.html();
        filterTrucks();
    });

    $('.panel-item[data-column=5]').click(function() {
        id = $(this).data('id');
        loadJobs(id);
    });

    $('.panel-item[data-column=6]').click(function() {
        id = $(this).data('id');
        loadParticulars(id);
    });
};

outputTrucks = function(trucks) {
    var customers = [];
    var flts      = [];
    var makes     = [];
    var models    = [];
    var serials   = [];

    for (var i = 0; i < trucks.length; i++) {
        var truck = trucks[i];
        customers.push(truck.customer);
        flts.push(truck.flt);
        makes.push(truck.make);
        models.push(truck.model);
        serials.push({ id: truck.id, value: truck.serial });
    };

    customers = uniqueSorted(customers);
    flts      = uniqueSorted(flts);
    makes     = uniqueSorted(makes);
    models    = uniqueSorted(models);
    serials   = uniqueSorted(serials);

    outputColumn(1, customers);
    outputColumn(2, flts);
    outputColumn(3, makes);
    outputColumn(4, models);
    outputColumn(5, serials);

    bindClicks();
};

outputColumn = function(col, arr) {
    var $col = $('.column[data-column='+col+']');
    if ($col.length < 1) return;

    $col.empty();

    for (var i = 0; i < arr.length; i++) {
        var $ele = $('<div class="panel-item panel-link selectable-item visible" data-column='+col+' data-row='+(i+1)+'></div>');
        if ($.isPlainObject(arr[i])) {
            $ele.html(arr[i].value);
            $ele.attr('data-id', arr[i].id);
            $ele.attr('data-name', arr[i].value);
        } else {
            $ele.html(arr[i]);
            $ele.attr('data-name', arr[i]);
        }

        $col.append($ele);
        setSelected('current');
    }
};

filterTrucks = function() {
    var activeDataset = truckData;

    if (actives.customer) {
        activeDataset = activeDataset.filter(function(item) {
            return item.customer == actives.customer;
        });
    }

    if (actives.flt) {
        activeDataset = activeDataset.filter(function(item) {
            return item.flt == actives.flt;
        });
    }

    if (actives.make) {
        activeDataset = activeDataset.filter(function(item) {
            return item.make == actives.make;
        });
    }

    if (actives.model) {
        activeDataset = activeDataset.filter(function(item) {
            return item.model == actives.model;
        });
    }

    if (actives.serial) {
        activeDataset = activeDataset.filter(function(item) {
            return item.serial == actives.serial;
        });
    }

    outputTrucks(activeDataset);
};

uniqueSorted = function(arr) {
    var sortedArr = arr.sort(function(a, b) {
        if (typeof a === 'string') {
            return a.localeCompare(b);
        } else if (typeof a === 'object') {
            var tmpA = a.value.toString();
            var tmpB = b.value.toString();

            return tmpA.localeCompare(tmpB);
        } else {
            return a-b;
        }
    });

    return $.grep(sortedArr,function(v,k){
        return $.inArray(v,sortedArr) === k;
    });
};

loadParticulars = function(id) {
    $('#job-particulars').load('{{ path('get_job_particulars') }}/' + id);
    $('.waterfall .truck-col-container .panel-body').css('height', 'auto');
}

loadJobs = function(id) {
    var $jobsContainer = $('#jobs');

    $.ajax({
        url: "{{ path('get_jobs_for_truck') }}/" + id,
        type: 'post',
        success: function(data){
            var jobs = data.jobs;
            $jobsContainer.empty();

            if (jobs.length == 0) {
                $jobsContainer.append('<div class="panel-item panel-link selectable-item visible" data-column="6" data-row="'+(i+1)+'" data-id="">No Job History</div>');
                return false;
            };

            for (var i = 0; i < jobs.length; i++) {
                $jobsContainer.append('<div class="panel-item panel-link selectable-item visible" data-column="6" data-row="'+(i+1)+'" data-id="'+jobs[i].id+'">' + jobs[i].id +' - '+jobs[i].name+'</div>');
                bindClicks();
            };

            if (jobs.length == 1) {
                loadParticulars(jobs[0].id);
            };
        }
    })
    $('.waterfall .truck-col-container .panel-body').css('height', 'auto');
}

$('#reset-filter').on('click', function(){
    clearActives();
    filterTrucks();
    $('#jobs').empty();
    $('#job-particulars').empty();
    $('.waterfall .truck-col-container .panel-body').css('height', '');
})

clearActives = function() {
    actives = {
        customer: null,
        flt: null,
        make: null,
        model: null,
        serial: null,
    };
}

</script>
{% endblock %}

