{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row" id="printThis">
        <div class="col-md-12">
            <div class="page-title option-title d-flex">
                <h1 class="mr-30p"><span class="icomoon-job icomoon-inline"></span>Job - {{ job.jobCode }}</h1>
                <img src="{{ asset('/images/dawson-logo.png') }}" class="mr-15 img-responsive w-25">
            </div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    {% include 'Job/_formSignature.html.twig' with { job: job, form: form, formRoute: formRoute, stockItems: stockItems, modal: modal } %}
                    <div class="print-btns">
                    {% if job.signature is empty%}
                            <button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Save..." id="signature">Save</button>
                            {% endif %}
                            <button type="button" class="btn btn-primary" id="print-pdf-signature">Print to PDF</button>
                        </div>

                </div>

            </div>

        </div>
    </div>
    <script>
        $('#signature').on('click', function (){
            $('form').submit();
        })
        $('#print-pdf-signature').on('click', function (){
            window.print();
        })
    </script>
{% endblock %}

