{% extends 'layout.html.twig' %}

{% set canEdit = is_granted('ROLE_SERVICE_ADMIN') %}

{% block search_category %}job{% endblock %}
{% block page_type %}job{% endblock %}
{% block title %}Job - {{ job.jobCode }}{% endblock %}
{% block page_shortcuts %}{% include 'Job/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-job icomoon-inline"></span>Job - {{ job.jobCode }}</h1>

                {% if canEdit %}
                    <div class="pull-right item-actions">
                        {% if not job.deletedAt %}
                        <a class="btn btn-primary" data-edit-id="{{ job.id }}" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#reason-delete-modal" href="#">Delete</a>
                        {% endif %}
                    </div>

                    <div class="clearfix"></div>
                {% endif %}
            </div>

            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd>{{ job.jobCode | default('--') }}</dd>

                            <dt>Customer:</dt>
                            <dd>{{ job.customer.name | default('--') }}</dd>

                            {% if job.urgent %}
                                <dt>Fault reported</dt>
                            {% else %}
                                <dt>Job Detail</dt>
                            {% endif %}
                            <dd>{{ job.detail | default('--') }}</dd>

                            <dt>Truck:</dt>
                            <dd>{{ job.truck.nameString | default('--') }}</dd>

                            <dt>Assigned to:</dt>
                            <dd>{{ job.engineer.displayName | default('--') }}</dd>

                            <dt>Signed off:</dt>
                            <dd>{% if job.signedOff %}Yes{% else %}No{% endif %}</dd>

                            {% if job.attachedJobs %}
                                <dt>Attached jobs:</dt>
                                {% for attachedJob in job.attachedJobs %}
                                    <dd><a href="{{ path('view_job', { 'id': attachedJob.id }) }}" target="_blank">+{{ loop.index }}</a></dd>
                                {% endfor %}
                            {% endif %}

                            {% if job.doWithJob %}
                                <dt>Do with Job:</dt>
                                <dd><a href="{{ path('view_job', { 'id': job.doWithJob.id }) }}" target="_blank">{{ job.doWithJob.jobCode }}</a></dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>

                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>

            <div id="job-particulars">
                {{ render(controller('App\\Controller\\JobController::jobParticularsAction', { id: job.id })) }}
            </div>
        </div>
    </div>
    {% if canEdit or assignedToJob %}
        {% include 'Job/_deleteReasonModal.html.twig' %}
    {% endif %}
{% include '_formModal.html.twig' with { modalType: 'job', modalTitle: 'Job', modalNewRoute: path('new_job'), modalEditRoute: path('edit_job') } %}

<script type="text/javascript">
    $('.returnStock').on('click', function(e){
        e.preventDefault();
        $ele    = $(this);
        var url = $ele.data('href');
        $.ajax({
            url: url,
            type: 'post',
            success: function(data) {
                if (data.success == true) {
                    $ele.closest('tr').remove();
                    growlSuccess(data.message);
                } else {
                    growlError(data.message);
                }
            }
        });
    });
</script>

{% endblock %}
