{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}

    <div class="row">
        <div class="jumbotron">
            <h1>Dawson Fleetmanager</h1>
        </div>
        <div class="container mb-15">
            <a class="btn btn-primary mr-15" data-toggle="modal" data-target="#log-absence-modal" href="#">Absence</a>

            <a class="btn btn-primary" data-toggle="modal" data-target="#engineer-recurring-modal" href="#">Dawson</a>

        </div>

        </div>
        {% if is_engineer() %}
           <div class="row">
               <div class="col-md-4">
                   <div class="panel panel-default">
                       <div class="panel-heading">Engineer Logged Time</div>
                       <div class="panel-body">
                           <form>
                               <div class="form-group">
                                   <label for="start_date_engineer_logged_time">Start date</label>
                                   <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD" id="start_date_engineer_logged_time">
                               </div>
                               <div class="form-group">
                                   <label for="end_date_engineer_logged_time">End date</label>
                                   <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD" id="end_date_engineer_logged_time">
                               </div>
                               <p class="help-block">Select a start and end date for the report duration.</p>
                               <a href="#" class="btn btn-primary" id="engineerLoggedTime">Create report</a>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
        {% endif %}
    </div>

    {% include 'Default/Engineer/_addAbsenceModal.html.twig' %}
    {% include 'Default/Engineer/_engineerRecurringJobs.html.twig' %}

    <script type="text/javascript">
        (function () {
            let endDate = new Date().toISOString().substring(0, 10);
            $('#end_date_engineer_logged_time').val(endDate);
            let currentDate = new Date();
            let startDate = new Date(currentDate.setDate(currentDate.getDate() - (currentDate.getDay())+1)).toISOString().substring(0, 10);
            $('#start_date_engineer_logged_time').val(startDate);

            $('#engineerLoggedTime').on('click', function(){
                let start = $('#start_date_engineer_logged_time').val();
                let end   = $('#end_date_engineer_logged_time').val();

                if (!start || !end) {
                    return;
                }

                let engineer = {{ app.user.id }};

                window.location.href = "{{ path('get_engineer_time_logged')}}/" + start + "/" + end + "/" + engineer;
            });
        })()
    </script>

{% endblock %}

