<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_description %}{% endblock %}

        <title>Login | Dawson Forklift Services</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/style.css" />
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>

    <body class="login">
        <div class="container" id="content">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ path('login') }}" method="post" class="form-signin">
                        <h1 class="text-center text-muted">Sign In</h1>
                        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required="" autofocus="" value="{{ last_username }}">
                        <input type="password" class="form-control"  id="password" name="password" placeholder="Password" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="/js/bootstrap-growl.min.js"></script>
            <script src="/js/custom.js"></script>
        {% endblock %}

        <script type="text/javascript">
        {% for flashMessage in app.session.flashbag.get('success') %}
            {% include '_flashMessage.html.twig' with { 'flashType': 'success' } %}
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            {% include '_flashMessage.html.twig' with { 'flashType': 'danger' } %}
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            {% include '_flashMessage.html.twig' with { 'flashType': 'info' } %}
        {% endfor %}
        </script>
    </body>
</html>
