{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#truckInfo">Supplier Particulars</a></h4>
            </div>
            <div id="truckInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.name, { 'attr': { 'autofocus': 1 } }) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.supplierAddress) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.telephone) }}
                    {{ form_row(form.fax) }}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactItem">Contacts for supplier</a></h4>
            </div>
            <div id="contactItem" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="contacts" data-prototype="{{ form_widget(form.contacts.vars.prototype)|e }}">
                        {% for contact in form.contacts %}
                            {{ form_widget(contact) }}
                        {% endfor %}
                    </div>
                    <a class="btn btn-primary pull-right" id="addContact">Add a contact</a>
                </div>
            </div>
        </div>
        <div style="display:none;">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    var $contactCollectionHolder = $('div.contacts');
    var contactCount             = {{ form.contacts|length }} ;
    var contactIndex             = contactCount - 1;
    var formEmployeesIndex       = contactIndex;

    $contactCollectionHolder.find('div.contact-item').each(function() {
        $ele = $(this);
        $ele.attr('data-index', formEmployeesIndex);
        bindContactButtons($ele);
        formEmployeesIndex++;
    });

    $('#addContact').click(function(e) {
        e.preventDefault();
        contactIndex++;
        var newItem = $contactCollectionHolder.data('prototype');
        newItem     = newItem.replace(/__name__/g, contactIndex);
        var $newDiv = $('<div class="contact-item" data-index="'+contactIndex+'"></div>').html(newItem);
        $newDiv.appendTo($contactCollectionHolder);
        $('#supplier_form_contacts_'+contactIndex+'_name').focus();

        bindContactButtons($newDiv);
    });

    function bindContactButtons($ele) {
        var $formFields = $('.contact-form-fields', $ele);
        var $staticFields = $('.contact-item-static', $ele);

        var $saveBtn = $('.save-contact', $ele);
        var $editBtn = $('.edit-contact', $ele);
        var $removeBtn = $('.remove-contact', $ele);

        $saveBtn.on('click', function(){
            var $name      = $('.contact-name', $ele);
            var $telephone = $('.contact-telephone', $ele);
            var $email     = $('.contact-email', $ele);

            $name.closest('.form-group').removeClass('has-error');

            if ($name.val() == '') {
                $name.closest('.form-group').addClass('has-error');
                $name.attr('placeholder', 'Enter a name...')
                return false;
            };

            $staticFields.find('.contact-name').html($name.val());
            $staticFields.find('.contact-tel').html($telephone.val());
            $staticFields.find('.contact-email').html($email.val());

            $staticFields.show();
            $formFields.hide();

            $editBtn.show();
            $saveBtn.hide();
        })

        $editBtn.on('click', function(){
            $staticFields.hide();
            $formFields.show();

            $editBtn.hide();
            $saveBtn.show();
        });

        $removeBtn.on('click', function(e) {
            e.preventDefault();
            $ele.remove();
            contactCount--;
        });
    }

    $('form').on('submit', function(e){
        $('.contact-item').each(function(){
            var $ele  = $(this);
            var index = $ele.data('index');
            var $name = $('.contact-name', $ele);

            if ($name.val() == '') {
                e.preventDefault();
                $name.closest('.form-group').addClass('has-error');
                $name.attr('placeholder', 'Enter a name...')
                return false;
            };
        })
    });
</script>
