<div class="modal" id="new-stock-issue-price-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-stock-issue-price-modal-label"><span class="form-modal-title">New Stock Issue Price Rule</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-stock-issue-price-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="edit-stock-issue-price-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="edit-stock-issue-price-modal-label"><span class="form-modal-title">Edit Stock Issue Price Rule</span></h2>
            </div>
            <div class="modal-body">
                <div class="edit-stock-issue-price-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newStockIssuePriceRule   = $('#new-stock-issue-price-modal');
    var $newStockIssuePriceRuleWrapper = $newStockIssuePriceRule.find('.new-stock-issue-price-form-holder');
    var $newStockIssuePriceRuleFooter  = $newStockIssuePriceRule.find('.modal-footer');
    var $editStockIssuePriceRule = $('#edit-stock-issue-price-modal');
    var $editStockIssuePriceRuleWrapper = $editStockIssuePriceRule.find('.edit-stock-issue-price-form-holder');
    var $editStockIssuePriceRuleFooter  = $editStockIssuePriceRule.find('.modal-footer');

    $('#newStockIssuePriceRule').on('click',  function(e) {
        e.preventDefault();
        $newStockIssuePriceRule.modal('show');
    });

    $('body').on('click',  '.editStockIssuePriceRule', function(e) {
        e.preventDefault();
        $editStockIssuePriceRule.data('id', $(this).data('id'));
        $editStockIssuePriceRule.modal('show');
    });

    $('body').on('click',  '.removeStockIssuePriceRule', function(e) {
        e.preventDefault();
        var id = $(this).data('id');
        if(confirm('Are you sere you want to delete rule?')) {
            var url = '{{ path('delete_stock_issue_price_rule', { 'id': -32 }) }}'.replace(/-32/g, id);
            document.location.href = url;
        }
    });

    $newStockIssuePriceRule.on('hide.bs.modal', function (e) {
        $newStockIssuePriceRuleWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newStockIssuePriceRule.find('.modal-form-submit').remove();
    });

    $editStockIssuePriceRule.on('hide.bs.modal', function (e) {
        $editStockIssuePriceRuleWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $editStockIssuePriceRule.find('.modal-form-submit').remove();
    });

    $newStockIssuePriceRule.on('show.bs.modal', function (e) {
        newStockIssuePriceRuleLoadForm(e);
    });

    $editStockIssuePriceRule.on('show.bs.modal', function (e) {
        editStockIssuePriceRuleLoadForm(e, $(this).data('id'));
    });

    function newStockIssuePriceRuleLoadForm(e) {
        $.get('{{ path('new_stock_issue_price_rule', { 'id': supplier.id }) }}', function(data) {
            if (data.displayForm) {
                $newStockIssuePriceRuleWrapper.html(data.html);
                $newStockIssuePriceRule.find('[autofocus]:first').focus();
                $newStockIssuePriceRuleFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newStockIssuePriceBindForm();
            }
        });
    }

    function editStockIssuePriceRuleLoadForm(e, id) {
        $.get('{{ path('edit_stock_issue_price_rule', { 'id': -32 }) }}'.replace(/-32/g, id), function(data) {
            if (data.displayForm) {
                $editStockIssuePriceRuleWrapper.html(data.html);
                $editStockIssuePriceRule.find('[autofocus]:first').focus();
                $editStockIssuePriceRuleFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                editStockIssuePriceBindForm();
            }
        });
    }

    function newStockIssuePriceBindForm() {
        var $newStockIssuePriceRuleForm   = $newStockIssuePriceRuleWrapper.find('form');
        var $newStockIssuePriceRuleButton = $newStockIssuePriceRuleFooter.find('.modal-form-submit');

        $newStockIssuePriceRuleButton.unbind('click');
        $newStockIssuePriceRuleButton.click(function() {
            $newStockIssuePriceRuleForm.submit();
        });

        $newStockIssuePriceRuleForm.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $newStockIssuePriceRuleform) {
                $newStockIssuePriceRuleButton.button('loading');
            },
            success: function(response, statusText, xhr, $newStockIssuePriceRuleform) {
                if (response.displayForm) {
                    $newStockIssuePriceRuleWrapper.html(response.html);
                    if ($newStockIssuePriceRule.find('.has-error')) {
                        $newStockIssuePriceRule.find('.has-error input:first').focus();
                    } else {
                        $newStockIssuePriceRule.find('[autofocus]:first').focus();
                    }
                    $newStockIssuePriceRuleButton.removeAttr('disabled').text('Save').removeClass('disabled');
                    newStockIssuePriceBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $newStockIssuePriceRule.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the stock issue price rule was not created.');
                $newStockIssuePriceRuleButton.button('reset');
            }
        });

        listenForFormChanges();
    }

    function editStockIssuePriceBindForm() {
        var $editStockIssuePriceRuleForm   = $editStockIssuePriceRuleWrapper.find('form');
        var $editStockIssuePriceRuleButton = $editStockIssuePriceRuleFooter.find('.modal-form-submit');

        $editStockIssuePriceRuleButton.unbind('click');
        $editStockIssuePriceRuleButton.click(function() {
            $editStockIssuePriceRuleForm.submit();
        });

        $editStockIssuePriceRuleForm.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $editStockIssuePriceRuleForm) {
                $editStockIssuePriceRuleButton.button('loading');
            },
            success: function(response, statusText, xhr, $editStockIssuePriceRuleForm) {
                if (response.displayForm) {
                    $editStockIssuePriceRuleWrapper.html(response.html);
                    if ($editStockIssuePriceRule.find('.has-error')) {
                        $editStockIssuePriceRule.find('.has-error input:first').focus();
                    } else {
                        $editStockIssuePriceRule.find('[autofocus]:first').focus();
                    }
                    $editStockIssuePriceRuleButton.removeAttr('disabled').text('Save').removeClass('disabled');
                    editStockIssuePriceBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $editStockIssuePriceRule.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the stock issue price rule was not edited.');
                $editStockIssuePriceRuleButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
