{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">New Supplier Stock Issue Price Rule</h4>
            </div>
            <div id="note_info" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row( form.startPrice ) }}
                    {{ form_row( form.endPrice ) }}
                    {{ form_row( form.profitMargin ) }}
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

