<h3>Supplier Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search Suppliers:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new supplier:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit supplier:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
