{% extends 'layout.html.twig' %}

{% block search_category %}supplier{% endblock %}
{% block page_type %}supplier{% endblock %}
{% block title %}Suppliers{% endblock %}
{% block page_shortcuts %}{% include 'Supplier/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" id="suppliers">
            <h1 class="page-title">Suppliers<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a></h1>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="supplier-number">Supplier #</th>
                            <th class="listing-actions">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in suppliers %}
                            <tr id="{{ supplier.name|lower|replace({" " : "_"}) }}">
                                <td><a href="{{ path('view_supplier', { 'id': supplier.id }) }}">{{ supplier.name }}</a></td>
                                <td class="supplier-number">{{ supplier.code }}</td>
                                <td class="listing-actions"><a data-edit-id={{ supplier.id }} href="javascript:void(0);" class="btn btn-primary btn-xs">Edit</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No suppliers found!</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if pager.haveToPaginate %}
            <div class="pull-right">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {
                    'routeName': 'list_suppliers',
                }) }}
            </div>
            {% endif %}
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'supplier', modalTitle: 'Supplier', modalNewRoute: path('new_supplier'), modalEditRoute: path('edit_supplier') } %}

{% endblock %}


