<!DOCTYPE html>
<html lang="en">
    <head>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/style.css" />
        {% endblock %}
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/js/jquery.hotkeys.js"></script>
        <script src="/js/jquery.pjax.js"></script>
    </head>

    <body>
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Billing & Shipping Address</dt>
                    <dd>Dawson Materials Handling Equipment</dd>
                    <dd>54-72 Tamar Street</dd>
                    <dd>Co. Antrim</dd>
                    <dd>Belfast</dd>
                    <dd>BT4 1HS</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">{{ supplier.name }}</h3>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Quantity</td>
                            <td>Unit Cost</td>
                            <td>Item total</td>
                        </tr>
                        {% for purchaseOrder in purchaseOrders %}
                                <tr>
                                    <td class="poiQuantity">{{ purchaseOrder.quantity }}</td>
                                    <td class="poiUnitPrice">£{{ purchaseOrder.price }}</td>
                                    <td class="poiItemTotal"></td>
                                </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2"></td>
                            <td>Total</td>
                            <td id="orderTotal"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dd>Telephone: 028 9045 2088</dd>
                    <dd>Fax: 028 9073 1318</dd>
                    <dd>Email: info@dawsonmhe.com</dd>
                </dl>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">

    function roundPrice(price) {
        return (Math.round((price + 0.00001) * 100) / 100).toFixed(2); // workaround for floating point weirdness in JS
    }

    $(function(){
        $('.poiItemTotal').each(function() {
            $ele         = $(this);
            var price    = $ele.parent().find('.poiUnitPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.poiQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
            calcOrderTotal();
        })

        $('.specialistItemTotal').each(function() {
            $ele         = $(this);
            var price    = $ele.parent().find('.specialistPrice').html().replace(/£/,'');
            var quantity = $ele.parent().find('.specialistQuantity').html();
            var total    =  roundPrice(price * quantity);
            $ele.html('£'+total);
        })

        window.print();
    })


    function calcOrderTotal(){
        var orderTotal = 0;
        $('.poiItemTotal').each(function() {
            $ele       = $(this);
            var price  = $ele.html().replace(/£/,'');
            orderTotal = (orderTotal + Number(price));
        })
        $('#orderTotal').html('£'+orderTotal);
    }

</script>
