{% extends 'layout.html.twig' %}

{% block search_category %}supplier{% endblock %}
{% block page_type %}supplier{% endblock %}
{% block title %}{{ supplier.name }}{% endblock %}
{% block page_shortcuts %}{% include 'Supplier/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-supplier icomoon-inline"></span>{{ supplier.name }}</h1>
                <div class="pull-right item-actions">
                    {% if showPrintButton %}
                        <a class="btn btn-primary" target="_blank"
                           href="{{ path('print_outstanding_orders', { 'id': supplier.id }) }}" id="printOrders">Print
                            outstanding orders</a>
                    {% endif %}
                    <a href="#" class="btn btn-primary" data-edit-id="{{ supplier.id }}"
                       href="javascript:void(0);">Edit</a>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal"
                       data-href="{{ path('delete_supplier') }}/{{ supplier.id }}" href="#">Delete</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Main Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Supplier:</dt>
                            <dd>{{ supplier.name | default('--') }}</dd>

                            {% for contact in supplier.contacts %}
                                <dt>Contact {{ loop.index }}:</dt>
                                <dd>
                                    <i>{{ (contact.contactString | default('--'))|nl2br }}</i>
                                </dd>
                            {% endfor %}

                            <dt>Email:</dt>
                            <dd>{{ supplier.email | default('--') }}</dd>

                            <dt>Telephone:</dt>
                            <dd>{{ supplier.telephone | default('--') }}</dd>

                            <dt>Fax:</dt>
                            <dd>{{ supplier.fax | default('--') }}</dd>
                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="spacer"></div>
                <div id="details" class="information-section col-md-6 col-sm-12">
                    <div class="section-header">
                        <h2>Contact Details</h2>
                    </div>
                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Primary Address:</th>
                                <td><a href="#" id="site-address" data-toggle="popover" title="Google Maps"
                                       data-content=""
                                       data-postcode="{{ supplier.supplierAddress ? supplier.supplierAddress.addressString : 'BT4 1HS' }}">{{ supplier.supplierAddress.addressString | default('--') }}</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="orders" class="information-section col-md-6 col-sm-12">
                    <div class="section-header">
                        <h2>Order History</h2>
                    </div>
                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Supplier Code:</th>
                                <td>{{ supplier.code | default('--') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="orders" class="information-section col-md-6 col-sm-12">
                    <div class="section-header">
                        <h2>Stock Issue Price Rules</h2>
                        <a class="btn btn-success btn-xs pull-right" href="#" id="newStockIssuePriceRule">New</a>
                    </div>
                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            {% for stockPriceRule in supplier.StockPriceRules %}
                                <tr>
                                    <td>
                                        {{ stockPriceRule.startPrice|default(0) }}{% if stockPriceRule.endPrice %} - {{ stockPriceRule.endPrice }}{% else %}+{% endif %}
                                    </td>
                                    <td>
                                        Profit Margin: {{ stockPriceRule.profitMargin }}%
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-danger btn-xs removeStockIssuePriceRule" href="#" data-id="{{ stockPriceRule.id }}">Delete</a>
                                            <a class="btn btn-success btn-xs editStockIssuePriceRule" href="#" data-id="{{ stockPriceRule.id }}">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'supplier', modalTitle: 'Supplier', modalNewRoute: path('new_supplier'), modalEditRoute: path('edit_supplier') } %}
    {% include 'Supplier/_newStockIssuePriceRuleModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var getMap = function (opts) {
            var src = "http://maps.googleapis.com/maps/api/staticmap?",
                params = $.extend({
                    center: 'Tamar Street, Belfast, United Kingdom',
                    zoom: 14,
                    size: '256x256',
                    maptype: 'roadmap',
                    sensor: false
                }, opts),
                query = [];

            params.markers = params.center;

            $.each(params, function (k, v) {
                query.push(k + '=' + encodeURIComponent(v));
            });

            src += query.join('&');
            return '<a href="https://www.google.co.uk/maps/place/' + opts['center'] + '" target="_blank"><img src="' + src + '" /></a>';
        }

        $('#site-address').on('click', function (e) {
            e.preventDefault();
        })

        mapCenter = $('#site-address').data('postcode');

        if (mapCenter == '--') {
            mapCenter = 'BT4 1HS';
        }

        var content = getMap({center: mapCenter});

        $('#site-address').popover({
            html: true,
            content: content,
            placement: 'right',
            template: '<div class="popover site-map" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
        });

    </script>
{% endblock %}
