{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#reminderInfo">Reminder</a></h4>
            </div>
            <div id="reminderInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row( form.type, { 'attr': { 'autofocus': 1 } }) }}
                    {{ form_row( form.detail ) }}
                    {{ form_row( form.date ) }}
                    {{ form_row( form.user ) }}
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript" href="/js/bootstrap-datetimepicker.min.js" />
<script type="text/javascript">

$(function(){
    $('#reminder_form_user').parent().parent().hide();
})

$('#reminder_form_type').on('change', function(){
    if ($('#reminder_form_type').find(':selected').text() == 'Service Call') {
        $('#reminder_form_user').parent().parent().show();
    } else {
        var userId = '{{ userId }}';
        $('[name="reminder_form[user]"] option').filter(function() {
            return ($(this).val() == userId);
        }).prop('selected', true);
        $('#reminder_form_user').parent().parent().hide();
    }
})

</script>
