<h2>Hello <strong>{{ username }}</strong></h2>

<h3>Reminder</h3>
<div>
    <p><strong>Type: </strong>{{ reminder.type }}</p>
    <p><strong>Detail: </strong>{{ reminder.detail }}</p>
    {% if reminder.lead %}
        <p><strong>Lead: </strong>{{ reminder.lead.description }}</p>
    {% endif %}
    <p><strong>Date: </strong>{{ reminder.date | display_date_format }}</p>
</div>
