<h3>Reminder Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search reminder:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new reminder:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit reminder:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
