{% extends 'layout.html.twig' %}

{% block page_type %}reminder{% endblock %}
{% block title %}My Reminders{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">My Reminders</h1>
        </div>
    </div>
    <div class="row">
        <div class="waterfall col-md-12" id="reminder-filter">
            <div class="col-md-3" >
                <div class="panel panel-default panel-filter" data-type="today" >
                    <div class="panel-heading"><h3 class="panel-title">Today</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="today">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in reminders['today'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="reminder" data-id="{{ reminder.id | default('null')}}" data-name="{{ reminder.detail }}">
                                    {{ reminder.lead.customer.name }} - {{ reminder.detail | default('No detail') }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="panel panel-default panel-filter" data-type="thisWeek" >
                    <div class="panel-heading"><h3 class="panel-title">This week</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="this_week">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in reminders['thisWeek'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="reminder" data-id="{{ reminder.id | default('null')}}" data-name="{{ reminder.detail }}">
                                    {{ reminder.lead.customer.name }} - {{ reminder.detail | default('No detail') }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="panel panel-default panel-filter" data-type="thisMonth" >
                    <div class="panel-heading"><h3 class="panel-title">This Month</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="this_month">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in reminders['thisMonth'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="reminder" data-id="{{ reminder.id | default('null')}}" data-name="{{ reminder.detail }}">
                                    {{ reminder.lead.customer.name }} - {{ reminder.detail | default('No detail') }}
                                </div>
                            {% endfor %}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="panel panel-default panel-filter" data-type="Long range" >
                    <div class="panel-heading"><h3 class="panel-title">Long Range</h3></div>
                    <div class="job-col-container">
                        <div class="panel-body no-pad" id="long_range">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                            {% for reminder in reminders['longRange'] %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="reminder" data-id="{{ reminder.id | default('null')}}" data-name="{{ reminder.detail }}">
                                    {{ reminder.lead.customer.name }} - {{ reminder.detail | default('No detail') }}
                                </div>
                            {% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12" id="reminder-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'reminder', modalTitle: 'Reminder', modalNewRoute: path('new_reminder'), modalEditRoute: path('edit_reminder') } %}

{% endblock %}


{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$('.panel-item.panel-link').off('click');

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');
    $('.panel-item.panel-link').css('background-color', '#ffffff');
    $ele.css('background-color', '#e7e7e7');
    $ele.addClass('active');
    $ele.addClass('selected');
    var reminderId = $ele.data('id');

    if(reminderId) loadReminder(reminderId);
 });

function loadReminder(reminderId) {
    $('#reminder-particulars').load('{{ path('get_reminder_particulars') }}/' + reminderId)

    $(document).on('keypress', null, 'e', function() {
        $('#editReminder').trigger('click');
    });
}

</script>
{% endblock %}

