<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">Reminder Particulars
            {% if reminder.isCompleted == false %}
                <a href="{{ path('mark_reminder_as_completed', {'id': reminder.id}) }}" class="btn btn-primary pull-right">Mark as completed</a>
            {% endif %}
        </h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Detail</th>
                        <th>Reminder date</th>
                        <th>Lead</th>
                        <th>Completed</th>
                    </tr>
                    <tr>
                        <td><a href="{{ path('view_reminder', { 'id' : reminder.id}) }}">{{ reminder.id }}</a></td>
                        <td>{{ reminder.type }}</td>
                        <td><a href="{{ path('view_reminder', { 'id' : reminder.id}) }}">{{ reminder.detail }}</a></td>
                        <td>{{ reminder.date | display_date_format }}</td>
                        <td><a href="{{ path('view_lead', { 'id' : reminder.lead.id}) }}">{{ reminder.lead.description }}</a></td>
                        <td>{{ reminder.isCompleted ? 'Yes' : 'No' }}{{ reminder.isCompletedAt ? ', on ' ~ reminder.isCompletedAt|display_date_format : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

