{% extends 'layout.html.twig' %}

{% block search_category %}reminder{% endblock %}
{% block page_type %}reminder{% endblock %}
{% block title %}{{ reminder.ID }}{% endblock %}
{% block page_shortcuts %}{% include 'Reminder/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-reminder icomoon-inline"></span>Reminder ({{ reminder.ID }})</h1>
                <div class="pull-right item-actions">
                    {% if reminder.isCompleted == false %}
                        <a href="{{ path('mark_reminder_as_completed', {'id': reminder.id}) }}" class="btn btn-primary">Mark as completed</a>
                    {% else %}
                        <a href="{{ path('reactivate_reminder', {'id': reminder.id}) }}" class="btn btn-primary">Reactivate reminder</a>
                    {% endif %}
                    <a class="btn btn-primary" data-edit-id="{{ reminder.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_reminder') }}/{{ reminder.id }}" href="#">Delete</a>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Main Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>ID:</dt>
                            <dd>{{ reminder.ID | default('--') }}</dd>

                            <dt>Type:</dt>
                            <dd>{{ reminder.type | default('--') }}</dd>

                            <dt>Detail:</dt>
                            <dd>{{ reminder.detail | default('--') }}</dd>

                            <dt>Date:</dt>
                            <dd>{{ reminder.date | display_date_format | default('--') }}</dd>

                            <dt>Lead:</dt>
                            <dd><a href="{{ path('view_lead', {'id': reminder.lead.id}) }}">{{ reminder.lead.description | default('--') }}</a></dd>

                            <dt>Completed:</dt>
                            <dd>{{ reminder.isCompleted ? 'Yes' : 'No' }}{{ reminder.isCompletedAt ? ', on ' ~ reminder.isCompletedAt|display_date_format : '' }}</dd>
                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'reminder', modalTitle: 'reminder', modalEditRoute: path('edit_reminder') } %}
{% endblock %}


