{% extends 'layout.html.twig' %}

{% block page_type %}{{ category ?: 'search' }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="search-wrapper" class="h2">
                <span class="pull-left">
                    <span class="bg-primary" id="search-category">{{ category ? category|ucwords : 'All' }}</span> /
                </span>
                <span id="search-input-wrapper">
                    <input autofocus autocomplete="off" spellcheck="false" type="text" class="search" name="_search" id="_search">
                </span>
            </div>

            <div class="clearfix"></div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody id="search-results">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var viewPaths = {
            'truck': '{{ path('view_asset') }}',
            'user': '{{ path('view_user') }}',
            'customer': '{{ path('view_customer') }}',
            'job': '{{ path('view_job')}}',
            'stock': '{{ path('view_stock')}}',
            'estimate': '{{ path('view_estimate') }}',
            'contact': '{{ path('view_contact') }}',
            'lead': '{{ path('view_lead') }}',
            'supplier': '{{ path('view_supplier') }}',
            'purchase-order': '{{ path('view_purchaseorder') }}',
            'source': '{{ path('view_source') }}',
        };

        var editPaths = {
            'truck': '{{ path('edit_truck') }}',
            'user': '{{ path('edit_user') }}',
            'customer': '{{ path('edit_customer') }}',
            'job': '{{ path('edit_job') }}',
            'stock': '{{ path('edit_stock') }}',
            'estimate': '{{ path('edit_estimate') }}',
            'contact': '{{ path('edit_contact') }}',
            'lead': '{{ path('edit_lead') }}',
            'supplier': '{{ path('edit_supplier') }}',
            'purchase-order': '{{ path('view_purchaseorder') }}',
            'source': '{{ path('edit_source') }}',
        };

        var undeletedPath = {
            'job': '{{ path('undelete_job') }}'
        }

        var unarchivePath = {
            'job': '{{ path('unarchive_job') }}'
        }

        var searchTemplateInitalized = false;

        function initSearchTemplate(data) {
            let deleteUrl = '';
            let unarchiveUrl = '';
            if(data.category === 'job' && data.deleted) {
                deleteUrl = `<a class='btn btn-primary btn-xs search-edit' data-toggle='modal' data-target='#confirm-modal' data-message='Are you sure you want to undelete on the job?' data-href='${data.undeletedUrl}' href='#'>Undelete</a>`
            } else {
                deleteUrl =  `<a href='javascript:void(0);' data-edit-url='${data.editUrl}' data-item-type='${data.category}' data-edit-id='${data.editId}' class='btn btn-primary btn-xs search-edit'>Edit</a>`;
            }

            if(data.archived === true) {
                deleteUrl = `<a style="margin-top: 2px" class='btn btn-primary btn-xs' data-toggle='modal' data-target='#confirm-modal' data-message='Are you sure you want to unarchive on the job?' data-href='${data.unarchiveUrl}' href='#'>Unarchive</a>`
            }

            $.templates({
                default: ` \
                    <tr data-url="${data.viewUrl}"> \
                        <td class='search-result-icon'> \
                            <span class='icomoon-${data.category}'></span> \
                        </td> \
                        <td class='search-result-id'> \
                            <em>${data.identifier} ${data.deleted ? 'deleted' : ''}</em> \
                        </td> \
                        <td class='search-result-details'> \
                            ${data.name}${data.details} \
                        </td> \
                        <td class='search-result-actions'> \
                            <a href='${data.viewUrl}' class='btn btn-primary btn-xs search-view'>View</a> \
                            ${deleteUrl} \
                            ${unarchiveUrl} \
                        </td> \
                    </tr>`
            });

            // searchTemplateInitalized = true;
        }

        function getResultItem(data) {
            if (!searchTemplateInitalized) {
                initSearchTemplate(data);
            }

            data.details = data.details.replace(/-? null ?/ig,'');
            var html = $.templates.default.render(data);
            return html;
        }

        var searchList = {{ items|raw }};

        var $inputSearch     = $('#_search');
        var $resultContainer = $('#search-results');

        $inputSearch.on('keyup', search);
        $inputSearch.on('blur', function() {
            $resultContainer.find("tr").first().addClass('active');
        });

        function search(e) {
            var key = e.which;

            if (key == "38") {
                prevResult();
                e.preventDefault();
                $inputSearch.blur();
                return false;
            }

            if (key == "40") {
                nextResult();
                e.preventDefault();
                $inputSearch.blur();
                return false;
            }

            var filtered = filter($inputSearch.val(), searchList, ['linkIdentifier', 'category']);

            var results = filtered.slice(0,50).map(function(entry){
                var items = entry.string.split(':::');

                return getResultItem({
                    identifier: items.shift(),
                    name: items.shift(),
                    category: entry.original.category,
                    viewUrl: viewPaths[entry.original.category] + '/' + entry.original.linkIdentifier,
                    editUrl: editPaths[entry.original.category] + '/' + entry.original.linkIdentifier,
                    editId: entry.original.linkIdentifier,
                    details: (items.length > 0 ? ' - ' + items.join(' - '): ''),
                    deleted: !!entry.original.deleted,
                    undeletedUrl: undeletedPath[entry.original.category] + '/' + entry.original.linkIdentifier,
                    archived: entry.original.archived,
                    unarchiveUrl: unarchivePath[entry.original.category] + '/' + entry.original.linkIdentifier,
                });
            });

            $resultContainer.empty();
            $.each(results, function() {
                $resultContainer.append(this);
                $(this).click(function(e) {
                    if (e.target.tagName.toLowerCase() == "a") return;
                    var $ele = $(this);
                    var href = $ele.find("a.search-view").attr("href");
                    if($ele.hasClass('active') && href) {
                        window.location = href;
                    } else {
                        $resultContainer.find('tr.active').removeClass('active');
                        $ele.addClass('active');
                    }
                });
            });

            bindEdits();
        }

        $(document).on('keypress', null, 'return', function() {
            $activeRow = $resultContainer.find('tr.active');
            if ($activeRow.length < 1) return;
            var href = $activeRow.find('a.search-view').attr("href");
            window.location = href;
        });

        $(document).on('keypress', null, 'v', function() {
            $activeRow = $resultContainer.find('tr.active');
            if ($activeRow.length < 1) return;
            var href = $activeRow.find('a.search-view').attr("href");
            window.location = href;
        });

        $(document).on('keypress', null, 'e', function() {
            $activeRow = $resultContainer.find('tr.active');
            if ($activeRow.length < 1) return;
            $activeRow.find('a.search-edit').click();
        });

        $(document).on("keyup", null, 'up', function(e) {
            prevResult();
            e.preventDefault(); // stops the page from scrolling
        });

        $(document).on("keyup", null, 'down', function(e) {
            nextResult();
            e.preventDefault(); // stops the page from scrolling
        });

        function prevResult() {
            $oldActive = $resultContainer.find("tr.active").length > 0 ? $resultContainer.find("tr.active") : $resultContainer.find("tr").first();
            $oldActive.removeClass('active');
            $newActive = $oldActive.prev("tr").length > 0 ? $oldActive.prev("tr") : $oldActive;
            $newActive.addClass('active');
        }

        function nextResult() {
            $oldActive = $resultContainer.find("tr.active");
            $oldActive.removeClass('active');
            $newActive = $oldActive.length > 0 ? ($oldActive.next("tr").length > 0 ? $oldActive.next("tr") : $oldActive) : $resultContainer.find("tr").first();
            $newActive.addClass('active');
        }
    </script>
{% endblock %}
