<h3>Note Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search notes:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new note:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit note:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
