{% extends 'layout.html.twig' %}

{% block search_category %}note{% endblock %}
{% block page_type %}note{% endblock %}
{% block title %}Note{% endblock %}
{% block page_shortcuts %}{% include 'Note/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-contact icomoon-inline"></span>Note </h1>
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ note.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_note') }}/{{ note.id }}" href="#">Delete</a>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Reason:</dt>
                            <dd>{{ note.reason | default('--') }}</dd>

                            <dt>Details:</dt>
                            <dd>{{ note.detail | default('--') }}</dd>

                            <dt>Date:</dt>
                            <dd>{{ note.date | date("d/m/Y H:i:s") | default('--') }}</dd>

                            {% if note.lead %}
                                <dt>Lead:</dt>
                                <dd><a href="{{ path('view_lead', {'id': note.lead.id }) }}">{{ note.lead.description | default('--') }}</a></dd>
                            {% endif %}

                            {% if note.asset %}
                                <dt>Asset:</dt>
                                <dd><a href="{{ path('view_asset', {'id': note.asset.id }) }}">{{ note.asset.nameString | default('--') }}</a></dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'note', modalTitle: 'note', modalEditRoute: path('edit_note') } %}
{% endblock %}

