{% extends 'Asset/particulars.html.twig' %}

{% block assetSpec %}
    <tr>
        <th>Make</th>
        <td>{{ asset.make | default('--') }}</td>
    </tr>

    <tr>
        <th>Model</th>
        <td>{{ asset.model | default('--') }}</td>
    </tr>

    <tr>
        <th>Type</th>
        {% if asset %}
        <td>{{ asset.type ? asset.type : '--' }}</td>
        {% endif %}
    </tr>

    <tr>
        <th>Serial</th>
        <td>{{ asset.serial | default('--') }}</td>
    </tr>

    <tr>
        <th>YOM</th>
        <td>{{ asset.yearOfManufacture | default('--') }}</td>
    </tr>

    <tr>
        <th>Phase</th>
        <td>{{ asset.phase | default('--') }}</td>
    </tr>

    <tr>
        <th>Output Voltage</th>
        <td>{{ asset.outputVoltage ? asset.outputVoltage ~ 'V' : '--' }}</td>
    </tr>

    <tr>
        <th>Output Current</th>
        <td>{{ asset.outputCurrent ? asset.outputCurrent ~ 'A' : '--' }}</td>
    </tr>
{% endblock %}
