{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactInfo">Contact Details</a></h4>
            </div>
            <div id="contactInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.telephone) }}
                    {{ form_row(form.mobile) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.jobTitle) }}
                    <div class="form-group" id="existingCustomer">
                        {{ form_label(form.customer, null, { 'col': 3 }) }}
                        <div class="col-md-6">
                            {{ form_widget(form.customer, { 'field': 6 }) }}
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-primary" id="add-new-customer">Add New</a>
                        </div>
                    </div>
                    <div id="newCustomer" class="form-group hidden-form-field">
                        {{ form_label(form.customer, null, { 'col': 3 }) }}
                        <div class="col-md-5" id="form-textbox-edit-new-source">
                            {{ form_widget(form.newCustomer, { 'field': 6 }) }}
                        </div>
                        <div class="col-md-5 hidden-form-field form-control-static" id="newCustomerText"></div>
                        <div class="col-md-4" id="newCustomerCancel">
                            <a class="btn btn-primary" id="saveCustomer">Lock</a>
                            <a class="btn btn-primary" id="editNewCustomer">Unlock</a>
                            <a class="btn btn-danger" id="cancel-new-customer">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none;">
            {{ form_rest(form) }}
        </div>

    {{ form_end(form) }}
</div>

<script type="text/javascript">

$('#add-new-customer').on('click', function(e) {
    e.preventDefault();
    $('#newCustomer').show();
    $('#existingCustomer').hide();
    $('#editNewCustomer').hide();
    $('#add_contact_form_customer').val('');
    $('#add_contact_form_newCustomer').focus();
    getContacts();
})

$('#saveCustomer').on('click', function(){
    $('#saveCustomer').hide();
    $('#editNewCustomer').show();
    $('#add_contact_form_newCustomer').hide();
    newCustomerText = $('#add_contact_form_newCustomer').val();
    $('#newCustomerText').html(newCustomerText);
    $('#newCustomerText').show();
})

$('#editNewCustomer').on('click', function(){
    $('#saveCustomer').show();
$('#editNewCustomer').hide();
    $('#add_contact_form_newCustomer').show();
    $('#newCustomerText').hide();
})

$('#cancel-new-customer').on('click', function() {
    $('#newCustomer').hide();
    $('#existingCustomer').show();
    $('#add_contact_form_newCustomer').val('');
})

</script>

