{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#accountInfo">Contact Details</a></h4>
            </div>
            <div id="accountInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.username, { 'attr': { 'autofocus': 1 } }) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                </div>
            </div>
        </div>

        <div style="display:none;">
            {{ form_rest(form) }}
        </div>

    {{ form_end(form) }}
</div>


<script type="text/javascript">

$('form').on('submit', function(e){
    email = $('#contact_account_form_email').val();

    if (email == '') {
        $('#contact_account_form_email').addClass('disallowedInput');
        $('#contact_account_form_email').attr('placeholder', 'Please enter the contact\'s email address');
        return;
    }
})

</script>
