<div class="modal" id="create-user-account-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="create-user-account-form-modal-label"><span class="form-modal-title">Create user account for contact</span></h2>
            </div>
            <div class="modal-body">
                <div class="create-user-account-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $createUserAccountModal   = $('#create-user-account-modal');
    var $createUserAccountWrapper = $createUserAccountModal.find('.create-user-account-form-holder');
    var $createUserAccountFooter  = $createUserAccountModal.find('.modal-footer');
    var reloadPage                = false;

    $('#createUserAccount').on('click',  function(e) {
        e.preventDefault();
        $createUserAccountModal.modal('show');
    });

    $createUserAccountModal.on('hide.bs.modal', function (e) {
        $createUserAccountWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $createUserAccountModal.find('.modal-form-submit').remove();
    });

    $createUserAccountModal.on('show.bs.modal', function (e) {
        createUserAccountLoadform(e);
    });

    function createUserAccountLoadform(e) {
        $.get('{{ path('create_user_account_for_contact', {'id': contact.id}) }}', function(data) {
            if (data.displayForm) {
                $createUserAccountWrapper.html(data.html);
                $createUserAccountModal.find('[autofocus]:first').focus();
                $createUserAccountFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                createUserAccountBindForm();
            }
        });
    }

    function createUserAccountBindForm() {
        var $form   = $createUserAccountWrapper.find('form');
        var $button = $createUserAccountFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $wrapper.html(response.html);
                    $button.button('reset');
                    if ($createUserAccountModal.find('.has-error')) {
                        $createUserAccountModal.find('.has-error input:first').focus();
                    } else {
                        $createUserAccountModal.find('[autofocus]:first').focus();
                    }
                    bindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $createUserAccountModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the user was not saved');
                $createUserAccountModal.modal('hide');
            }
        });

        listenForFormChanges();
    }
</script>
