<h3>Contact Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search contacts:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new contact:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit contact:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
