<h2>Welcome <strong>{{ name }}</strong></h2>

<p>An account has been created for you on Dawson Forklift Services with the following information.</p>

<p><strong>Username:</strong> {{ username }}</p>
<p><strong>Email address:</strong> {{ email }}</p>

<h3>Please set your password <a href="{{ url }}">here</a></h3>
<p>You have until {{ expiryDate | date('d/m/Y') }} to set your password. If you miss this window of opportunity please contact Dawson Forklift Services.</p>

<p>Sincerely,</p>
<p>The Dawson Forklift Services Team</p>

<p>This is an automated email, do not reply.</p>
