{% extends 'layout.html.twig' %}

{% block search_category %}contact{% endblock %}
{% block page_type %}contact{% endblock %}
{% block title %}Contacts{% endblock %}
{% block page_shortcuts %}{% include 'Contact/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">Contacts<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="waterfall" id="contact-filter">

            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default panel-filter" data-type="customer" >
                    <div class="panel-heading"><h3 class="panel-title">Customer Name</h3></div>
                    <div class="panel-body no-pad" id="customer_name">
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="customer_filter"></input>

                        {% for customer in customers %}
                            <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="customer" data-id="{{ customer.id }}"  data-name="{{ customer.name }}">
                                {{ customer.name | default('Unassigned') }}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default panel-filter" data-type="supplier" >
                    <div class="panel-heading"><h3 class="panel-title">Supplier Name</h3></div>
                    <div class="panel-body no-pad" id="supplier_name">
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="supplier_filter"></input>

                        {% set row = 1 %}
                        {% for supplier in suppliers %}
                            <div class="panel-item panel-link visible" data-column=2 data-row={{ loop.index }} data-type="supplier" data-id="{{ supplier.id | default('null')}}"  data-name="{{ supplier.name }}">
                                {{ supplier.name | default('Unassigned') }}
                            </div>
                            {% set row = row + 1 %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default panel-filter" data-type="contact">
                    <div class="panel-heading"><h3 class="panel-title">Contacts</h3></div>
                    <div class="panel-body no-pad" id="contacts">
                        <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="contact_filter"></input>

                        {% set row = 1 %}
                        {% for contact in contacts %}
                            <div class="panel-item panel-link visible" data-column=3 data-row={{ row }} data-type="contact" data-id="{{ contact.id | default('null')}}" data-name="{{ contact.name }}" data-other="{{ contact.telephone | default('') }} {{ contact.mobile |default('') }}">
                                {{ contact.name | default('Unassigned') }}
                            </div>
                            {% set row = row + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" id="contact-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'contact', modalTitle: 'Contact', modalNewRoute: path('new_contact'), modalEditRoute: path('edit_contact') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function() {
    $('[data-type="customer"] .panel-link:first').addClass('selected');
    $('[data-type="customer"] .waterfall-filter').focus();

    $('.panel-item.panel-link').on('click', function() {
        var $ele     = $(this);
        var datatype = $ele.data('type');
        var path     = '';

        if (datatype == 'customer') {
            path = "{{ path('get_contacts_for_customer') }}/";
        } else if (datatype == 'supplier') {
            path = "{{ path('get_contacts_for_supplier') }}/";
        } else {
            return;
        }

        $('.panel-item.panel-link').removeClass('active selected');
        $('.panel-item.panel-link').css('background-color', '#ffffff');

        $ele.css('background-color', '#e7e7e7');
        $ele.addClass('active selected');

        col    = $ele.data('column');
        row    = $ele.data('row');
        var id = $ele.data('id');

        $.ajax({
            datatype: 'json',
            url: path + id,
            type: 'get',
            success: function (data) {
                contacts = data['contacts'];

                $('#contact-particulars').empty();
                $('.panel-filter[data-type="contact"] .panel-body').empty();
                $('[data-type="contact"] .panel-body').append('<input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>');

                $filterBox = $('.waterfall-filter');
                $filterBox.on('keyup', findItem);

                var i = 0;
                for (var contact in contacts){
                    $('[data-type="contact"] .panel-body').append('<div class="panel-item panel-link visible" data-type="contact" data-id="'+contacts[i]['id']+'" data-column=3 data-row=' + (i+1) +' data-name="'+contacts[i]['name']+'">' +  contacts[i]['name'] + '</div>');
                    i++;
                }

                if (i==1) {
                    bindClicks();
                    $('[data-type="contact"] .panel-body .panel-link:first').trigger('click');
                }

                bindClicks();
                buildColumnSearchArrays();
            }
        });

     });

    bindClicks();
});

function bindClicks() {
    $('[data-type="contact"]').find('.panel-link').off('click');

    $('[data-type="contact"]').find('.panel-link').on('click', function() {
        var $ele = $(this);
        $('[data-type="contact"] .panel-item.panel-link').removeClass('active');
        $('[data-type="contact"] .panel-item.panel-link').removeClass('selected');
        $('[data-type="contact"] .panel-item.panel-link').css('background-color', '#ffffff');
        $ele.css('background-color', '#e7e7e7');
        $ele.addClass('active');
        $ele.addClass('selected');
        var contactId = $ele.data('id');

        if (contactId) {
            loadContact(contactId);
        }

    });
};

function loadContact(contactId) {
    $('#contact-particulars').load('{{ path('get_contact_particulars') }}/' + contactId)

    $(document).on('keypress', null, 'e', function() {
        $('#editContact').trigger('click');
    });
}

</script>
{% endblock %}

