<h1 class="page-title">Details
<a class="btn btn-primary pull-right item-actions" data-edit-id="{{ contact.id }}" id="editContact" href="javascript:void(0);">Edit</a>
<a class="btn btn-primary pull-right" href="{{ path('view_contact', {'id': contact.id }) }}" style="margin-right: 3px;">View</a></h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Name</th><td><a href="{{ path('view_contact', { 'id': contact.id}) }}">{{ contact.name | default('--') }}</a></td>
            </tr>
            <tr>
                <th>Email</th><td>{{ contact.email | default('--') }}</td>
            </tr>
            <tr>
                <th>Telephone</th><td>{{ contact.telephone | default('--') }}</td>
            </tr>
            <tr>
                <th>Mobile</th><td>{{ contact.mobile | default('--') }}</td>
            </tr>

            {% if contact.customer %}
                <tr>
                    <th>Customer</th><td>{{ contact.customer.name }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Job title</th><td>{{ contact.jobTitle | default('--') }}</td>
            </tr>

            {% if contact.supplier %}
                <tr>
                    <th>Supplier</th><td>{{ contact.supplier.name }}</td>
                </tr>
            {% endif %}

            {% if contact.leads is not empty %}
                    <tr>
                        <th>Leads</th>
                        <td>
                            {% for lead in contact.leads %}
                                <a href="{{ path('view_lead', { 'id': lead.id }) }}">{{ lead.description }}</a></br>
                            {% endfor %}
                        </td>
                    </tr>
            {% endif %}

        </tbody>
    </table>
</div>

{% include '_formModal.html.twig' with { modalType: 'contact', modalTitle: 'Contact', modalNewRoute: path('new_contact'), modalEditRoute: path('edit_contact') } %}
