{% extends 'layout.html.twig' %}

{% set canDelete = is_granted('ROLE_SUPER_ADMIN') %}

{% block search_category %}contact{% endblock %}
{% block page_type %}contact{% endblock %}
{% block title %}{{ contact.name }}{% endblock %}
{% block page_shortcuts %}{% include 'Contact/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="top">
                <h1><span class="icomoon-contact icomoon-inline"></span>Contact ({{ contact.name }})</h1>

                {% if contact.user is null %}
                    <a href="#" class="btn btn-success" id="createUserAccount">Create user account</a>
                {% endif %}

                <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ contact.id }}" href="javascript:void(0);">Edit</a>
                    {% if canDelete %}<a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_contact') }}/{{ contact.id }}" href="#">Delete</a>{% endif %}
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Main Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd>{{ contact.name | default('--') }}</dd>

                            <dt>Telephone:</dt>
                            <dd>{{ contact.telephone | default('--') }}</dd>

                            <dt>Mobile:</dt>
                            <dd>{{ contact.mobile | default('--') }}</dd>

                            <dt>Email:</dt>
                            <dd>{{ contact.email | default('--') }}</dd>

                            {% if contact.customer %}
                                <dt>Customer:</dt>
                                <dd>{{ contact.customer.name | default('--') }}</dd>
                            {% endif %}

                            <dt>Job title:</dt>
                            <dd>{{ contact.jobTitle | default('--') }}</dd>

                            {% for lead in contact.leads %}
                                <dt>Lead {{ loop.index }}:</dt>
                                <dd>
                                    <i><a href="{{ path('view_lead', { 'id': lead.id }) }}">{{ (lead.description | default('--'))|nl2br }}</a></i>
                                </dd>
                            {% endfor %}

                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'contact', modalTitle: 'contact', modalEditRoute: path('edit_contact') } %}
    {% include 'Contact/_newUserAccountModal.html.twig' with { modalType: 'Create Account', modalTitle: 'Create Account'} %}
{% endblock %}


