{% extends 'layout.html.twig' %}

{% block page_type %}engineer{% endblock %}
{% block title %}Engineers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">
                <span class="pull-left">Engineers</span>
                <div class="col-md-3">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <select class="form-control custom-selector" id="user_selector">
                            <option value="null">Show all assigned jobs</option>
                            {% for user in jobOwners %}
                                <option value="{{ user.id }}">{{ user.displayName }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </h1>

            <div class="waterfall" id="engineer-filter">
                <div class="col-md-3" >
                    <div class="panel panel-default panel-filter" data-type="job" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Jobs</h3>
                        </div>
                        <div class="job-col-container">
                            <div class="panel-body no-pad" id="jobs">
                            {% for job in jobs %}
                                <div class="panel-item panel-link selectable-item priority-{{ priorityData.priorityName|default('normal') }}" data-column="1" data-row={{ loop.index }} data-priority={{ priorityData.priority|default(1) }} data-id={{ job.id }} data-name="{{ job.customer.name }}">
                                    {{ job.id }} - {{ job.customer.name }}
                                    {% for attachedJob in job.attachedJobs %}
                                        <a data-id="{{ attachedJob.id }}">+{{ loop.index }}</a>
                                    {% endfor %}
                                </div>

                                {% else %}
                                <div class="panel-item panel-link">
                                    No Jobs
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="job-particulars"></div>
    </div>

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function(){
    userId = '{{ userId }}'
    if (userId) {
        $('#user_selector option').filter(function() {
            return ($(this).val() == userId);
        }).prop('selected', true);
    };
})

$('.panel-link:first').focus();

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');

    $ele.addClass('active');
    $ele.addClass('selected');
    var jobId = $ele.data('id');

    if(jobId) {
        loadJob(jobId);
    }
 });

function loadJob(id) {
    $('#job-particulars').load('{{ path('get_job_particulars') }}/' + id);
}

$('#user_selector').on('change', function(){
    var userId = $('#user_selector').find(':selected').val();

    if (userId == 'null') {
        var url = "{{ path('list_jobs_for_engineer') }}";
    } else {
        var url = "{{ path('list_jobs_for_engineer') }}/" + userId;
    }

    window.location.replace(url);
    return false;
})

</script>
{% endblock %}
