<h3>Source Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search Sources:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new Source:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit Source:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
