{% extends 'layout.html.twig' %}

{% block search_category %}source{% endblock %}
{% block page_type %}source{% endblock %}
{% block title %}Sources{% endblock %}
{% block page_shortcuts %}{% include 'Source/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">
                <span class="pull-left">Sources</span>
                <a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a>
            <div class="clearfix"></div>
            </h1>
            <div class="waterfall" id="source-filter">
                <div class="col-md-2 col-sm-4">
                    <div class="panel panel-default panel-filter" data-type="source">
                        <div class="panel-heading"><h3 class="panel-title">Source Name</h3></div>
                        <div class="panel-body no-pad" id="source_name">
                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..." id="source_filter"></input>

                            {% for source in sources %}
                                <div class="panel-item panel-link visible" data-column=1 data-row={{ loop.index }} data-type="source" data-id="{{ source.id }}"  data-name="{{ source.name }}">
                                    {{ source.name | default('Unassigned') }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="source-particulars"></div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'source', modalTitle: 'Source', modalNewRoute: path('new_source'), modalEditRoute: path('edit_source') } %}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$(function(){
    $('#source_filter').focus();
})

$('.panel-link:first').addClass('selected');
$('.panel-link:first').focus();

$('.panel-item.panel-link').on('click', function() {
    var $ele = $(this);
    $('.panel-item.panel-link').removeClass('active');
    $('.panel-item.panel-link').removeClass('selected');

    $ele.addClass('active selected');
    $ele.css('background-color', '#e7e7e7');

    var sourceId = $ele.data('id');

    if (sourceId) {
        var url = "{{ path('view_source') }}/" + sourceId;
        window.location.href = url;
    }
 });


</script>
{% endblock %}
