{% extends 'layout.html.twig' %}

{% block search_category %}source{% endblock %}
{% block page_type %}source{% endblock %}
{% block title %}Source{% endblock %}
{% block page_shortcuts %}{% include 'Source/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-contact icomoon-inline"></span>Source </h1>
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ source.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_source') }}/{{ source.id }}" href="#">Delete</a>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd>{{ source.name | default('--') }}</dd>

                            {% if source.leads|length > 0 %}
                                <dt>Leads ({{ source.leads|length }}):</dt>
                                {% for lead in source.leads %}
                                    <dd><a href="{{ path('view_lead', {'id': lead.id }) }}">{{ lead.customer.name }}</a></dd>
                                {% endfor %}
                            {% endif %}
                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'source', modalTitle: 'source', modalEditRoute: path('edit_source') } %}
{% endblock %}


