<div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="confirm-modal-label">Confirm</h2>
            </div>
            <div class="modal-body">
                <div class="modal-wrapper">
                    <p class="confirm-message"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary confirm">Confirm</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $confirmModal = $('#confirm-modal');
    var $confirmMessage = $confirmModal.find('.confirm-message');
    var $confirmBtn = $confirmModal.find('a.confirm');

    function showConfirmModal(message, url, functionCall, functionArgs) {
        $confirmMessage.html(message);

        if (url) {
            $confirmBtn.attr('href', url);
        }

        if (functionCall && window[functionCall]) {
            $confirmBtn.on('click.confirmModal', function(e) {
                e.preventDefault();

                if (!functionArgs) {
                    window[functionCall]();
                } else {
                    window[functionCall].apply(null, functionArgs);
                }

                $confirmModal.modal('hide');
            });
        }

        $confirmModal.modal('show');
    }

    $confirmModal.on('show.bs.modal', function(e) {
        var $target = $(e.relatedTarget);

        if (!$target) {
            return;
        }

        $confirmMessage.html($target.data('message'));

        var href = $target.data('href');
        var confirmModalId = $target.data('confirmed-modal');

        if (href) {
            $confirmBtn.attr('href', href);
        } else if (confirmModalId) {
            $confirmBtn.on('click.confirmModal', function(e) {
                e.preventDefault();
                $(confirmModalId).modal('show');
                $confirmModal.modal('hide');
            });
        }
    });

    $confirmModal.on('hide.bs.modal', function(e) {
        $confirmMessage.html('');
        $confirmBtn.attr('href', '#');
        $confirmBtn.off('click.confirmModal');
    });
</script>

