<div class="modal" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="delete-modal-label">Confirm Deletion</h2>
            </div>
            <div class="modal-body">
                <div class="modal-wrapper">
                    <p>Are you sure you want to delete this item? <strong>This will also delete any items linked to this one as well</strong>.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger danger">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $deleteModal = $('#confirm-delete-modal');
    $deleteModal.on('show.bs.modal', function(e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
    });
    $deleteModal.on('hide.bs.modal', function(e) {
        $(this).find('.danger').attr('href', '#');
    });
</script>

