<div class="modal standard-modal" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true" data-item-type="{{ modalType|default('') }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="form-modal-label"><span class="form-modal-title">{{ modalTitle|default('') }}</span></h2>
            </div>
            <div class="modal-body">
                <div class="modal-form-wrapper" data-action="" data-new-route="{{ modalNewRoute|default('') }}" data-base-edit-route="{{ modalEditRoute|default('#') }}" data-edit-route="">&nbsp;</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $modal     = $('#form-modal');
    var $wrapper   = $modal.find('.modal-form-wrapper');
    var $footer    = $modal.find('.modal-footer');
    var $title     = $modal.find('.form-modal-title');
    var reloadUrl  = null;
    var reloadPage = false;

    $(function() {
        $(document).on('keypress', null, 'n', function() {
            newAction();
        });

        $('#new-item').on('click',  function() {
            newAction();
        });

        $modal.on('hidden.bs.modal', function (e) {
            setStackedModals();
        });

        $modal.on('hide.bs.modal', function (e) {
            $wrapper.html('');

            if (reloadUrl) {
                location.href = reloadUrl;
            } else if (reloadPage) {
                location.reload(true);
            }

            $modal.find('.modal-form-submit').remove();
        });

        $modal.on('show.bs.modal', function (e) {
            loadForm(e);
        });

        $modal.on('shown.bs.modal', function (e) {
            setStackedModals();
        });

        bindEdits();
    });

    function newAction() {
        if (!$modal.hasClass('in') && $wrapper.data('new-route')) {
            var itemType = $modal.data('item-type');
            $wrapper.data('action', 'new');
            $title.html('Add ' + itemType);
            $modal.modal('show');
        }
    }

    function bindEdits() {
        $('[data-edit-id]').unbind('click', bindEditHandler);
        $('[data-edit-id]').bind('click', bindEditHandler);
    }

    function bindEditHandler() {
        if (!$modal.hasClass('in')) {
            $ele = $(this);

            {% if not modalType|default(null) %}$modal.data('item-type', $ele.data('item-type'));{% endif %}

            var itemType = $modal.data('item-type');
            $wrapper.data('action', 'edit');

            if ($ele.data('edit-url')) {
                $wrapper.data('edit-route', $ele.data('edit-url'));
            } else {
                var baseEditRoute = $wrapper.data('base-edit-route');
                $wrapper.data('edit-route', baseEditRoute + "/" + $ele.data('edit-id'));
            }

            $title.html('Edit ' + itemType);
            $modal.modal('show');
        }
    }

    function loadForm(e) {
        var action = $wrapper.data('action');
        var route  = $wrapper.data(action + '-route');

        $footer.find('.modal-form-submit').remove();

        $.get(route, function(data) {
            if (data.displayForm) {
                $wrapper.html(data.html);
                $modal.find('[autofocus]:first').focus();
                $footer.find('.modal-form-submit').remove();
                $footer.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                bindForm(e);
            }
        });
    }

    function bindForm(event) {
        var $form   = $wrapper.find('form');
        var $button = $footer.find('.modal-form-submit');
        var $buttons = $footer.find('[data-loading-text]');

        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                window.onclick = event => {
                    if ($(event.target).data('loading-text')) {
                        $(event.target).button('loading');
                    }

                }
            },
            success: function(response, statusText, xhr, $form) {
                $button.button('reset');
                if (response.error) {
                    growlError(response.error);
                }

                $('.extra-modal-btn').remove();

                if (response.displayForm) {
                    $wrapper.html(response.html);
                    $buttons.button('reset');
                    if ($modal.find('.has-error')) {
                        $modal.find('.has-error input:first').focus();
                    } else {
                        $modal.find('[autofocus]:first').focus();
                    }
                    bindForm(event);
                } else {
                    if (response.confirm) {
                        showConfirmModal(response.confirm.message, response.confirm.url);
                    } else if (response.url) {
                        reloadUrl = response.url;
                    } else if (response.refresh) {
                        if (response.selected) {
                            reloadUrl = addQueryParams(location.href, { selectedItem: response.selected })
                        } else {
                            reloadPage = true;
                        }
                    }
                    $modal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the ' + $modal.data('item-type') + ' was not saved');
                $modal.modal('hide');
                $buttons.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
