{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% if includeHeader is not defined or includeHeader %}
<div id="misc-module_heading" class="section-header">
    <h2><span>Misc.</span></h2>
</div>
{% endif %}

<div class="section-content">
    <dl class="dl-horizontal">
        {% if createdLogEntry %}
        <div class="list-group">
            <dt>Created By: </dt>
            <dd>{% if createdLogEntry.username %}{{ createdLogEntry.username}}{% else %}<em>-</em>{% endif %}</dd>

            <dt>Created At: </dt>
            <dd>{{ createdLogEntry.loggedAt|date('M j, Y H:i:s') }}</dd>
        </div>
        {% endif %}

        {% if lastUpdatedLogEntry %}
        <div class="list-group">
            <dt>Last Updated By: </dt>
            <dd>{% if lastUpdatedLogEntry.username %}{{ lastUpdatedLogEntry.username}}{% else %}<em>-</em>{% endif %}</dd>

            <dt>Last Updated At: </dt>
            <dd>{{ lastUpdatedLogEntry.loggedAt|date('M j, Y H:i:s') }}</dd>
        </div>
        {% endif %}
    </dl>
</div>
