<div class="modal" id="keyboard-shortcuts" tabindex="-1" role="dialog" aria-labelledby="keyboard-shortcuts-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="keyboard-shortcuts-label">Keyboard Shortcuts</h2>
            </div>
            <div class="modal-body row">
                <div class="col-md-6 col-sm-12">
                    <h3>Global Shortcuts</h3>
                    <ul>
                        <li>
                            <dl>
                                <dt>Global search:</dt>
                                <dd><kbd>Shift</kbd>+<kbd>S</kbd></dd>
                            </dl>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <dl>
                                    <dt>User Manager:</dt>
                                    <dd><kbd>U</kbd></dd>
                                </dl>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_SERVICE_ADMIN') %}
                            <li>
                                <dl>
                                    <dt>Truck Manager:</dt>
                                    <dd><kbd>T</kbd></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Customer Manager:</dt>
                                    <dd><kbd>C</kbd></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Job Manager:</dt>
                                    <dd><kbd>J</kbd></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Stock Manager:</dt>
                                    <dd><kbd>K</kbd></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Estimate Manager:</dt>
                                    <dd><kbd>M</kbd></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Supplier Manager:</dt>
                                    <dd><kbd>L</kbd></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Purchase Manager:</dt>
                                    <dd><kbd>P</kbd></dd>
                                </dl>
                            </li>
                        {% endif %}
                        <li>
                            <dl>
                                <dt>Show this help:</dt>
                                <dd><kbd>?</kbd></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                    {% if page_shortcuts is not empty %}
                    {{ page_shortcuts|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var $kbModal = $('#keyboard-shortcuts');

        $kbModal.on('hidden.bs.modal', function (e) {
            setStackedModals();
        });

        $kbModal.on('shown.bs.modal', function (e) {
            setStackedModals();
        });

        // jquery.hotkeys.js can't do '?'
        document.addEventListener('keypress', function (e) {
            // 63 = '?' key
            // '?' key toggles the modal
            var charCode = e.keyCode || e.which;
            if (charCode === 63 && !$(e.target).is("input") && !$(e.target).is("textarea")) {
                $('#keyboard-shortcuts').modal('toggle');
            }
        }, false);

        $(document).on('keypress', null, 'shift+s', function() {
            var url = '{{ path('search') }}';
            $.pjax({url: url, container: '#content'});
        });

        $(document).on('keypress', null, 's', function() {
            var url = '{{ path('search', { 'category': (search_category ?: null) }) }}';
            $.pjax({url: url, container: '#content'});
        });

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            $(document).on('keypress', null, 'u', function() {
                var url = '{{ path('list_users') }}';
                $.pjax({url: url, container: '#content'});
            });
        {% endif %}

        {% if is_granted('ROLE_SERVICE_ADMIN') %}
            $(document).on('keypress', null, 't', function() {
                var url = '{{ path('active_assets') }}';
                $.pjax({url: url, container: '#content'});
            });

            $(document).on('keypress', null, 'j', function() {
                var url = '{{ path('list_jobs') }}';
                $.pjax({url: url, container: '#content'});
            });

            $(document).on('keypress', null, 'c', function() {
                var url = '{{ path('list_customers') }}';
                $.pjax({url: url, container: '#content'});
            });

            $(document).on('keypress', null, 'k', function() {
                var url = '{{ path('list_stock') }}';
                $.pjax({url: url, container: '#content'});
            });

            $(document).on('keypress', null, 'm', function() {
                var url = '{{ path('list_estimates') }}';
                $.pjax({url: url, container: '#content'});
            });

            $(document).on('keypress', null, 'l', function() {
                var url = '{{ path('list_suppliers') }}';
                $.pjax({url: url, container: '#content'});
            });

            $(document).on('keypress', null, 'p', function() {
                var url = '{{ path('list_purchaseorders') }}';
                $.pjax({url: url, container: '#content'});
            });
        {% endif %}
    });
</script>
