<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('index') }}" class="navbar-brand">Home</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_SALES_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" id="crmDropDown">CRM<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('list_leads', {'id': app.user.id }) }}">Leads</a></li>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path('list_sources') }}">Sources</a></li>
                        {% endif %}

                        <li><a href="{{ path('list_archived_leads')}}">Archived</a></li>

                        <li><a href="{{ path('list_contacts')}}">Contacts</a></li>

                        <li><a href="{{ path('list_reminders')}}">Reminders</a></li>

                        <li><a href="{{ path('list_casual_hire_leads')}}">Casual Hire</a></li>

                        <li><a href="{{ path('list_visit_me_leads')}}">Requires Visit</a></li>

                        <li><a href="{{ path('list_futuretargets', {'id': app.user.id }) }}">Future Targets</a></li>

                        <li><a href="{{ path('list_primary_targets', {'id': app.user.id }) }}">Primary Targets</a></li>

                        <li><a href="{{ path('list_service_parts_leads')}}">Service/Parts Leads</a></li>

                        <li><a href="{{ path('list_unsuccessful_leads')}}">Unsuccessful Leads</a></li>

                        <li><a href="{{ path('list_successful_leads_awaiting_delivery')}}">Successful and Waiting</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_SERVICE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" id="inventoryDropDown">Inventory<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                            <li><a href="{{ path('list_stock') }}">Stock</a></li>

                            <li><a href="{{ path('list_suppliers')}}">Suppliers</a></li>

                            <li><a href="{{ path('asset_register')}}">Asset Register</a></li>

                            <li><a href="{{ path('list_stock_locations')}}">Stock locations</a></li>

                            <li data-section="purchaseOrder">
                                <a href="{{ path('list_purchaseorders') }}">DFS Purchase Orders</a>
                            </li>
                            <li data-section="dmhePurchaseOrder">
                                <a href="{{ path('list_purchaseorders_dmhe') }}">DMHE Purchase Orders</a>
                            </li>
                            <li data-section="dmheStock">
                                <a href="{{ path('list_purchaseorders_dmhe_stock') }}">DMHE Stock</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SERVICE_ADMIN', 'ROLE_ENGINEER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" id="activeWorkDropDown">Active Work<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li data-section="job"><a href="{{ path('list_jobs') }}">Jobs</a></li>
                            <li data-section="salesJob"><a href="{{ path('list_sales_jobs') }}">Sales Job</a></li>
                            {% if is_granted('ROLE_SERVICE_ADMIN') %}

                                <li data-section="asset"><a href="{{ path('active_assets') }}">Assets</a></li>

                                <li data-section="invoice"><a href="{{ path('list_invoices') }}">Invoices</a></li>

                                <li data-section="estimate"><a href="{{ path('list_estimates') }}">Estimates</a></li>

                                <li data-section="customer"><a href="{{ path('list_customers') }}">Customers</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li data-section="user">
                        <a href="{{ path('list_users') }}">Users</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SERVICE_ADMIN', 'ROLE_SALES_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" id="activeWorkDropDown">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% if is_granted('ROLE_SALES_ADMIN') %}
                                <li data-section="lead"><a href="{{ path('section_reports', {'section': 'lead' }) }}">Leads</a></li>
                            {% endif %}

                            {% if is_granted('ROLE_SERVICE_ADMIN') %}
                                <li data-section="job"><a href="{{ path('section_reports', {'section': 'job' }) }}">Jobs</a></li>

                                <li data-section="estimate"><a href="{{ path('section_reports', {'section': 'estimate' }) }}">Estimates</a></li>

                                <li data-section="truck"><a href="{{ path('section_reports', {'section': 'truck' }) }}">Trucks</a></li>

                                <li data-section="stock"><a href="{{ path('section_reports', {'section': 'stock' }) }}">Stock</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ENGINEER') %}
                    <li data-section="engineer">
                        <a href="{{ path('list_jobs_for_engineer', {'id': null }) }}">Engineer</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_CUSTOMER') %}
                    <li data-section="account">
                        <a href="{{ path('view_account') }}">Account</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') and not is_engineer() %}
                    <li data-section="search">
                        <a href="{{ path('search') }}">Search</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if app.user is not null %}
                    <p class="navbar-text">Logged in as {{ app.user.displayName }}</p>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if pageType %}
<script type="text/javascript">
    $(function() {
        $('[data-section="{{ pageType }}"]').addClass('active');
    });
</script>
{% endif %}
