<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_description %}{% endblock %}

        <title>
            {%- if block('title') is defined -%}
                {{ block('title') }} | Dawson Forklift Services
            {%- endif -%}

            Dawson Forklift Services
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
            <link type="text/css" rel="stylesheet" href="/css/style.css" />
            <link type="text/css" rel="stylesheet" href="/css/jquery.fancybox.css" />
            <link type="text/css" rel="stylesheet" href="/css/jquery.fancybox-thumbs.css" />
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/js/jquery.hotkeys.js"></script>
        <script src="/js/jquery.pjax.js"></script>
        <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="/js/jquery.fancybox-thumbs.js"></script>
        <script type="text/javascript" src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
    </head>

    <body>
        <div id="wrap">
            {% set showNav = (showNavigation is not defined or showNavigation == true) and block('page_type') is defined %}
            {% if showNav  %}
                {% include '_navigation.html.twig' with { pageType: block('page_type') } %}
            {% endif %}

            <div class="{{ containerClass is defined ? containerClass : 'container' }}" id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="push"></div>
        </div>

        {% set showFooter = (showFooter is not defined or showFooter == true) %}
        {% if showFooter %}
            <div id="footer">
                <div class="container">
                    <div class="pull-left">Press <kbd>?</kbd> to view shortcuts</div>
                    <div class="pull-right">&copy; Velocity42 Ltd. {{ "now"|date("Y") }}</div>
                </div>
            </div>
        {% endif %}

        {% if block('page_shortcuts') is defined %}
            {% include '_keyboardModal.html.twig' with { page_shortcuts: block('page_shortcuts'), search_category: block('search_category') } %}
        {% endif %}
        {% include '_confirmDeleteModal.html.twig' %}
        {% include '_confirmModal.html.twig' %}

        {% block javascripts %}
            <script type="text/javascript" src="/js/custom.js"></script>
            <script type="text/javascript" src="/js/bootstrap-growl.min.js"></script>
            <script type="text/javascript" src="/js/jquery.form.min.js"></script>
            <script type="text/javascript" src="/js/moment.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
            <script type="text/javascript" src="/js/fleetmanager-search.js"></script>
            <script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
            <script type="text/javascript" src="/js/jquery.typeahead.min.js"></script></script>
        {% endblock %}

        <script type="text/javascript">
            $(function(){
                adjustPaddingHeight();

                bindSelectables();

                var selectedId = getParameterByName('selectedItem');

                var $item = null;

                if (selectedId) {
                    $item = $('.selectable-item[data-id='+selectedId+']');
                }

                if ($item && $item.length > 0) {
                    $item.click();
                }
            })

            $(window).resize(function(){
                adjustPaddingHeight();
            })

            function adjustPaddingHeight() {
                var navbarHeight = $('.navbar').height();

                if (navbarHeight > 50) {
                    var newPaddingHeight = navbarHeight + 20;
                    var str              = newPaddingHeight+'px';

                    $('body').css('padding-top', str);
                } else {
                    $('body').css('padding-top', '70px');
                }
            }

            {% for flashMessage in app.session.flashbag.get('success') %}
                {% include '_flashMessage.html.twig' with { 'flashType': 'success' } %}
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                {% include '_flashMessage.html.twig' with { 'flashType': 'danger' } %}
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('info') %}
                {% include '_flashMessage.html.twig' with { 'flashType': 'info' } %}
            {% endfor %}

            $(".dropdown:not(:has(li))").hide();
            var formChanged = false;

            $("body").delegate(".datepicker", "focusin", function(){
                $(this).datetimepicker({
                    pickTime: false
                });
            });
        </script>
    </body>
</html>
