<h2>Hello <strong>{{ assignee }}</strong></h2>

<p>You have been assigned a reminder for a lead by {{ assigner }}. You can view it <a href="{{ url|raw }}">here</a>.</p>

<p><strong>Customer:</strong> {{ lead.customer.name }}</p>
<p><strong>Type:</strong> {{ reminder.type }}</p>
<p><strong>Detail:</strong> {{ reminder.detail }}</p>
<p><strong>Date:</strong> {{ reminder.date | display_date_format }}</p>

<p>This is an automated email. Please do not reply</p>
