<h2>Hello <strong>{{ user }}</strong></h2>

<p>You have been assigned the following lead by {{ assigner }}. You can view it <a href="{{ url|raw }}">here</a>.</p>

<p><strong>Customer:</strong> {{ lead.customer.name }}</p>
<p><strong>Type:</strong> {{ lead.type }}</p>
<p><strong>Status:</strong> {{ lead.status }}</p>
<p><strong>Priority:</strong> {{ lead.priority }}</p>

<p>This is an automated email. Please do not reply</p>
