{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#editAddressForm">Edit billing address</a></h4>
            </div>
            <div id="editAddressForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row( form.address1) }}
                    {{ form_row( form.address2) }}
                    {{ form_row( form.city) }}
                    {{ form_row( form.postcode) }}
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">

$(function(){
    {% if isEdit %}

    {% endif %}
})

</script>
