<div class="modal" id="update-address-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="job-completion-form-modal-label"><span class="form-modal-title">Lead Address</span></h2>
            </div>
            <div class="modal-body">
                <div class="job-completion-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $updateAddressModal   = $('#update-address-modal');
    var $updateAddressWrapper = $updateAddressModal.find('.job-completion-form-holder');
    var $updateAddressFooter  = $updateAddressModal.find('.modal-footer');
    var reloadPage            = false;

    $('#editAddress').on('click',  function(e) {
        $updateAddressModal.modal('show');
    });

    $updateAddressModal.on('hide.bs.modal', function (e) {
        $updateAddressWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $updateAddressModal.find('.modal-form-submit').remove();
    });

    $updateAddressModal.on('show.bs.modal', function (e) {
        updateAddressLoadForm(e);
    });

    function updateAddressLoadForm(e) {
        $.get('{{ path('update_lead_address', { 'id': lead.id }) }}', function(data) {
            if (data.displayForm) {
                $updateAddressWrapper.html(data.html);
                $updateAddressModal.find('[autofocus]:first').focus();
                $updateAddressFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                updateAddressBindForm();
            }
        });
    }

    function updateAddressBindForm() {
        var $form   = $updateAddressWrapper.find('form');
        var $button = $updateAddressFooter.find('.modal-form-submit');

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $updateAddressWrapper.html(response.html);
                    $button.button('reset');
                    $updateAddressModal.find('[autofocus]:first').focus();
                    updateAddressBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $updateAddressModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the address was not saved');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
