{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactInfo">Lead Details</a></h4>
            </div>
            <div id="contactInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group" id="existingCustomer">
                        {{ form_label(form.customer, null, { 'col': 3 }) }}
                        <div class="col-md-6">
                            {{ form_widget(form.customer, { 'field': 6 }) }}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary" id="add-new-customer" href="#">Add New</a>
                        </div>
                    </div>
                    <div id="newCustomer" class="form-group hidden-form-field">
                        {{ form_label(form.customer, null, { 'col': 3 }) }}
                        <div class="col-md-5" id="form-textbox-edit-new-source">
                            {{ form_widget(form.newCustomer, { 'field': 6 }) }}
                        </div>
                        <div class="col-md-5 hidden-form-field form-control-static" id="newCustomerText"></div>
                        <div class="col-md-4" id="newCustomerCancel">
                            <a class="btn btn-primary" id="saveCustomer">Lock</a>
                            <a class="btn btn-primary" id="editNewCustomer">Unlock</a>
                            <a class="btn btn-danger" id="cancel-new-customer">Cancel</a>
                        </div>
                    </div>

                    <div class="form-group" id="existingSource">
                        {{ form_label(form.source, null, { 'col': 3 }) }}
                        <div class="col-md-6">
                            {{ form_widget(form.source, { 'field': 6 }) }}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary" id="add-new-source" href="#">Add New</a>
                        </div>
                    </div>
                    <div id="newSource" class="form-group hidden-form-field">
                        {{ form_label(form.source, null, { 'col': 3 }) }}
                        <div class="col-md-5" id="form-textbox-edit-new-source">
                            {{ form_widget(form.newSource.name, { 'field': 6 }) }}
                        </div>
                        <div class="col-md-5 hidden-form-field form-control-static" id="newSourceText"></div>
                        <div class="col-md-4" id="newSourceCancel">
                            <a class="btn btn-primary" id="saveSource">Lock</a>
                            <a class="btn btn-primary" id="editNewSource">Unlock</a>
                            <a class="btn btn-danger" id="cancel-new-source">Cancel</a>
                        </div>
                    </div>

                    {{ form_row(form.user) }}
                    {{ form_row(form.receivedDate) }}
                    {{ form_row(form.priority) }}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactItem">Contacts for lead</a></h4>
                        </div>
                        <div id="contactItem" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div>
                                    {{ form_row(form.contacts) }}
                                </div>
                                <div class="newContacts" id="newContacts" data-prototype="{{ form_widget(form.newContacts.vars.prototype)|e }}">
                                    {% for contact in form.newContacts %}
                                        <div class="contact-item">
                                            {{ form_errors(contact) }}
                                            {{ form_widget(contact) }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-primary pull-right" id="addNewContact"  href="#">Add new</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="display:none;">
            {{ form_rest(form) }}
        </div>

    {{ form_end(form) }}
</div>

<script type="text/javascript" href="/js/bootstrap-datetimepicker.min.js" />
<script type="text/javascript">

$(function(){
    {% if isEdit|default(false) %}

    {% else %}
        getContacts();
    {% endif %}

    {% if customerAlreadyExists | default(false) %}
        $('#lead_form_newCustomer').val('');
    {% endif %}
})

$('#add-new-customer').on('click', function(e) {
    e.preventDefault();
    $('#newCustomer').show();
    $('#existingCustomer').hide();
    $('#editNewCustomer').hide();
    $('#lead_form_customer').val('');
    $('#lead_form_newCustomer').focus();
    getContacts();
})

$('#saveCustomer').on('click', function(){
    $('#saveCustomer').hide();
    $('#editNewCustomer').show();
    $('#lead_form_newCustomer').hide();
    newCustomerText = $('#lead_form_newCustomer').val();
    $('#newCustomerText').html(newCustomerText);
    $('#newCustomerText').show();
})

$('#editNewCustomer').on('click', function(){
    $('#saveCustomer').show();
$('#editNewCustomer').hide();
    $('#lead_form_newCustomer').show();
    $('#newCustomerText').hide();
})

$('#cancel-new-customer').on('click', function() {
    $('#newCustomer').hide();
    $('#existingCustomer').show();
    $('#lead_form_newCustomer').val('');
})

$('#add-new-source').on('click', function(e) {
    e.preventDefault();
    $('#newSource').show();
    $('#existingSource').hide();
    $('#editNewSource').hide();
    $('#lead_form_source').val('');
    $('#lead_form_newSource_name').focus();
})

$('#saveSource').on('click', function(){
    $('#saveSource').hide();
    $('#editNewSource').show();
    $('#lead_form_newSource_name').hide();
    newSourceText = $('#lead_form_newSource_name').val();
    $('#newSourceText').html(newSourceText);
    $('#newSourceText').show();
})

$('#editNewSource').on('click', function(){
    $('#saveSource').show();
    $('#editNewSource').hide();
    $('#lead_form_newSource_name').show();
    $('#newSourceText').hide();
})

$('#cancel-new-source').on('click', function() {
    $('#newSource').hide();
    $('#existingSource').show();
    $('#lead_form_newSource_name').val('');
})

$('#lead_form_customer').on('change', function(){
    getContacts();
})

function getContacts() {
    var customer    = $("#lead_form_customer :selected").val();
    selectContainer =  $('#lead_form_contacts');
    if (!customer) {
        selectContainer.empty();
        selectContainer.append('<div id="no-contacts" class="form-control-static">No contacts.</div>');
        return false;
    }
    $.ajax({
        url: "{{ path('get_contacts_for_customer') }}/" + customer,
        type: 'get',
        success: function (data) {
            contacts = data['contacts'];
            if (contacts.length == 0) {
                selectContainer.empty();
                selectContainer.append('<div id="no-contacts" class="form-control-static">No contacts.</div>');
                return false;
            }
            selectContainer.empty();
            for (var i = 0; i < contacts.length; i++) {
                 selectContainer.append('<div class="checkbox"><input type="checkbox" id="lead_form_contacts_'+i+'" name="lead_form[contacts][]" value="' + contacts[i]['id'] + '">' + contacts[i]['name'] + '</input></div>');
            }
        }
    });
}


//
//
//     Contact form magic
//
////////////////////////////////////////////////

var $contactCollectionHolder = $('div.newContacts');
var contactCount             = {{ form.contacts|length }} ;
var contactIndex             = contactCount - 1;
var formEmployeesIndex       = 0;

$contactCollectionHolder.find('div.contact-item').each(function() {
    $ele = $(this);
    bindNewContacts($ele);
    formEmployeesIndex++;
});

$('#addNewContact').click(function(e) {
    e.preventDefault();
    contactIndex++;

    var newItem = $contactCollectionHolder.data('prototype');
    newItem     = newItem.replace(/__name__/g, contactIndex);
    textDivs    = '<div class="form-group newNameText hidden-form-field"><label class="col-sm-3 control-label">Name</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTelephoneText hidden-form-field"><label class="col-sm-3 control-label">Telephone</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newEmailText hidden-form-field"><label class="col-sm-3 control-label">Email</label><p class="col-sm-9 form-control-static"></p></div>';
    newItem     += textDivs;
    var $newDiv = $('<div class="contact-item"></div>').html(newItem);

    $newDiv.appendTo($contactCollectionHolder);

    $('#lead_form_newContacts_'+contactIndex+'_customer').parent().parent().hide();
    $('#lead_form_newContacts_'+contactIndex+'_supplier').parent().parent().hide();
    $('#lead_form_newContacts_'+contactIndex+'_name').focus();
    $('#lead_form_newContacts_'+contactIndex+'_newCustomer').parent().parent().hide();
    $('#no-contacts').parent().parent().parent().hide();
    bindNewContacts($newDiv);
});

function bindContacts($ele) {
    var $formFields = $('.contact-form-fields', $ele);
    var $staticFields = $('.contact-item-static', $ele);

    var $saveBtn = $('.save-contact', $ele);
    var $editBtn = $('.edit-contact', $ele);
    var $removeBtn = $('.remove-contact', $ele);

    $saveBtn.on('click', function(){
        var $name      = $('.contact-name', $ele);
        var $telephone = $('.contact-telephone', $ele);
        var $email     = $('.contact-email', $ele);

        $name.closest('.form-group').removeClass('has-error');

        if ($name.val() == '') {
            $name.closest('.form-group').addClass('has-error');
            $name.attr('placeholder', 'Enter a name...')
            return false;
        };

        $staticFields.find('.contact-name').html($name.val());
        $staticFields.find('.contact-tel').html($telephone.val());
        $staticFields.find('.contact-email').html($email.val());

        $staticFields.show();
        $formFields.hide();

        $editBtn.show();
        $saveBtn.hide();
    })

    $editBtn.on('click', function(){
        $staticFields.hide();
        $formFields.show();

        $editBtn.hide();
        $saveBtn.show();
    });

    $removeBtn.on('click', function(e) {
        e.preventDefault();
        $ele.remove();
        contactCount--;
    });
}

function addSaveEditButtons($ele, type, index) {
    var $saveEdit = '<a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
    $ele.append($saveEdit);
}
</script>
