<div class="modal" id="new-contact-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-contact-form-modal-label"><span class="form-modal-title">New Contact</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-contact-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newContactModal   = $('#new-contact-modal');
    var $newContactWrapper = $newContactModal.find('.new-contact-form-holder');
    var $newContactFooter  = $newContactModal.find('.modal-footer');

    $('#newContact').on('click',  function(e) {
        $newContactModal.modal('show');
    });

    $newContactModal.on('hide.bs.modal', function (e) {
        $newContactWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newContactModal.find('.modal-form-submit').remove();
    });

    $newContactModal.on('show.bs.modal', function (e) {
        newContactLoadform(e);
    });

    function newContactLoadform(e) {
        $.get('{{ path('new_contact_for_lead', { 'id': lead.id }) }}', function(data) {
            if (data.displayForm) {
                $newContactWrapper.html(data.html);
                $newContactModal.find('[autofocus]:first').focus();
                $newContactFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newContactBindform();
            }
        });
    }

    function newContactBindform() {
        var $newContactform   = $newContactWrapper.find('form');
        var $newContactButton = $newContactFooter.find('.modal-form-submit');
        $newContactform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $newContactform.find('.datetimepicker').datetimepicker();

        $newContactButton.unbind('click');
        $newContactButton.click(function() {
            $newContactform.submit();
        });

        $newContactform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $newContactform) {
                $newContactButton.button('loading');
            },
            success: function(response, statusText, xhr, $newContactform) {
                if (response.displayForm) {
                    $newContactWrapper.html(response.html);
                    if ($newContactModal.find('.has-error')) {
                        $newContactModal.find('.has-error input:first').focus();
                    } else {
                        $newContactModal.find('[autofocus]:first').focus();
                    }
                    newContactBindform();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }

                    $newContactModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the contact was not assigned to the lead.');
                $newContactButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
