<div class="modal" id="new-reminder-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-reminder-form-modal-label"><span class="form-modal-title">New Reminder</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-reminder-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newReminderModal   = $('#new-reminder-modal');
    var $newReminderWrapper = $newReminderModal.find('.new-reminder-form-holder');
    var $newReminderFooter  = $newReminderModal.find('.modal-footer');
    reloadPage              = false;

    $('#newReminder').on('click',  function(e) {
        e.preventDefault();
        $newReminderModal.modal('show');
    });

    $newReminderModal.on('hide.bs.modal', function (e) {
        $newReminderWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newReminderModal.find('.modal-form-submit').remove();
    });

    $newReminderModal.on('show.bs.modal', function (e) {
        newReminderLoadform(e);
    });

    function newReminderLoadform(e) {
        $.get('{{ path('new_reminder_for_lead', { 'id': lead.id }) }}', function(data) {
            if (data.displayForm) {
                $newReminderWrapper.html(data.html);
                $newReminderModal.find('[autofocus]:first').focus();
                $newReminderFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newReminderBindform();
            }
        });
    }

    function newReminderBindform() {
        var $newReminderform   = $newReminderWrapper.find('form');
        var $newReminderButton = $newReminderFooter.find('.modal-form-submit');
        $newReminderform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $newReminderform.find('.datetimepicker').datetimepicker();

        $newReminderButton.unbind('click');
        $newReminderButton.click(function() {
            $newReminderform.submit();
        });

        $newReminderform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $newReminderform) {
                $newReminderButton.button('loading');
            },
            success: function(response, statusText, xhr, $newReminderform) {
                if (response.displayForm) {
                    $newReminderButton.button('reset');
                    $newReminderWrapper.html(response.html);
                    if ($newReminderModal.find('.has-error')) {
                        $newReminderModal.find('.has-error input:first').focus();
                    } else {
                        $newReminderModal.find('[autofocus]:first').focus();
                    }
                    newReminderBindform();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }

                    $newReminderModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the note was not assigned to the lead.');
                $newReminderButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
