<div class="modal" id="new-note-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="new-note-form-modal-label"><span class="form-modal-title">New Note</span></h2>
            </div>
            <div class="modal-body">
                <div class="new-note-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $newNoteModal   = $('#new-note-modal');
    var $newNoteWrapper = $newNoteModal.find('.new-note-form-holder');
    var $newNoteFooter  = $newNoteModal.find('.modal-footer');
    var reloadPage      = false;

    $('#newNote').on('click',  function(e) {
        $newNoteModal.modal('show');
    });

    $newNoteModal.on('hide.bs.modal', function (e) {
        $newNoteWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $newNoteModal.find('.modal-form-submit').remove();
    });

    $newNoteModal.on('show.bs.modal', function (e) {
        newNoteLoadform(e);
    });

    function newNoteLoadform(e) {
        $.get('{{ path('new_note_for_lead', { 'id': lead.id }) }}', function(data) {
            if (data.displayForm) {
                $newNoteWrapper.html(data.html);
                $newNoteModal.find('[autofocus]:first').focus();
                $newNoteFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                newNoteBindform();
            }
        });
    }

    function newNoteBindform() {
        var $newNoteform   = $newNoteWrapper.find('form');
        var $newNoteButton = $newNoteFooter.find('.modal-form-submit');
        $newNoteform.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $newNoteform.find('.datetimepicker').datetimepicker();

        $newNoteButton.unbind('click');
        $newNoteButton.click(function() {
            $newNoteform.submit();
        });

        $newNoteform.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $newNoteform) {
                $newNoteButton.button('loading');
            },
            success: function(response, statusText, xhr, $newNoteform) {
                if (response.displayForm) {
                    $newNoteWrapper.html(response.html);
                    if ($newNoteModal.find('.has-error')) {
                        $newNoteModal.find('.has-error input:first').focus();
                    } else {
                        $newNoteModal.find('[autofocus]:first').focus();
                    }
                    newNoteBindform();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }

                    $newNoteModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the note was not assigned to the lead.');
                $newNoteButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
