<div class="modal" id="unsuccessful-lead-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="unsuccessful-lead-form-modal-label"><span class="form-modal-title">Lead was unsuccessful</span></h2>
            </div>
            <div class="modal-body">
                <div class="unsuccessful-lead-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $unsuccessfulLeadModal   = $('#unsuccessful-lead-modal');
    var $unsuccessfulLeadWrapper = $unsuccessfulLeadModal.find('.unsuccessful-lead-form-holder');
    var $unsuccessfulLeadFooter  = $unsuccessfulLeadModal.find('.modal-footer');
    var reloadPage               = false;

    $('#completeUnsuccessfulLead').on('click',  function(e) {
        $unsuccessfulLeadModal.modal('show');
    });

    $unsuccessfulLeadModal.on('hide.bs.modal', function (e) {
        $unsuccessfulLeadWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $unsuccessfulLeadModal.find('.modal-form-submit').remove();
    });

    $unsuccessfulLeadModal.on('show.bs.modal', function (e) {
        completeUnsuccessfulLeadLoadform(e);
    });

    function completeUnsuccessfulLeadLoadform(e) {
        $.get('{{ path('convert_unsuccessful_lead', { 'id': lead.id }) }}', function(data) {
            if (data.displayForm) {
                $unsuccessfulLeadWrapper.html(data.html);
                $unsuccessfulLeadModal.find('[autofocus]:first').focus();
                $unsuccessfulLeadFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                completeUnsuccessfulLeadBindForm();
            }
        });
    }

    function completeUnsuccessfulLeadBindForm() {
        var $form   = $unsuccessfulLeadWrapper.find('form');
        var $button = $unsuccessfulLeadFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $unsuccessfulLeadWrapper.html(response.html);
                    $button.button('reset');
                    $unsuccessfulLeadModal.find('[autofocus]:first').focus();
                    completeUnsuccessfulLeadBindForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }

                    $unsuccessfulLeadModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the lead was not saved as unsuccessful');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
