{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

<div class="row">
        <div class="col-md-12">
        <h2>Lead history from {{ start | date('d/m/Y') }} to {{ end | date('d/m/Y') }}</h2>

        <h3>Leads In: {{ leadsIn|length }}, Leads Out: {{ leadsOut|length }} </h3>
        <hr>

        <h4>Leads created</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Customer</th>
                    <th>Source</th>
                    <th>Assigned to</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Creation date</th>
                    <th>Last Updated</th>
                    <th>Update count</th>
                </tr>
                {% if leadsIn|length > 0 %}
                    {% for lead in leadsIn %}
                        <tr class="lead-report-row" data-href="{{ path('view_lead', {'id': lead.id}) }}">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.source ? lead.source.name | default('--') : '--' }}</td>
                            <td>{{ lead.user.name }}</td>
                            <td>{{ lead.type }}</td>
                            <td>{{ lead.value }}</td>
                            <td>{{ lead.receivedDate | display_date_format }}</td>
                            <td>{{ lead.updatedAt | display_date_format }}</td>
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No new leads created.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <hr>

        <h4>Leads completed</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Customer</th>
                    <th>Source</th>
                    <th>User</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Outcome</th>
                    <th>Last Updated</th>
                    <th>Update count</th>
                </tr>
                {% if leadsOut|length > 0 %}
                    {% for lead in leadsOut %}
                        <tr class="lead-report-row" data-href="{{ path('view_lead', {'id': lead.id}) }}">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.source.name | default('Unspecified')  }}</td>
                            <td>{{ lead.user.name }}</td>
                            <td>{{ lead.value }}</td>
                            <td>{{ lead.completionDate | display_date_format }}</td>
                            <td>{{ lead.unsuccessful ? 'Unsuccessful' : 'Successful' }}</td>
                            <td>{{ lead.updatedAt | display_date_format }}</td>
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No leads completed.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
