{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

<div class="row">
    <div class="col-md-9">
        <h2>Leads with reminders</h2>
        <h3>User: {{ username|default('All users') }}</h3>
        <h3>Number of Leads: {{ leadsWithRemindersInFuture|length }} </h3>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="r1_user_selector">Reminder type</label>
            <select class="form-control reminder-selector" id="reminder_selector">
                <option value="future">Future</option>
                <option value="all">All</option>
            </select>
        </div>
    </div>
</div>

<div class="row" id="future_reminders">
    <div class="col-md-12">

        <h4>Leads with future reminder dates</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Customer</th>
                    <th>Source</th>
                    <th>User</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Reminders</th>
                    <th>Last updated</th>
                    <th>Update count</th>
                </tr>
                {% if leadsWithRemindersInFuture|length > 0 %}
                    {% for lead in leadsWithRemindersInFuture %}
                        <tr data-href="{{ path('view_lead', {'id': lead.id}) }}" style="cursor: pointer;">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.source ? lead.source.name | default('--') : '--' }}</td>
                            <td>{{ lead.user.name }}</td>
                            <td>{{ lead.type }}</td>
                            <td>{{ lead.value | default('Unspecified') }}</td>

                            <td>
                                <ul class="list-unstyled">
                                    {% for reminder in lead.reminders %}
                                        <li>{{ reminder.type }}, {{ reminder.date | display_date_format }}</li>
                                    {% endfor %}
                                <ul>
                            </td>

                            <td>{{ lead.updatedAt | display_date_format }}</td>
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No leads with reminders.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>

<div class="row hidden-form-field" id="past_reminders">
    <div class="col-md-12">
        <h4>Leads with expired reminder dates</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Customer</th>
                    <th>Source</th>
                    <th>User</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Reminders</th>
                    <th>Last updated</th>
                    <th>Update count</th>
                </tr>
                {% if leadsWithRemindersInPast|length > 0 %}
                    {% for lead in leadsWithRemindersInPast %}
                        <tr data-href="{{ path('view_lead', {'id': lead.id}) }}" style="cursor: pointer;">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.source ? lead.source.name | default('--') : '--' }}</td>
                            <td>{{ lead.user.name }}</td>
                            <td>{{ lead.type }}</td>
                            <td>{{ lead.value | default('Unspecified') }}</td>

                            <td>
                                <ul class="list-unstyled">
                                    {% for reminder in lead.reminders %}
                                        <li>{{ reminder.type }}, {{ reminder.date | display_date_format }}</li>
                                    {% endfor %}
                                <ul>
                            </td>
                            <td>{{ lead.updatedAt | display_date_format }}</td>
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No leads with expired reminders.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
$('tr').on('hover', function(){
    $ele = $(this);
    $ele.css('cursor', 'pointer');
})

$('tr').on('click', function(){
    $ele = $(this);
    url  = $ele.data('href');

    $(location).attr('href', url)
})

$('#reminder_selector').on('change', function(){
    if ($('#reminder_selector option:selected').val() == 'all') {
        $('#past_reminders').show();
    } else {
        $('#past_reminders').hide();
    }
})
</script>

{% endblock %}
