{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

<div class="row">
        <div class="col-md-12">
        <h2>Lead history from {{ start | date('d/m/Y') }} to {{ end | date('d/m/Y') }}</h2>
        <h3>User: {{ username|default('All users') }}</h3>
        <h3>Leads Updated: {{ leadsUpdated|length }} </h3>
        <hr>

        <h4>Leads updated</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Customer</th>
                    <th>Source</th>
                    <th>User</th>
                    <th>Type</th>
                    <th>Last updated</th>
                    <th>Update count</th>
                </tr>
                {% if leadsUpdated|length > 0 %}
                    {% for lead in leadsUpdated %}
                        <tr class="lead-report-row" data-href="{{ path('view_lead', {'id': lead.id}) }}">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.source ? lead.source.name | default('--') : '--' }}</td>
                            <td>{{ lead.user.username }}</td>
                            <td>{{ lead.type }}</td>
                            <td>{{ lead.updatedAt | display_date_format }}</td>
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">No leads updated.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
