{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% set showFooter = false %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Lead history from {{ start | date('d/m/Y') }} to {{ end | date('d/m/Y') }}</h2>

        <h3>Leads In: {{ leadsIn|length }}, Uncontacted new Leads : {{ leadsInWithNoContact|length }} </h3>
        <hr>

        <h4>Leads created</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="contacted-leads">
                <tr>
                    <th>Customer</th>
                    <th>Creation date</th>
                    <th>Source</th>
                    <th>Target Type</th>
                    <th>Status</th>
                    <th>Last Updated</th>
                    <th>Latest note</th>
                    <th>Update count</th>
                </tr>
                {% if leadsIn|length > 0 %}
                    {% for lead in leadsIn %}
                        <tr class="lead-report-row" data-href="{{ path('view_lead', {'id': lead.id}) }}">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.receivedDate | display_date_format }}</td>
                            <td>{{ lead.source ? lead.source.name | default('--') : '--' }}</td>

                            {% if lead.primaryTarget %}
                                <td>Primary</td>
                            {% elseif lead.futureTarget %}
                                <td>Future</td>
                            {% else %}
                                <td>Normal</td>
                            {% endif %}

                            <td>{{ lead.status }}</td>
                            <td>{{ lead.updatedAt | display_date_format }}</td>

                            {% if lead.notes > 0 %}
                                {% for note in lead.notes %}
                                    {% if loop.index == 1 %}
                                        <td>{{ note.detail }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>--</td>
                            {% endif %}
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No new leads created.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <hr>

        <h4>Leads which haven't changed from 'No contact' status</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="no-contact-leads">
                <tr>
                    <th>Customer</th>
                    <th>Creation date</th>
                    <th>Source</th>
                    <th>Target Type</th>
                    <th>Status</th>
                    <th>Last Updated</th>
                    <th>Latest note</th>
                    <th>Update count</th>
                </tr>
                {% if leadsInWithNoContact|length > 0 %}
                    {% for lead in leadsInWithNoContact %}
                        <tr class="lead-report-row" data-href="{{ path('view_lead', {'id': lead.id}) }}">
                            <td>{{ lead.customer.name }}</td>
                            <td>{{ lead.receivedDate | display_date_format }}</td>
                            <td>{{ lead.source ? lead.source.name | default('--') : '--' }}</td>

                            {% if lead.primaryTarget %}
                                <td>Primary</td>
                            {% elseif lead.futureTarget %}
                                <td>Future</td>
                            {% else %}
                                <td>Normal</td>
                            {% endif %}

                            <td>{{ lead.status }}</td>
                            <td>{{ lead.updatedAt | display_date_format }}</td>

                            {% if 1 > 0 %}
                                {% for note in lead.notes %}
                                    {% if loop.index == 1 %}
                                        <td>{{ note.detail }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>--</td>
                            {% endif %}
                            <td>{{ lead.updateCount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No new leads created.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
