{% extends 'layout.html.twig' %}

{% set showAllOwners = is_granted('ROLE_SUPER_ADMIN') %}

{% block page_type %}report{% endblock %}
{% block title %}Lead reports{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="page-title option-title" id="title-section">
            <h1><span class="icomoon-report icomoon-inline"></span>Lead Reports</h1>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Leads in Vs Leads out</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="r1_start_date">Start date</label>
                            <input type="text" class="form-control datepicker start-date" data-date-format="YYYY-MM-DD" id="r1_start_date">
                        </div>
                        <div class="form-group">
                            <label for="end_date">End date</label>
                            <input type="text" class="form-control datepicker end-date" data-date-format="YYYY-MM-DD" id="r1_end_date">
                        </div>
                        {% if showAllOwners %}
                            <div class="form-group">
                                <label>Lead owner</label>
                                <select class="form-control user-selector" id="r1_user_selector">
                                    <option value="all">All users</option>
                                    {% for user in leadOwners %}
                                        <option value="{{ user.id }}">{{ user.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <a href="#" class="btn btn-primary" id="leadsInVsOut">Create report</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Leads in Vs Lead in with no contact</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="r2_start_date">Start date</label>
                            <input type="text" class="form-control datepicker start-date" data-date-format="YYYY-MM-DD" id="r2_start_date">
                        </div>
                        <div class="form-group">
                            <label for="end_date">End date</label>
                            <input type="text" class="form-control datepicker end-date" data-date-format="YYYY-MM-DD" id="r2_end_date">
                        </div>
                        {% if showAllOwners %}
                            <div class="form-group">
                                <label>Lead owner</label>
                                <select class="form-control user-selector" id="r2_user_selector">
                                    <option value="all">All users</option>
                                    {% for user in leadOwners %}
                                        <option value="{{ user.id }}">{{ user.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <a href="#" class="btn btn-primary" id="leadsInVsLeadsInWithNoContact">Create report</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Leads updated between dates</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="r3_start_date">Start date</label>
                            <input type="text" class="form-control datepicker start-date" data-date-format="YYYY-MM-DD" id="r3_start_date">
                        </div>
                        <div class="form-group">
                            <label for="r3_end_date">End date</label>
                            <input type="text" class="form-control datepicker end-date" data-date-format="YYYY-MM-DD" id="r3_end_date">
                        </div>
                        {% if showAllOwners %}
                            <div class="form-group">
                                <label>Lead owner</label>
                                <select class="form-control user-selector" id="r3_user_selector">
                                    <option value="all">All users</option>
                                    {% for user in leadOwners %}
                                        <option value="{{ user.id }}">{{ user.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <a href="#" class="btn btn-primary" id="leadsUpdatedBetween">Create report</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-xs"></div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Latest created or updated Leads</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="r4_start_date">Since</label>
                            <input type="text" class="form-control datepicker start-date" data-date-format="YYYY-MM-DD" id="r4_start_date">
                        </div>
                        {% if showAllOwners %}
                            <div class="form-group">
                                <label>Lead owner</label>
                                <select class="form-control user-selector" id="r4_user_selector">
                                    <option value="all">All users</option>
                                    {% for user in leadOwners %}
                                        <option value="{{ user.id }}">{{ user.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <a href="#" class="btn btn-primary" id="leadsCreatedOrUpdated">Create report</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Leads value at "Quoting" stage</div>
                <div class="panel-body">
                    {% if showAllOwners %}
                        <div class="form-group">
                            <label>Lead owner</label>
                            <select class="form-control user-selector" id="r5_user_selector">
                                <option value="all">All users</option>
                                {% for user in leadOwners %}
                                    <option value="{{ user.id }}">{{ user.displayName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <a href="#" class="btn btn-primary" id="leadsValueAtQuoting">Create report</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Leads with reminders set</div>
                <div class="panel-body">
                    {% if showAllOwners %}
                        <div class="form-group">
                            <label>Lead owner</label>
                            <select class="form-control user-selector" id="r6_user_selector">
                                <option value="all">All users</option>
                                {% for user in leadOwners %}
                                    <option value="{{ user.id }}">{{ user.displayName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <a href="#" class="btn btn-primary" id="leadWithReminders">Create report</a>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-xs"></div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Inactive leads over time</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="r7_status_selector">Lead status</label>
                            <select class="form-control status-selector" id="r7_status_selector">
                                <option value="No contact">No contact</option>
                                <option value="Contact made">Contact made</option>
                                <option value="Action required">Action required</option>
                                <option value="Quoting">Quoting</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="r7_start_date">Since</label>
                            <input type="text" class="form-control datepicker start-date" data-date-format="YYYY-MM-DD" id="r7_start_date">
                        </div>
                        {% if showAllOwners %}
                            <div class="form-group">
                                <label>Lead owner</label>
                                <select class="form-control user-selector" id="r7_user_selector">
                                    <option value="all">All users</option>
                                    {% for user in leadOwners %}
                                        <option value="{{ user.id }}">{{ user.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <a href="#" class="btn btn-primary" id="leadsInactiveSince">Create report</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$('#leadsInVsOut').on('click', function(){
    var $ele  = $(this);
    var start = $ele.parent().find('.start-date').val();
    var end   = $ele.parent().find('.end-date').val();
    var user  = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};

    if (start == '') {
        $ele.parent().find('.start-date').addClass('disallowedInput');
        $ele.parent().find('.start-date').attr('placeholder', 'Choose a date');
        return;
    };

    if (end == '') {
        $ele.parent().find('.end-date').addClass('disallowedInput');
        $ele.parent().find('.end-date').attr('placeholder', 'Choose a date');
        return;
    };

    var url = "{{ path('leads_in_vs_out')}}/" + start + "/" + end + "/" + user;

    window.location.href = url;
})

$('#leadsCreatedOrUpdated').on('click', function(){
    var $ele  = $(this);
    var start = $ele.parent().find('.start-date').val();
    var user  = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};

    if (start == '') {
        $ele.parent().find('.start-date').addClass('disallowedInput');
        $ele.parent().find('.start-date').attr('placeholder', 'Choose a date');
        return;
    };

    var url = "{{ path('leads_created_or_updated')}}/" + start + "/" + user;

    window.location.href = url;
})

$('#leadsUpdatedBetween').on('click', function(){
    var $ele  = $(this);
    var start = $ele.parent().find('.start-date').val();
    var end   = $ele.parent().find('.end-date').val();
    var user  = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};

    if (start == '') {
        $ele.parent().find('.start-date').addClass('disallowedInput');
        $ele.parent().find('.start-date').attr('placeholder', 'Choose a date');
        return;
    };

    if (end == '') {
        $ele.parent().find('.end-date').addClass('disallowedInput');
        $ele.parent().find('.end-date').attr('placeholder', 'Choose a date');
        return;
    };

    var url = "{{ path('leads_updated_between')}}/" + start + "/" + end + "/" + user;

    window.location.href = url;
})

$('#leadsValueAtQuoting').on('click', function(){
    var $ele = $(this);
    var user = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};
    var url  = "{{ path('leads_value_at_quoting')}}/" + user;

    window.location.href = url;
})

$('#leadWithReminders').on('click', function(){
    var $ele = $(this);
    var user = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};
    var url  = "{{ path('leads_with_reminders')}}/" + user;

    window.location.href = url;
})

$('#leadsInactiveSince').on('click', function(){
    var $ele   = $(this);
    var start  = $ele.parent().find('.start-date').val();
    var user   = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};
    var status = $ele.parent().find('.status-selector').val();

    if (start == '') {
        $ele.parent().find('.start-date').addClass('disallowedInput');
        $ele.parent().find('.start-date').attr('placeholder', 'Choose a date');
        return;
    };

    var url = "{{ path('leads_inactive_since')}}/" + start + "/" + user + "/" + status;

    window.location.href = url;
})

$('#leadsInVsLeadsInWithNoContact').on('click', function(){
    var $ele  = $(this);
    var start = $ele.parent().find('.start-date').val();
    var end   = $ele.parent().find('.end-date').val();
    var user  = {% if showAllOwners %}$ele.parent().find('.user-selector').val(){% else %}{{ user.id }}{% endif %};

    if (start == '') {
        $ele.parent().find('.start-date').addClass('disallowedInput');
        $ele.parent().find('.start-date').attr('placeholder', 'Choose a date');
        return;
    };

    if (end == '') {
        $ele.parent().find('.end-date').addClass('disallowedInput');
        $ele.parent().find('.end-date').attr('placeholder', 'Choose a date');
        return;
    };

    var url = "{{ path('leads_in_vs_leads_in_with_no_contact')}}/" + start + "/" + end + "/" + user;

    window.location.href = url;
})

</script>
{% endblock %}
