{% extends 'layout.html.twig' %}

{% set canDelete = is_granted('ROLE_SUPER_ADMIN') %}

{% block search_category %}lead{% endblock %}
{% block page_type %}lead{% endblock %}
{% block title %}{{ lead.description }}{% endblock %}
{% block page_shortcuts %}{% include 'Lead/_shortcuts.html.twig' %}{% endblock %}

{% set createdLogEntry     = versions|last %}
{% set lastUpdatedLogEntry = versions|first %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="top">
                <h1><span class="icomoon-lead icomoon-inline"></span>{{ lead.description }}</h1>

                <div class="pull-right item-actions">
                    {% if lead.archived == 0 %}
                        <a class="btn btn-danger" id="archive_lead" href="#">Archive</a>
                    {% else %}
                        <a class="btn btn-success" id="reinstate_lead" href="#">Reinstate</a>
                    {% endif %}

                    {% if lead.visitMe == 0 %}
                        <a class="btn btn-success" id="lead_set_visit_me" href="#">Requires Visit</a>
                    {% else %}
                        <a class="btn btn-danger" id="lead_remove_visit_me" href="#">Cancel Visit</a>
                    {% endif %}

                    {% if lead.unsuccessful == 0 %}
                        <a class="btn btn-success" id="completeUnsuccessfulLead" href="#">Unsuccessful lead</a>
                    {% endif %}

                    {% if lead.completionStage != 0 %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm lead was successful." data-href="{{ path('convert_successful_lead') }}/{{ lead.id }}" href="#">Successful lead</a>
                    {% endif %}

                    {% if lead.completionStage == 0 and (lead.isDelivered is null or lead.isDelivered == 0) and lead.completionDate is null %}
                        <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm lead was successful." data-href="{{ path('lead_delivered_to_customer') }}/{{ lead.id }}" href="#">Delivered to customer</a>
                    {% endif %}

                    <a class="btn btn-primary" data-edit-id="{{ lead.id }}" href="javascript:void(0);">Edit</a>
                    {% if canDelete %}<a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_lead') }}/{{ lead.id }}" href="#">Delete</a>{% endif %}
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Main Information</h2>

                        <div class="section-content" id="lead-details">
                            <dl class="dl-horizontal">
                                <dt>Source:</dt>
                                <dd>{{ lead.source.name | default('--') }}</dd>

                                {% if app.user != lead.user %}
                                    <dt>Owner:</dt>
                                    <dd>{{ lead.user.displayName | default('--') }}</dd>
                                {% endif %}

                                <dt>Value:</dt>
                                <dd>{{ lead.value | default('--') }}</dd>

                                {% if lead.customer.billingAddress %}
                                    <dt>Address:</dt>
                                    <dd>{{ lead.customer.billingAddress.addressString | default('--') }}</dd>
                                    <dd><a href="#" class="site-address" data-toggle="popover" data-content="" data-postcode="{{ lead.customer.billingAddress.addressString | default('') }}">View Map</a></dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>

                    {% include '_itemMisc.html.twig' with { 'includeHeader': false } %}
                </div>

                <div class="col-md-8 col-sm-12">
                    <div class="section-header" id="contacts">
                        <h2>Contacts</h2>
                        <a class="btn btn-success btn-xs pull-right" href="#" id="newContact">New</a>
                    </div>

                    <div class="section-content">
                        {% if lead.contacts is not empty %}
                            <ul>
                                {% for contact in lead.contacts %}
                                    <li>
                                        <a href="{{ path('view_contact', { 'id': contact.id }) }}">{{ contact.name }}</a>
                                        {{ contact.jobTitle  ? ', ' ~ contact.jobTitle  : '' }}
                                        {{ contact.telephone ? ', ' ~ contact.telephone : '' }}
                                        {{ contact.mobile    ? ', ' ~ contact.mobile    : '' }}
                                        {{ contact.email     ? ', ' ~ contact.email     : '' }}
                                    </li>
                                {% else %}
                                    <li>None</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row particulars-section" id="updates">
        <div class="col-md-3 lead-action">
            <label class="control-label" for="status_selector">Status:</label>
            <select class="form-control" id="status_selector">
                <option value="1">No contact</option>
                <option value="2">Contact made</option>
                <option value="3">Action required</option>
                <option value="5">Quoting</option>
            </select>
        </div>
        <div class="col-md-3 lead-action">
            <label class="control-label" for="priority_selector">Priority:</label>
            <select class="form-control" id="priority_selector">
                <option value="1">Normal</option>
                <option value="2">Important</option>
                <option value="3">Urgent</option>
            </select>
        </div>
        <div class="col-md-3 lead-action">
            <label class="control-label" for="type_selector">Type:</label>
            <select class="form-control" id="type_selector">
                <option value="1">New Purchase</option>
                <option value="2">New Hire</option>
                <option value="3">Used Hire</option>
                <option value="7">Used Purchase</option>
                <option value="4">Casual Hire</option>
                <option value="5">Not Yet Established</option>
                <option value="8">Service Contract</option>
                <option value="6">Other</option>
            </select>
        </div>
        <div class="col-md-3 lead-action">
            <label class="control-label" for="target_selector">Target type:</label>
            <select class="form-control" id="target_selector">
                <option value="1">Normal</option>
                <option value="2">Future</option>
                <option value="3">Primary</option>
                <option value="4">Service/Parts</option>
            </select>
        </div>
        <div class="col-md-3 lead-action">
            <label class="control-label" for="lead_value">Value:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="lead_value" placeholder="Enter value"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="save_lead_value">Save Value</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 lead-action">
            <label class="control-label" for="editAddress">Address: </label>
            <button class="btn btn-primary form-control" id="editAddress">Edit Address</button>
        </div>
        <div class="col-md-3 lead-action">
            <label class="control-label" for="lead_contract_renewal_date">Contract Renewal Date:</label>
            <div class="input-group">
                <input type="text" class="form-control datepicker" id="lead_contract_renewal_date" placeholder="Click to enter date" data-date-format="DD-MM-YYYY"{% if lead.contractRenewalDate %} value="{{ lead.contractRenewalDate|date('d-m-Y') }}"{% endif %}/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="save_lead_contract_renewal_date">Save Date</button>
                </span>
            </div>
        </div>
        {% if lead.completionStage == 0 %}
            <div class="col-md-3 lead-action">
                <label class="control-label" for="lead_delivery_date">Estimated Delivery Date:</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" id="lead_delivery_date" placeholder="Click to enter date" data-date-format="DD-MM-YYYY"{% if lead.deliveryDate %} value="{{ lead.deliveryDate|date('d-m-Y') }}"{% endif %}/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="save_lead_delivery_date">Save Date</button>
                    </span>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row particulars-section" id="notes">
        <div class="col-md-12">
            <h3 class="page-title">
                Notes
                <a class="btn btn-success btn-xs pull-right" href="#" id="newNote">New</a>
            </h3>
            <div class="lead-notes-container" style="max-height: 400px; height:100%; overflow: auto;">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Reason</th>
                                <th>Detail</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in lead.notes %}
                                <tr>
                                    {% if note.reason is defined %}
                                        <td><a href="{{ path('view_note', { 'id': note.id }) }}">{{ note.reason }}</a></td>
                                        <td>{{ note.detail }}</td>
                                    {% else %}
                                        <td></td>
                                        <td><a href="{{ path('view_note', { 'id': note.id }) }}">{{ note.detail }}</a></td>
                                    {% endif %}
                                    <td>{{ note.date ? note.date|date('d/m/Y H:i:s') : 'No date saved.' }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">None</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row particulars-section" id="reminders">
        <div class="col-md-12">
            <h3 class="page-title">
                Reminders
                <a href="#" class="btn btn-success btn-xs pull-right" href="#" id="newReminder">New</a>
            </h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>Type</th>
                            <th>Detail</th>
                            <th>Reminder date</th>
                            <th>Assigned to</th>
                        </tr>
                            {% for reminder in lead.reminders %}
                                <tr>
                                    <td><a href="{{ path('view_reminder', { 'id' : reminder.id}) }}">{{ reminder.type }}</a></td>
                                    <td>{{ reminder.detail }}</td>
                                    <td>{{ reminder.date | display_date_format }}</td>
                                    <td>{{ reminder.user.displayName }}</td>
                                </tr>
                            {% else %}
                            <tr>
                                <td colspan="4">None</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    {% include '_formModal.html.twig' with { modalType: 'lead', modalTitle: 'lead', modalNewRoute: path('new_lead'), modalEditRoute: path('edit_lead') } %}
    {% include 'Lead/_newNoteModal.html.twig' %}
    {% include 'Lead/_newContactModal.html.twig' %}
    {% include 'Lead/_newReminderModal.html.twig' %}
    {% include 'Lead/_editAddressModal.html.twig' %}
    {% include 'Lead/_unsuccessfulLeadModal.html.twig' %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

var getMap = function(opts) {
    var src = "http://maps.googleapis.com/maps/api/staticmap?",
    params  = $.extend({
        center: 'Tamar Street, Belfast, United Kingdom',
        zoom: 14,
        size: '256x256',
        maptype: 'roadmap',
        sensor: false
        }, opts),
        query = [];

    params.markers=params.center;

    $.each(params, function(k, v) {
        query.push(k + '=' + encodeURIComponent(v));
    });

    src += query.join('&');
    return '<a href="https://www.google.co.uk/maps/place/' + opts['center'] + '" target="_blank"><img src="' + src + '" /></a>';
}

$('.site-address').each(function(e){
    $ele      = $(this);
    mapCenter = $ele.data('postcode');

    if (mapCenter == "") mapCenter = 'BT4 1HS';

    var content = getMap({center: mapCenter});

    $ele.popover({
        html:true,
        trigger: 'focus',
        content: content,
        placement:'right',
        template: '<div id="map-popover" class="popover site-map"><div class="popover-content"></div></div>'
    });
})

$('.site-address').on('click', function(e){
    e.preventDefault();
})

$(function(){
    var currentStatus = '{{ lead.completionStage }}';
    $('#status_selector option').filter(function() {
        return ($(this).val() == currentStatus);
    }).prop('selected', true);

    var currentPriority = '{{ lead.priority }}';
    $('#priority_selector option').filter(function() {
        return ($(this).text() == currentPriority);
    }).prop('selected', true);

    var currentType = '{{ lead.type }}';
    $('#type_selector option').filter(function() {
        return ($(this).text() == currentType);
    }).prop('selected', true);

    var isFutureTarget     = '{{ lead.futureTarget }}';
    var isPrimaryTarget    = '{{ lead.primaryTarget }}';
    var isServicePartsLead = '{{ lead.isServicePartsLead }}';
    if (isFutureTarget) {
        $('#target_selector option').filter(function() {
            return ($(this).text() == 'Future');
        }).prop('selected', true);
    } else if (isPrimaryTarget){
        $('#target_selector option').filter(function() {
            return ($(this).text() == 'Primary');
        }).prop('selected', true);
    } else if (isServicePartsLead) {
        $('#target_selector option').filter(function() {
            return ($(this).text() == 'Service/Parts');
        }).prop('selected', true);
    }
})

$('#status_selector').on('change', function(){
    var newStatus = $('#status_selector option:selected').val();
    var leadId    = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_status') }}/" + leadId +"/"+ newStatus,
        type: 'post',
        success: function(data) {
            if (data.refresh) {
                location.reload();
            }
        }
    })
})

$('#priority_selector').on('change', function(){
    var newPriority = $('#priority_selector option:selected').val();
    var leadId      = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_priority') }}/" + leadId +"/"+ newPriority,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#type_selector').on('change', function(){
    var newType = $('#type_selector option:selected').val();
    var leadId  = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_type') }}/" + leadId +"/"+ newType,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#target_selector').on('change', function(){
    var newType = $('#target_selector option:selected').val();
    var leadId  = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_target_type') }}/" + leadId +"/"+ newType,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#save_lead_value').on('click', function(){
    var newValue = $('#lead_value').val();
    var leadId   = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_value') }}/" + leadId +"/"+ newValue,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#save_lead_delivery_date').on('click', function(){
    var newValue = $('#lead_delivery_date').val();
    var leadId   = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_delivery_date') }}/" + leadId +"/"+ newValue,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#save_lead_contract_renewal_date').on('click', function(){
    var date   = $('#lead_contract_renewal_date').val();
    var leadId = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('update_lead_contract_renewal_date') }}/" + leadId +"/"+ date,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#lead_set_visit_me').on('click', function(e){
    e.preventDefault();
    var leadId = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('lead_set_visit_me') }}/" + leadId,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#lead_remove_visit_me').on('click', function(e){
    e.preventDefault();
    var leadId = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('lead_remove_visit_me') }}/" + leadId,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#archive_lead').on('click', function(e){
    e.preventDefault();
    var leadId = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('archive_lead') }}/" + leadId,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

$('#reinstate_lead').on('click', function(e){
    e.preventDefault();
    var leadId = '{{ lead.id }}';

    $.ajax({
        url: "{{ path('reinstate_lead') }}/" + leadId,
        type: 'post',
        success: function() {
            location.reload();
        }
    })
})

</script>
{% endblock %}
