<div class="modal" id="edit-model-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="edit-model-form-modal-label"><span class="form-modal-title">Edit Truck Model</span></h2>
            </div>
            <div class="modal-body">
                <div class="edit-model-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $editModelModal   = $('#edit-model-modal');
    var $editModelWrapper = $editModelModal.find('.edit-model-form-holder');
    var $editModelFooter  = $editModelModal.find('.modal-footer');
    var reloadPage        = false;

    $('#editModel').on('click',  function(e) {
        e.preventDefault();
        $editModelModal.modal('show');
    });

    $editModelModal.on('hide.bs.modal', function (e) {
        $editModelWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $editModelModal.find('.modal-form-submit').remove();
    });

    $editModelModal.on('show.bs.modal', function (e) {
        editModelLoadform(e);
    });

    function editModelLoadform(e) {

        $.get('{{ path('edit_truck_model', { id: truck.id }) }}', function(data) {
            if (data.displayForm) {
                $editModelWrapper.html(data.html);
                $editModelModal.find('[autofocus]:first').focus();
                $editModelFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                editModelBindForm();
            }
        });
    }

    function editModelBindForm() {
        var $form   = $editModelWrapper.find('form');
        var $button = $editModelFooter.find('.modal-form-submit');

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $editModelWrapper.html(response.html);
                    $button.button('reset');

                    if ($editModelModal.find('.has-error')) {
                        $editModelModal.find('.has-error input:first').focus();
                    } else {
                        $editModelModal.find('[autofocus]:first').focus();
                    }

                    editModelBindForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }

                    $editModelModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the ' + $editModelModal.data('item-type') + ' was not saved');
                $editModelModal.editModelModal('hide');
            }
        });

        listenForFormChanges();
    }
</script>
