{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default" id="newModelTitle">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#newModel">Specification Information</a></h4>
            </div>
            <div class="panel-body">
                {{ form_row(form.name) }}
                {{ form_row(form.fuel)}}

                <div id="oil-filter-part" class="part-wrapper">
                    <div class="form-group" id="oil_filter">
                        <label class="col-sm-3 control-label" id="oil_filter_label">Oil Filter</label>
                        <p id="oil_filter_text" class="col-sm-9 form-control-static">{{ truckModel and truckModel.oilFilter ? truckModel.oilFilter.description : '' }}
                            <span>
                                <a href="#" class="btn btn-danger btn-xs filter-remove pull-right" data-type="oil">Remove</a>
                            </span>
                        </p>
                    </div>
                    {{ form_row(form.oilFilter) }}
                    {{ form_row(form.oilName, { 'attr': {
                        'autofocus': 'autofocus',
                        'placeholder': 'Search...',
                    } }) }}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody data-type="oil" class="search-results"></tbody>
                        </table>
                    </div>
                </div>

                <div id="fuel-filter-part" class="part-wrapper">
                    <div class="form-group" id="fuel_filter">
                        <label class="col-sm-3 control-label" id="fuel_filter_label">Fuel Filter</label>
                        <p id="fuel_filter_text" class="col-sm-9 form-control-static">{{ truckModel and truckModel.fuelFilter ? truckModel.fuelFilter.description : '' }}
                            <span>
                                <a href="#" class="btn btn-danger btn-xs filter-remove pull-right" data-type="fuel">Remove</a>
                            </span>
                        </p>
                    </div>
                    {{ form_row(form.fuelFilter) }}
                    {{ form_row(form.fuelName, { 'attr': { 'placeholder': 'Search...' } }) }}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody data-type="fuel" class="search-results"></tbody>
                        </table>
                    </div>
                </div>

                <div id="air-filter-part" class="part-wrapper">
                    <div class="form-group" id="air_filter">
                        <label class="col-sm-3 control-label" id="air_filter_label">Air Filter</label>
                        <p id="air_filter_text" class="col-sm-9 form-control-static">{{ truckModel and truckModel.airFilter ? truckModel.airFilter.description : '' }}
                            <span>
                                <a href="#" class="btn btn-danger btn-xs filter-remove pull-right" data-type="air">Remove</a>
                            </span>
                        </p>
                    </div>
                    {{ form_row(form.airFilter) }}
                    {{ form_row(form.airName, { 'attr': { 'placeholder': 'Search...' } }) }}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody data-type="air" class="search-results"></tbody>
                        </table>
                    </div>
                </div>

                {{ form_row(form.frontTyres)}}
                {{ form_row(form.rearTyres)}}
            </div>
        </div>

    {{ form_end(form) }}
</div>

<script type="text/javascript">

    $(function(){
        var isEdit = '{{ isEdit | default(false) }}';

        if (isEdit) {
            var hasOilFilter  = '{{ truckModel ? truckModel.oilFilter : '' }}';
            var hasFuelFilter = '{{ truckModel ? truckModel.fuelFilter : '' }}';
            var hasAirFilter  = '{{ truckModel ? truckModel.airFilter : '' }}';

            if (hasOilFilter) {
                $('#truckModel_form_oilName').parent().parent().hide();
            } else {
                $('#oil_filter').hide();
            }

            if (hasFuelFilter) {
                $('#truckModel_form_fuelName').parent().parent().hide();
            } else {
                $('#fuel_filter').hide();
            }

            if (hasAirFilter) {
                $('#truckModel_form_airName').parent().parent().hide();
            } else {
                $('#air_filter').hide();
            }
        } else {
            $('#oil_filter').hide();
            $('#fuel_filter').hide();
            $('#air_filter').hide();
        }
    })

    function bindRemoveButtons() {
        $('.filter-remove').on('click', function(){
            $ele     = $(this);
            var type = $ele.data('type');
            $('#'+type+'_filter').find('p').html('');
            $('#'+type+'_filter').hide();
            $('#truckModel_form_'+type+'Name').parent().parent().show();
            $('#truckModel_form_'+type+'Filter').val('');
        })
    }

    bindRemoveButtons();

    $('#truckModel_form_fuel').on('change', function(){
        var isElectric = $('#truckModel_form_fuel option:selected').html() == 'Electric';

        if (isElectric == true) {
            $('#oil-filter-part').hide();
            $('#fuel-filter-part').hide();
            $('#air-filter-part').hide();
            $('#search-results-panel').hide();
        } else {
            $('#oil-filter-part').show();
            $('#fuel-filter-part').show();
            $('#air-filter-part').show();
            $('#search-results-panel').show();
        }
    })

    var $resultContainer = $('#oil-search-results');

    function bindAddButtons($ele) {
        $('.addBtn').click(function(e) {
            e.preventDefault();
            $ele = $(this);
            var filterType = $ele.parent().parent().parent().data('type');

            var $tr     = $(this).closest('tr');
            var id      = $tr.find('td:first-child').data('id').toString().replace(/<([^>]+)>/ig,'');
            description = $tr.find('td:first-child').data('description').replace(/<([^>]+)>/ig,'');
            code        = $tr.find('td:first-child').data('code').toString().replace(/<([^>]+)>/ig,'');

            $ele.closest('.part-wrapper').find('p').html(description+'<span><a href="#" class="btn btn-danger btn-xs filter-remove pull-right" data-type="'+filterType+'">Remove</a></span>');
            $ele.closest('.part-wrapper').find('input[type=hidden]').first().val(id);
            $ele.closest('.part-wrapper').find('.form-group').show();

            $('.search[data-search="'+filterType+'"]').parent().parent().hide();
            bindRemoveButtons();

            $resultContainer.empty();
        });
    }

    $('.search').keyup(throttle(function (event) {
        var $ele       = $(this)
        var searchTerm = $ele.val();

        if (event.which == "38" || event.which == "40") {
            return false;
        };

        $('.search-results').empty();
        searchList = null;

        var searchType = $ele.data('search');

        switch (searchType) {
            case 'oil':
                $resultContainer = $('.search-results[data-type="oil"]');
            break;

            case 'fuel':
                $resultContainer = $('.search-results[data-type="fuel"]');
            break;

            case 'air':
                $resultContainer = $('.search-results[data-type="air"]');
            break;

            default:
                return false;
        }


        if (searchTerm.length > 2) {
            $resultContainer.prepend('<tr><td><img src="/images/ajax-loader.gif"><strong>  Searching...</strong></td></tr>')
            $.ajax({
                url: "{{ path('stock_catalogue_search_current') }}",
                type: 'post',
                data: JSON.stringify(searchTerm),
                dataType: 'json',
                success: function(data) {
                    if (data.searchTerm == searchTerm) {
                        searchList = data.items;
                    }

                    fleetmanagerSearch(searchTerm, searchList, $resultContainer, 'stockForTruckModel');
                    bindAddButtons();
                }
            })
        } else {
            $resultContainer.prepend('<tr><td><strong>  Search terms need at least 3 characters to begin searching...</strong></td></tr>')
        }
    }, 250));

</script>
