<h3>Truck Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search trucks:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new truck:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit truck:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
