{% extends 'Asset/particulars.html.twig' %}

{% block assetActions %}
    <a class="btn btn-primary item-actions" id="editModel" href="#" style="margin-right: 5px;">Edit Truck Model</a>
{% endblock %}

{% block assetSpec %}
    <tr>
        <th>Make</th>
        <td>{{ asset.model.make.name | default('--') }}</td>
    </tr>

    <tr>
        <th>Model</th>
        <td>{{ asset.model.name | default('--') }}</td>
    </tr>

    <tr>
        <th>Drive type</th>
        <td>{{ asset.model.fuel | default('--') }} {{ asset.truckType | default('--') }}</td>
    </tr>

    <tr>
        <th>Fuel</th>
        <td>{{ asset.model.fuel | default('--') }}</td>
    </tr>
    {%  if asset.model.fuel is defined %}
    {%  if asset.model.fuel == 'Diesel' or asset.model.fuel == 'LPG' %}

    <tr>
        <th>Oil filter</th>
        <td>{{ asset.model.oilFilter ? asset.model.oilFilter.description | default('--') : '--' }}</td>
    </tr>

    <tr>
        <th>Air filter</th>
        <td>{{ asset.model.airFilter ? asset.model.airFilter.description | default('--') : '--' }}</td>
    </tr>

    <tr>
        <th>Fuel filter</th>
        <td>{{ asset.model.fuelFilter ? asset.model.fuelFilter.description | default('--') : '--' }}</td>
    </tr>

    {% endif %}
    {% endif %}
    <tr>
        <th>Purchase Price</th>
        <td>{{ asset.purchasePrice | default('--') }}</td>
    </tr>

    <tr>
        <th>Purchased Date</th>
        <td>{{ asset.purchasedDate ? asset.purchasedDate|date('d-m-Y') : '--' }}</td>
    </tr>

    <tr>
        <th>Manufacturers Warranty</th>
        {% if asset.manufacturersWarranty == 1%}
            <td>Parts</td>
        {% elseif asset.manufacturersWarranty == 2 %}
            <td>Parts & Labour</td>
        {% else %}
            <td>--</td>
        {% endif %}
    </tr>

    <tr>
        <th>Manufacturers Warranty Duration</th>
        <td>{{ asset.manufacturersWarrantyDuration | default('--') }}</td>
    </tr>

    <tr>
        <th>Second Manufacturers Warranty</th>
        {% if asset.secondLevelManufacturersWarranty == 1%}
            <td>Parts</td>
        {% elseif asset.secondLevelManufacturersWarranty == 2 %}
            <td>Parts & Labour</td>
        {% else %}
            <td>--</td>
        {% endif %}
    </tr>

    <tr>
        <th>Second Manufacturers Warranty Duration</th>
        <td>{{ asset.secondLevelManufacturersWarrantyDuration | default('--') }}</td>
    </tr>

    <tr>
        <th>Stock Value</th>
        <td>{{ asset.stockValue | default('--') }}</td>
    </tr>

    <tr>
        <th>Serial</th>
        <td>{{ asset.serial | default('--') }}</td>
    </tr>

    <tr>
        <th>YOM</th>
        <td>{{ asset.yearOfManufacture | default('--') }}</td>
    </tr>

    <tr>
        <th>Mast</th>
        <td>{{ asset.mast | default('--') }}</td>
    </tr>

    <tr>
        <th>Mast height</th>
        <td>{{ asset.mastHeight ? asset.mastHeight ~ 'mm' : '--' }}</td>
    </tr>

    <tr>
        <th>Cabin</th>
        <td>{{ asset.cabin | default('--') }}</td>
    </tr>

    <tr>
        <th>Hydraulics</th>
        <td>{{ asset.hydraulics | default('--') }}</td>
    </tr>

    <tr>
        <th>Fork dimension</th>
        <td>{{ asset.forkDimensions | default('--') }}</td>
    </tr>

    <tr>
        <th>Sideshift</th>
        <td>{{ asset.sideshift | default('--') }}</td>
    </tr>
    {%  if asset.model.fuel is defined %}
    {%  if asset.model.fuel == 'Electric' %}

        <tr>
            <th>Battery spec</th>
            <td>{{ asset.batterySpec | default('--') }}</td>
        </tr>

    {% endif %}
    {% endif %}
    {% if asset.attachment %}
        <tr>
            <th>Attachment</th>
            <td><a href="{{ path('view_asset') }}/{{ asset.attachment.id }}" >{{ asset.attachment.nameString }}</a></td>
        </tr>
    {% endif %}

    {% if asset.charger %}
        <tr>
            <th>Charger</th>
            <td><a href="{{ path('view_asset') }}/{{ asset.charger.id }}" >{{ asset.charger.nameString }}</a></td>
        </tr>
    {% endif %}

{% endblock %}

{% block assetMaintenance %}
    <tr>
        <th>Hours Per Annum</th>
        <td>{{ lifecyclePeriod.hoursPerAnnum|default('--')  }}</td>
    </tr>

    <tr>
        <th>Tyre type</th>
        <td>{{ asset.tyreType | default('--') }}</td>
    </tr>

    <tr>
        <th>Front tyres</th>
        <td>{{ asset.model.frontTyres | default('--') }}</td>
    </tr>

    <tr>
        <th>Rear tyres</th>
        <td>{{ asset.model.rearTyres | default('--') }}</td>
    </tr>
{% endblock %}

{% block modals %}
    {% include 'Truck/_editModelModal.html.twig' with { truck: asset } %}
{% endblock %}
