{% extends 'layout.html.twig' %}

{% block page_type %}truck{% endblock %}
{% block title %}Truck Reports{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="page-title option-title" id="title-section">
            <h1><span class="icomoon-report icomoon-inline"></span>Truck reports</h1>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Truck Maintenance</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <a href="#" class="btn btn-primary" id="truckMaintenance">Create report</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Truck Job History</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="_search">Search</label>
                            <input autofocus autocomplete="off" spellcheck="false" type="text" class="search" name="_search" id="job_history_search" placeholder="Enter truck details...">
                        </div>
                        <div class="form-group hidden-form-group hidden-form-field">
                            <p class="selected-truck" data-id="0"></p>
                            <a href="#" class="btn btn-danger btn-xs deselect-truck">Remove</a>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <tbody id="truck-job-history-search-results"></tbody>
                                </table>
                            </div>
{#                            <a href="#" class="btn btn-primary" id="truckJobHistory">Create report</a>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Trucks Not Leased Or Sold</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <a href="#" class="btn btn-primary" id="trucksNotLeasedOrSold">Create report</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-xs"></div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Services Due</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Asset Status</label>
                            <select class="form-control user-selector" id="status_service_due">
                                {% for status in assetStatus %}
                                    <option value="{{ status.0.type }}">{{ status.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-primary" id="servicesDue">Create report</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var truckList                = null;
    $maintenanceResultsContainer = $('#truck-maintenance-search-results');
    $jobHistoryResultsContainer  = $('#truck-job-history-search-results');

    $(function(){
        $.ajax({
            url: "{{ path('get_truck_list') }}",
            type: 'get',
            success: function (data) {
                truckList = data;
            }
        })

            $('#job_history_search').on('keyup', function(e){
                var searchTerm = $(this).val();

            fleetmanagerSearch(searchTerm, truckList, $jobHistoryResultsContainer, 'truck');
            bindSelectButtons();
        })
    })

    function bindSelectButtons() {
        $('.addBtn').click(function(e) {
            e.preventDefault();

            var $tr    = $(this).closest('tr');
            var id     = $tr.find('td:first-child').data('id').toString().replace(/<([^>]+)>/ig,'');
            var make   = $tr.find('td:first-child').data('make').toString().replace(/<([^>]+)>/ig,'');
            var model  = $tr.find('td:first-child').data('model').toString().replace(/<([^>]+)>/ig,'');
            var serial = $tr.find('td:first-child').data('serial').toString().replace(/<([^>]+)>/ig,'');

            var url              = "{{ path('get_asset_job_history_report')}}/" + id;
            window.location.href = url;

            // $('.hidden-form-group').find('.selected-truck').data('id', id);
            // $('.hidden-form-group').find('.selected-truck').text(make +', '+ model +', '+ serial);
            // $('.hidden-form-group').removeClass('hidden-form-field');
            // $maintenanceResultsContainer.empty();
            // $jobHistoryResultsContainer.empty();
            // ('.search').val('');

            bindRemoveButton();
        });

    }

        $('#truckMaintenance').on('click', function(){
            var url              = "{{ path('asset_maintenance_report')}}";
            window.location.href = url;
        })

    $('#truckJobHistory').on('click', function(){
        var truckId          = $(this).parent().prev().find('p').data('id');

        if ($('#job_history_search').val() == '') {
            $('#job_history_search').addClass('disallowedInput');
            $('#job_history_search').attr('placeholder', 'Enter truck details');
            return;
        };
        if (truckId === 0) {
            $('#job_history_search').parent().addClass('nothingWasFound');
            return;
        };
        
        var url              = "{{ path('get_asset_job_history_report')}}/" + truckId;
        window.location.href = url;
    })

    $('#trucksNotLeasedOrSold').on('click', function(){
        var url              = "{{ path('get_trucks_not_leased_or_sold_report')}}";
        window.location.href = url;
    })

    $('#servicesDue').on('click', function(){

        var status = $('#status_service_due').val();

        var url              = "{{ path('get_trucks_services_due_report')}}";

        window.location.href = url += '/' + status;
    })

    function bindRemoveButton() {
        $('.deselect-truck').on('click', function(){
            $(this).prev().text('');
            $(this).prev().data('id', '#');
            $(this).parent().addClass('hidden-form-field');
            $('#_search').val('').focus();
        })
    }
</script>

{% endblock %}
