{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
 <div class="row">
        <div class="col-md-12">
        <h2>Trucks Not Leased Or Sold Report </h2>
        <hr>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Serial</th>
                </tr>

                {% if trucks|length > 0 %}
                    {%- for truck in trucks %}
                        <tr class="truck-report-row" data-href="{{ path('view_asset', {'id': truck['id'] }) }}">
                            <td>{{ truck['make'] }}</td>
                            <td>{{ truck['model'] }}</td>
                            <td>{{ truck['serial'] }}</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="4">No unleased or un-sold trucks.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
