{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Services Due</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="truck-service">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Customer</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Serial</th>
                        <th>Asset Status</th>
                        <th>Service Interval</th>
                        <th>Last Service Date</th>
                        <th>Service</th>
                    </tr>
                    </thead>
                    {% if trucks|length > 0 %}
                        <tbody>
                        </tbody>
                    {% else %}
                        <tr>
                            <td colspan="6">No overdue trucks.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/waterfall-navigation.js"></script>
    <script type="text/javascript">

        $(function() {
            $('.new-item').click(function(e) {
                e.preventDefault();

                var $ele = $(this);

                var type = $ele.data('type');
                var route = $ele.data('route');

                $modal.data('item-type', type);
                $('.modal-form-wrapper', $modal).data('new-route', route);

                newAction();
            });
        });

        var typesSet = {{ trucks|json_encode|raw }}

        var columns = {
            1: 'type',
        }

        var actives = {
            type: null,
        };

        $(function() {
            filterJobs();
        });

        bindClicks = function() {
            $('.panel-item[data-column]').click(function() {
                if($(this).data('column') === 1){
                    clearActives();
                }
                var $ele = $(this);
                $ele.addClass('active');
                var col = $ele.data('column');
                actives[columns[col]] = $ele.html();
                filterJobs();
            });
        };

        outputJobs = function(data) {
            var types = [];

            for (var i = 0; i < data.length; i++) {
                var element = data[i];
                types.push(element.type);
            }

            types = uniqueSorted(types);
            outputColumn(1, types);
            bindClicks();
            tableRender(data);
        };

        outputColumn = function(col, arr) {
            var $col = $('.column[data-column='+col+']');

            if ($col.length < 1) return;

            $col.empty();

            for (var i = 0; i < arr.length; i++) {
                var $ele = $('<div class="panel-item panel-link visible" data-column='+col+' data-row='+(i+1)+'></div>');
                if ($.isPlainObject(arr[i])) {
                    $ele.html(arr[i].value);
                    $ele.attr('data-id', arr[i].id);
                    $ele.attr('data-name', arr[i].value);
                    $ele.addClass('selectable-item');

                    if (arr[i].cls) {
                        $ele.addClass(arr[i].cls);
                    }
                } else {
                    $ele.html(arr[i]);
                    $ele.attr('data-name', arr[i]);
                }

                $col.append($ele);
                setSelected('current');
            }
        };

        filterJobs = function() {
            var activeDataset = typesSet;

            if (actives.type) {
                activeDataset = activeDataset.filter(function(item) {
                    return item.type == actives.type;
                });
            }
            outputJobs(activeDataset);
        };

        uniqueSorted = function(arr) {
            var sortedArr = arr.sort(function(a, b) {
                {
                    if (typeof a === 'string') {
                        return a.localeCompare(b);
                    } else if (typeof a === 'object' && a !== null) {
                        var tmpA = a.value.toString();
                        var tmpB = b.value.toString();

                        return tmpA.localeCompare(tmpB);
                    } else {
                        return a-b;
                    }
                }
            });

            return $.grep(sortedArr,function(v,k){
                return $.inArray(v,sortedArr) === k;
            });
        };

        $('#reset-filter').on('click', function(){
            clearActives();
            filterJobs();
            updateSelectedItem(null);
            $('#particulars-holder').empty();
            $('.waterfall .truck-col-container .panel-body').css('height', '');
        })

        clearActives = function() {
            actives = {
                type: null,
            };
        }

        tableRender = function (dataset) {

            var row = `<tr><td colspan="7">No overdue trucks.</td></tr>`;

            if (dataset.length !== 0) {
                row = dataset.map(item => `
                            <tr>
                                <td>${item.id}</td>
                                <td>${item.customer ?? 'None (Asset Register)'}</td>
                                <td>${item.make}</td>
                                <td>${item.model}</td>
                                <td>${item.serial}</td>
                                <td>${item.type}</td>
                                <td>${item.serviceInterval == 0 ? 'None' : `${item.serviceInterval}` }</td>
                                <td>${item.completedAt ?  new Date(item.completedAt.date).toLocaleDateString('en-GB') : '--'}</td>
                                <td><a class="btn btn-primary"  id="newJob" href="/assets/view/${item.id}">View truck</a></td>
                            </tr>`);
            }

            $( `#truck-service tbody` ).html( row );
        }

    </script>
{% endblock %}
