<div class="modal" id="choose-preferred-stock-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="form-modal-label"><span class="form-modal-title">Choose preferred supplier</span></h2>
            </div>
            <div class="modal-body">
                <div class="choose-preferred-stock-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $choosePreferredStockModal   = $('#choose-preferred-stock-modal');
    var $choosePreferredStockWrapper = $choosePreferredStockModal.find('.choose-preferred-stock-form-holder');
    var $choosePreferredStockFooter  = $choosePreferredStockModal.find('.modal-footer');
    var $choosePreferredStockTitle   =  $choosePreferredStockModal.find('.form-modal-title');
    var reloadPage                   = false;

    $('#addchoosePreferredStockButton').on('click',  function(e) {
        $choosePreferredStockModal.modal('show');
    });

    $choosePreferredStockModal.on('hide.bs.modal', function (e) {
        $choosePreferredStockWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $choosePreferredStockModal.find('.modal-form-submit').remove();
    });

    $choosePreferredStockModal.on('show.bs.modal', function (e) {
        loadChoosePreferredStockForm(e);
    });

    function loadChoosePreferredStockForm(e) {
        $.get("{{ path('stock_choose_preferred_supplier', {'id': stock.id}) }}", function(data) {
            if (data.displayForm) {
                $choosePreferredStockWrapper.html(data.html);
                $choosePreferredStockModal.find('[autofocus]:first').focus();
                $choosePreferredStockFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                bindchoosePreferredStockForm();
            }
        });
    }

    function bindchoosePreferredStockForm() {
        var $form   = $choosePreferredStockWrapper.find('form');
        var $button = $choosePreferredStockFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $choosePreferredStockWrapper.html(response.html);
                    $button.button('reset');
                    if ($choosePreferredStockModal.find('.has-error')) {
                        $choosePreferredStockModal.find('.has-error input:first').focus();
                    } else {
                        $choosePreferredStockModal.find('[autofocus]:first').focus();
                    }
                    bindchoosePreferredStockForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }
                    $choosePreferredStockModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the choosePreferredStock item was not added');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
