{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#stockInfo">
                    Data Particulars
                </a>
            </h4>
        </div>
        <div id="stockInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                {{ form_row(form.description, { 'attr': { 'autofocus': 1 } }) }}
                {{ form_row(form.code) }}
                {{ form_row(form.oemPrice) }}
                {{ form_row(form.preferredSupplier) }}
                {{ form_row(form.stockedItem) }}
                {{ form_row(form.bin) }}
                {{ form_row(form.minStock) }}
                {{ form_row(form.reorderQuantity) }}
                {% if form.location is defined %}{{ form_row(form.location) }}{% endif %}
                {% if form.quantity is defined %}{{ form_row(form.quantity) }}{% endif %}

                <div class="hidden-form-field">
                    {{ form_row(form.prevCode) }}
                </div>
            </div>
        </div>
    </div>
    {% if isEdit == false %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#supplierStockInfo">
                        Supplier stock detail
                    </a>
                </h4>
            </div>
            <div id="supplierStockInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.costPrice) }}
                    {{ form_row(form.carriagePrice) }}
                    {{ form_row(form.issuePrice) }}
                    {{ form_row(form.supplierNotes) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="hidden-form-field">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">

    $('#stock_form_stockedItem').on('click', function () {
        $ele = $(this);
        var checked = $ele.is(':checked');

        if (checked) {
            $('#stock_form_bin').parent().parent().show();
            $('#stock_form_minStock').parent().parent().show();
            $('#stock_form_reorderQuantity').parent().parent().show();
            $('#stock_form_location').parent().parent().show();
            $('#stock_form_quantity').parent().parent().show();
        } else {
            $('#stock_form_bin').parent().parent().hide();
            $('#stock_form_minStock').parent().parent().hide();
            $('#stock_form_reorderQuantity').parent().parent().hide();
            $('#stock_form_location').parent().parent().hide();
            $('#stock_form_quantity').parent().parent().hide();

        }
    })

    $(function () {
        $('#stock_form_bin').parent().parent().hide();
        $('#stock_form_minStock').parent().parent().hide();
        $('#stock_form_reorderQuantity').parent().parent().hide();
        $('#stock_form_location').parent().parent().hide();
        $('#stock_form_quantity').parent().parent().hide();

        {% if isEdit %}
        if ($('#stock_form_minStock').val() != '' || $('#stock_form_reorderQuantity').val() != '') {
            $('#stock_form_stockedItem').trigger('click');
        }
        {% endif %}
    })

</script>
