<div class="modal" id="issue-stock-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="issue-stock-form-modal-label"><span class="form-modal-title">Issue stock to job</span></h2>
            </div>
            <div class="modal-body">
                <div class="issue-stock-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $issueStockModal   = $('#issue-stock-modal');
    var $issueStockWrapper = $issueStockModal.find('.issue-stock-form-holder');
    var $issueStockFooter  = $issueStockModal.find('.modal-footer');
    var reloadPage         = false;

    $issueStockModal.on('hide.bs.modal', function (e) {
        $issueStockWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $issueStockModal.find('.modal-form-submit').remove();
    });

    $issueStockModal.on('show.bs.modal', function (e) {
        issueStockLoadform(e);
    });

    function issueStockLoadform(e) {
        $.get('{{ path('stock_issue_to_job', { 'id': stock.id }) }}', function(data) {
            if (data.displayForm) {
                $issueStockWrapper.html(data.html);
                $issueStockModal.find('[autofocus]:first').focus();
                $issueStockFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                issueStockBindForm();
            }
        });
    }

    function issueStockBindForm() {
        var $form   = $issueStockWrapper.find('form');
        var $button = $issueStockFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.button('reset');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $issueStockWrapper.html(response.html);
                    $issueStockModal.find('[autofocus]:first').focus();
                    issueStockBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $issueStockModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the stock was not issued');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
