{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default" id="stockItems">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#issueStockToJobForm">{{ stock.description }}</a></h4>
            </div>
            <div id="issueStockToJobForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="stockItems">
                        {{ form_row(form.job) }}
                        {{ form_row(form.supplierStock) }}
                        {{ form_row(form.location) }}

                        <div id="quantity-wrapper" style="display:none;">
                            {{ form_row(form.quantity) }}
                        </div>

                        <div id="no-quantity" style="display:none;" class="form-group">
                            <label class="col-sm-3 control-label required">Quantity</label>
                            <p class="col-sm-9 form-control-static">No stock at selected location.</p>
                        </div>

                        <div id="loading-quantity" style="display:none;" class="form-group">
                            <label class="col-sm-3 control-label required">Quantity</label>
                            <p class="col-sm-9 form-control-static">Loading...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    var $quantityContainer = $('#issue_stock_to_job_form_quantity');
    var $quantityWrapper = $('#quantity-wrapper');
    var $noQuantity = $('#no-quantity');
    var $loadingQuantity = $('#loading-quantity');

    $(function() {
        getQuantity();
    })

    function getQuantity() {
        var stockId = $('#issue_stock_to_job_form_supplierStock').val();
        var locationId = $('#issue_stock_to_job_form_location').val();

        if (!stockId || !locationId) {
            populateQuantity(0);
            $quantityWrapper.hide();
            $noQuantity.hide();
        }

        $quantityWrapper.hide();
        $noQuantity.hide();
        $loadingQuantity.show();

        var url = "{{ path('stock_get_quantity_for_location') }}" + '/' + stockId + '/' + locationId;

        $.ajax({
            url: url,
            type: 'get',
            success: function(data) {
                quantityInStock = data['quantity'];
                populateQuantity(quantityInStock);
            }
        });
    }

    function populateQuantity(amount) {
        $quantityContainer.empty();
        $loadingQuantity.hide();

        for (var i = 1; i <= amount; i++) {
             $quantityContainer.append('<option value="' + i + '">' + i + '</option>');
        };

        if (amount < 1) {
            $quantityWrapper.hide();
            $noQuantity.show();
        } else {
            $noQuantity.hide();
            $quantityWrapper.show();
        }
    }

    $('#issue_stock_to_job_form_supplierStock').on('change', function() {
        getQuantity();
    });

    $('#issue_stock_to_job_form_location').on('change', function() {
        getQuantity();
    });
</script>

