{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default" id="stockItems">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#issueStockToJobForm">{{ stock.description }}</a></h4>
            </div>
            <div id="issueStockToJobForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="stockItems">
                        {{ form_row(form.supplierStock) }}
                        {{ form_row(form.location) }}
                        {{ form_row(form.quantity) }}
                        {{ form_row(form.bin) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
