<div class="modal" id="manual-stock-adjustment-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="manual-stock-adjustment-form-modal-label"><span class="form-modal-title">Manually adjust stock levels</span></h2>
            </div>
            <div class="modal-body">
                <div class="manual-stock-adjustment-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $manualStockAdjustmentModal   = $('#manual-stock-adjustment-modal');
    var $manualStockAdjustmentWrapper = $manualStockAdjustmentModal.find('.manual-stock-adjustment-form-holder');
    var $manualStockAdjustmentFooter  = $manualStockAdjustmentModal.find('.modal-footer');
    var reloadPage                    = false;

    $manualStockAdjustmentModal.on('hide.bs.modal', function (e) {
        $manualStockAdjustmentWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $manualStockAdjustmentModal.find('.modal-form-submit').remove();
    });

    $manualStockAdjustmentModal.on('show.bs.modal', function (e) {
        manualStockAdjustmentLoadform(e);
    });

    function manualStockAdjustmentLoadform(e) {
        $.get('{{ path('stock_level_manual_adjustment', { 'id': stock.id }) }}', function(data) {
            if (data.displayForm) {
                $manualStockAdjustmentWrapper.html(data.html);
                $manualStockAdjustmentModal.find('[autofocus]:first').focus();
                $manualStockAdjustmentFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                manualStockAdjustmentBindForm();
            }
        });
    }

    function manualStockAdjustmentBindForm() {
        var $form   = $manualStockAdjustmentWrapper.find('form');
        var $button = $manualStockAdjustmentFooter.find('.modal-form-submit');

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $manualStockAdjustmentWrapper.html(response.html);
                    $manualStockAdjustmentModal.find('[autofocus]:first').focus();
                    manualStockAdjustmentBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }

                    $manualStockAdjustmentModal.modal('hide');
                }

                $button.button('reset');
            },
            error: function() {
                growlError('There was an error - the stock levels were not updated.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
