<div class="modal" id="move-stock-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="form-modal-label"><span class="form-modal-title">Move stock</span></h2>
            </div>
            <div class="modal-body">
                <div class="move-stock-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $stockModal   = $('#move-stock-modal');
    var $stockWrapper = $stockModal.find('.move-stock-form-holder');
    var $stockFooter  = $stockModal.find('.modal-footer');
    var $stockTitle   =  $stockModal.find('.form-modal-title');
    var reloadPage    = false;

    $stockModal.on('hide.bs.modal', function (e) {
        $stockWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $stockModal.find('.modal-form-submit').remove();
    });

    $stockModal.on('show.bs.modal', function (e) {
        moveStockLoadForm(e);
    });

    function moveStockLoadForm(e) {
        $.get('{{ path('move_stock', { 'id': stock.id }) }}', function(data) {
            if (data.displayForm) {
                $stockWrapper.html(data.html);
                $stockModal.find('[autofocus]:first').focus();
                $stockFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                bindMoveStockForm();
            }
        });
    }

    function bindMoveStockForm() {
        var $form   = $stockWrapper.find('form');
        var $button = $stockFooter.find('.modal-form-submit');
        var prevQuantityValue = $('#add_stock_form_quantity').val();
        $('#add_stock_form_quantity').keyup(function(e) {
            var currentValue = parseInt($(this).val());
            var maxValue = parseInt($(this).attr('max'));
            if(!isNaN(maxValue)) {
                if(currentValue > maxValue) {
                    $(this).val(prevQuantityValue);
                } else {
                    prevQuantityValue = currentValue;
                }
            }
        });
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        countStockItem();

        $('#add_stock_form_fromLocation').change(countStockItem);

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {console.log(response);
                if (response.displayForm) {
                    $stockWrapper.html(response.html);
                    $stockModal.find('[autofocus]:first').focus();
                    bindMoveStockForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $stockModal.modal('hide');
                }

                $button.button('reset');
            },
            error: function() {
                growlError('There was an error - the stock item was not added');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }

    function countStockItem() {
        var fromLocation = $('#add_stock_form_fromLocation').val();
        $.ajax({
            url: '{{ path('count_stock_items_by_location', { 'stockId': stock.id } ) }}',
            type: 'GET',
            data: {
                fromLocation: fromLocation
            },
            success: function(data) {
                var field = $('#add_stock_form_quantity');
                var maxValue = parseInt(data.countItems);
                var currentValue = parseInt(field.val());
                field.attr('max', maxValue);
                if(maxValue < currentValue) {
                    field.val(maxValue);
                }
            }
        });
    }
</script>
