<div class="modal" id="replace-part-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="replace-part-form-modal-label"><span class="form-modal-title">Supercede part {{ stock.code }}</span></h2>
            </div>
            <div class="modal-body">
                <div class="replace-part-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $replacePartModal   = $('#replace-part-modal');
    var $replacePartWrapper = $replacePartModal.find('.replace-part-form-holder');
    var $replacePartFooter  = $replacePartModal.find('.modal-footer');
    var reloadPage          = false;

    $replacePartModal.on('hide.bs.modal', function (e) {
        $replacePartWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $replacePartModal.find('.modal-form-submit').remove();
    });

    $replacePartModal.on('show.bs.modal', function (e) {
        replacePartLoadform(e);
    });

    function replacePartLoadform(e) {
        $.get('{{ path('stock_replace_part', { 'stockId': stock.id }) }}', function(data) {
            if (data.displayForm) {
                $replacePartWrapper.html(data.html);
                $replacePartModal.find('[autofocus]:first').focus();
                $replacePartFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                replacePartBindForm();
            }
        });
    }

    function replacePartBindForm() {
        var $form   = $replacePartWrapper.find('form');
        var $button = $replacePartFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $button.button('reset');
                    $replacePartWrapper.html(response.html);
                    $replacePartModal.find('[autofocus]:first').focus();
                    replacePartBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $replacePartModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
