<div class="modal" id="return-part-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="return-part-form-modal-label"><span class="form-modal-title">Return Parts</span></h2>
            </div>
            <div class="modal-body">
                <div class="return-part-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $returnPartModal   = $('#return-part-modal');
    var $returnPartWrapper = $returnPartModal.find('.return-part-form-holder');
    var $returnPartFooter  = $returnPartModal.find('.modal-footer');
    var $stockId           = '';
    var $locationId        = '';
    var reloadPage         = false;

    $('.returnPart').on('click',  function(e) {
        $stockId = $(this).attr('data-stockId');
        $locationId = $(this).attr('data-locationId');
        $returnPartModal.modal('show');
    });

    $returnPartModal.on('hide.bs.modal', function (e) {
        $returnPartWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $returnPartModal.find('.modal-form-submit').remove();
    });

    $returnPartModal.on('show.bs.modal', function (e) {
        returnPartLoadform(e);
    });

    function returnPartLoadform(e) {
        $.get('{{ path('return_part') }}/' + $locationId + '/' + $stockId, function(data) {
            if (data.displayForm) {
                $returnPartWrapper.html(data.html);
                $returnPartModal.find('[autofocus]:first').focus();
                $returnPartFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                returnPartBindForm();
            }
        });
    }

    function returnPartBindForm() {
        var $form   = $returnPartWrapper.find('form');
        var $button = $returnPartFooter.find('.modal-form-submit');
        $button.button('reset');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $returnPartWrapper.html(response.html);
                    $returnPartModal.find('[autofocus]:first').focus();
                    returnPartBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $returnPartModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - item was not checked in.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
