
{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#returnStockInfo">Select Job, Part and Quantity</a></h4>
            </div>
            <div id="returnStockInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.job, { 'attr': { 'autofocus': 1 } }) }}
                    {% if form.supplierStock is defined %}{{ form_row(form.supplierStock) }}{% endif %}
                    {% if form.quantity is defined %}{{ form_row(form.quantity) }}{% endif %}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    $(function(){
        $('#return_stock_from_job_form_job').on('change', function(){
            reloadForm();
        });
        $('#return_stock_from_job_form_supplierStock').on('change', function(){
            reloadForm();
        });
    });

    function reloadForm() {
        var $stockId = $('#returnStockButton').data('stockid');

        var $job = $('#return_stock_from_job_form_job');
        var jobId = $job.length ? $job.val() : null;

        var $supplierStock = $('#return_stock_from_job_form_supplierStock');
        var supplierStockId = $supplierStock.length ? $supplierStock.val() : null;

        var data = {};

        var $form = $job.closest('form');

        if (jobId) {
            data[$job.attr('name')] = jobId;
        }

        if (supplierStockId) {
            data[$supplierStock.attr('name')] = supplierStockId;
        }

        var $token = $('#return_stock_from_job_form__token');
        data[$token.attr('name')] = $token.val();

        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(data) {
                if (data.displayForm) {
                    $returnStockWrapper.html(data.html);
                    bindReturnStockForm();
                }
            }
        });
    }
</script>
