<div class="modal" id="return-stock-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="form-modal-label"><span class="form-modal-title">Return stock</span></h2>
            </div>
            <div class="modal-body">
                <div class="return-stock-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $returnStockModal   = $('#return-stock-modal');
    var $returnStockWrapper = $returnStockModal.find('.return-stock-form-holder');
    var $returnStockFooter  = $returnStockModal.find('.modal-footer');
    var reloadPage          = false;

    $returnStockModal.on('hide.bs.modal', function (e) {
        $returnStockWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $returnStockModal.find('.modal-form-submit').remove();
    });

    $returnStockModal.on('show.bs.modal', function (e) {
        loadReturnStockForm();
    });

    function loadReturnStockForm() {
        var $stockId = $('#returnStockButton').data('stockid');

        $.get('{{ path('return_stock_from_job') }}/' + $stockId, function(data) {
            if (data.displayForm) {
                $returnStockWrapper.html(data.html);
                $returnStockModal.find('[autofocus]:first').focus();
                $returnStockFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                bindReturnStockForm();
            }
        });
    }

    function bindReturnStockForm() {
        var $returnStockForm   = $returnStockWrapper.find('form');
        var $returnStockButton = $returnStockFooter.find('.modal-form-submit');

        $returnStockButton.unbind('click');
        $returnStockButton.click(function() {
            $returnStockForm.submit();
        });

        $returnStockForm.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $returnStockForm) {
                $returnStockButton.button('loading');
            },
            success: function(response, statusText, xhr, $returnStockForm) {
                $returnStockButton.button('reset');
                if (response.displayForm) {
                    $returnStockWrapper.html(response.html);
                    $returnStockModal.find('[autofocus]:first').focus();
                    bindReturnStockForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }
                    $returnStockModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the stock item was not returned');
                $returnStockButton.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
