{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#returnStockInfo">Return to {{ mainStockName }}</a></h4>
        </div>
        <div id="returnStockInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                {{ form_row(form.count, { 'attr': { 'autofocus': 1 } }) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
<script>
    var field = $('#return_part_count_count');
    field.change(count);

    function count() {
        var maxValue = field.attr('max');
        var minValue = field.attr('min');
        var currentValue = parseInt(field.val());
        if(maxValue < currentValue) {
            field.val(maxValue);
        }
        if(minValue > currentValue) {
            field.val(minValue);
        }
    }
</script>
