<div class="modal" id="select-stock-location-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="select-stock-location-form-modal-label"><span class="form-modal-title">Delete</span></h2>
            </div>
            <div class="modal-body">
                <div class="select-stock-location-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $selectStockLocationModal   = $('#select-stock-location-modal');
    var $selectStockLocationWrapper = $selectStockLocationModal.find('.select-stock-location-form-holder');
    var $selectStockLocationFooter  = $selectStockLocationModal.find('.modal-footer');
    var $id = '';
    var stockItems = {{ stockItems|default(null) }};
    var reloadPage           = false;

    $('.selectStockLocation').on('click',  function(e) {
        $id = $(this).data('id');
        $selectStockLocationModal.modal('show');
    });

    $selectStockLocationModal.on('hide.bs.modal', function (e) {
        $selectStockLocationWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $selectStockLocationModal.find('.modal-form-submit').remove();
    });

    $selectStockLocationModal.on('show.bs.modal', function (e) {
        selectStockLocationLoadform(e);
    });

    function selectStockLocationLoadform(e) {
        $.get('{{ path('select_stock_location') }}/' + $id, function(data) {
            if (data.displayForm) {
                $selectStockLocationWrapper.html(data.html);
                $selectStockLocationModal.find('[autofocus]:first').focus();
                if (stockItems == null) {
                    $selectStockLocationFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                } else {
                    $selectStockLocationFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save & Delete</button>');
                }
                selectStockLocationBindForm();
            }
        });
    }

    function selectStockLocationBindForm() {
        var $form   = $selectStockLocationWrapper.find('form');
        var $button = $selectStockLocationFooter.find('.modal-form-submit');

        $button.button('reset');
        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $selectStockLocationWrapper.html(response.html);
                    $selectStockLocationModal.find('[autofocus]:first').focus();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    if(response.url) {
                        document.location.href = response.url;
                    }
                    $selectStockLocationModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - item was not checked in.');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
