{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#setStockBin">Set Stock Bin Number</a></h4>
            </div>
            <div id="setStockBin" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p class="alert alert-info">
                        Please specify the bin number that this part is located in.
                    </p>
                    {{ form_row( form.bin) }}
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
