<h3>Stock Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search stock:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new stock:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit stock:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
