<div class="row">
    <div class="col-md-12">
        {% if location.siteAddress %}
            <h3 class="page-title">Location Particulars</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th colspan="2">Address details<a class="btn btn-primary pull-right item-actions"
                                                          data-edit-id="{{ location.siteAddress.id }}" id="editStockLocation"
                                                          href="javascript:void(0);">Edit</a><a
                                    class="btn btn-primary pull-right"
                                    href="{{ path('view_stock_location', {'id': location.siteAddress.id }) }}"
                                    style="margin-right: 5px;">View</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ location.siteAddress.name | default('--') }}</td>
                    </tr>
                    <tr>
                        <th>Address 1</th>
                        <td>{{ location.siteAddress.address1 | default('--') }}</td>
                    </tr>
                    <tr>
                        <th>Address 2</th>
                        <td>{{ location.siteAddress.address2 | default('--') }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ location.siteAddress.city | default('--') }}</td>
                    </tr>
                    <tr>
                        <th>Postcode</th>
                        <td>{{ location.siteAddress.postcode | default('--') }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            {% if stock %}
                <h3 class="page-title">Stock Items</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Part No</th>
                            <th>description</th>
                            <th>count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stockItem in stock %}
                            <tr>
                                <th>{{ stockItem.code }}</th>
                                <th>{{ stockItem.description }}</th>
                                <th>{{ count[stockItem.id] }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% else %}
            <h3 class="page-title">{{ location.engineer.name }}'s van</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Engineer</th>
                        <td>{{ location.engineer.name | default('--') }}</td>
                    </tr>
                    <tr>
                        <th>Location Type</th>
                        <td>Van</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if stock %}
                <h3 class="page-title">Stock Items</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Part No</th>
                            <th>description</th>
                            <th>count</th>
                            <th style="width: 100px;">action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stockItem in stock %}
                            <tr>
                                <th>{{ stockItem.code }}</th>
                                <th><a href="{{ url('view_stock', { id: stockItem.id }) }}">{{ stockItem.description }}</a></th>
                                <th>{{ count[stockItem.id] }}</th>
                                <th>
                                    {% if mainStockName %}
                                    <button class="btn btn-primary returnPart" data-stockId="{{ stockItem.id }}" data-locationId="{{ location.id }}">Return to {{ mainStockName }}</button>
                                    {% else %}
                                        Main stock not found
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% include '_formModal.html.twig' with { modalType: 'Stock Location', modalTitle: 'Stock Location', modalNewRoute: path('new_stock_location'), modalEditRoute: path('edit_stock_location') } %}
{% include 'Stock/_returnPartModal.html.twig' %}
