<div class="modal" id="add-stock-location-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="form-modal-label"><span class="form-modal-title">Add a supplier for stock</span></h2>
            </div>
            <div class="modal-body">
                <div class="add-stock-location-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $stockLocationModal   = $('#add-stock-location-modal');
    var $stockLocationWrapper = $stockLocationModal.find('.add-stock-location-form-holder');
    var $stockLocationFooter  = $stockLocationModal.find('.modal-footer');
    var $stockLocationTitle   =  $stockLocationModal.find('.form-modal-title');
    var reloadPage            = false;

    $('#addstockLocationButton').on('click',  function(e) {
        $stockLocationModal.modal('show');
    });

    $stockLocationModal.on('hide.bs.modal', function (e) {
        $stockLocationWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $stockLocationModal.find('.modal-form-submit').remove();
    });

    $stockLocationModal.on('show.bs.modal', function (e) {
        loadstockLocationForm(e);
    });

    function loadstockLocationForm(e) {
        $.get("{{ path('new_stock_location') }}", function(data) {
            if (data.displayForm) {
                $stockLocationWrapper.html(data.html);
                $stockLocationModal.find('[autofocus]:first').focus();
                $stockLocationFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                bindstockLocationForm();
            }
        });
    }

    function bindstockLocationForm() {
        var $form   = $stockLocationWrapper.find('form');
        var $button = $stockLocationFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $stockLocationWrapper.html(response.html);
                    $stockLocationModal.find('[autofocus]:first').focus();
                    bindstockLocationForm();
                } else {
                    if (response.refresh) {
                        reloadPage = true;
                    }
                    $stockLocationModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the stockLocation item was not added');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
