<div class="modal" id="add-supplierStock-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="form-modal-label"><span class="form-modal-title">Add a supplier for stock</span></h2>
            </div>
            <div class="modal-body">
                <div class="add-supplierStock-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $supplierStockModal   = $('#add-supplierStock-modal');
    var $supplierStockWrapper = $supplierStockModal.find('.add-supplierStock-form-holder');
    var $supplierStockFooter  = $supplierStockModal.find('.modal-footer');
    var $supplierStockTitle   =  $supplierStockModal.find('.form-modal-title');
    var reloadPage            = false;

    $supplierStockModal.on('hide.bs.modal', function (e) {
        $supplierStockWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $supplierStockModal.find('.modal-form-submit').remove();
    });

    $supplierStockModal.on('show.bs.modal', function (e) {
        loadSupplierStockForm(e);
    });

    function loadSupplierStockForm(e) {
        $.get("{{ path('add_supplier_stock', { 'stockId': stock.id, 'supplier': null}) }}", function(data) {
            if (data.displayForm) {
                $supplierStockWrapper.html(data.html);
                $supplierStockModal.find('[autofocus]:first').focus();
                $supplierStockFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                bindSupplierStockForm();
            }
        });
    }

    function bindSupplierStockForm() {
        var $form   = $supplierStockWrapper.find('form');
        var $button = $supplierStockFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $supplierStockWrapper.html(response.html);
                    $button.button('reset');
                    if ($supplierStockModal.find('.has-error')) {
                        $supplierStockModal.find('.has-error input:first').focus();
                    } else {
                        $supplierStockModal.find('[autofocus]:first').focus();
                    }
                    bindSupplierStockForm();
                } else {
                    if (response.url) {
                        location.href = response.url;
                        return;
                    } else if (response.refresh) {
                        reloadPage = true;
                    }
                    $supplierStockModal.modal('hide');
                }
                $button.button('reset');
            },
            error: function() {
                growlError('There was an error - the supplierStock item was not added');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
