{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#supplierStockInfo">Supplier stock details</a></h4>
            </div>
            <div id="supplierStockInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stock item</label>
                        <p id="stockItemText" class="col-sm-9 form-control-static">{{ form.vars.value.stock.stockString }}</p>
                    </div>

                    {% if form.supplier is defined %}
                        {{ form_row(form.supplier, { 'attr': { 'autofocus': 1 } }) }}
                    {% else %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Supplier</label>
                            <p id="supplierRawText" class="col-sm-9 form-control-static">{{ supplierStock.supplier.name }}</p>
                        </div>
                    {% endif %}

                    {{ form_row(form.description) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.costPrice) }}
                    {{ form_row(form.carriagePrice) }}
                    {{ form_row(form.issuePrice) }}
                    {{ form_row(form.supplierNotes) }}
                </div>
            </div>
        </div>

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
