{% extends 'layout.html.twig' %}

{% block page_type %}stock{% endblock %}
{% block title %}Stock{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 in">
            <h1 class="page-title">Stock<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a></h1>

            <div class="col-md-5">
                <div class="panel panel-default panel-filter" data-type="stock" >
                    <div class="panel-heading"><h3 class="panel-title" tabindex="1">Search Parts </h3></div>
                    <div class="panel-body no-pad" id="stock_items">
                        <input class="panel-item waterfall-filter" type="text" placeholder="Enter part description or code..." id="filter"/>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody id="filter-results">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="stock-particulars"></div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'stock', modalTitle: 'Stock', modalNewRoute: path('new_stock'), modalEditRoute: path('edit_stock') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

$(function(){
    var selectedId = getParameterByName('selectedItem');

    if (selectedId) {
        loadParticulars(selectedId);
        return;
    }

    $('#filter').focus();
    var prevSearchTerm = sessionStorage.getItem('searchTerm');
    if (prevSearchTerm != '') {
        $('#filter').val(prevSearchTerm);
        var e   = jQuery.Event("keyup");
        e.which = 13;
        $('#filter').trigger(e);
    }
})

var xsearchList           = null;
var searchTerm            = null;
var $stockResultContainer = $('#filter-results');

function bindAddButtons($ele) {
    $('.addBtn').click(function(e) {
        e.preventDefault();

        var $tr         = $(this).closest('tr');
        var id          = $tr.find('td:first-child').data('id').toString().replace(/<([^>]+)>/ig,'');
        var description = $tr.find('td:first-child').data('description').toString().replace(/<([^>]+)>/ig,'');
        var code        = $tr.find('td:first-child').data('code').toString().replace(/<([^>]+)>/ig,'');
        var isStock     = $tr.find('td:first-child').data('isStock').toString().replace(/<([^>]+)>/ig,'');

        if (id && isStock) {
            loadParticulars(id, isStock);
            $stockResultContainer.empty();
            $('#filter').val(code + ' - ' + description);

            $(document).on('keypress', null, 'e', function() {
                $('#editStock').trigger('click');
            });
        }

    });
}

function loadParticulars(id, isStock) {
    isStock = typeof(isStock) == 'undefined' ? true : isStock;
    $('#stock-particulars').load('{{ path('get_stock_particulars') }}/' + id + '/' + isStock);
}

$('#filter').keyup(throttle(function (event) {
    var $ele     = $(this);
    var lastTerm = searchTerm;
    searchTerm   = $ele.val();

    if (event.which == "38" || event.which == "40") {
        return;
    };

    if (lastTerm == searchTerm) {
        return;
    }

    searchList = null;
    $stockResultContainer.empty();

    if (searchTerm.length > 2) {
        $stockResultContainer.prepend('<tr><td><img src="/images/ajax-loader.gif"><strong>  Searching...</strong></td></tr>')
        $.ajax({
            url: "{{ path('stock_catalogue_search') }}",
            type: 'post',
            data: JSON.stringify(searchTerm),
            dataType: 'json',
            success: function(data) {
                if (data.searchTerm == searchTerm) {
                    searchList = data.items;
                    sessionStorage.setItem('searchTerm', searchTerm);

                    fleetmanagerSearch(searchTerm, searchList, $stockResultContainer, 'stock');
                    bindAddButtons();

                    if ($('#filter-results tr').length == 1) {
                        $('#filter-results tr').find('a.addBtn').trigger('click');
                        searchList = null;
                        $stockResultContainer.empty();
                        $('#filter').blur();
                    }
                }
            }
        })
    } else {
        $stockResultContainer.prepend('<tr><td><strong>  Search terms need at least 3 characters to begin searching...</strong></td></tr>')
    }
}, 1000));
</script>
{% endblock %}

