{% extends 'layout.html.twig' %}

{% block search_category %}siteAddress{% endblock %}
{% block page_type %}siteAddress{% endblock %}
{% block title %}Stock{% endblock %}
{% block page_shortcuts %}{% include 'Stock/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 in" id="top">
            <h1 class="page-title">Stock Locations<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a></h1>

            <div class="waterfall" id="stock-location-filter">
                <div class="col-md-5">
                    <div class="panel panel-default panel-filter" data-type="stock-location" >
                        <div class="panel-heading"><h3 class="panel-title" tabindex="1">Stock location</h3></div>
                        <div class="panel-body no-pad" id="stock_location">

                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>

                            {% for location in locations %}
                            <div class="panel-item panel-link selectable-item" data-column=1
                                 data-row={{ loop.index }} data-id={{ location.id }}
                                 data-name="{{ (location.siteAddress ? location.siteAddress.name : location.engineer.name~'\'s van') }}">
                                {% if location.siteAddress %}
                                    {{ location.siteAddress.name }}
                                {% elseif location.engineer %}
                                   {{ location.engineer.name }}'s van
                                {% else %}
                                    {{ location.name }}
                                {% endif %}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div id="location-particulars"></div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'Stock Location', modalTitle: 'Stock Location', modalNewRoute: path('new_stock_location'), modalEditRoute: path('edit_stock_location') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$('[data-type="stock-location"] .panel-link:first').addClass('selected');
$('[data-type="stock-location"] .panel-link:first').focus();

$('[data-type="stock-location"] .panel-item.panel-link').on('click', function() {
    var $nameElement = $(this);
    $('[data-type="stock-location"] .panel-item.panel-link').removeClass('active');
    $('[data-type="stock-location"] .panel-item.panel-link').removeClass('selected');
    $('[data-type="stock-location"] .panel-item.panel-link').css('background-color', '#ffffff');
    $nameElement.css('background-color', '#e7e7e7');
    $nameElement.addClass('active');
    $nameElement.addClass('selected');
    var stockLocationId = $nameElement['0'].dataset.id;

    if(stockLocationId) {
        $('#location-particulars').load('{{ path('get_stock_location_particulars') }}/' + stockLocationId);


        $(document).on('keypress', null, 'e', function() {
            $('#editStockLocation').trigger('click');
        });
    }
 });

</script>
{% endblock %}

