<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Part Information - {{ code }} - {{ description }}</h2>

        <div class="particulars-actions">
            <a class="btn btn-primary item-actions" href="{{ path('view_stock', { id:stock.id }) }}">View</a>
            <a class="btn btn-primary item-actions" data-edit-id="{{ stock.id }}" id="editStock" href="javascript:void(0);">Edit</a>
            <a class="btn btn-success" data-toggle="modal" data-target="#move-stock-modal" href="#" data-href="{{ path('move_stock', { 'id': stock.id }) }}">Move stock</a>
            {% if availableStock > 0 %}
                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#issue-stock-modal">Issue Stock</a>
            {% endif %}
            <a class="btn btn-success" data-toggle="modal" data-target="#manual-stock-adjustment-modal" href="#">Manually Set Stock Level</a>
            <a class="btn btn-success" data-toggle="modal" data-target="#replace-part-modal" href="#">Supercede</a>
            <a class="btn btn-primary pull-right" href="{{ path('view_stock', {'id': stock.id }) }}">History</a>
        </div>

        <hr>

        {% if stock.supplierStock|length > 1 and stock.preferredSupplier %}
            <div class="alert alert-warning">
                Preferred supplier is <a href="{{ path('view_supplier') }}/{{ stock.preferredSupplier.id }}">{{ stock.preferredSupplier.name }}</a>
            </div>
        {% endif %}

        {% if stock.replacedBy %}
            <div class="alert alert-warning">
                Part Number has been superceded by <a href="#" class="view-particulars" data-id={{ stock.replacedBy.id }}>{{ stock.replacedBy.stockString }}</a>
            </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 col-sm-12">
            <div class="section-header">
                <h2>Stock</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>Quantity in stock</th>
                            <td>{{ quantityInStock | default('0') }} </td>
                        </tr>
                        <tr>
                            <th> Min Stock Qty </th>
                            <td> {{ stock.minStock | default('-') }} </td>
                        </tr>
                        <tr>
                            <th> Re-Order Qty </th>
                            <td> {{ stock.reorderQuantity | default('-') }} </td>
                        </tr>
                        <tr>
                            <th>Last ordered</th>
                            <td>
                                {% if stock.lastPurchaseOrder %}
                                    <a href="{{ path('view_purchaseorder', {'id': stock.lastPurchaseOrder.id }) }}">{{ stock.lastPurchaseOrder.completedAt| date("d/m/Y") | default('--') }}</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        {% if stock.replacesPart %}
                        <tr>
                            <th>Replaces Part</th>
                            <td>
                                <a href="#" class="view-particulars" data-id={{ stock.replacesPart.id }}>{{ stock.replacesPart.stockString }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if stock.replacedBy %}
                        <tr>
                            <th>Replaced By</th>
                            <td>
                                <a href="#" class="view-particulars" data-id={{ stock.replacedBy.id }}>{{ stock.replacedBy.stockString }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Quantity available</th>
                            <td>
                                {{ availableStock | default('0') }} in total
                                <ul>
                                    {% for location in qtyOnLocations %}
                                        {% if location.engineerName %}
                                            <li>{{ location.qty }} in {{ location.engineerName | default('(no location data)') }}'s Van{% if stock.bin %} (Bin {{ stock.bin }}){% endif %}</li>
                                        {% elseif location.name %}
                                            <li>{{ location.qty }} in {{ location.name | default('(no location data)') }}{% if stock.bin %} (Bin {{ stock.bin }}){% endif %}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Quantity on jobs</th>
                            <td>
                                {{ stockOnJobs | default('0') }} in total
                                <ul>
                                    {% for job in qtyOnJobs %}
                                        <li>{{ job.qty }} on {{ job.jobCode }} ({{ job.name }})</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>

                            <th>Quantity on order</th>
                            <td>
                                {{ stockOnOrder | default('0') }} in total
                                <ul>
                                    {% for po in qtyOnPos %}
                                        <li>{{ po.qty }} in PO <a href="{{ path('view_purchaseorder')}}/{{ po.poId }}">{{ po.poId }} - {{ po.name | default ('Dawson Internal Order') }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="information-section col-md-6 col-sm-12">
            <div class="section-header">
                <h2>Suppliers</h2>
                <a class="btn btn-success btn-xs pull-right" title="Add a Supplier" data-toggle="modal" data-target="#add-supplierStock-modal" href="#">New</a>
            </div>

            <div class="section-content">
                {% import _self as output %}

                {% if stock.preferredSupplier %}
                    {% for supplierStockItem in stock.supplierStock %}
                        {% if supplierStockItem.supplier == stock.preferredSupplier %}
                            {{ output.outputSupplierStock(supplierStockItem, supplierCounts, true) }}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% for supplierStockItem in stock.supplierStock %}
                    {% if supplierStockItem.supplier != stock.preferredSupplier %}
                        {{ output.outputSupplierStock(supplierStockItem, supplierCounts, false) }}
                    {% endif %}
                {% endfor %}

                {% if stock.supplierStock|length == 0 %}
                    <div class="text-center">No suppliers.</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% macro outputSupplierStock(supplierStockItem, supplierCounts, isPreferred) %}
    <div class="table-responsive">
        <h4>
            <a href="{{ path('view_supplier_stock', { id: supplierStockItem.id }) }}">{{ supplierStockItem.supplier.name | default('--') }}</a>
            {% if isPreferred %} (Preferred){% endif %}
            <a class="btn btn-success btn-xs pull-right" title="Edit" href="{{ path('view_supplier_stock', { id: supplierStockItem.id, edit: true }) }}">Edit</a>
        </h4>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Part No.</th>
                    <td>{{ supplierStockItem.code }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ supplierStockItem.description }}</td>
                </tr>
                <tr>
                    <th>Quantity Available</th>
                    <td>{{ supplierStockItem.id in supplierCounts|keys ? supplierCounts[supplierStockItem.id] : 0 }}</td>
                </tr>
                <tr>
                    <th>Cost Price</th>
                    <td>{{ '£' ~ supplierStockItem.costPrice|number_format(2) | default('--') }}</td>
                </tr>
                <tr>
                    <th>Issue Price</th>
                    <td>{{ '£' ~ supplierStockItem.issuePrice|number_format(2) | default('--') }}</td>
                </tr>
                <tr>
                    <th>Carriage Price</th>
                    <td>{{ '£' ~ supplierStockItem.carriagePrice|number_format(2) | default('--') }}</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>{{ supplierStockItem.supplierNotes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}

{% include '_formModal.html.twig' with { modalType: 'stock', modalTitle: 'Stock', modalNewRoute: path('new_stock'), modalEditRoute: path('edit_stock') } %}
{% include 'Stock/_issueStockToJobModal.html.twig' %}
{% include 'Stock/_moveStockModal.html.twig' %}
{% include 'Stock/_supplierStockModal.html.twig' %}
{% include 'Stock/_manualStockLevelAdjustmentModal.html.twig' %}
{% include 'Stock/_replacePartModal.html.twig' %}

<script type="text/javascript">
    $('.view-particulars').click(function(e) {
        e.preventDefault();
        var $ele = $(this);
        var id = $ele.data('id');

        if (!id) {
            return;
        }

        loadParticulars(id);
    });
</script>
