{% extends 'layout.html.twig' %}

{% block page_type %}stock{% endblock %}
{% block title %}Stock Reports{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="title-section">
                <h1><span class="icomoon-report icomoon-inline"></span>Stock reports</h1>

            </div>
            <div class="waterfall" id="stock-location-filter">
                <div class="col-md-5">
                    <div class="panel panel-default panel-filter" data-type="stock-location" >
                        <div class="panel-heading"><h3 class="panel-title" tabindex="1">Stock location</h3></div>
                        <div class="panel-body no-pad" id="stock_location">

                            <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>

                            {% for location in locations %}
                                <div class="panel-item panel-link selectable-item" data-column=1
                                     data-row={{ loop.index }} data-id={{ location.id }}
                                     data-name="{{ (location.siteAddress ? location.siteAddress.name : location.engineer.name~'\'s van') }}">
                                    {% if location.siteAddress %}
                                        {{ location.siteAddress.name }}
                                    {% elseif location.engineer %}
                                        {{ location.engineer.name }}'s van
                                    {% else %}
                                        {{ location.name }}
                                    {% endif %}
                                    (Total Stock Value: {{ totalStockValue[location.id] }})
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <form>
                    <div class="form-group">
                        <a href="#" class="btn btn-primary" id="reportStockLocation">Create report</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('[data-type="stock-location"] .panel-item.panel-link').on('click', function() {
            var $nameElement = $(this);
            $('[data-type="stock-location"] .panel-item.panel-link').removeClass('active');
            $('[data-type="stock-location"] .panel-item.panel-link').removeClass('selected');
            $('[data-type="stock-location"] .panel-item.panel-link').css('background-color', '#ffffff');
            $nameElement.css('background-color', '#e7e7e7');
            $nameElement.addClass('active');
            $nameElement.addClass('selected');
            var stockLocationId = $nameElement['0'].dataset.id;
            $('.report').css('display', 'block');
            $('#reportStockLocation').on('click', function(){
                var url = "{{ path('get_stock_location_report') }}/" + stockLocationId;
                window.location.href = url;
            })
        });
    </script>

{% endblock %}
