{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">Stock Items <span class="page-subtitle">Total Stock Value: {{ totalStockValue }}</span></h3>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Bin Location</th>
                        <th>Part No</th>
                        <th>Description</th>
                        <th>Qty in Stock</th>
                        <th>Cost price</th>
                        <th>Stock value</th>
                        <th>Min Stock Qty</th>
                        <th>Re-order Qty</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set currentStockId = 0 %}
                    {% for stockItem in stockItems %}
                        {% set totalQty = stockData[stockItem['stockId']]['totalQuantity'] %}

                        {% if stockItem['stockId'] == currentStockId %}
                            <tr data-stock="{{ stockItem['stockId'] }}">
                                <th>{{ stockItem['code'] }}</th>
                                <th>{{ stockItem['description'] }}</th>
                                <th class="{{ totalQty < stockItem['minStockQty'] ? 'color-red' : '' }}">{{ stockItem['qty'] }} ({{ stockItem['qtyOnJobs'] }})</th>
                                <th> {{ stockItem['costPrice'] }}</th>
                                <th>£{{ (stockItem['qty'] * stockItem['costPrice']) | number_format(2) }}</th>
                            </tr>
                        {% else %}
                            {% set rowspan = stockData[stockItem['stockId']]['instances'] %}

                            <tr data-stock="{{ stockItem['stockId'] }}">
                                <th rowspan={{ rowspan }}>{{ stockItem['bin'] }}</th>
                                <th>{{ stockItem['code'] }}</th>
                                <th>{{ stockItem['description'] }}</th>
                                <th class="{{ totalQty < stockItem['minStockQty'] ? 'color-red' : '' }}">{{ stockItem['qty'] }} ({{ stockItem['qtyOnJobs'] }})</th>
                                <th> £{{ stockItem['costPrice'] | number_format(2) }}</th>
                                <th>£{{ (stockItem['qty'] * stockItem['costPrice']) | number_format(2) }}</th>
                                <th rowspan={{ rowspan }}>{{ stockItem['minStockQty']  }}</th>
                                <th rowspan={{ rowspan }}>{{ stockItem['reOrderQty'] }}</th>
                            </tr>
                        {% endif %}

                        {% set currentStockId = stockItem['stockId'] %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

