{% extends 'layout.html.twig' %}

{% block search_category %}stock{% endblock %}
{% block page_type %}stock{% endblock %}
{% block title %}{{ stock.code }}{% endblock %}
{% block page_shortcuts %}{% include 'Stock/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="top">
                <h1><span class="icomoon-stock icomoon-inline"></span>{{ stock.code }} - {{ stock.description }}</h1>
                {% if stockOnJobs %}
                    <a id="returnStockButton" class="btn btn-success" data-toggle="modal" data-stockId="{{ stock.id }}" data-target="#return-stock-modal" href="#" style="margin-left: 5px; margin-right: 5px;">Return stock</a>
                {% endif %}
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ stock.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_stock') }}/{{ stock.id }}" href="#">Delete</a>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Part No:</dt>
                            <dd>{{ stock.code | default('--') }}</dd>

                            <dt>OEM Price:</dt>
                            <dd>{{ '£' ~ stock.oemPrice|number_format(2) | default('--') }}</dd>

                            <dt>Description:</dt>
                            <dd>{{ stock.description | default('--') }}</dd>

                            <dt>Stock Quantity:</dt>
                            <dd>{{ quantityInStock }}</dd>

                            {% if stock.replacedBy %}
                                <dt>Replaced By</dt>
                                <dd><a href="{{ path('view_stock', { id: stock.replacedBy.id }) }}"  style="color: red;">{{ stock.replacedBy.code }} - {{ stock.replacedBy.description }}</a></dd>
                            {% endif %}

                            {% if stock.replacesPart %}
                                <dt>Replaces Part</dt>
                                <dd><a href="{{ path('view_stock', { id: stock.replacesPart.id }) }}"  style="color: green;">{{ stock.replacesPart.code }} - {{ stock.replacesPart.stockString }}</a></dd>
                            {% endif %}

                            <dt>Suppliers:</dt>
                            {% for supplierStock in stock.supplierStock %}
                                <dd><a href="{{ path('view_supplier', { id:supplierStock.supplier.id  }) }}">{{ supplierStock.supplier.name | default('--') }}</a></dd>
                            {% endfor %}

                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="spacer"></div>
                <div id="supplierPrices" class="information-section col-md-12 col-sm-12">
                    <div class="section-header">
                        <h2>Supplier prices</h2>
                    </div>

                    {% if stock.supplierStock|length > 1 and stock.preferredSupplier %}
                        <div class="alert alert-warning">
                            Preferred supplier is
                            <a href="{{ path('view_supplier', { id: stock.preferredSupplier.id }) }}">{{ stock.preferredSupplier.name }}</a>
                        </div>
                    {% endif %}

                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th>Supplier</th>
                                <th>Code</th>
                                <th>Cost Price</th>
                                <th>Issue Price</th>
                                <th>Carriage Price</th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for supplierStock in stock.supplierStock %}
                                    <tr>
                                        <td>{{ supplierStock.supplier.name }}</td>
                                        <td>{{ supplierStock.code }}</td>
                                        <td>{{ '£' ~ supplierStock.costPrice|number_format(2) | default('--') }}</td>
                                        <td>{{ '£' ~ supplierStock.issuePrice|number_format(2) | default('--') }}</td>
                                        <td>{{ '£' ~ supplierStock.carriagePrice|number_format(2) | default('--') }}</td>
                                        <td><a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-modal" data-message="Are you sure you want to delete the supplier stock entry?" data-href="{{ path('delete_supplier_stock', { id: supplierStock.id }) }}" href="#" style="margin-left: 5px;">Delete</a><a class="btn btn-primary pull-right" href="{{ path('view_supplier_stock', {'id' : supplierStock.id }) }}">View</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="transactions" class="information-section col-md-12 col-sm-12">
                    <div class="section-header">
                        <h2>Transaction History</h2>
                    </div>

                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th>Date</th>
                                <th>Quantity</th>
                                <th>IN</th>
                                <th>OUT</th>
                                <th>Purchase Order</th>
                                <th>Job</th>
                            </thead>
                            <tbody>
                                {% for transaction in stock.stockTransactions %}
                                    <tr>
                                        <td>{{ transaction.date | display_date_format | default ('--') }}</td>
                                        <td>{{ transaction.quantity | default('--') }}</td>
                                        {% if transaction.transactionCategory %}
                                            <td>{{ transaction.transactionCategoryString matches '{^IN}' ?  transaction.transactionCategoryString : '--' }}</td>
                                            <td>{{ transaction.transactionCategoryString matches '{^OUT}' ?  transaction.transactionCategoryString : '--' }}</td>
                                        {% else %}
                                            <td>--</td>
                                            <td>--</td>
                                        {% endif %}
                                        <td>
                                            {% if transaction.purchaseOrder %}
                                                <a href="{{ path('view_purchaseorder', {'id': transaction.purchaseOrder.id })}}">{{ transaction.purchaseOrder.id }} - {{ transaction.purchaseOrder.description ?? '' }} {{ transaction.purchaseOrder.job ? 'Job ' ~ transaction.purchaseOrder.job.jobCode ~', '~ transaction.purchaseOrder.job.customer.name : 'Dawson Internal Order' }}</a>
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if transaction.job %}
                                                <a href="{{ path('view_job', {'id': transaction.job.id })}}">{{ transaction.job.jobIdentifier }}</a>
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'stock', modalNewRoute: path('new_stock'), modalEditRoute: path('edit_stock') } %}
    {% include 'Stock/_returnStockModal.html.twig' %}
{% endblock %}


