{% extends 'layout.html.twig' %}

{% block search_category %}stock{% endblock %}
{% block page_type %}stock{% endblock %}
{% block title %}{{ site.id }}{% endblock %}
{% block page_shortcuts %}{% include 'Stock/_stockLocationShortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-contact icomoon-inline"></span>{{ site.addressString }}</h1>
                <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ site.id }}" href="javascript:void(0);">Edit</a>
                    {% if stockItems == true %}
                        <a class="btn btn-primary selectStockLocation" data-id="{{ site.location.id }}">Delete</a>
                    {% else %}
                        <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_stock_location') }}/{{ site.id }}" href="#">Delete</a>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div class="section-header">
                        <h2>Main Information</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd>{{ site.name | default('--') }}</dd>

                            <dt>Address 1:</dt>
                            <dd>{{ site.address1 | default('--') }}</dd>

                            <dt>Address 2:</dt>
                            <dd>{{ site.address2 | default('--') }}</dd>

                            <dt>City:</dt>
                            <dd>{{ site.city | default('--') }}</dd>

                            <dt>Postcode:</dt>
                            <dd>{{ site.postcode | default('--') }}</dd>

                        </dl>
                    </div>
                </div>
                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'Stock/_selectStockLocationModal.html.twig' %}

    {% include '_formModal.html.twig' with { modalType: 'Stock Location', modalTitle: 'Stock Location', modalNewRoute: path('new_stock_location'), modalEditRoute: path('edit_stock_location') } %}

{% endblock %}


