{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#assignEngineer">Assign Engineer</a></h4>
            </div>
            <div id="assignEngineer" class="panel-collapse collapse in">
                <div class="panel-body">
                    Confirm job creation from estimate...
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

    {{ form_end(form) }}
</div>

