<div class="modal" id="create-job-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="create-job-form-modal-label"><span class="form-modal-title">Create job from estimate</span></h2>
            </div>
            <div class="modal-body">
                <div class="create-job-form-holder"></div>
                Confirm job creation from estimate...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmCreation">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $createJobModal   = $('#create-job-modal');
    var $createJobWrapper = $createJobModal.find('.create-job-form-holder');
    var $createJobFooter  = $createJobModal.find('.modal-footer');
    var reloadPage        = false;

    $('#createJob').on('click',  function(e) {
        $createJobModal.modal('show');
    });

    $createJobModal.on('hide.bs.modal', function (e) {
        $createJobWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $createJobModal.find('.modal-form-submit').remove();
    });

    $createJobModal.on('show.bs.modal', function (e) {
        createJobLoadform(e);
    });

    function createJobLoadform(e) {
        $.get('{{ path('create_job_from_estimate', { 'id': estimate.id }) }}', function(data) {
            if (data.displayForm) {
                $createJobWrapper.html(data.html);
                $createJobModal.find('[autofocus]:first').focus();
                $createJobFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                createJobBindForm();
            }
        });
    }

    function createJobBindForm() {
        var $form   = $createJobWrapper.find('form');
        var $button = $createJobFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $createJobWrapper.html(response.html);
                    $createJobModal.find('[autofocus]:first').focus();
                    createJobBindForm();
                } else {
                    $createJobWrapper.html(response.message);
                    $button.remove();
                }

                if(response.refresh) reloadPage = true;

                $button.button('reset');
            },
            error: function() {
                growlError('There was an error - the job was not assigned');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
