<div class="col-md-2" >
    <div class="panel panel-default panel-filter" data-type="estimate" >
        <div class="panel-heading"><h3 class="panel-title">{{ panelTitle }}</h3></div>
        <div class="estimate-col-container">
            <div class="panel-body no-pad" id="{{ panelTitle|lower|replace({" " : "_"}) }}">
                <input class="panel-item waterfall-filter" type="text" placeholder="Filter..."></input>
                {% if estimates[panelNumber]|default(null)|length > 0 %}
                    {% for estimate in estimates[panelNumber] %}
                        {% set priorityData = priorities[estimate.id]|default(null) %}
                        <div class="panel-item panel-link selectable-item priority-{{ priorityData.priorityName|default('normal') }}" data-column={{ panelNumber }} data-row={{ loop.index }} data-priority={{ priorityData.priority|default(1) }}{% if priorityData.priorityReason|default(null) %} data-toggle="tooltip" title="{{ priorityData.priorityReason }}"{% endif %} data-id={{ estimate.id }} data-name="{{ estimate.customer.name }}">
                                {{ estimate.code }} - {{ estimate.customer.name }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
