<h2>Hello <strong>{{ username }}</strong></h2>

<p>Dawson Forklift Services are pleased to provide you with an estimation for the cost of the job you described to us.</p>
<p>You can view the estimate and all its details <a href="{{ url|raw }}">here</a>.</p>

<p>Thank you for choosing Dawson Forklift Services</p>
<p>Sincerely,</p>
<p>The Dawson Forklift Services Team</p>
