<h2>Hello <strong>{{ username }}</strong></h2>

<p>There has been an alteration regarding the estimate for the job "{{ estimateDetails }}"</p>
<p>You can view the estimate and all its details <a href="{{ url|raw }}">here</a>.</p>

<p>Thank you for choosing Dawson Forklift Services</p>
<p>Sincerely,</p>
<p>The Dawson Forklift Services Team</p>
