<h2>Hello <strong>{{ username }}</strong></h2>

{% if accepted %}

    <p>Thank you for accepting our estimate for the job "{{ jobDetails }}"</p>
    <p>You can view the estimate and all its details <a href="{{ url|raw }}">here</a>.</p>

{% else %}

    <p>We are sorry to hear that you did not accept our estimate for the job "{{ jobDetails }}".</p>
    <p>Please do not hesitate to come back to us in the future for further quotations.</p>
    <p>Should you wish to review the estimate you can do so <a href="{{ url|raw }}">here</a>.</p>

{% endif %}

<p>Thank you for choosing Dawson Forklift Services</p>
<p>Sincerely,</p>
<p>The Dawson Forklift Services Team</p>
