{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                </a>
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#estimateInfo">Estimate Details</a></h4>
            </div>
            <div id="estimateInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if form.customer is defined %}{{ form_row( form.customer, { 'attr': { 'autofocus': 1 } }) }}{% endif %}
                    {% if form.job is defined %}{{ form_row( form.job) }}{% endif %}
                    {{ form_row( form.details) }}
                    {{ form_row( form.labourTime) }}
                    {{ form_row( form.travelTime) }}
                    {% if form.labourPrice is defined %}{{ form_row( form.labourPrice) }}{% endif %}
                    {% if form.partsPrice is defined %}{{ form_row( form.partsPrice) }}{% endif %}
                    {% if form.totalPrice is defined %}{{ form_row( form.totalPrice) }}{% endif %}

                    {% if form.issueImmediately is defined %}
                        {{ form_row(form.issueImmediately) }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if form.estimateStocks is defined %}
        <div class="panel panel-default" id="stockItems">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#estimateStockForm">Add Parts to Estimate</a></h4>
            </div>
            <div id="estimateStockForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="estimateStocks" data-prototype="{{ form_widget(form.estimateStocks.vars.prototype)|e }}">
                        {% for estimateStock in form.estimateStocks %}
                            <div class="estimate-stock" data-description="{{ estimateStock.vars.value.supplierStock.displayString }}">
                                {{ form_errors(estimateStock) }}
                                {{ form_widget(estimateStock) }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-12">
                        <div id="search-wrapper" class="h2">
                            <span class="pull-left">
                                <span class="bg-primary" id="search-category">Search items</span> /
                            </span>
                            <span id="search-input-wrapper">
                                <input autofocus autocomplete="off" spellcheck="false" type="text" class="search" name="_search" id="_search">
                            </span>
                        </div>
                        <div class="clearfix"></div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <tbody id="search-results">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default" id="specialistItems">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#estimateItemsForm">Create specialist item for job</a></h4>
            </div>
            <div id="estimateItemsForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="estimateItems" data-prototype="{{ form_widget(form.estimateItems.vars.prototype)|e }}">
                        {% for estimateItem in form.estimateItems %}
                            <div class="estimate-item">
                                {{ form_errors(estimateItem) }}
                                {{ form_widget(estimateItem) }}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#" class="btn btn-primary pull-right" id="addNewEstimateItem">Add new</a>
                </div>
            </div>
        </div>

        {% if form.contacts is defined %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#contactForm">Contacts</a></h4>
            </div>
            <div id="contactForm" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div>
                        {{ form_row(form.contacts) }}
                    </div>
                    <div class="newContacts" data-prototype="{{ form_widget(form.newContacts.vars.prototype)|e }}">
                        {% for contact in form.newContacts %}
                            <div class="contact-item">
                                {{ form_errors(contact) }}
                                {{ form_widget(contact) }}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#" id="addNewContact" class="btn btn-primary" style="margin-bottom: 10px;">Add a contact</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="hidden-form-field">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    let labourRate = {{ estimate.customer.labourRate ?? 'null' }};
    let searchList = "";
    let itemData   = {};
    let jobId      = {{ estimate.job.id ?? 'null' }};

    $(function(){
        {% if form.job is defined %}
            getJobs();
        {% endif %}

        {% if form.contacts is defined %}
            getContacts();
        {% endif %}

        {% if estimate.id %}
            {% for estimateStock in estimate.estimateStocks %}
                itemPrice       = '{{ estimateStock.supplierStock.issuePrice|raw }}';
                count           = {{loop.index}};
                index           = count - 1;
                itemData[index] = itemPrice;
                $('#estimate_form_estimateStocks_'+index+'_price').val(itemPrice);
            {% endfor %}
        {% endif %}
    });

    {% if form.estimateItems is defined %}
        var $estimateItemCollectionHolder = $('div.estimateItems');
        var estimateItemsCount            = {{ form.estimateItems|length }} ;
        var estimateItemsIndex            = estimateItemsCount - 1;
        var itemsFormIndex                = 0;

        $estimateItemCollectionHolder.find('div.estimate-item').each(function() {
            $ele = $(this);
            editEstimateItemFormFields($ele, 'SpecialistItem', itemsFormIndex);
            estimateItemAddDeleteLink($ele);
            $ele.find('.editSpecialistItem').hide();
            bindSpecialistItems($ele);
            $ele.find('.saveSpecialistItem').trigger('click');
            itemsFormIndex++;
        });

        function editEstimateItemFormFields($ele, type, index) {
            var $editFormFields = '<div class="form-group newItemText hidden-form-field"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPartNumText hidden-form-field"><label class="col-sm-3 control-label">Part Number</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newUnitCostText hidden-form-field"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group itemCost hidden-form-field"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static">£' + index + '</p></div><div class="form-group newPriceText hidden-form-field"><label class="col-sm-3 control-label">Item total</label><p class="col-sm-9 form-control-static"></p></div><a href="#" class="btn btn-primary btn-xs saveSpecialistItem" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs editSpecialistItem" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
            $ele.append($editFormFields);
            $('#estimate_form_estimateItems_'+index+'_receivedDate').closest('div').parent().hide();
        }

        $('#addNewEstimateItem').click(function(e) {
            e.preventDefault();
            estimateItemsCount++;
            estimateItemsIndex++;

            var estimateItemNewItem = $estimateItemCollectionHolder.data('prototype');
            estimateItemNewItem     = estimateItemNewItem.replace(/__name__/g, estimateItemsIndex);

            textDivs = '<div class="form-group newItemText hidden-form-field"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPartNumText hidden-form-field"><label class="col-sm-3 control-label">Part Number</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newUnitCostText hidden-form-field"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newPriceText hidden-form-field"><label class="col-sm-3 control-label">Total cost</label><p class="col-sm-9 form-control-static"></p></div>';
            estimateItemNewItem     += textDivs;
            var $estimateItemNewDiv = $('<div class="estimate-item"></div>').html(estimateItemNewItem);

            $estimateItemNewDiv.appendTo($estimateItemCollectionHolder);
            $('#estimate_form_estimateItems_'+estimateItemsIndex+'_item').val('');
            $('#estimate_form_estimateItems_'+estimateItemsIndex+'_price').val('0.00');
            $('#estimate_form_estimateItems_'+estimateItemsIndex+'_receivedDate').closest('div').parent().hide();
            $('#estimate_form_estimateItems_'+estimateItemsIndex+'_images').parent().parent().hide();

            addSaveEditButtons($estimateItemNewDiv, 'SpecialistItem', estimateItemsIndex);
            $estimateItemNewDiv.find('.editSpecialistItem').hide();
            estimateItemAddDeleteLink($estimateItemNewDiv);
            bindestimateItemNewItems();
            $('#estimate_form_estimateItems_'+estimateItemsIndex+'_item').focus();
            bindSpecialistItems($estimateItemNewDiv);
        });

        function estimateItemAddDeleteLink($div) {
            var $removeLink = $('<a href="#" class="btn btn-danger btn-xs removeSelectedBtn" style="margin-bottom: 10px;">Remove</a>');
            $div.append($removeLink);

            $removeLink.on('click', function(e) {
                e.preventDefault();
                $div.remove();
                estimateItemsCount--;
                calcPrice();
            });
        }

        function bindSpecialistItems($ele) {
            $ele.find('.saveSpecialistItem').on('click', function(){
                $ele          = $(this);
                var index     = $ele.data('index');
                var item      = $('#estimate_form_estimateItems_'+index+'_item').val()
                var price     = $('#estimate_form_estimateItems_'+index+'_price').val()
                var quantity  = $('#estimate_form_estimateItems_'+index+'_quantity').val()
                var partNum   = $('#estimate_form_estimateItems_'+index+'_partNumber').val()
                var itemTotal = roundPrice(quantity * price);

                $ele.parent().find('.newItemText p').html(item)
                $ele.parent().find('.newPriceText p').html('£'+itemTotal);
                $ele.parent().find('.newUnitCostText p').html('£'+price);
                $ele.parent().find('.newQuantityText p').html(quantity)
                $ele.parent().find('.newPartNumText p').html(partNum)
                $ele.parent().find('.newItemText').show()
                $ele.parent().find('.newUnitCostText').show()
                $ele.parent().find('.newPriceText').show()
                $ele.parent().find('.newQuantityText').show()
                $ele.parent().find('.newPartNumText').show()
                $('#estimate_form_estimateItems_'+index).hide();
                $ele.parent().find('.editSpecialistItem').show();
                $ele.hide();
                calcPrice();
            })

            $ele.find('.editSpecialistItem').on('click', function(){
                $ele      = $(this);
                var index = $ele.data('index');

                $ele.parent().find('.newItemText').hide()
                $ele.parent().find('.newUnitCostText').hide()
                $ele.parent().find('.newPriceText').hide()
                $ele.parent().find('.newQuantityText').hide()
                $ele.parent().find('.newPartNumText').hide()
                $('#estimate_form_estimateItems_'+index).show();
                $ele.parent().find('.saveSpecialistItem').show();
                $ele.hide();
                calcPrice();
            })
        }
    {% endif %}

    {% if form.estimateStocks is defined %}
        var $estimateStockCollectionHolder = $('div.estimateStocks');
        var estimateStocksCount            = {{ form.estimateStocks|length }} ;
        var estimateStocksIndex            = estimateStocksCount - 1;
        var formIndex                      = 0;

        $estimateStockCollectionHolder.find('div.estimate-stock').each(function() {
            $ele         = $(this);
            var unitCost = itemData[formIndex];

            editStockItemFormFields($ele, 'StockItem', formIndex, unitCost);
            estimateStockAddDeleteLink($ele);
            $ele.find('.editStockItem').hide();
            bindStockItems($ele);

            description = $ele.data('description');
            unitCost = $('#estimate_form_estimateStocks_'+formIndex+'_price').val();

            $ele.find('.itemDescription p').html(description).show();
            $ele.find('.itemDescription').show();
            $ele.find('.unitCost p').html(unitCost).show();
            $ele.find('.unitCost').show();
            $ele.find('.saveStockItem').trigger('click');
            formIndex++;
        });

        function editStockItemFormFields($ele, type, index, unitCost) {
            var $descriptionField = '<div class="form-group itemDescription hidden-form-field"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group itemCost"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static">£'+unitCost+'</p></div>';
            $ele.prepend($descriptionField);

            var $otherFields = '<div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTotalPriceText hidden-form-field"><label class="col-sm-3 control-label">Total cost</label><p class="col-sm-9 form-control-static"></p></div><a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
            $ele.append($otherFields);
        }

        function bindAddButtons($ele) {
            $('.addBtn').click(function(e) {
                e.preventDefault();

                estimateStocksCount++;
                estimateStocksIndex++;

                $newEstimateStockTr         = $(this).closest('tr');
                newEstimateStockId          = $newEstimateStockTr.find('td:first-child').data('id');
                newEstimateStockDescription = $newEstimateStockTr.find('td:first-child').data('description');
                newEstimateStockListPrice   = $newEstimateStockTr.find('td:first-child').data('listprice');
                newEstimateStockCode        = $newEstimateStockTr.find('td:first-child').data('code');

                var newEstimateStockItem = $estimateStockCollectionHolder.data('prototype');
                newEstimateStockItem     = newEstimateStockItem.replace(/__name__/g, estimateStocksIndex);

                textDivs = '<div class="form-group newQuantityText hidden-form-field"><label class="col-sm-3 control-label">Quantity</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTotalPriceText hidden-form-field"><label class="col-sm-3 control-label">Total cost</label><p class="col-sm-9 form-control-static"></p></div>';

                newEstimateStockItem        += textDivs;

                var $newEstimateStockDiv    = $('<div class="estimate-stock"></div>').html(newEstimateStockItem);
                $newEstimateStockDiv.prepend('<div class="form-group itemCost"><label class="col-sm-3 control-label">Price</label><p class="col-sm-9 form-control-static">£' + newEstimateStockListPrice + '</p></div>');
                $newEstimateStockDiv.prepend('<div class="form-group itemDescription"><label class="col-sm-3 control-label">Item</label><p class="col-sm-9 form-control-static">' + newEstimateStockCode + ' - ' + newEstimateStockDescription + '</p></div>');

                $newEstimateStockDiv.appendTo($estimateStockCollectionHolder);

                $('#estimate_form_estimateStocks_'+estimateStocksIndex+'_supplierStock').val(newEstimateStockId);
                $('#estimate_form_estimateStocks_'+estimateStocksIndex+'_price').val(newEstimateStockListPrice);
                $('#estimate_form_estimateStocks_'+estimateStocksIndex+'_price').closest('div').parent().parent().hide();

                addSaveEditButtons($newEstimateStockDiv, 'StockItem', estimateStocksIndex);
                $newEstimateStockDiv.find('.editStockItem').hide();
                estimateStockAddDeleteLink($newEstimateStockDiv);
                removeItemFromSearchList(newEstimateStockCode);

                $assignStockResultContainer.empty();
                $('#_search').val('');
                $('#_search').focus();

                bindestimateItemNewItems();
                calcPrice();
                bindStockItems($newEstimateStockDiv);

                $('#estimate_form_estimateStocks_'+estimateStocksIndex+'_quantity').change(function() {
                    calcPrice();
                });
            });
        }

        function estimateStockAddDeleteLink($div) {
            var $removeLink = $('<a href="#" class="btn btn-danger btn-xs removeSelectedBtn" style="margin-bottom: 10px;">Remove</a>');
            $div.append($removeLink);

            $removeLink.on('click', function(e) {
                e.preventDefault();
                $div.remove();
                estimateStocksCount--;
                calcPrice();
            });
        }

        function bindestimateItemNewItems() {
            $('.qty').on('change blur', function(){
                calcPrice();
            })

            $('.price').on('change blur', function(){
                calcPrice();
            })
        }

        function bindStockItems($ele) {

            $ele.find('.saveStockItem').on('click', function(){
                $ele          = $(this);
                var index     = $ele.data('index');
                var quantity  = $('#estimate_form_estimateStocks_'+index+'_quantity').val();
                var price     = $('#estimate_form_estimateStocks_'+index+'_price').val();
                var totalCost = roundPrice(quantity * price);

                $ele.parent().find('.newQuantityText p').html(quantity);
                $ele.parent().find('.newQuantityText').show();
                $ele.parent().find('.itemCost p').html('£' + price);
                $ele.parent().find('.newTotalPriceText p').html('£' + totalCost);
                $ele.parent().find('.newTotalPriceText').show();
                $('#estimate_form_estimateStocks_'+index).hide();
                $ele.parent().find('.editStockItem').show();
                $ele.hide();
                calcPrice();
            })

            $ele.find('.editStockItem').on('click', function(){
                $ele          = $(this);
                var index     = $ele.data('index');
                var quantity  = $('#estimate_form_estimateStocks_'+index+'_quantity').val();
                var price     = $('#estimate_form_estimateStocks_'+index+'_price').val();
                var totalCost = roundPrice(quantity * price);

                $ele.parent().find('.newQuantityText').hide();
                $ele.parent().find('.newTotalPriceText').hide();
                $('#estimate_form_estimateStocks_'+index).show();
                $('#estimate_form_estimateStocks_'+index+'_price').parent().parent().parent().hide()
                $ele.parent().find('.saveStockItem').show();
                $ele.hide();
                calcPrice();
            })
        }

        var $assignStockResultContainer = $('#search-results');

        $('#_search').keyup(throttle(function (event) {
            var $ele       = $(this);
            var searchTerm = $ele.val();
            var terms = [searchTerm];

            if (event.which == "38" || event.which == "40") {
                return false;
            };

            $assignStockResultContainer.empty();
            searchList = null;

            if (searchTerm.length > 2) {
                $assignStockResultContainer.prepend('<tr><td><img src="/images/ajax-loader.gif"><strong>  Searching...</strong></td></tr>')
                $.ajax({
                    url: "{{ path('supplier_stock_search') }}",
                    type: 'post',
                    data: JSON.stringify(terms),
                    dataType: 'json',
                    success: function(data) {
                        if (data.searchTerm == searchTerm) {
                            searchList = data.items;
                        };

                        fleetmanagerSearch(searchTerm, searchList, $assignStockResultContainer, 'stockForEstimate');
                        bindAddButtons();
                    }
                })
            } else {
                $assignStockResultContainer.prepend('<tr><td><strong>  Search terms need at least 3 characters to begin searching...</strong></td></tr>')
            }
        }, 250));
    {% endif %}

    $('#estimate_form_labourTime_hour').on('change', function(){
        calcPrice();
    })
    $('#estimate_form_labourTime_minute').on('change', function(){
        calcPrice();
    })
    $('#estimate_form_travelTime_hour').on('change', function(){
        calcPrice();
    })
    $('#estimate_form_travelTime_minute').on('change', function(){
        calcPrice();
    })

    function roundPrice(price) {
        return (Math.round((price + 0.00001) * 100) / 100).toFixed(2); // workaround for floating point weirdness in JS
    }

    function calcPrice() {
        travelTimeHour   = $('#estimate_form_travelTime_hour').val();
        travelTimeMinute = $('#estimate_form_travelTime_minute').val();
        labourTimeHour   = $('#estimate_form_labourTime_hour').val();
        labourTimeMinute = $('#estimate_form_labourTime_minute').val();
        labourCost       = labourRate * labourTimeHour + ( labourRate * labourTimeMinute / 60);
        travelCost       = labourRate * travelTimeHour + ( labourRate * travelTimeMinute / 60);
        partsCost        = 0.00;

        //items in stock
        estimateStockPricesTotal = 0;
        for (i=0; i < estimateStocksCount; i++){
            estimateStockPrice       = $('#estimate_form_estimateStocks_'+i+'_price').val();
            if (estimateStockPrice == null ) break;
            estimateStockQty         = $('#estimate_form_estimateStocks_'+i+'_quantity').val();
            estimateStockTotal       = estimateStockPrice * estimateStockQty;
            estimateStockPricesTotal += estimateStockTotal;
        }

        //specialist Items
        estimateItemPricesTotal = 0;
        for (i=0; i < estimateItemsCount; i++){
            estimateItemPrice       = $('#estimate_form_estimateItems_'+i+'_price').val();
            if (estimateItemPrice == '' ) break;
            estimateItemQty         = $('#estimate_form_estimateItems_'+i+'_quantity').val();
            estimateItemTotal       = estimateItemPrice * estimateItemQty;
            estimateItemPricesTotal += estimateItemTotal;
        }
        partsCost = estimateItemPricesTotal + estimateStockPricesTotal;
        totalCost = roundPrice(labourCost + travelCost + partsCost);

        $('#estimate_form_totalPrice').val(totalCost);
        $('#estimate_form_partsPrice').val(partsCost);
        $('#estimate_form_labourPrice').val(labourCost + travelCost);
    }

    $('#estimate_form_customer').on('change', function(){
        getJobs();
        getContacts();
    });

    $('#estimate_form_job').on('change', function(){
        getContacts();
    });

    function getJobs() {
        var customer        = $("#estimate_form_customer :selected").val();
        var selectContainer = $('#estimate_form_job');

        $('#estimate_form_job').empty();
        $.ajax({
            url: "{{ path('get_jobs_for_customer') }}/" + customer,
            type: 'post',
            success: function (data) {
                jobs            = data['jobs'];
                selectContainer.empty();
                selectContainer.append('<option value="" data-labourRate="">None</option>');

                for (var i = 0; i < jobs.length; i++) {
                     selectContainer.append('<option value="' + jobs[i]['id'] + '" data-labourRate="' + data['labourRate'] +'">' + jobs[i]['jobCode'] + ' - ' + jobs[i]['name'] +'</option>');
                };

                if (jobId && $('#estimate_form_job option[value="'+jobId+'"]').length > 0) {
                    $('#estimate_form_job').val(jobId);
                }

                labourRate = data.labourRate;
                calcPrice();
            }
        });
    }

    function removeItemFromSearchList(itemCode) {
        for (var i = 0 ; i < searchList.length ; i++) {
            if (searchList[i] == null ) continue;
            if (searchList[i]['code'] == itemCode) {
                searchList[i] = null;
                break;
            }
        };
    }

    function addSaveEditButtons($ele, type, index) {
        var $saveEdit = '<a href="#" class="btn btn-primary btn-xs save'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Lock</a><a href="#" class="btn btn-danger btn-xs edit'+type+'" style="margin-bottom: 10px; margin-right: 10px;" data-index="'+index+'">Unlock</a>';
        $ele.append($saveEdit);
    }

    {% if form.contacts is defined %}
        var $contactsCollectionHolder = $('div.newContacts');
        var contactCount      = {{ form.contacts|length }} ;
        var contactIndex      = contactCount - 1;
        var formContactsIndex = contactIndex;

        $contactsCollectionHolder.find('div.contact-item').each(function() {
            $ele = $(this);
            $ele.attr('data-index', formContactsIndex);

            $('#estimate_form_newContacts_'+formContactsIndex+'_customer').parent().parent().hide();
            $('#estimate_form_newContacts_'+formContactsIndex+'_supplier').parent().parent().hide();
            $('#estimate_form_newContacts_'+formContactsIndex+'_newCustomer').parent().parent().hide();

            bindContacts($ele);
            formContactsIndex++;
        });

        $('#addNewContact').click(function(e) {
            e.preventDefault();
            contactCount++;
            contactIndex++;

            var newItem = $contactsCollectionHolder.data('prototype');
            newItem     = newItem.replace(/__name__/g, contactIndex);
            textDivs    = '<div class="form-group newNameText hidden-form-field"><label class="col-sm-3 control-label">Name</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newTelephoneText hidden-form-field"><label class="col-sm-3 control-label">Telephone</label><p class="col-sm-9 form-control-static"></p></div><div class="form-group newEmailText hidden-form-field"><label class="col-sm-3 control-label">Email</label><p class="col-sm-9 form-control-static"></p></div>';
            newItem     += textDivs;
            var $newDiv = $('<div class="contact-item" data-index="'+contactIndex+'"></div></div>').html(newItem);
            $newDiv.appendTo($contactsCollectionHolder);
            $('#estimate_form_newContacts_'+contactIndex+'_customer').parent().parent().hide();
            $('#estimate_form_newContacts_'+contactIndex+'_supplier').parent().parent().hide();
            $('#estimate_form_newContacts_'+contactIndex+'_newCustomer').parent().parent().hide();
            $('#estimate_form_newContacts_'+contactIndex+'_name').focus();
            $('#no-contacts').parent().parent().parent().hide();
            bindContacts($newDiv);
        });

        function bindContacts($ele) {
            var $formFields = $('.contact-form-fields', $ele);
            var $staticFields = $('.contact-item-static', $ele);

            var $saveBtn = $('.save-contact', $ele);
            var $editBtn = $('.edit-contact', $ele);
            var $removeBtn = $('.remove-contact', $ele);

            $saveBtn.on('click', function(){
                var $name      = $('.contact-name', $ele);
                var $telephone = $('.contact-telephone', $ele);
                var $email     = $('.contact-email', $ele);

                $name.closest('.form-group').removeClass('has-error');

                if ($name.val() == '') {
                    $name.closest('.form-group').addClass('has-error');
                    $name.attr('placeholder', 'Enter a name...')
                    return false;
                };

                $staticFields.find('.contact-name').html($name.val());
                $staticFields.find('.contact-tel').html($telephone.val());
                $staticFields.find('.contact-email').html($email.val());

                $staticFields.show();
                $formFields.hide();

                $editBtn.show();
                $saveBtn.hide();
            })

            $editBtn.on('click', function(){
                $staticFields.hide();
                $formFields.show();

                $editBtn.hide();
                $saveBtn.show();
            });

            $removeBtn.on('click', function(e) {
                e.preventDefault();
                $ele.remove();
                contactCount--;
            });
        }

        function getContacts() {
            var customer        = $("#estimate_form_customer :selected").val();
            jobId               = $('#estimate_form_job').val();
            var selectContainer = $('#estimate_form_contacts');
            if (!customer) {
                selectContainer.empty();
                selectContainer.append('<div id="no-contacts" class="form-control-static">No contacts.</div>');
                return false;
            }

            if (jobId ==  undefined || jobId == null) {
                $.ajax({
                    url: "{{ path('get_contacts_for_customer') }}/" + customer,
                    type: 'get',
                    success: function (data) {
                        contacts = data['contacts'];
                        selectContainer.empty();

                        if (contacts.length == 0) {
                            selectContainer.append('<div id="no-contacts" class="form-control-static">No contacts.</div>');
                            return;
                        }

                        selectContainer.empty();
                        for (var i = 0; i < contacts.length; i++) {
                             selectContainer.append('<div class="checkbox"><input type="checkbox" id="estimate_contacts_'+i+'" name="estimate_form[contacts][]" value="' + contacts[i]['id'] + '">' + contacts[i]['name'] + '</input></div>');
                        }
                    }
                });
            } else {
                $.ajax({
                    url: "{{ path('get_contacts_for_job') }}/" + jobId,
                    type: 'get',
                    success: function (data) {
                        contacts        = data['contacts'];
                        selectContainer =  $('#estimate_form_contacts');
                        selectContainer.empty();

                        if (contacts.length == 0) {
                            selectContainer.append('<div class="form-control-static">No contacts.</div>');
                            return;
                        }

                        selectContainer.empty();
                        for (var i = 0; i < contacts.length; i++) {
                             selectContainer.append('<div class="checkbox"><input type="checkbox" id="estimate_contacts_'+i+'" name="estimate_form[contacts][]" value="' + contacts[i]['id'] + '">' + contacts[i]['name'] + '</input></div>');
                        }
                    }
                });
            }
        }

        $('form').on('submit', function(e){
            $('.contact-item').each(function(){
                var $ele = $(this);
                var index = $ele.data('index');
                var name = $('#estimate_form_newContacts_'+index+'_name').val();

                if (name == '') {
                    e.preventDefault();
                    $('#estimate_form_newContacts_'+index+'_name').closest('.form-group').addClass('has-error');
                    $('#estimate_form_newContacts_'+index+'_name').attr('placeholder', 'Enter a name...')
                    return false;
                };

            })
        });
    {% endif %}
</script>
