<div class="modal" id="rejected-estimate-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="rejected-estimate-form-modal-label"><span class="form-modal-title">Estimate was unsuccessful</span></h2>
            </div>
            <div class="modal-body">
                <div class="rejected-estimate-form-holder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var $rejectedEstimateModal   = $('#rejected-estimate-modal');
    var $rejectedEstimateWrapper = $rejectedEstimateModal.find('.rejected-estimate-form-holder');
    var $rejectedEstimateFooter  = $rejectedEstimateModal.find('.modal-footer');
    var reloadPage               = false;

    $rejectedEstimateModal.on('hide.bs.modal', function (e) {
        $rejectedEstimateWrapper.html('');

        if (reloadPage) {
            location.reload(true);
        }

        $rejectedEstimateModal.find('.modal-form-submit').remove();
    });

    $rejectedEstimateModal.on('show.bs.modal', function (e) {
        completerejectedEstimateLoadform(e);
    });

    function completerejectedEstimateLoadform(e) {
        $.get('{{ path('estimate_rejection_reason', { 'id': estimate.id }) }}', function(data) {
            if (data.displayForm) {
                $rejectedEstimateWrapper.html(data.html);
                $rejectedEstimateModal.find('[autofocus]:first').focus();
                $rejectedEstimateFooter.prepend('<button type="button" class="btn btn-primary modal-form-submit" data-loading-text="Saving...">Save</button>');
                completerejectedEstimateBindForm();
            }
        });
    }

    function completerejectedEstimateBindForm() {
        var $form   = $rejectedEstimateWrapper.find('form');
        var $button = $rejectedEstimateFooter.find('.modal-form-submit');
        $form.find('.datepicker').datetimepicker({
            pickTime: false
        });

        $form.find('.datetimepicker').datetimepicker();

        $button.unbind('click');
        $button.click(function() {
            $form.submit();
        });

        $form.ajaxForm({
            dataType: 'json',
            beforeSubmit: function(arr, $form) {
                $button.button('loading');
            },
            success: function(response, statusText, xhr, $form) {
                if (response.displayForm) {
                    $rejectedEstimateWrapper.html(response.html);
                    $button.button('reset');
                    $rejectedEstimateModal.find('[autofocus]:first').focus();
                    completerejectedEstimateBindForm();
                } else {
                    if(response.refresh) {
                        reloadPage = true;
                    }
                    $rejectedEstimateModal.modal('hide');
                }
            },
            error: function() {
                growlError('There was an error - the lead was not saved as unsuccessful');
                $button.button('reset');
            }
        });

        listenForFormChanges();
    }
</script>
