<h3>Estimate Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search estimates:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new estimate:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit estimate:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
