{% extends 'layout.html.twig' %}

{% block page_type %}index{% endblock %}

{% block content %}
 <div class="row">
        <div class="col-md-12">
        <h2>Estimate history from {{ start | date('d/n/Y') }} to {{ end | date('d/n/Y') }}</h2>

        <h3>Estimates In: {{ estimatesIn|length }}, Estimates Out: {{ estimatesOut|length }} </h3>
        <hr>

        <h4>Estimates created</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="estimates-created">
                <tr>
                    <th>Customer</th>
                    <th>Job</th>
                    <th>Details</th>
                    <th>Labour Price</th>
                    <th>Parts Price</th>
                    <th>Total Price</th>
                </tr>

                {% if estimatesIn|length > 0 %}
                    {% for estimate in estimatesIn %}
                        <tr>
                            <td>{{ estimate.customer.name }}</td>
                            <td>{{ estimate.job ? estimate.job.jobCode : 'No job' }}</td>
                            <td>{{ estimate.details | default('-') }}</td>
                            <td>£{{ estimate.labourPrice | default('--.--') }}</td>
                            <td>£{{ estimate.partsPrice | default('--.--') }}</td>
                            <td>£{{ estimate.totalPrice | default('--.--') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No new estimates created.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <hr>

        <h4>Estimates completed</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="estimates-completed">
                <tr>
                    <th>Customer</th>
                    <th>Job</th>
                    <th>Details</th>
                    <th>Labour Price</th>
                    <th>Parts Price</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>

                {% if estimatesOut|length > 0 %}
                    {% for estimate in estimatesOut %}
                        <tr>
                            <td>{{ estimate.customer.name }}</td>
                            <td>{{ estimate.job ? estimate.job.jobCode : 'No job' }}</td>
                            <td>{{ estimate.details | default('-') }}</td>
                            <td>£{{ estimate.labourPrice | default('--.--') }}</td>
                            <td>£{{ estimate.partsPrice | default('--.--') }}</td>
                            <td>£{{ estimate.totalPrice | default('--.--') }}</td>
                            {% if estimate.accepted == 1 %}
                                <td>Accepted</td>
                            {% elseif estimate.rejected == 1 %}
                                <td>Rejected</td>
                            {% else %}
                                <td>Unknown</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">No new estimates completed.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
