{% extends 'layout.html.twig' %}

{% block search_category %}estimate{% endblock %}
{% block page_type %}estimate{% endblock %}
{% block title %}Estimates{% endblock %}
{% block page_shortcuts %}{% include 'Estimate/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title filter-toggle">Estimate<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item">New</a></h1>
            <div class="waterfall" id="estimate-filter">

                {% include 'Estimate/_estimateFilterPanel.html.twig' with { 'panelNumber': 1, 'panelTitle': 'Pending', 'estimates': estimates, 'priorities': priorities } %}
                {% include 'Estimate/_estimateFilterPanel.html.twig' with { 'panelNumber': 2, 'panelTitle': 'Issued', 'estimates': estimates, 'priorities': priorities } %}
                {% include 'Estimate/_estimateFilterPanel.html.twig' with { 'panelNumber': 3, 'panelTitle': 'Awaiting Reply', 'estimates': estimates, 'priorities': priorities } %}
                {% include 'Estimate/_estimateFilterPanel.html.twig' with { 'panelNumber': 4, 'panelTitle': 'Rejected', 'estimates': estimates, 'priorities': priorities } %}
                {% include 'Estimate/_estimateFilterPanel.html.twig' with { 'panelNumber': 5, 'panelTitle': 'Approved', 'estimates': estimates, 'priorities': priorities } %}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="estimate-particulars"></div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'estimate', modalTitle: 'Estimate', modalNewRoute: path('new_estimate'), modalEditRoute: path('edit_estimate') } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="/js/waterfall-navigation.js"></script>
<script type="text/javascript">

$('[data-type="estimate"] .panel-link:first').focus();

function loadEstimate(id) {
    $('#estimate-particulars').load('{{ path('get_estimate_particulars') }}/' + id);

    $(document).on('keypress', null, 'e', function() {
            $('#editEstimate').trigger('click');
    });
}

$('[data-type="estimate"] .panel-item.panel-link').on('click', function() {
    var $clickedElement = $(this);

    $('[data-type="estimate"] .panel-link').removeClass('active selected');
    $clickedElement.addClass('active selected');

    var estimateId = $clickedElement['0'].dataset.id;
    loadEstimate(estimateId);
});

$(function() {
    $('.panel-link[data-row="1"][data-column="1"]').focus();
    $('.panel-link[data-row="1"][data-column="1"]').addClass('selected');
});

</script>
{% endblock %}

