<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Estimate Particulars</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">
                            {{ estimate.code
                             }} - {{ estimate.customer.name }}

                            {% if is_granted('ROLE_SERVICE_ADMIN') %}
                                <a class="btn btn-primary pull-right item-actions" data-edit-id="{{ estimate.id }}" id="editEstimate" href="javascript:void(0);">Edit</a>
                            {% endif %}

                            <a class="btn btn-primary pull-right" href="{{ path('view_estimate', {'id': estimate.id }) }}" style="margin-left: 10%; margin-right: 5px;">View</a>

                            {% if is_granted('ROLE_SERVICE_ADMIN') and estimate.completionStage == 1 %}
                                <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm sending of estimate to client." data-href="{{ path('issue_estimate_email') }}/{{ estimate.id }}" href="#">Issue estimate</a>
                            {% endif %}

                            {% if estimate.accepted and estimate.job is null %}
                                <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm job creation from estimate." data-href="{{ path('create_job_from_estimate') }}/{{ estimate.id }}" href="#">Create job from estimate</a>
                            {% endif %}

                            {% if not estimate.accepted and not estimate.rejected and estimate.completionStage > 1 %}
                                <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm acceptance of estimate." data-href="{{ path('accept_estimate') }}/{{ estimate.id }}" href="#">Accept</a>
                                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#rejected-estimate-modal" href="#">Reject</a>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Customer</th><td>{{ estimate.customer.name | default('--') }}</td>
                        <th>Awaiting response</th><td>{{ estimate.awaitingResponse ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Estimate setails</th><td>{{ estimate.details | default('--') }}</td>
                        <th>Accepted</th><td>{{ estimate.accepted ? 'Yes' : 'No' }}</td>

                    </tr>
                    <tr>
                        <th>Estimate price</th><td>£{{ estimate.totalPrice | default ('--.--')}}</td>
                        <th>Rejected</th><td>{{ estimate.rejected ? 'Yes' : 'No' }}{{ estimate.unsuccessfulReason ? ', ' ~ estimate.unsuccessfulReason : '' }}</td>
                    </tr>
                    <tr>
                        <th>Labour sime</th><td id="labourTime">{{ estimate.labourTime }}</td>
                        <th>Queried</th><td>{{ estimate.queried ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Travel time</th><td id="travelTime">{{ estimate.travelTime }}</td>
                        <th>Latest Query</th><td>{{ estimate.queryText }}</td>
                    </tr>
                    <tr>
                        <th>Labour and Time Cost</th><td id="labourTimeCost">£{{ estimate.labourPrice | default ('--.--') }}</td>
                        <th></th><td></td>
                    </tr>
                    <tr>
                        <th>Parts cost</th><td id="partsCost">£{{ estimate.partsPrice | default ('--.--')}}</td>
                        <th></th><td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Required Items</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% if estimate.estimateStocks %}
                        <tr>
                            {% for estimateStock in estimate.estimateStocks %}
                                <tr>
                                    <td>{{ estimateStock.supplierStock.getDisplayString }} {{ estimateStock.supplierStock.stock.replacedBy ? '(Replaced by "' ~ estimateStock.supplierStock.stock.getNewestReplacementPart ~ '")' : '' }}</td>
                                    <td>{{ estimateStock.quantity }}</td>
                                    <td>£{{ estimateStock.supplierStock.issuePrice }}</td>
                                </tr>
                            {% endfor %}
                        </tr>
                    {% endif %}

                    {% if estimate.estimateItems %}
                        <tr>
                            {% for estimateItem in estimate.estimateItems %}
                                <tr>
                                    <td>{{ estimateItem.item | default('--') }}{{ estimateItem.partNumber ? ', ' ~ estimateItem.partNumber : '' }}</td>
                                    <td>{{ estimateItem.quantity }}</td>
                                    <td>£{{ estimateItem.price }}</td>
                                </tr>
                            {% endfor %}
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row particulars-section" id="contacts">
    <div class="col-md-12">
        <h2 class="page-title">
            Contacts
            <a class="btn btn-success btn-xs pull-right" href="#" id="newContact">New</a>
        </h2>
        <ul>
            {% for contact in estimate.contacts %}
                <li>
                    <a href="{{ path('view_contact', { 'id': contact.id }) }}">{{ contact.name }}</a>
                    {{ contact.jobTitle  ? ', ' ~ contact.jobTitle : '' }}
                    {{ contact.telephone ? ', ' ~ contact.telephone : '' }}
                    {{ contact.mobile    ? ', ' ~ contact.mobile : '' }}
                    {{ contact.email     ? ', ' ~ contact.email : '' }}
                </li>
            {% else %}
                <li>None</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
    {% include '_formModal.html.twig' with { modalType: 'estimate', modalTitle: 'Estimate', modalNewRoute: path('new_estimate'), modalEditRoute: path('edit_estimate') } %}
    {% include 'Estimate/_rejectedEstimateReasonModal.html.twig' %}
{% endif %}


<script type="text/javascript">

$(function(){
    minToReadableTime($('#travelTime'));
    minToReadableTime($('#labourTime'));
});


function minToReadableTime($ele) {
    totalMinutes = $ele.text();
    hours        = Math.floor(parseInt(totalMinutes) / 60);
    minutes      = parseInt(totalMinutes) % 60;

    if (isNaN(hours)) {
        hours = 0;
    }

    if (isNaN(minutes)) {
        minutes = 0;
    }

    $ele.text(hours + 'hr ' + minutes + 'm');
}

</script>
