{% extends 'layout.html.twig' %}

{% block page_type %}estimate{% endblock %}
{% block title %}Estimate reports{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="page-title option-title" id="title-section">
            <h1><span class="icomoon-report icomoon-inline"></span>Estimate reports</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Estimates in Vs Estimates out</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="start_date">Start date</label>
                            <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD" id="start_date">
                        </div>
                        <div class="form-group">
                            <label for="end_date">End date</label>
                            <input type="text" class="form-control datepicker" data-date-format="YYYY-MM-DD" id="end_date">
                        </div>
                        <p class="help-block">Select a start and end date for the report duration.</p>
                        <a href="#" class="btn btn-primary" id="estimatesInVsOut">Create report</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

$('#estimatesInVsOut').on('click', function(){
    var start = $('#start_date').val();
    var end   = $('#end_date').val();

    if (!start || !end) {
        return;
    }

    var url   = "{{ path('estimates_in_vs_out')}}/" + start + "/" + end;
    window.location.href = url;
})

</script>
{% endblock %}
