{% extends 'layout.html.twig' %}

{% set isAdmin = is_granted('ROLE_SERVICE_ADMIN') %}

{% block search_category %}estimate{% endblock %}
{% block page_type %}estimate{% endblock %}
{% block title %}{{ estimate.id }}{% endblock %}
{% block page_shortcuts %}{% include 'Estimate/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title" id="top">
                <h1><span class="icomoon-estimate icomoon-inline"></span>{{ estimate.customer.name}} - {{ estimate.id }}</h1>

                {% if isAdmin and estimate.completionStage == 1 %}
                    <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm sending of estimate to client." data-href="{{ path('issue_estimate_email') }}/{{ estimate.id }}" href="#">Issue estimate</a>
                {% endif %}

                {% if not estimate.accepted and not estimate.rejected and estimate.completionStage > 1  %}
                    <a class="btn btn-success" data-toggle="modal" data-target="#confirm-modal" data-message="Confirm acceptance of estimate." data-href="{{ path('accept_estimate') }}/{{ estimate.id }}" href="#">Accept</a>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#rejected-estimate-modal" href="#">Reject</a>
                {% endif %}

                {% if isAdmin %}
                    <div class="pull-right item-actions">
                        <a class="btn btn-primary" data-edit-id="{{ estimate.id }}" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_estimate') }}/{{ estimate.id }}" href="#">Delete</a>
                    </div>
                {% endif %}

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="description-section" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">

                            <dt>Customer:</dt>
                            <dd>{{ estimate.customer.name | default('--') }}</dd>

                            <dt>Details:</dt>
                            <dd>{{ estimate.details | default('--') }}</dd>

                            <dt>Total price:</dt>
                            <dd>£{{ estimate.totalPrice | default('--') }}</dd>

                            <dt>Labour time:</dt>
                            <dd id="labourTime">{{ estimate.labourTime | default('0h 0m') }}</dd>

                            <dt>Travel time:</dt>
                            <dd id="travelTime">{{ estimate.travelTime | default('0h 0m') }}</dd>

                            <dt>Labour and Travel:</dt>
                            <dd>£{{ estimate.labourPrice | default('--') }}</dd>

                            <dt>Parts:</dt>
                            <dd>£{{ estimate.partsPrice | default('--') }}</dd>

                            <dt>Status:</dt>
                            {% if estimate.accepted %}
                                <dd>Accepted</dd>
                            {% elseif estimate.rejected %}
                                <dd>Rejected{{ estimate.unsuccessfulReason ? ', ' ~ estimate.unsuccessfulReason : '' }}</dd>
                            {% else %}
                                <dd>Pending</dd>
                            {% endif %}

                            {% for contact in estimate.contacts %}
                                <dt>Contact {{ loop.index }}:</dt>
                                <dd>
                                    <i>{{ (contact.contactString | default('--'))|nl2br }}</i>
                                </dd>
                            {% endfor %}

                        </dl>
                    </div>
                </div>

                {% if isAdmin %}
                    <div id="misc-section" class="information-section col-md-4 col-sm-12">
                        {% include '_itemMisc.html.twig' %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="spacer"></div>

                <div id="particulars" class="information-section col-md-6 col-sm-12">
                    <div id="particulars-module_heading" class="section-header">
                        <h2>Estimate Particulars</h2>
                    </div>

                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr><th>Customer</th>
                                <td>{{ estimate.customer.name | default('--') }}</td></tr>

                                <tr><th>Queried by customer?</th>
                                <td>{{ estimate.queried ? 'Yes' : 'No' }}</td></tr>

                                {% if estimate.queried %}
                                    <tr><th>Query</th>
                                    <td>{{ estimate.queryText | default('--') }}</td></tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="status" class="information-section col-md-6 col-sm-12">
                    <div id="status-module_heading" class="section-header">
                        <h2>Status</h2>
                    </div>

                    <div class="section-content table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr><th>Awaiting response</th>
                                <td>{{ estimate.awaitingResponse ? 'Yes' : 'No' }}</td></tr>

                                {% if estimate.accepted %}
                                    <tr><th>Accepted</th>
                                    <td>Yes</td></tr>
                                {% elseif estimate.rejected %}
                                    <tr><th>Rejected</th>
                                        <td>Yes{{ estimate.unsuccessfulReason ? ', ' ~ estimate.unsuccessfulReason : '' }}</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if estimate.estimateStocks or estimate.estimateItems %}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">Required Items</h1>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if estimate.estimateStocks %}
                                        <tr>
                                            {% for estimateStock in estimate.estimateStocks %}
                                                <tr>
                                                    {% if estimateStock.supplierStock %}
                                                        <td>{{ estimateStock.supplierStock.getDisplayString }} {{ estimateStock.supplierStock.stock.replacedBy ? '(Replaced by "' ~ estimateStock.supplierStock.stock.getNewestReplacementPart ~ '")' : '' }}</td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td>{{ estimateStock.quantity }}</td>
                                                    <td>£{{ estimateStock.supplierStock ? estimateStock.supplierStock.issuePrice : '' }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}

                                    {% if estimate.estimateItems %}
                                        <tr>
                                            {% for estimateItem in estimate.estimateItems %}
                                                <tr>
                                                    <td>{{ estimateItem.item | default('--') }}{{ estimateItem.partNumber ? ', ' ~ estimateItem.partNumber : '' }}</td>
                                                    <td>{{ estimateItem.quantity }}</td>
                                                    <td>£{{ estimateItem.price }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div id="negotiations" class="information-section col-md-6 col-sm-12">
                    <div id="negotiation-module_heading" class="section-header">
                        <h2>Estimate Negotiations</h2>
                    </div>

                    <div class="section-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td><strong>Dawson </strong> - <i>Estimate created</i></td></tr>
                                    {% for event in estimate.estimateEvents %}
                                        <tr>
                                            <td>
                                                {% if event.isCustomerQuery %}
                                                    <strong>{{ estimate.customer.name }} ({{ event.user.displayName }})</strong> - <i>"{{ event.customerQuery }}"</i>
                                                {% endif %}

                                                {% if event.isAdminResponse %}
                                                    <strong>Dawson ({{ event.user.displayName }})</strong> - <i>"{{ event.adminResponse }}"</i>
                                                {% endif %}

                                                {% if event.accepted %}
                                                    <strong>{{ estimate.customer.name }} ({{ event.user.displayName }})</strong> - <i>Estimate Accepted</i>
                                                {% endif %}

                                                {% if event.rejected %}
                                                    <strong>{{ estimate.customer.name }} ({{ event.user.displayName }})</strong> - <i>Estimate Rejected</i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                    <tr><th>No estimate negotiations found.</th></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="resonse" class="information-section col-md-6 col-sm-12">
                    <div id="submission-module_heading" class="section-header">
                        {% if is_granted('ROLE_CUSTOMER') %}
                            <h2>Query my estimate</h2>
                        {% else %}
                            <h2>Respond to customer query</h2>
                        {% endif %}
                    </div>

                    {% if is_granted('ROLE_CUSTOMER') %}
                        <div class="col-md-10">
                            <input type="text" id="queryText" placeholder="Enter your query" class="negotiationText form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Query" class="negotiation btn btn-primary">
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_SERVICE_ADMIN') %}
                        <div class="col-md-10">
                            <input type="text" id="responseText" placeholder="Enter your response" class="negotiationText form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Respond" class="negotiation btn btn-primary">
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include '_formModal.html.twig' with { modalType: 'estimate', modalTitle: 'Estimate', modalNewRoute: path('new_estimate'), modalEditRoute: path('edit_estimate') } %}
    {% endif %}
    {% include 'Estimate/_rejectedEstimateReasonModal.html.twig' %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

$(function(){
    minToReadableTime($('#travelTime'));
    minToReadableTime($('#labourTime'));
});

$('.negotiation').on('click', function() {
    var $clickedElement = $(this);
    inputBox  = $('.negotiationText');
    inputText = inputBox.val();

    $.ajax({
        datatype: 'json',
        url: "{{ path('estimate_negotiation') }}/{{ estimate.id }}",
        type: 'post',
        data: JSON.stringify({ inputText: inputText}),
        success: function(data) {
            inputBox.val('');
            window.location.reload();
        }
    });
});

function minToReadableTime($ele) {
    totalMinutes = $ele.text();
    hours   = Math.floor(parseInt(totalMinutes) / 60);
    minutes = parseInt(totalMinutes) % 60;
    if (isNaN(hours)) hours = 0;
    if (isNaN(minutes)) minutes = 0;

    $ele.text(hours + ' hr ' + minutes + 'm');
}

</script>
{% endblock %}
