{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

<div class="panel-group" id="accordion">
    {{ form_start(form, {'action': formRoute~(form.customer is defined ? '?showCustomer=1' : ''), 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default" id="data_particulars">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#attachmentInfo">Data Particulars</a></h4>
            </div>
            <div id="attachmentInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group" id="existingMake">
                        {{ form_label(form.make, null, { 'col': 3 }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.make) }}
                            {{ form_errors(form.make) }}
                        </div>

                        <div class="col-sm-3">
                            <a class="btn btn-primary" id="new-make" href="#">Add New</a>
                        </div>
                    </div>

                    <div id="newMake" class="form-group" style="display:none;">
                        {{ form_label(form.newMake, null, { 'col': 3 }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.newMake) }}
                            {{ form_errors(form.newMake) }}
                        </div>

                        <div class="col-sm-3">
                            <a class="btn btn-danger" id="cancel-new-make">Cancel</a>
                        </div>
                    </div>

                    <div class="form-group" id="existingModel">
                        {{ form_label(form.model, null, { 'col': 3 }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.model) }}
                            {{ form_errors(form.model) }}
                        </div>

                        <div class="col-sm-3">
                            <a class="btn btn-primary" id="new-model" href="#">Add New</a>
                        </div>
                    </div>

                    <div id="newModel" class="form-group" style="display:none;">
                        {{ form_label(form.newModel, null, { 'col': 3 }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.newModel) }}
                            {{ form_errors(form.newModel) }}
                        </div>

                        <div class="col-sm-3">
                            <a class="btn btn-danger" id="cancel-new-model">Cancel</a>
                        </div>
                    </div>
                    {% if form.customer is defined %}
                        {{ form_row(form.customer) }}
                        {{ form_row(form.clientFleet) }}
                    {%  endif %}

                    {{ form_row(form.serial) }}
                    {{ form_row(form.yearOfManufacture) }}
                    {{ form_row(form.type) }}

                    {{ form_row(form.purchasePrice) }}
                    {{ form_row(form.purchasedDate) }}

                    {{ form_row(form.manufacturersWarranty) }}
                    <div id="warranty-duration"{% if not form.manufacturersWarranty.vars.value %} style="display:none;"{% endif %}>{{ form_row(form.manufacturersWarrantyDuration) }}</div>

                    {{ form_row(form.secondLevelManufacturersWarranty) }}
                    <div id="second-warranty-duration"{% if not form.secondLevelManufacturersWarranty.vars.value %} style="display:none;"{% endif %}>{{ form_row(form.secondLevelManufacturersWarrantyDuration) }}</div>
                </div>
            </div>
        </div>

        {% if form.detail is defined %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    </a>
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#attachmentNote" id="attachment_notes_header">Add note</a></h4>
                </div>
                <div id="attachmentNote" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if form.detail is defined %}{{ form_row(form.detail) }}{% endif %}
                        {% if form.date is defined %}{{ form_row(form.date) }}{% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {{ form_widget(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
</div>

<script type="text/javascript">
    $('#new-make').click(toggleMakeFields);
    $('#cancel-new-make').click(toggleMakeFields);

    function toggleMakeFields(e) {
        e.preventDefault();

        var newMakeClicked = !$('#newMake').is(':visible');

        if (newMakeClicked) {
            $('#existingMake').hide();
            $('#newMake').show();
            $('#new-model').click();
            $('#cancel-new-model').attr('disabled', true);
        } else {
            $('#existingMake').show();
            $('#newMake').hide();
            $('#cancel-new-model').attr('disabled', false);
        }

        $('#truck_attachment_make').val('');
        $('#truck_attachment_newMake').empty();
        $('#truck_attachment_model').val('');
        $('#truck_attachment_newModel').empty();
    }

    $('#new-model').click(toggleModelFields);
    $('#cancel-new-model').click(toggleModelFields);

    function toggleModelFields(e) {
        e.preventDefault();
        $('#existingModel').toggle();
        $('#newModel').toggle();
        $('#truck_attachment_newModel').empty();
    }

    updateModelChoices();
    bindReveals();

    $('#truck_attachment_make').change(function() {
        updateModelChoices();
    });

    function updateModelChoices() {
        var $modelSel = $('#truck_attachment_model'),
        make = $('#truck_attachment_make option:selected').text();

        $('span > optgroup', $modelSel).unwrap();

        if ($('optgroup[label="' + make + '"]', $modelSel).length > 0) {
            $('optgroup:not([label="' + make + '"])', $modelSel).wrap('<span/>');
        } else {
            $('optgroup', $modelSel).wrap('<span/>');
        }

        {% if form.data.model | default(null) %}
            if ($('option[value="{{ form.data.model }}"]', $modelSel).length > 0) {
                $modelSel.val('{{ form.data.model }}');
            }
        {% endif %}
    }

    {% if form.customer is not defined %}

    var $transferButton = $('#save-transfer');

    if (!$transferButton.length) {
        $transferButton = $('<button type="button" data-loading-text="Saving..." class="btn btn-default extra-modal-btn" id="save-transfer">Save & Transfer</button>');
        $('.modal-footer', $modal).prepend($transferButton);

        $transferButton.click(function(e) {
            e.preventDefault();
            var $form = $('#form-modal form');
            var oldAction = $form.attr('action');
            var newAction = addQueryParams(oldAction, { assign: 1 });

            $form.attr('action', newAction);

            $form.submit();
        });
    }

    $transferButton.button('reset');
    {% endif %}

</script>
