{% extends 'Asset/particulars.html.twig' %}

{% block assetSpec %}
    <tr>
        <th>Make</th>
        <td>{{ asset.make | default('--') }}</td>
    </tr>

    <tr>
        <th>Model</th>
        <td>{{ asset.model | default('--') }}</td>
    </tr>

    <tr>
        <th>Type</th>
        <td>{{ asset.type | default('--') }}</td>
    </tr>

    <tr>
        <th>Serial</th>
        <td>{{ asset.serial | default('--') }}</td>
    </tr>

    <tr>
        <th>YOM</th>
        <td>{{ asset.yearOfManufacture | default('--') }}</td>
    </tr>
{% endblock %}
