{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

{{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
    {{ form_errors(form, { 'attr': { 'autofocus': 1 } }) }}
    {{ form_row(form.username) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.costMultiplier) }}
{{ form_end(form) }}

