{% extends 'layout.html.twig' %}
{% form_theme form 'Form/form_layout_horizontal.html.twig' %}

{% block search_category %}user{% endblock %}
{% block page_type %}user{% endblock %}
{% block title %}Password form{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3 col-md-offset-4" style="padding-top: 70px">
        <h2 class="col-md-offset-2">Set your password</h2>
        {{ form_start(form, {'action': formRoute, 'attr': { 'class': 'form-horizontal', novalidate: 'novalidate' } }) }}
            {{ form_errors(form, { 'attr': { 'autofocus': 1 } }) }}
            {{ form_row(form.plainPassword) }}
            <div class="col-md-offset-4">{{ form_row(form.submit) }} </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
