<h2>Welcome <strong>{{ username }}</strong></h2>

<p>A password reset was requested for your account on Dawson Forklift Services.</p>

<p><strong>Username:</strong> {{ username }}</p>
<p><strong>Email address:</strong> {{ email }}</p>

<p><a href="{{ url|raw }}">Reset password</a></p>

<p>Thank you for choosing Dawson Forklift Services</p>
<p>Sincerely,</p>
<p>The Dawson Forklift Services Team</p>
