<h3>User Shortcuts</h3>
<ul>
    <li>
        <dl>
            <dt>Search users:</dt>
            <dd><kbd>S</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Create new user:</dt>
            <dd><kbd>N</kbd></dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Edit user:</dt>
            <dd><kbd>E</kbd></dd>
        </dl>
    </li>
</ul>
