<h2>Welcome <strong>{{ username }}</strong></h2>

<p>An account has been created for you on Dawson Forklift Services with the following information.</p>

<p><strong>Username:</strong> {{ username }}</p>
<p><strong>Email address:</strong> {{ email }}</p>

<h3>Accessing your account</h3>
<ul>
    <li><a href="{{ url('login') }}">Login here</a></li>
</ul>

<p>Thank you for choosing Dawson Forklift Services</p>
<p>Sincerely,</p>
<p>The Dawson Forklift Services Team</p>
