{% extends 'layout.html.twig' %}

{% block search_category %}user{% endblock %}
{% block page_type %}user{% endblock %}
{% block title %}Users{% endblock %}
{% block page_shortcuts %}{% include 'User/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row" id="users">
        <div class="col-md-12">
            <h1 class="page-title">Users<a href="#" class="btn btn-primary pull-right btn-new-item" id="new-item" >New</a></h1>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="listing-id">ID</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="listing-actions">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr id="{{ user.displayName }}">
                                <td class="listing-id"><a href="{{ path('view_user', { id: user.id }) }}">{{ user.id }}</a></td>
                                <td><a href="{{ path('view_user', { id: user.id }) }}">{{ user.displayName }}</a></td>
                                <td>{{ user.displayName }}</td>
                                <td>{{ user.email }}</td>
                                <td class="listing-actions"><a data-edit-id={{ user.id }} href="javascript:void(0);" class="btn btn-primary btn-xs">Edit</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No users found!</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if pager.haveToPaginate %}
            <div class="pull-right">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {
                    'routeName': 'list_users',
                }) }}
            </div>
            {% endif %}
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'user', modalTitle: 'User', modalNewRoute: path('new_user'), modalEditRoute: path('edit_user') } %}

{% endblock %}
