{% extends 'layout.html.twig' %}

{% block search_category %}user{% endblock %}
{% block page_type %}user{% endblock %}
{% block title %}{{ user.displayName }}{% endblock %}
{% block page_shortcuts %}{% include 'User/_shortcuts.html.twig' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title option-title">
                <h1><span class="icomoon-user icomoon-inline"></span>{{ user.displayName }}</h1>
                    <a class="btn btn-success" href="{{ path('reset_password_email', { 'id': user.id }) }}" style="margin-left: 20%">Reset password email</a>
                    {% if user.passwordResetToken %}<a class="btn btn-danger" href="#">Password not reset</a>{% endif %}
                    <div class="pull-right item-actions">
                    <a class="btn btn-primary" data-edit-id="{{ user.id }}" href="javascript:void(0);">Edit</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-modal" data-href="{{ path('delete_user') }}/{{ user.id }}" href="#">Delete</a>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div id="details" class="information-section col-md-8 col-sm-12">
                    <div id="details-module_heading" class="section-header">
                        <h2>Details</h2>
                    </div>

                    <div class="section-content">
                        <dl class="dl-horizontal">
                            <dt>Username:</dt>
                            <dd>{{ user.username }}</dd>

                            <dt>Name:</dt>
                            <dd>{{ user.name }}</dd>

                            <dt>Email:</dt>
                            <dd>{{ user.email }}</dd>

                            <dt>Roles: </dt>
                            <dd>
                                <ul>
                                    {% for role in user.rolesEntity %}
                                        <li>{{ role.name }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>

                            {% if user.leads | length > 0 %}
                                <dt>Leads:</dt>
                                <dd>
                                    <ul>
                                        {% for lead in user.leads %}
                                            <li><a href="{{ path('view_lead', {'id': lead.id}) }}">{{ lead.description | default('--') }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}

                        </dl>
                    </div>
                </div>

                <div id="misc-section" class="information-section col-md-4 col-sm-12">
                    {% include '_itemMisc.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include '_formModal.html.twig' with { modalType: 'user', modalNewRoute: path('new_user'), modalEditRoute: path('edit_user') } %}

{% endblock %}
